[data-hui=Article] > article {
  /* LAYOUT-DISPLAY */
  display: var(--hui-qrnkej-display, block);
  visibility: var(--hui-qrnkej-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-qrnkej-position, static);
  top: var(--hui-qrnkej-top, auto);
  right: var(--hui-qrnkej-right, auto);
  bottom: var(--hui-qrnkej-bottom, auto);
  left: var(--hui-qrnkej-left, auto);
  z-index: var(--hui-qrnkej-z-index, auto);
  float: var(--hui-qrnkej-float, none);
  clear: var(--hui-qrnkej-clear, none);
  align-content: var(--hui-qrnkej-align-content, normal);
  align-items: var(--hui-qrnkej-align-items, normal);
  align-self: var(--hui-qrnkej-align-self, auto);
  order: var(--hui-qrnkej-order, 0);
  justify-content: var(--hui-qrnkej-justify-content, normal);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-qrnkej-box-sizing, border-box);
  height: var(--hui-qrnkej-height, auto);
  max-height: var(--hui-qrnkej-max-height, none);
  min-height: var(--hui-qrnkej-min-height, auto);
  width: var(--hui-qrnkej-width, auto);
  max-width: var(--hui-qrnkej-max-width, none);
  min-width: var(--hui-qrnkej-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-qrnkej-margin-top, 0px);
  margin-right: var(--hui-qrnkej-margin-right, 0px);
  margin-bottom: var(--hui-qrnkej-margin-bottom, 0px);
  margin-left: var(--hui-qrnkej-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-qrnkej-padding-top, 0px);
  padding-right: var(--hui-qrnkej-padding-right, 0px);
  padding-bottom: var(--hui-qrnkej-padding-bottom, 0px);
  padding-left: var(--hui-qrnkej-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-qrnkej-overflow-x, visible);
  overflow-y: var(--hui-qrnkej-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-qrnkej-flex-basis, auto);
  flex-direction: var(--hui-qrnkej-flex-direction, row);
  flex-grow: var(--hui-qrnkej-flex-grow, 0);
  flex-shrink: var(--hui-qrnkej-flex-shrink, 1);
  flex-wrap: var(--hui-qrnkej-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-qrnkej-direction, ltr);
  font-family: var(--hui-qrnkej-font-family, initial);
  font-size: var(--hui-qrnkej-font-size, 16px);
  font-stretch: var(--hui-qrnkej-font-stretch, 100%);
  font-style: var(--hui-qrnkej-font-style, normal);
  font-weight: var(--hui-qrnkej-font-weight, 400);
  letter-spacing: var(--hui-qrnkej-letter-spacing, normal);
  line-height: var(--hui-qrnkej-line-height, normal);
  text-align: var(--hui-qrnkej-text-align, start);
  text-align-last: var(--hui-qrnkej-text-align-last, auto);
  text-decoration-color: var(--hui-qrnkej-text-decoration-color, #000);
  text-decoration-line: var(--hui-qrnkej-text-decoration-line, none);
  text-decoration-style: var(--hui-qrnkej-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-qrnkej-text-decoration-thickness, auto);
  text-indent: var(--hui-qrnkej-text-indent, 0px);
  text-overflow: var(--hui-qrnkej-text-overflow, clip);
  text-shadow: var(--hui-qrnkej-text-shadow, none);
  text-size-adjust: var(--hui-qrnkej-text-size-adjust, auto);
  text-transform: var(--hui-qrnkej-text-transform, none);
  text-wrap: var(--hui-qrnkej-text-wrap, wrap);
  vertical-align: var(--hui-qrnkej-vertical-align, baseline);
  white-space-collapse: var(--hui-qrnkej-white-space-collapse, collapse);
  word-break: var(--hui-qrnkej-word-break, normal);
  word-spacing: var(--hui-qrnkej-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-qrnkej-color, rgb(0, 0, 0));
  background-attachment: var(--hui-qrnkej-background-attachment, scroll);
  background-clip: var(--hui-qrnkej-background-clip, border-box);
  background-color: var(--hui-qrnkej-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-qrnkej-background-image, none);
  background-origin: var(--hui-qrnkej-background-origin, padding-box);
  background-position-x: var(--hui-qrnkej-background-position-x, 0%);
  background-position-y: var(--hui-qrnkej-background-position-y, 0%);
  background-repeat: var(--hui-qrnkej-background-repeat, repeat);
  background-size: var(--hui-qrnkej-background-size, auto);
  border-bottom-color: var(--hui-qrnkej-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-qrnkej-border-bottom-style, none);
  border-bottom-width: var(--hui-qrnkej-border-bottom-width, 0px);
  border-image-outset: var(--hui-qrnkej-border-image-outset, 0);
  border-image-repeat: var(--hui-qrnkej-border-image-repeat, stretch);
  border-image-slice: var(--hui-qrnkej-border-image-slice, 100%);
  border-image-source: var(--hui-qrnkej-border-image-source, none);
  border-image-width: var(--hui-qrnkej-border-image-width, 1);
  border-left-color: var(--hui-qrnkej-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-qrnkej-border-left-style, none);
  border-left-width: var(--hui-qrnkej-border-left-width, 0px);
  border-right-color: var(--hui-qrnkej-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-qrnkej-border-right-style, none);
  border-right-width: var(--hui-qrnkej-border-right-width, 0px);
  border-top-color: var(--hui-qrnkej-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-qrnkej-border-top-style, none);
  border-top-width: var(--hui-qrnkej-border-top-width, 0px);
  box-shadow: var(--hui-qrnkej-box-shadow, none);
  cursor: var(--hui-qrnkej-cursor, auto);
  outline-color: var(--hui-qrnkej-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-qrnkej-outline-offset, 0px);
  outline-style: var(--hui-qrnkej-outline-style, none);
  outline-width: var(--hui-qrnkej-outline-width, 0px);
}