[data-hui=DataTable] > data > table {
  /* LAYOUT-DISPLAY */
  display: var(--hui-dbubsb-display, block);
  visibility: var(--hui-dbubsb-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-dbubsb-position, static);
  top: var(--hui-dbubsb-top, auto);
  right: var(--hui-dbubsb-right, auto);
  bottom: var(--hui-dbubsb-bottom, auto);
  left: var(--hui-dbubsb-left, auto);
  z-index: var(--hui-dbubsb-z-index, auto);
  float: var(--hui-dbubsb-float, none);
  clear: var(--hui-dbubsb-clear, none);
  align-self: var(--hui-dbubsb-align-self, auto);
  order: var(--hui-dbubsb-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-dbubsb-box-sizing, border-box);
  height: var(--hui-dbubsb-height, auto);
  max-height: var(--hui-dbubsb-max-height, none);
  min-height: var(--hui-dbubsb-min-height, auto);
  width: var(--hui-dbubsb-width, auto);
  max-width: var(--hui-dbubsb-max-width, none);
  min-width: var(--hui-dbubsb-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-dbubsb-margin-top, 0px);
  margin-right: var(--hui-dbubsb-margin-right, 0px);
  margin-bottom: var(--hui-dbubsb-margin-bottom, 0px);
  margin-left: var(--hui-dbubsb-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-dbubsb-padding-top, 0px);
  padding-right: var(--hui-dbubsb-padding-right, 0px);
  padding-bottom: var(--hui-dbubsb-padding-bottom, 0px);
  padding-left: var(--hui-dbubsb-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-dbubsb-overflow-x, visible);
  overflow-y: var(--hui-dbubsb-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-dbubsb-flex-basis, auto);
  flex-direction: var(--hui-dbubsb-flex-direction, row);
  flex-grow: var(--hui-dbubsb-flex-grow, 0);
  flex-shrink: var(--hui-dbubsb-flex-shrink, 1);
  flex-wrap: var(--hui-dbubsb-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-dbubsb-direction, ltr);
  font-family: var(--hui-dbubsb-font-family, system-ui);
  font-size: var(--hui-dbubsb-font-size, 16px);
  font-stretch: var(--hui-dbubsb-font-stretch, 100%);
  font-style: var(--hui-dbubsb-font-style, normal);
  font-weight: var(--hui-dbubsb-font-weight, 400);
  letter-spacing: var(--hui-dbubsb-letter-spacing, normal);
  line-height: var(--hui-dbubsb-line-height, normal);
  text-align: var(--hui-dbubsb-text-align, start);
  text-align-last: var(--hui-dbubsb-text-align-last, auto);
  text-decoration-color: var(--hui-dbubsb-text-decoration-color, #000);
  text-decoration-line: var(--hui-dbubsb-text-decoration-line, none);
  text-decoration-style: var(--hui-dbubsb-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-dbubsb-text-decoration-thickness, auto);
  text-indent: var(--hui-dbubsb-text-indent, 0px);
  text-overflow: var(--hui-dbubsb-text-overflow, clip);
  text-shadow: var(--hui-dbubsb-text-shadow, none);
  text-size-adjust: var(--hui-dbubsb-text-size-adjust, auto);
  text-transform: var(--hui-dbubsb-text-transform, none);
  text-wrap: var(--hui-dbubsb-text-wrap, wrap);
  vertical-align: var(--hui-dbubsb-vertical-align, baseline);
  white-space-collapse: var(--hui-dbubsb-white-space-collapse, collapse);
  word-break: var(--hui-dbubsb-word-break, normal);
  word-spacing: var(--hui-dbubsb-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-dbubsb-color, rgb(0, 0, 0));
  background-attachment: var(--hui-dbubsb-background-attachment, scroll);
  background-clip: var(--hui-dbubsb-background-clip, border-box);
  background-color: var(--hui-dbubsb-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-dbubsb-background-image, none);
  background-origin: var(--hui-dbubsb-background-origin, padding-box);
  background-position-x: var(--hui-dbubsb-background-position-x, 0%);
  background-position-y: var(--hui-dbubsb-background-position-y, 0%);
  background-repeat: var(--hui-dbubsb-background-repeat, repeat);
  background-size: var(--hui-dbubsb-background-size, auto);
  border-bottom-color: var(--hui-dbubsb-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-dbubsb-border-bottom-style, none);
  border-bottom-width: var(--hui-dbubsb-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-dbubsb-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-dbubsb-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-dbubsb-border-image-outset, 0);
  border-image-repeat: var(--hui-dbubsb-border-image-repeat, stretch);
  border-image-slice: var(--hui-dbubsb-border-image-slice, 100%);
  border-image-source: var(--hui-dbubsb-border-image-source, none);
  border-image-width: var(--hui-dbubsb-border-image-width, 1);
  border-left-color: var(--hui-dbubsb-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-dbubsb-border-left-style, none);
  border-left-width: var(--hui-dbubsb-border-left-width, 0px);
  border-right-color: var(--hui-dbubsb-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-dbubsb-border-right-style, none);
  border-right-width: var(--hui-dbubsb-border-right-width, 0px);
  border-top-color: var(--hui-dbubsb-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-dbubsb-border-top-style, none);
  border-top-width: var(--hui-dbubsb-border-top-width, 0px);
  border-top-left-radius: var(--hui-dbubsb-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-dbubsb-border-top-right-radius, 0px);
  box-shadow: var(--hui-dbubsb-box-shadow, none);
  cursor: var(--hui-dbubsb-cursor, auto);
  outline-color: var(--hui-dbubsb-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-dbubsb-outline-offset, 0px);
  outline-style: var(--hui-dbubsb-outline-style, none);
  outline-width: var(--hui-dbubsb-outline-width, 0px);
  /* GRID */
  grid-auto-columns: var(--hui-dbubsb-grid-auto-columns, auto);
  grid-auto-flow: var(--hui-dbubsb-grid-auto-flow, row);
  grid-auto-rows: var(--hui-dbubsb-grid-auto-rows, auto);
  grid-column-end: var(--hui-dbubsb-grid-column-end, auto);
  grid-column-start: var(--hui-dbubsb-grid-column-start, auto);
  grid-row-end: var(--hui-dbubsb-grid-row-end, auto);
  grid-row-start: var(--hui-dbubsb-grid-row-start, auto);
  grid-template-areas: var(--hui-dbubsb-grid-template-areas, none);
  grid-template-columns: var(--hui-dbubsb-grid-template-columns, none);
  grid-template-rows: var(--hui-dbubsb-grid-template-rows, none);
  align-content: var(--hui-dbubsb-align-content, normal);
  justify-content: var(--hui-dbubsb-justify-content, normal);
  align-items: var(--hui-dbubsb-align-items, normal);
  justify-items: var(--hui-dbubsb-justify-items, legacy);
  column-gap: var(--hui-dbubsb-column-gap, 0px);
  row-gap: var(--hui-dbubsb-row-gap, 0px);
}
[data-hui=DataTable] > data > table > tbody,
[data-hui=DataTable] > data > table > thead,
[data-hui=DataTable] > data > table > * > tr {
  /* LAYOUT-DISPLAY */
  display: var(--hui-tqgvpx-display, block);
  visibility: var(--hui-tqgvpx-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-tqgvpx-position, static);
  top: var(--hui-tqgvpx-top, auto);
  right: var(--hui-tqgvpx-right, auto);
  bottom: var(--hui-tqgvpx-bottom, auto);
  left: var(--hui-tqgvpx-left, auto);
  z-index: var(--hui-tqgvpx-z-index, auto);
  float: var(--hui-tqgvpx-float, none);
  clear: var(--hui-tqgvpx-clear, none);
  align-self: var(--hui-tqgvpx-align-self, auto);
  order: var(--hui-tqgvpx-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-tqgvpx-box-sizing, border-box);
  height: var(--hui-tqgvpx-height, auto);
  max-height: var(--hui-tqgvpx-max-height, none);
  min-height: var(--hui-tqgvpx-min-height, auto);
  width: var(--hui-tqgvpx-width, auto);
  max-width: var(--hui-tqgvpx-max-width, none);
  min-width: var(--hui-tqgvpx-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-tqgvpx-margin-top, 0px);
  margin-right: var(--hui-tqgvpx-margin-right, 0px);
  margin-bottom: var(--hui-tqgvpx-margin-bottom, 0px);
  margin-left: var(--hui-tqgvpx-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-tqgvpx-padding-top, 0px);
  padding-right: var(--hui-tqgvpx-padding-right, 0px);
  padding-bottom: var(--hui-tqgvpx-padding-bottom, 0px);
  padding-left: var(--hui-tqgvpx-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-tqgvpx-overflow-x, visible);
  overflow-y: var(--hui-tqgvpx-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-tqgvpx-flex-basis, auto);
  flex-direction: var(--hui-tqgvpx-flex-direction, row);
  flex-grow: var(--hui-tqgvpx-flex-grow, 0);
  flex-shrink: var(--hui-tqgvpx-flex-shrink, 1);
  flex-wrap: var(--hui-tqgvpx-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-tqgvpx-direction, ltr);
  font-family: var(--hui-tqgvpx-font-family, system-ui);
  font-size: var(--hui-tqgvpx-font-size, 16px);
  font-stretch: var(--hui-tqgvpx-font-stretch, 100%);
  font-style: var(--hui-tqgvpx-font-style, normal);
  font-weight: var(--hui-tqgvpx-font-weight, 400);
  letter-spacing: var(--hui-tqgvpx-letter-spacing, normal);
  line-height: var(--hui-tqgvpx-line-height, normal);
  text-align: var(--hui-tqgvpx-text-align, start);
  text-align-last: var(--hui-tqgvpx-text-align-last, auto);
  text-decoration-color: var(--hui-tqgvpx-text-decoration-color, #000);
  text-decoration-line: var(--hui-tqgvpx-text-decoration-line, none);
  text-decoration-style: var(--hui-tqgvpx-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-tqgvpx-text-decoration-thickness, auto);
  text-indent: var(--hui-tqgvpx-text-indent, 0px);
  text-overflow: var(--hui-tqgvpx-text-overflow, clip);
  text-shadow: var(--hui-tqgvpx-text-shadow, none);
  text-size-adjust: var(--hui-tqgvpx-text-size-adjust, auto);
  text-transform: var(--hui-tqgvpx-text-transform, none);
  text-wrap: var(--hui-tqgvpx-text-wrap, wrap);
  vertical-align: var(--hui-tqgvpx-vertical-align, baseline);
  white-space-collapse: var(--hui-tqgvpx-white-space-collapse, collapse);
  word-break: var(--hui-tqgvpx-word-break, normal);
  word-spacing: var(--hui-tqgvpx-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-tqgvpx-color, rgb(0, 0, 0));
  background-attachment: var(--hui-tqgvpx-background-attachment, scroll);
  background-clip: var(--hui-tqgvpx-background-clip, border-box);
  background-color: var(--hui-tqgvpx-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-tqgvpx-background-image, none);
  background-origin: var(--hui-tqgvpx-background-origin, padding-box);
  background-position-x: var(--hui-tqgvpx-background-position-x, 0%);
  background-position-y: var(--hui-tqgvpx-background-position-y, 0%);
  background-repeat: var(--hui-tqgvpx-background-repeat, repeat);
  background-size: var(--hui-tqgvpx-background-size, auto);
  border-bottom-color: var(--hui-tqgvpx-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-tqgvpx-border-bottom-style, none);
  border-bottom-width: var(--hui-tqgvpx-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-tqgvpx-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-tqgvpx-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-tqgvpx-border-image-outset, 0);
  border-image-repeat: var(--hui-tqgvpx-border-image-repeat, stretch);
  border-image-slice: var(--hui-tqgvpx-border-image-slice, 100%);
  border-image-source: var(--hui-tqgvpx-border-image-source, none);
  border-image-width: var(--hui-tqgvpx-border-image-width, 1);
  border-left-color: var(--hui-tqgvpx-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-tqgvpx-border-left-style, none);
  border-left-width: var(--hui-tqgvpx-border-left-width, 0px);
  border-right-color: var(--hui-tqgvpx-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-tqgvpx-border-right-style, none);
  border-right-width: var(--hui-tqgvpx-border-right-width, 0px);
  border-top-color: var(--hui-tqgvpx-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-tqgvpx-border-top-style, none);
  border-top-width: var(--hui-tqgvpx-border-top-width, 0px);
  border-top-left-radius: var(--hui-tqgvpx-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-tqgvpx-border-top-right-radius, 0px);
  box-shadow: var(--hui-tqgvpx-box-shadow, none);
  cursor: var(--hui-tqgvpx-cursor, auto);
  outline-color: var(--hui-tqgvpx-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-tqgvpx-outline-offset, 0px);
  outline-style: var(--hui-tqgvpx-outline-style, none);
  outline-width: var(--hui-tqgvpx-outline-width, 0px);
}
[data-hui=DataTable] > data > table > tbody > tr > td,
[data-hui=DataTable] > data > table > thead > tr > th {
  /* LAYOUT-DISPLAY */
  display: var(--hui-lncmiu-display, block);
  visibility: var(--hui-lncmiu-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-lncmiu-position, static);
  top: var(--hui-lncmiu-top, auto);
  right: var(--hui-lncmiu-right, auto);
  bottom: var(--hui-lncmiu-bottom, auto);
  left: var(--hui-lncmiu-left, auto);
  z-index: var(--hui-lncmiu-z-index, auto);
  float: var(--hui-lncmiu-float, none);
  clear: var(--hui-lncmiu-clear, none);
  align-self: var(--hui-lncmiu-align-self, auto);
  order: var(--hui-lncmiu-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-lncmiu-box-sizing, border-box);
  height: var(--hui-lncmiu-height, auto);
  max-height: var(--hui-lncmiu-max-height, none);
  min-height: var(--hui-lncmiu-min-height, auto);
  width: var(--hui-lncmiu-width, auto);
  max-width: var(--hui-lncmiu-max-width, none);
  min-width: var(--hui-lncmiu-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-lncmiu-margin-top, 0px);
  margin-right: var(--hui-lncmiu-margin-right, 0px);
  margin-bottom: var(--hui-lncmiu-margin-bottom, 0px);
  margin-left: var(--hui-lncmiu-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-lncmiu-padding-top, 0px);
  padding-right: var(--hui-lncmiu-padding-right, 0px);
  padding-bottom: var(--hui-lncmiu-padding-bottom, 0px);
  padding-left: var(--hui-lncmiu-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-lncmiu-overflow-x, visible);
  overflow-y: var(--hui-lncmiu-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-lncmiu-flex-basis, auto);
  flex-direction: var(--hui-lncmiu-flex-direction, row);
  flex-grow: var(--hui-lncmiu-flex-grow, 0);
  flex-shrink: var(--hui-lncmiu-flex-shrink, 1);
  flex-wrap: var(--hui-lncmiu-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-lncmiu-direction, ltr);
  font-family: var(--hui-lncmiu-font-family, system-ui);
  font-size: var(--hui-lncmiu-font-size, 16px);
  font-stretch: var(--hui-lncmiu-font-stretch, 100%);
  font-style: var(--hui-lncmiu-font-style, normal);
  font-weight: var(--hui-lncmiu-font-weight, 400);
  letter-spacing: var(--hui-lncmiu-letter-spacing, normal);
  line-height: var(--hui-lncmiu-line-height, normal);
  text-align: var(--hui-lncmiu-text-align, start);
  text-align-last: var(--hui-lncmiu-text-align-last, auto);
  text-decoration-color: var(--hui-lncmiu-text-decoration-color, #000);
  text-decoration-line: var(--hui-lncmiu-text-decoration-line, none);
  text-decoration-style: var(--hui-lncmiu-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-lncmiu-text-decoration-thickness, auto);
  text-indent: var(--hui-lncmiu-text-indent, 0px);
  text-overflow: var(--hui-lncmiu-text-overflow, clip);
  text-shadow: var(--hui-lncmiu-text-shadow, none);
  text-size-adjust: var(--hui-lncmiu-text-size-adjust, auto);
  text-transform: var(--hui-lncmiu-text-transform, none);
  text-wrap: var(--hui-lncmiu-text-wrap, wrap);
  vertical-align: var(--hui-lncmiu-vertical-align, baseline);
  white-space-collapse: var(--hui-lncmiu-white-space-collapse, collapse);
  word-break: var(--hui-lncmiu-word-break, normal);
  word-spacing: var(--hui-lncmiu-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-lncmiu-color, rgb(0, 0, 0));
  background-attachment: var(--hui-lncmiu-background-attachment, scroll);
  background-clip: var(--hui-lncmiu-background-clip, border-box);
  background-color: var(--hui-lncmiu-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-lncmiu-background-image, none);
  background-origin: var(--hui-lncmiu-background-origin, padding-box);
  background-position-x: var(--hui-lncmiu-background-position-x, 0%);
  background-position-y: var(--hui-lncmiu-background-position-y, 0%);
  background-repeat: var(--hui-lncmiu-background-repeat, repeat);
  background-size: var(--hui-lncmiu-background-size, auto);
  border-bottom-color: var(--hui-lncmiu-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-lncmiu-border-bottom-style, none);
  border-bottom-width: var(--hui-lncmiu-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-lncmiu-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-lncmiu-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-lncmiu-border-image-outset, 0);
  border-image-repeat: var(--hui-lncmiu-border-image-repeat, stretch);
  border-image-slice: var(--hui-lncmiu-border-image-slice, 100%);
  border-image-source: var(--hui-lncmiu-border-image-source, none);
  border-image-width: var(--hui-lncmiu-border-image-width, 1);
  border-left-color: var(--hui-lncmiu-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-lncmiu-border-left-style, none);
  border-left-width: var(--hui-lncmiu-border-left-width, 0px);
  border-right-color: var(--hui-lncmiu-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-lncmiu-border-right-style, none);
  border-right-width: var(--hui-lncmiu-border-right-width, 0px);
  border-top-color: var(--hui-lncmiu-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-lncmiu-border-top-style, none);
  border-top-width: var(--hui-lncmiu-border-top-width, 0px);
  border-top-left-radius: var(--hui-lncmiu-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-lncmiu-border-top-right-radius, 0px);
  box-shadow: var(--hui-lncmiu-box-shadow, none);
  cursor: var(--hui-lncmiu-cursor, auto);
  outline-color: var(--hui-lncmiu-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-lncmiu-outline-offset, 0px);
  outline-style: var(--hui-lncmiu-outline-style, none);
  outline-width: var(--hui-lncmiu-outline-width, 0px);
  /* GRID */
  grid-auto-columns: var(--hui-lncmiu-grid-auto-columns, auto);
  grid-auto-flow: var(--hui-lncmiu-grid-auto-flow, row);
  grid-auto-rows: var(--hui-lncmiu-grid-auto-rows, auto);
  grid-column-end: var(--hui-lncmiu-grid-column-end, auto);
  grid-column-start: var(--hui-lncmiu-grid-column-start, auto);
  grid-row-end: var(--hui-lncmiu-grid-row-end, auto);
  grid-row-start: var(--hui-lncmiu-grid-row-start, auto);
  grid-template-areas: var(--hui-lncmiu-grid-template-areas, none);
  grid-template-columns: var(--hui-lncmiu-grid-template-columns, none);
  grid-template-rows: var(--hui-lncmiu-grid-template-rows, none);
  align-content: var(--hui-lncmiu-align-content, normal);
  justify-content: var(--hui-lncmiu-justify-content, normal);
  align-items: var(--hui-lncmiu-align-items, normal);
  justify-items: var(--hui-lncmiu-justify-items, legacy);
  column-gap: var(--hui-lncmiu-column-gap, 0px);
  row-gap: var(--hui-lncmiu-row-gap, 0px);
}