[data-hui=DataTable] > table {
  /* LAYOUT-POSITION */
  position: var(--hui-pvlqdr-position, static);
  top: var(--hui-pvlqdr-top, auto);
  right: var(--hui-pvlqdr-right, auto);
  bottom: var(--hui-pvlqdr-bottom, auto);
  left: var(--hui-pvlqdr-left, auto);
  z-index: var(--hui-pvlqdr-z-index, auto);
  float: var(--hui-pvlqdr-float, none);
  clear: var(--hui-pvlqdr-clear, none);
  align-self: var(--hui-pvlqdr-align-self, auto);
  order: var(--hui-pvlqdr-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-pvlqdr-box-sizing, border-box);
  height: var(--hui-pvlqdr-height, auto);
  max-height: var(--hui-pvlqdr-max-height, none);
  min-height: var(--hui-pvlqdr-min-height, auto);
  width: var(--hui-pvlqdr-width, auto);
  max-width: var(--hui-pvlqdr-max-width, none);
  min-width: var(--hui-pvlqdr-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-pvlqdr-margin-top, 0px);
  margin-right: var(--hui-pvlqdr-margin-right, 0px);
  margin-bottom: var(--hui-pvlqdr-margin-bottom, 0px);
  margin-left: var(--hui-pvlqdr-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-pvlqdr-padding-top, 0px);
  padding-right: var(--hui-pvlqdr-padding-right, 0px);
  padding-bottom: var(--hui-pvlqdr-padding-bottom, 0px);
  padding-left: var(--hui-pvlqdr-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-pvlqdr-overflow-x, visible);
  overflow-y: var(--hui-pvlqdr-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-pvlqdr-flex-basis, auto);
  flex-direction: var(--hui-pvlqdr-flex-direction, row);
  flex-grow: var(--hui-pvlqdr-flex-grow, 0);
  flex-shrink: var(--hui-pvlqdr-flex-shrink, 1);
  flex-wrap: var(--hui-pvlqdr-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-pvlqdr-direction, ltr);
  font-family: var(--hui-pvlqdr-font-family, system-ui);
  font-size: var(--hui-pvlqdr-font-size, 16px);
  font-stretch: var(--hui-pvlqdr-font-stretch, 100%);
  font-style: var(--hui-pvlqdr-font-style, normal);
  font-weight: var(--hui-pvlqdr-font-weight, 400);
  letter-spacing: var(--hui-pvlqdr-letter-spacing, normal);
  line-height: var(--hui-pvlqdr-line-height, normal);
  text-align: var(--hui-pvlqdr-text-align, start);
  text-align-last: var(--hui-pvlqdr-text-align-last, auto);
  text-decoration-color: var(--hui-pvlqdr-text-decoration-color, #000);
  text-decoration-line: var(--hui-pvlqdr-text-decoration-line, none);
  text-decoration-style: var(--hui-pvlqdr-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-pvlqdr-text-decoration-thickness, auto);
  text-indent: var(--hui-pvlqdr-text-indent, 0px);
  text-overflow: var(--hui-pvlqdr-text-overflow, clip);
  text-shadow: var(--hui-pvlqdr-text-shadow, none);
  text-size-adjust: var(--hui-pvlqdr-text-size-adjust, auto);
  text-transform: var(--hui-pvlqdr-text-transform, none);
  text-wrap: var(--hui-pvlqdr-text-wrap, wrap);
  vertical-align: var(--hui-pvlqdr-vertical-align, baseline);
  white-space-collapse: var(--hui-pvlqdr-white-space-collapse, collapse);
  word-break: var(--hui-pvlqdr-word-break, normal);
  word-spacing: var(--hui-pvlqdr-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-pvlqdr-visibility, visible);
  color: var(--hui-pvlqdr-color, rgb(0, 0, 0));
  background-attachment: var(--hui-pvlqdr-background-attachment, scroll);
  background-clip: var(--hui-pvlqdr-background-clip, border-box);
  background-color: var(--hui-pvlqdr-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-pvlqdr-background-image, none);
  background-origin: var(--hui-pvlqdr-background-origin, padding-box);
  background-position-x: var(--hui-pvlqdr-background-position-x, 0%);
  background-position-y: var(--hui-pvlqdr-background-position-y, 0%);
  background-repeat: var(--hui-pvlqdr-background-repeat, repeat);
  background-size: var(--hui-pvlqdr-background-size, auto);
  border-bottom-color: var(--hui-pvlqdr-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-pvlqdr-border-bottom-style, none);
  border-bottom-width: var(--hui-pvlqdr-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-pvlqdr-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-pvlqdr-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-pvlqdr-border-image-outset, 0);
  border-image-repeat: var(--hui-pvlqdr-border-image-repeat, stretch);
  border-image-slice: var(--hui-pvlqdr-border-image-slice, 100%);
  border-image-source: var(--hui-pvlqdr-border-image-source, none);
  border-image-width: var(--hui-pvlqdr-border-image-width, 1);
  border-left-color: var(--hui-pvlqdr-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-pvlqdr-border-left-style, none);
  border-left-width: var(--hui-pvlqdr-border-left-width, 0px);
  border-right-color: var(--hui-pvlqdr-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-pvlqdr-border-right-style, none);
  border-right-width: var(--hui-pvlqdr-border-right-width, 0px);
  border-top-color: var(--hui-pvlqdr-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-pvlqdr-border-top-style, none);
  border-top-width: var(--hui-pvlqdr-border-top-width, 0px);
  border-top-left-radius: var(--hui-pvlqdr-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-pvlqdr-border-top-right-radius, 0px);
  box-shadow: var(--hui-pvlqdr-box-shadow, none);
  cursor: var(--hui-pvlqdr-cursor, auto);
  outline-color: var(--hui-pvlqdr-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-pvlqdr-outline-offset, 0px);
  outline-style: var(--hui-pvlqdr-outline-style, none);
  outline-width: var(--hui-pvlqdr-outline-width, 0px);
  /* GRID */
  grid-auto-columns: var(--hui-pvlqdr-grid-auto-columns, auto);
  grid-auto-flow: var(--hui-pvlqdr-grid-auto-flow, row);
  grid-auto-rows: var(--hui-pvlqdr-grid-auto-rows, auto);
  grid-column-end: var(--hui-pvlqdr-grid-column-end, auto);
  grid-column-start: var(--hui-pvlqdr-grid-column-start, auto);
  grid-row-end: var(--hui-pvlqdr-grid-row-end, auto);
  grid-row-start: var(--hui-pvlqdr-grid-row-start, auto);
  grid-template-areas: var(--hui-pvlqdr-grid-template-areas, none);
  grid-template-columns: var(--hui-pvlqdr-grid-template-columns, none);
  grid-template-rows: var(--hui-pvlqdr-grid-template-rows, none);
  align-content: var(--hui-pvlqdr-align-content, normal);
  justify-content: var(--hui-pvlqdr-justify-content, normal);
  align-items: var(--hui-pvlqdr-align-items, normal);
  justify-items: var(--hui-pvlqdr-justify-items, legacy);
  column-gap: var(--hui-pvlqdr-column-gap, 0px);
  row-gap: var(--hui-pvlqdr-row-gap, 0px);
}
[data-hui=DataTable] > table > tbody,
[data-hui=DataTable] > table > thead,
[data-hui=DataTable] > table > * > tr {
  /* LAYOUT-POSITION */
  position: var(--hui-jymppr-position, static);
  top: var(--hui-jymppr-top, auto);
  right: var(--hui-jymppr-right, auto);
  bottom: var(--hui-jymppr-bottom, auto);
  left: var(--hui-jymppr-left, auto);
  z-index: var(--hui-jymppr-z-index, auto);
  float: var(--hui-jymppr-float, none);
  clear: var(--hui-jymppr-clear, none);
  align-self: var(--hui-jymppr-align-self, auto);
  order: var(--hui-jymppr-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-jymppr-box-sizing, border-box);
  height: var(--hui-jymppr-height, auto);
  max-height: var(--hui-jymppr-max-height, none);
  min-height: var(--hui-jymppr-min-height, auto);
  width: var(--hui-jymppr-width, auto);
  max-width: var(--hui-jymppr-max-width, none);
  min-width: var(--hui-jymppr-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-jymppr-margin-top, 0px);
  margin-right: var(--hui-jymppr-margin-right, 0px);
  margin-bottom: var(--hui-jymppr-margin-bottom, 0px);
  margin-left: var(--hui-jymppr-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-jymppr-padding-top, 0px);
  padding-right: var(--hui-jymppr-padding-right, 0px);
  padding-bottom: var(--hui-jymppr-padding-bottom, 0px);
  padding-left: var(--hui-jymppr-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-jymppr-overflow-x, visible);
  overflow-y: var(--hui-jymppr-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-jymppr-flex-basis, auto);
  flex-direction: var(--hui-jymppr-flex-direction, row);
  flex-grow: var(--hui-jymppr-flex-grow, 0);
  flex-shrink: var(--hui-jymppr-flex-shrink, 1);
  flex-wrap: var(--hui-jymppr-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-jymppr-direction, ltr);
  font-family: var(--hui-jymppr-font-family, system-ui);
  font-size: var(--hui-jymppr-font-size, 16px);
  font-stretch: var(--hui-jymppr-font-stretch, 100%);
  font-style: var(--hui-jymppr-font-style, normal);
  font-weight: var(--hui-jymppr-font-weight, 400);
  letter-spacing: var(--hui-jymppr-letter-spacing, normal);
  line-height: var(--hui-jymppr-line-height, normal);
  text-align: var(--hui-jymppr-text-align, start);
  text-align-last: var(--hui-jymppr-text-align-last, auto);
  text-decoration-color: var(--hui-jymppr-text-decoration-color, #000);
  text-decoration-line: var(--hui-jymppr-text-decoration-line, none);
  text-decoration-style: var(--hui-jymppr-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-jymppr-text-decoration-thickness, auto);
  text-indent: var(--hui-jymppr-text-indent, 0px);
  text-overflow: var(--hui-jymppr-text-overflow, clip);
  text-shadow: var(--hui-jymppr-text-shadow, none);
  text-size-adjust: var(--hui-jymppr-text-size-adjust, auto);
  text-transform: var(--hui-jymppr-text-transform, none);
  text-wrap: var(--hui-jymppr-text-wrap, wrap);
  vertical-align: var(--hui-jymppr-vertical-align, baseline);
  white-space-collapse: var(--hui-jymppr-white-space-collapse, collapse);
  word-break: var(--hui-jymppr-word-break, normal);
  word-spacing: var(--hui-jymppr-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-jymppr-visibility, visible);
  color: var(--hui-jymppr-color, rgb(0, 0, 0));
  background-attachment: var(--hui-jymppr-background-attachment, scroll);
  background-clip: var(--hui-jymppr-background-clip, border-box);
  background-color: var(--hui-jymppr-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-jymppr-background-image, none);
  background-origin: var(--hui-jymppr-background-origin, padding-box);
  background-position-x: var(--hui-jymppr-background-position-x, 0%);
  background-position-y: var(--hui-jymppr-background-position-y, 0%);
  background-repeat: var(--hui-jymppr-background-repeat, repeat);
  background-size: var(--hui-jymppr-background-size, auto);
  border-bottom-color: var(--hui-jymppr-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-jymppr-border-bottom-style, none);
  border-bottom-width: var(--hui-jymppr-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-jymppr-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-jymppr-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-jymppr-border-image-outset, 0);
  border-image-repeat: var(--hui-jymppr-border-image-repeat, stretch);
  border-image-slice: var(--hui-jymppr-border-image-slice, 100%);
  border-image-source: var(--hui-jymppr-border-image-source, none);
  border-image-width: var(--hui-jymppr-border-image-width, 1);
  border-left-color: var(--hui-jymppr-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-jymppr-border-left-style, none);
  border-left-width: var(--hui-jymppr-border-left-width, 0px);
  border-right-color: var(--hui-jymppr-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-jymppr-border-right-style, none);
  border-right-width: var(--hui-jymppr-border-right-width, 0px);
  border-top-color: var(--hui-jymppr-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-jymppr-border-top-style, none);
  border-top-width: var(--hui-jymppr-border-top-width, 0px);
  border-top-left-radius: var(--hui-jymppr-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-jymppr-border-top-right-radius, 0px);
  box-shadow: var(--hui-jymppr-box-shadow, none);
  cursor: var(--hui-jymppr-cursor, auto);
  outline-color: var(--hui-jymppr-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-jymppr-outline-offset, 0px);
  outline-style: var(--hui-jymppr-outline-style, none);
  outline-width: var(--hui-jymppr-outline-width, 0px);
  /* GRID */
  grid-auto-columns: var(--hui-jymppr-grid-auto-columns, auto);
  grid-auto-flow: var(--hui-jymppr-grid-auto-flow, row);
  grid-auto-rows: var(--hui-jymppr-grid-auto-rows, auto);
  grid-column-end: var(--hui-jymppr-grid-column-end, auto);
  grid-column-start: var(--hui-jymppr-grid-column-start, auto);
  grid-row-end: var(--hui-jymppr-grid-row-end, auto);
  grid-row-start: var(--hui-jymppr-grid-row-start, auto);
  grid-template-areas: var(--hui-jymppr-grid-template-areas, none);
  grid-template-columns: var(--hui-jymppr-grid-template-columns, none);
  grid-template-rows: var(--hui-jymppr-grid-template-rows, none);
  align-content: var(--hui-jymppr-align-content, normal);
  justify-content: var(--hui-jymppr-justify-content, normal);
  align-items: var(--hui-jymppr-align-items, normal);
  justify-items: var(--hui-jymppr-justify-items, legacy);
  column-gap: var(--hui-jymppr-column-gap, 0px);
  row-gap: var(--hui-jymppr-row-gap, 0px);
}
[data-hui=DataTable] > table > tbody > tr > td,
[data-hui=DataTable] > table > thead > tr > th {
  /* LAYOUT-POSITION */
  position: var(--hui-gdjwdf-position, static);
  top: var(--hui-gdjwdf-top, auto);
  right: var(--hui-gdjwdf-right, auto);
  bottom: var(--hui-gdjwdf-bottom, auto);
  left: var(--hui-gdjwdf-left, auto);
  z-index: var(--hui-gdjwdf-z-index, auto);
  float: var(--hui-gdjwdf-float, none);
  clear: var(--hui-gdjwdf-clear, none);
  align-self: var(--hui-gdjwdf-align-self, auto);
  order: var(--hui-gdjwdf-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-gdjwdf-box-sizing, border-box);
  height: var(--hui-gdjwdf-height, auto);
  max-height: var(--hui-gdjwdf-max-height, none);
  min-height: var(--hui-gdjwdf-min-height, auto);
  width: var(--hui-gdjwdf-width, auto);
  max-width: var(--hui-gdjwdf-max-width, none);
  min-width: var(--hui-gdjwdf-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-gdjwdf-margin-top, 0px);
  margin-right: var(--hui-gdjwdf-margin-right, 0px);
  margin-bottom: var(--hui-gdjwdf-margin-bottom, 0px);
  margin-left: var(--hui-gdjwdf-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-gdjwdf-padding-top, 0px);
  padding-right: var(--hui-gdjwdf-padding-right, 0px);
  padding-bottom: var(--hui-gdjwdf-padding-bottom, 0px);
  padding-left: var(--hui-gdjwdf-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-gdjwdf-overflow-x, visible);
  overflow-y: var(--hui-gdjwdf-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-gdjwdf-flex-basis, auto);
  flex-direction: var(--hui-gdjwdf-flex-direction, row);
  flex-grow: var(--hui-gdjwdf-flex-grow, 0);
  flex-shrink: var(--hui-gdjwdf-flex-shrink, 1);
  flex-wrap: var(--hui-gdjwdf-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-gdjwdf-direction, ltr);
  font-family: var(--hui-gdjwdf-font-family, system-ui);
  font-size: var(--hui-gdjwdf-font-size, 16px);
  font-stretch: var(--hui-gdjwdf-font-stretch, 100%);
  font-style: var(--hui-gdjwdf-font-style, normal);
  font-weight: var(--hui-gdjwdf-font-weight, 400);
  letter-spacing: var(--hui-gdjwdf-letter-spacing, normal);
  line-height: var(--hui-gdjwdf-line-height, normal);
  text-align: var(--hui-gdjwdf-text-align, start);
  text-align-last: var(--hui-gdjwdf-text-align-last, auto);
  text-decoration-color: var(--hui-gdjwdf-text-decoration-color, #000);
  text-decoration-line: var(--hui-gdjwdf-text-decoration-line, none);
  text-decoration-style: var(--hui-gdjwdf-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-gdjwdf-text-decoration-thickness, auto);
  text-indent: var(--hui-gdjwdf-text-indent, 0px);
  text-overflow: var(--hui-gdjwdf-text-overflow, clip);
  text-shadow: var(--hui-gdjwdf-text-shadow, none);
  text-size-adjust: var(--hui-gdjwdf-text-size-adjust, auto);
  text-transform: var(--hui-gdjwdf-text-transform, none);
  text-wrap: var(--hui-gdjwdf-text-wrap, wrap);
  vertical-align: var(--hui-gdjwdf-vertical-align, baseline);
  white-space-collapse: var(--hui-gdjwdf-white-space-collapse, collapse);
  word-break: var(--hui-gdjwdf-word-break, normal);
  word-spacing: var(--hui-gdjwdf-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-gdjwdf-visibility, visible);
  color: var(--hui-gdjwdf-color, rgb(0, 0, 0));
  background-attachment: var(--hui-gdjwdf-background-attachment, scroll);
  background-clip: var(--hui-gdjwdf-background-clip, border-box);
  background-color: var(--hui-gdjwdf-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-gdjwdf-background-image, none);
  background-origin: var(--hui-gdjwdf-background-origin, padding-box);
  background-position-x: var(--hui-gdjwdf-background-position-x, 0%);
  background-position-y: var(--hui-gdjwdf-background-position-y, 0%);
  background-repeat: var(--hui-gdjwdf-background-repeat, repeat);
  background-size: var(--hui-gdjwdf-background-size, auto);
  border-bottom-color: var(--hui-gdjwdf-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-gdjwdf-border-bottom-style, none);
  border-bottom-width: var(--hui-gdjwdf-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-gdjwdf-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-gdjwdf-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-gdjwdf-border-image-outset, 0);
  border-image-repeat: var(--hui-gdjwdf-border-image-repeat, stretch);
  border-image-slice: var(--hui-gdjwdf-border-image-slice, 100%);
  border-image-source: var(--hui-gdjwdf-border-image-source, none);
  border-image-width: var(--hui-gdjwdf-border-image-width, 1);
  border-left-color: var(--hui-gdjwdf-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-gdjwdf-border-left-style, none);
  border-left-width: var(--hui-gdjwdf-border-left-width, 0px);
  border-right-color: var(--hui-gdjwdf-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-gdjwdf-border-right-style, none);
  border-right-width: var(--hui-gdjwdf-border-right-width, 0px);
  border-top-color: var(--hui-gdjwdf-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-gdjwdf-border-top-style, none);
  border-top-width: var(--hui-gdjwdf-border-top-width, 0px);
  border-top-left-radius: var(--hui-gdjwdf-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-gdjwdf-border-top-right-radius, 0px);
  box-shadow: var(--hui-gdjwdf-box-shadow, none);
  cursor: var(--hui-gdjwdf-cursor, auto);
  outline-color: var(--hui-gdjwdf-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-gdjwdf-outline-offset, 0px);
  outline-style: var(--hui-gdjwdf-outline-style, none);
  outline-width: var(--hui-gdjwdf-outline-width, 0px);
}