[data-hui=DataTable] {
  /* LAYOUT-POSITION */
  position: var(--hui-xvhgjw-position, static);
  top: var(--hui-xvhgjw-top, auto);
  right: var(--hui-xvhgjw-right, auto);
  bottom: var(--hui-xvhgjw-bottom, auto);
  left: var(--hui-xvhgjw-left, auto);
  z-index: var(--hui-xvhgjw-z-index, auto);
  float: var(--hui-xvhgjw-float, none);
  clear: var(--hui-xvhgjw-clear, none);
  align-self: var(--hui-xvhgjw-align-self, auto);
  order: var(--hui-xvhgjw-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-xvhgjw-box-sizing, border-box);
  height: var(--hui-xvhgjw-height, auto);
  max-height: var(--hui-xvhgjw-max-height, none);
  min-height: var(--hui-xvhgjw-min-height, auto);
  width: var(--hui-xvhgjw-width, auto);
  max-width: var(--hui-xvhgjw-max-width, none);
  min-width: var(--hui-xvhgjw-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-xvhgjw-margin-top, 0px);
  margin-right: var(--hui-xvhgjw-margin-right, 0px);
  margin-bottom: var(--hui-xvhgjw-margin-bottom, 0px);
  margin-left: var(--hui-xvhgjw-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-xvhgjw-padding-top, 0px);
  padding-right: var(--hui-xvhgjw-padding-right, 0px);
  padding-bottom: var(--hui-xvhgjw-padding-bottom, 0px);
  padding-left: var(--hui-xvhgjw-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-xvhgjw-overflow-x, visible);
  overflow-y: var(--hui-xvhgjw-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-xvhgjw-flex-basis, auto);
  flex-direction: var(--hui-xvhgjw-flex-direction, row);
  flex-grow: var(--hui-xvhgjw-flex-grow, 0);
  flex-shrink: var(--hui-xvhgjw-flex-shrink, 1);
  flex-wrap: var(--hui-xvhgjw-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-xvhgjw-direction, ltr);
  font-family: var(--hui-xvhgjw-font-family, system-ui);
  font-size: var(--hui-xvhgjw-font-size, 16px);
  font-stretch: var(--hui-xvhgjw-font-stretch, 100%);
  font-style: var(--hui-xvhgjw-font-style, normal);
  font-weight: var(--hui-xvhgjw-font-weight, 400);
  letter-spacing: var(--hui-xvhgjw-letter-spacing, normal);
  line-height: var(--hui-xvhgjw-line-height, normal);
  text-align: var(--hui-xvhgjw-text-align, start);
  text-align-last: var(--hui-xvhgjw-text-align-last, auto);
  text-decoration-color: var(--hui-xvhgjw-text-decoration-color, #000);
  text-decoration-line: var(--hui-xvhgjw-text-decoration-line, none);
  text-decoration-style: var(--hui-xvhgjw-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-xvhgjw-text-decoration-thickness, auto);
  text-indent: var(--hui-xvhgjw-text-indent, 0px);
  text-overflow: var(--hui-xvhgjw-text-overflow, clip);
  text-shadow: var(--hui-xvhgjw-text-shadow, none);
  text-size-adjust: var(--hui-xvhgjw-text-size-adjust, auto);
  text-transform: var(--hui-xvhgjw-text-transform, none);
  text-wrap: var(--hui-xvhgjw-text-wrap, wrap);
  vertical-align: var(--hui-xvhgjw-vertical-align, baseline);
  white-space-collapse: var(--hui-xvhgjw-white-space-collapse, collapse);
  word-break: var(--hui-xvhgjw-word-break, normal);
  word-spacing: var(--hui-xvhgjw-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-xvhgjw-visibility, visible);
  color: var(--hui-xvhgjw-color, rgb(0, 0, 0));
  background-attachment: var(--hui-xvhgjw-background-attachment, scroll);
  background-clip: var(--hui-xvhgjw-background-clip, border-box);
  background-color: var(--hui-xvhgjw-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-xvhgjw-background-image, none);
  background-origin: var(--hui-xvhgjw-background-origin, padding-box);
  background-position-x: var(--hui-xvhgjw-background-position-x, 0%);
  background-position-y: var(--hui-xvhgjw-background-position-y, 0%);
  background-repeat: var(--hui-xvhgjw-background-repeat, repeat);
  background-size: var(--hui-xvhgjw-background-size, auto);
  border-bottom-color: var(--hui-xvhgjw-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-xvhgjw-border-bottom-style, none);
  border-bottom-width: var(--hui-xvhgjw-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-xvhgjw-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-xvhgjw-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-xvhgjw-border-image-outset, 0);
  border-image-repeat: var(--hui-xvhgjw-border-image-repeat, stretch);
  border-image-slice: var(--hui-xvhgjw-border-image-slice, 100%);
  border-image-source: var(--hui-xvhgjw-border-image-source, none);
  border-image-width: var(--hui-xvhgjw-border-image-width, 1);
  border-left-color: var(--hui-xvhgjw-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-xvhgjw-border-left-style, none);
  border-left-width: var(--hui-xvhgjw-border-left-width, 0px);
  border-right-color: var(--hui-xvhgjw-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-xvhgjw-border-right-style, none);
  border-right-width: var(--hui-xvhgjw-border-right-width, 0px);
  border-top-color: var(--hui-xvhgjw-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-xvhgjw-border-top-style, none);
  border-top-width: var(--hui-xvhgjw-border-top-width, 0px);
  border-top-left-radius: var(--hui-xvhgjw-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-xvhgjw-border-top-right-radius, 0px);
  box-shadow: var(--hui-xvhgjw-box-shadow, none);
  cursor: var(--hui-xvhgjw-cursor, auto);
  outline-color: var(--hui-xvhgjw-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-xvhgjw-outline-offset, 0px);
  outline-style: var(--hui-xvhgjw-outline-style, none);
  outline-width: var(--hui-xvhgjw-outline-width, 0px);
  /* GRID */
  grid-auto-columns: var(--hui-xvhgjw-grid-auto-columns, auto);
  grid-auto-flow: var(--hui-xvhgjw-grid-auto-flow, row);
  grid-auto-rows: var(--hui-xvhgjw-grid-auto-rows, auto);
  grid-column-end: var(--hui-xvhgjw-grid-column-end, auto);
  grid-column-start: var(--hui-xvhgjw-grid-column-start, auto);
  grid-row-end: var(--hui-xvhgjw-grid-row-end, auto);
  grid-row-start: var(--hui-xvhgjw-grid-row-start, auto);
  grid-template-areas: var(--hui-xvhgjw-grid-template-areas, none);
  grid-template-columns: var(--hui-xvhgjw-grid-template-columns, none);
  grid-template-rows: var(--hui-xvhgjw-grid-template-rows, none);
  align-content: var(--hui-xvhgjw-align-content, normal);
  justify-content: var(--hui-xvhgjw-justify-content, normal);
  align-items: var(--hui-xvhgjw-align-items, normal);
  justify-items: var(--hui-xvhgjw-justify-items, legacy);
  column-gap: var(--hui-xvhgjw-column-gap, 0px);
  row-gap: var(--hui-xvhgjw-row-gap, 0px);
}
[data-hui=DataTable] > tbody,
[data-hui=DataTable] > thead,
[data-hui=DataTable] > * > tr {
  /* LAYOUT-POSITION */
  position: var(--hui-wsglhu-position, static);
  top: var(--hui-wsglhu-top, auto);
  right: var(--hui-wsglhu-right, auto);
  bottom: var(--hui-wsglhu-bottom, auto);
  left: var(--hui-wsglhu-left, auto);
  z-index: var(--hui-wsglhu-z-index, auto);
  float: var(--hui-wsglhu-float, none);
  clear: var(--hui-wsglhu-clear, none);
  align-self: var(--hui-wsglhu-align-self, auto);
  order: var(--hui-wsglhu-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-wsglhu-box-sizing, border-box);
  height: var(--hui-wsglhu-height, auto);
  max-height: var(--hui-wsglhu-max-height, none);
  min-height: var(--hui-wsglhu-min-height, auto);
  width: var(--hui-wsglhu-width, auto);
  max-width: var(--hui-wsglhu-max-width, none);
  min-width: var(--hui-wsglhu-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-wsglhu-margin-top, 0px);
  margin-right: var(--hui-wsglhu-margin-right, 0px);
  margin-bottom: var(--hui-wsglhu-margin-bottom, 0px);
  margin-left: var(--hui-wsglhu-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-wsglhu-padding-top, 0px);
  padding-right: var(--hui-wsglhu-padding-right, 0px);
  padding-bottom: var(--hui-wsglhu-padding-bottom, 0px);
  padding-left: var(--hui-wsglhu-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-wsglhu-overflow-x, visible);
  overflow-y: var(--hui-wsglhu-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-wsglhu-flex-basis, auto);
  flex-direction: var(--hui-wsglhu-flex-direction, row);
  flex-grow: var(--hui-wsglhu-flex-grow, 0);
  flex-shrink: var(--hui-wsglhu-flex-shrink, 1);
  flex-wrap: var(--hui-wsglhu-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-wsglhu-direction, ltr);
  font-family: var(--hui-wsglhu-font-family, system-ui);
  font-size: var(--hui-wsglhu-font-size, 16px);
  font-stretch: var(--hui-wsglhu-font-stretch, 100%);
  font-style: var(--hui-wsglhu-font-style, normal);
  font-weight: var(--hui-wsglhu-font-weight, 400);
  letter-spacing: var(--hui-wsglhu-letter-spacing, normal);
  line-height: var(--hui-wsglhu-line-height, normal);
  text-align: var(--hui-wsglhu-text-align, start);
  text-align-last: var(--hui-wsglhu-text-align-last, auto);
  text-decoration-color: var(--hui-wsglhu-text-decoration-color, #000);
  text-decoration-line: var(--hui-wsglhu-text-decoration-line, none);
  text-decoration-style: var(--hui-wsglhu-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-wsglhu-text-decoration-thickness, auto);
  text-indent: var(--hui-wsglhu-text-indent, 0px);
  text-overflow: var(--hui-wsglhu-text-overflow, clip);
  text-shadow: var(--hui-wsglhu-text-shadow, none);
  text-size-adjust: var(--hui-wsglhu-text-size-adjust, auto);
  text-transform: var(--hui-wsglhu-text-transform, none);
  text-wrap: var(--hui-wsglhu-text-wrap, wrap);
  vertical-align: var(--hui-wsglhu-vertical-align, baseline);
  white-space-collapse: var(--hui-wsglhu-white-space-collapse, collapse);
  word-break: var(--hui-wsglhu-word-break, normal);
  word-spacing: var(--hui-wsglhu-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-wsglhu-visibility, visible);
  color: var(--hui-wsglhu-color, rgb(0, 0, 0));
  background-attachment: var(--hui-wsglhu-background-attachment, scroll);
  background-clip: var(--hui-wsglhu-background-clip, border-box);
  background-color: var(--hui-wsglhu-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-wsglhu-background-image, none);
  background-origin: var(--hui-wsglhu-background-origin, padding-box);
  background-position-x: var(--hui-wsglhu-background-position-x, 0%);
  background-position-y: var(--hui-wsglhu-background-position-y, 0%);
  background-repeat: var(--hui-wsglhu-background-repeat, repeat);
  background-size: var(--hui-wsglhu-background-size, auto);
  border-bottom-color: var(--hui-wsglhu-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-wsglhu-border-bottom-style, none);
  border-bottom-width: var(--hui-wsglhu-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-wsglhu-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-wsglhu-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-wsglhu-border-image-outset, 0);
  border-image-repeat: var(--hui-wsglhu-border-image-repeat, stretch);
  border-image-slice: var(--hui-wsglhu-border-image-slice, 100%);
  border-image-source: var(--hui-wsglhu-border-image-source, none);
  border-image-width: var(--hui-wsglhu-border-image-width, 1);
  border-left-color: var(--hui-wsglhu-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-wsglhu-border-left-style, none);
  border-left-width: var(--hui-wsglhu-border-left-width, 0px);
  border-right-color: var(--hui-wsglhu-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-wsglhu-border-right-style, none);
  border-right-width: var(--hui-wsglhu-border-right-width, 0px);
  border-top-color: var(--hui-wsglhu-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-wsglhu-border-top-style, none);
  border-top-width: var(--hui-wsglhu-border-top-width, 0px);
  border-top-left-radius: var(--hui-wsglhu-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-wsglhu-border-top-right-radius, 0px);
  box-shadow: var(--hui-wsglhu-box-shadow, none);
  cursor: var(--hui-wsglhu-cursor, auto);
  outline-color: var(--hui-wsglhu-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-wsglhu-outline-offset, 0px);
  outline-style: var(--hui-wsglhu-outline-style, none);
  outline-width: var(--hui-wsglhu-outline-width, 0px);
  /* GRID */
  grid-auto-columns: var(--hui-wsglhu-grid-auto-columns, auto);
  grid-auto-flow: var(--hui-wsglhu-grid-auto-flow, row);
  grid-auto-rows: var(--hui-wsglhu-grid-auto-rows, auto);
  grid-column-end: var(--hui-wsglhu-grid-column-end, auto);
  grid-column-start: var(--hui-wsglhu-grid-column-start, auto);
  grid-row-end: var(--hui-wsglhu-grid-row-end, auto);
  grid-row-start: var(--hui-wsglhu-grid-row-start, auto);
  grid-template-areas: var(--hui-wsglhu-grid-template-areas, none);
  grid-template-columns: var(--hui-wsglhu-grid-template-columns, none);
  grid-template-rows: var(--hui-wsglhu-grid-template-rows, none);
  align-content: var(--hui-wsglhu-align-content, normal);
  justify-content: var(--hui-wsglhu-justify-content, normal);
  align-items: var(--hui-wsglhu-align-items, normal);
  justify-items: var(--hui-wsglhu-justify-items, legacy);
  column-gap: var(--hui-wsglhu-column-gap, 0px);
  row-gap: var(--hui-wsglhu-row-gap, 0px);
}
[data-hui=DataTable] > tbody > tr > td,
[data-hui=DataTable] > thead > tr > th {
  /* LAYOUT-POSITION */
  position: var(--hui-ofoiob-position, static);
  top: var(--hui-ofoiob-top, auto);
  right: var(--hui-ofoiob-right, auto);
  bottom: var(--hui-ofoiob-bottom, auto);
  left: var(--hui-ofoiob-left, auto);
  z-index: var(--hui-ofoiob-z-index, auto);
  float: var(--hui-ofoiob-float, none);
  clear: var(--hui-ofoiob-clear, none);
  align-self: var(--hui-ofoiob-align-self, auto);
  order: var(--hui-ofoiob-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-ofoiob-box-sizing, border-box);
  height: var(--hui-ofoiob-height, auto);
  max-height: var(--hui-ofoiob-max-height, none);
  min-height: var(--hui-ofoiob-min-height, auto);
  width: var(--hui-ofoiob-width, auto);
  max-width: var(--hui-ofoiob-max-width, none);
  min-width: var(--hui-ofoiob-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-ofoiob-margin-top, 0px);
  margin-right: var(--hui-ofoiob-margin-right, 0px);
  margin-bottom: var(--hui-ofoiob-margin-bottom, 0px);
  margin-left: var(--hui-ofoiob-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-ofoiob-padding-top, 0px);
  padding-right: var(--hui-ofoiob-padding-right, 0px);
  padding-bottom: var(--hui-ofoiob-padding-bottom, 0px);
  padding-left: var(--hui-ofoiob-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-ofoiob-overflow-x, visible);
  overflow-y: var(--hui-ofoiob-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-ofoiob-flex-basis, auto);
  flex-direction: var(--hui-ofoiob-flex-direction, row);
  flex-grow: var(--hui-ofoiob-flex-grow, 0);
  flex-shrink: var(--hui-ofoiob-flex-shrink, 1);
  flex-wrap: var(--hui-ofoiob-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-ofoiob-direction, ltr);
  font-family: var(--hui-ofoiob-font-family, system-ui);
  font-size: var(--hui-ofoiob-font-size, 16px);
  font-stretch: var(--hui-ofoiob-font-stretch, 100%);
  font-style: var(--hui-ofoiob-font-style, normal);
  font-weight: var(--hui-ofoiob-font-weight, 400);
  letter-spacing: var(--hui-ofoiob-letter-spacing, normal);
  line-height: var(--hui-ofoiob-line-height, normal);
  text-align: var(--hui-ofoiob-text-align, start);
  text-align-last: var(--hui-ofoiob-text-align-last, auto);
  text-decoration-color: var(--hui-ofoiob-text-decoration-color, #000);
  text-decoration-line: var(--hui-ofoiob-text-decoration-line, none);
  text-decoration-style: var(--hui-ofoiob-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-ofoiob-text-decoration-thickness, auto);
  text-indent: var(--hui-ofoiob-text-indent, 0px);
  text-overflow: var(--hui-ofoiob-text-overflow, clip);
  text-shadow: var(--hui-ofoiob-text-shadow, none);
  text-size-adjust: var(--hui-ofoiob-text-size-adjust, auto);
  text-transform: var(--hui-ofoiob-text-transform, none);
  text-wrap: var(--hui-ofoiob-text-wrap, wrap);
  vertical-align: var(--hui-ofoiob-vertical-align, baseline);
  white-space-collapse: var(--hui-ofoiob-white-space-collapse, collapse);
  word-break: var(--hui-ofoiob-word-break, normal);
  word-spacing: var(--hui-ofoiob-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-ofoiob-visibility, visible);
  color: var(--hui-ofoiob-color, rgb(0, 0, 0));
  background-attachment: var(--hui-ofoiob-background-attachment, scroll);
  background-clip: var(--hui-ofoiob-background-clip, border-box);
  background-color: var(--hui-ofoiob-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-ofoiob-background-image, none);
  background-origin: var(--hui-ofoiob-background-origin, padding-box);
  background-position-x: var(--hui-ofoiob-background-position-x, 0%);
  background-position-y: var(--hui-ofoiob-background-position-y, 0%);
  background-repeat: var(--hui-ofoiob-background-repeat, repeat);
  background-size: var(--hui-ofoiob-background-size, auto);
  border-bottom-color: var(--hui-ofoiob-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-ofoiob-border-bottom-style, none);
  border-bottom-width: var(--hui-ofoiob-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-ofoiob-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-ofoiob-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-ofoiob-border-image-outset, 0);
  border-image-repeat: var(--hui-ofoiob-border-image-repeat, stretch);
  border-image-slice: var(--hui-ofoiob-border-image-slice, 100%);
  border-image-source: var(--hui-ofoiob-border-image-source, none);
  border-image-width: var(--hui-ofoiob-border-image-width, 1);
  border-left-color: var(--hui-ofoiob-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-ofoiob-border-left-style, none);
  border-left-width: var(--hui-ofoiob-border-left-width, 0px);
  border-right-color: var(--hui-ofoiob-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-ofoiob-border-right-style, none);
  border-right-width: var(--hui-ofoiob-border-right-width, 0px);
  border-top-color: var(--hui-ofoiob-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-ofoiob-border-top-style, none);
  border-top-width: var(--hui-ofoiob-border-top-width, 0px);
  border-top-left-radius: var(--hui-ofoiob-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-ofoiob-border-top-right-radius, 0px);
  box-shadow: var(--hui-ofoiob-box-shadow, none);
  cursor: var(--hui-ofoiob-cursor, auto);
  outline-color: var(--hui-ofoiob-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-ofoiob-outline-offset, 0px);
  outline-style: var(--hui-ofoiob-outline-style, none);
  outline-width: var(--hui-ofoiob-outline-width, 0px);
}
[data-hui=DataTable] > tbody > tr > td + td {
  border-left-width: var(--hui-ozatyc-border-left-width, initial);
  border-left-style: var(--hui-ozatyc-border-left-style, initial);
  border-left-color: var(--hui-ozatyc-border-left-color, initial);
}
[data-hui=DataTable] > tbody > tr + tr,
[data-hui=DataTable] > thead + tbody {
  border-top-width: var(--hui-golnwm-border-top-width, initial);
  border-top-style: var(--hui-golnwm-border-top-style, initial);
  border-top-color: var(--hui-golnwm-border-top-color, initial);
}