[data-hui=Nav] > nav {
  /* LAYOUT-DISPLAY */
  display: var(--hui-layout-nav-display, block);
  visibility: var(--hui-layout-nav-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-layout-nav-position, static);
  top: var(--hui-layout-nav-top, auto);
  right: var(--hui-layout-nav-right, auto);
  bottom: var(--hui-layout-nav-bottom, auto);
  left: var(--hui-layout-nav-left, auto);
  z-index: var(--hui-layout-nav-z-index, auto);
  float: var(--hui-layout-nav-float, none);
  clear: var(--hui-layout-nav-clear, none);
  align-content: var(--hui-layout-nav-align-content, normal);
  align-items: var(--hui-layout-nav-align-items, normal);
  align-self: var(--hui-layout-nav-align-self, auto);
  order: var(--hui-layout-nav-order, 0);
  justify-content: var(--hui-layout-nav-justify-content, normal);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-layout-nav-box-sizing, border-box);
  height: var(--hui-layout-nav-height, auto);
  max-height: var(--hui-layout-nav-max-height, none);
  min-height: var(--hui-layout-nav-min-height, 0px);
  width: var(--hui-layout-nav-width, auto);
  max-width: var(--hui-layout-nav-max-width, none);
  min-width: var(--hui-layout-nav-min-width, 0px);
  block-size: var(--hui-layout-nav-block-size, auto);
  resize: var(--hui-layout-nav-resize, none);
  inline-size: var(--hui-layout-nav-inline-size, auto);
  max-block-size: var(--hui-layout-nav-max-block-size, none);
  max-inline-size: var(--hui-layout-nav-max-inline-size, none);
  min-block-size: var(--hui-layout-nav-min-block-size, 0px);
  min-inline-size: var(--hui-layout-nav-min-inline-size, 0px);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-layout-nav-margin-top, 0px);
  margin-right: var(--hui-layout-nav-margin-right, 0px);
  margin-bottom: var(--hui-layout-nav-margin-bottom, 0px);
  margin-left: var(--hui-layout-nav-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-layout-nav-padding-top, 0px);
  padding-right: var(--hui-layout-nav-padding-right, 0px);
  padding-bottom: var(--hui-layout-nav-padding-bottom, 0px);
  padding-left: var(--hui-layout-nav-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-layout-nav-overflow-x, hidden);
  overflow-y: var(--hui-layout-nav-overflow-y, hidden);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-layout-nav-flex-basis, auto);
  flex-direction: var(--hui-layout-nav-flex-direction, row);
  flex-grow: var(--hui-layout-nav-flex-grow, 0);
  flex-shrink: var(--hui-layout-nav-flex-shrink, 1);
  flex-wrap: var(--hui-layout-nav-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-layout-nav-direction, ltr);
  font-family: var(--hui-layout-nav-font-family, initial);
  font-feature-settings: var(--hui-layout-nav-font-feature-settings, normal);
  font-kerning: var(--hui-layout-nav-font-kerning, auto);
  font-optical-sizing: var(--hui-layout-nav-font-optical-sizing, auto);
  font-size: var(--hui-layout-nav-font-size, 16px);
  font-stretch: var(--hui-layout-nav-font-stretch, 100%);
  font-style: var(--hui-layout-nav-font-style, normal);
  font-variant-alternates: var(--hui-layout-nav-font-variant-alternates, normal);
  font-variant-caps: var(--hui-layout-nav-font-variant-caps, normal);
  font-variant-east-asian: var(--hui-layout-nav-font-variant-east-asian, normal);
  font-variant-ligatures: var(--hui-layout-nav-font-variant-ligatures, normal);
  font-variant-numeric: var(--hui-layout-nav-font-variant-numeric, normal);
  font-variant-position: var(--hui-layout-nav-font-variant-position, normal);
  font-variation-settings: var(--hui-layout-nav-font-variation-settings, normal);
  font-weight: var(--hui-layout-nav-font-weight, 400);
  letter-spacing: var(--hui-layout-nav-letter-spacing, normal);
  line-height: var(--hui-layout-nav-line-height, normal);
  tab-size: var(--hui-layout-nav-tab-size, 8);
  text-align: var(--hui-layout-nav-text-align, start);
  text-align-last: var(--hui-layout-nav-text-align-last, auto);
  text-decoration-color: var(--hui-layout-nav-text-decoration-color, #000);
  text-decoration-line: var(--hui-layout-nav-text-decoration-line, none);
  text-decoration-style: var(--hui-layout-nav-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-layout-nav-text-decoration-thickness, auto);
  text-indent: var(--hui-layout-nav-text-indent, 0px);
  text-overflow: var(--hui-layout-nav-text-overflow, clip);
  text-shadow: var(--hui-layout-nav-text-shadow, none);
  text-size-adjust: var(--hui-layout-nav-text-size-adjust, auto);
  text-transform: var(--hui-layout-nav-text-transform, none);
  text-wrap: var(--hui-layout-nav-text-wrap, wrap);
  vertical-align: var(--hui-layout-nav-vertical-align, baseline);
  white-space-collapse: var(--hui-layout-nav-white-space-collapse, collapse);
  word-break: var(--hui-layout-nav-word-break, normal);
  word-spacing: var(--hui-layout-nav-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-layout-nav-color, rgb(0, 0, 0));
  background-attachment: var(--hui-layout-nav-background-attachment, scroll);
  background-clip: var(--hui-layout-nav-background-clip, border-box);
  background-color: var(--hui-layout-nav-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-layout-nav-background-image, none);
  background-origin: var(--hui-layout-nav-background-origin, padding-box);
  background-position-x: var(--hui-layout-nav-background-position-x, 0%);
  background-position-y: var(--hui-layout-nav-background-position-y, 0%);
  background-repeat: var(--hui-layout-nav-background-repeat, repeat);
  background-size: var(--hui-layout-nav-background-size, auto);
  border-bottom-color: var(--hui-layout-nav-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-layout-nav-border-bottom-style, none);
  border-bottom-width: var(--hui-layout-nav-border-bottom-width, 0px);
  border-image-outset: var(--hui-layout-nav-border-image-outset, 0);
  border-image-repeat: var(--hui-layout-nav-border-image-repeat, stretch);
  border-image-slice: var(--hui-layout-nav-border-image-slice, 100%);
  border-image-source: var(--hui-layout-nav-border-image-source, none);
  border-image-width: var(--hui-layout-nav-border-image-width, 1);
  border-left-color: var(--hui-layout-nav-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-layout-nav-border-left-style, none);
  border-left-width: var(--hui-layout-nav-border-left-width, 0px);
  border-right-color: var(--hui-layout-nav-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-layout-nav-border-right-style, none);
  border-right-width: var(--hui-layout-nav-border-right-width, 0px);
  border-top-color: var(--hui-layout-nav-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-layout-nav-border-top-style, none);
  border-top-width: var(--hui-layout-nav-border-top-width, 0px);
  box-shadow: var(--hui-layout-nav-box-shadow, none);
  cursor: var(--hui-layout-nav-cursor, auto);
  outline-color: var(--hui-layout-nav-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-layout-nav-outline-offset, 0px);
  outline-style: var(--hui-layout-nav-outline-style, none);
  outline-width: var(--hui-layout-nav-outline-width, 0px);
  /* ANIMATION */
  animation-direction: var(--hui-layout-nav-animation-direction, normal);
  animation-duration: var(--hui-layout-nav-animation-duration, 0s);
  animation-fill-mode: var(--hui-layout-nav-animation-fill-mode, none);
  animation-iteration-count: var(--hui-layout-nav-animation-iteration-count, 1);
  animation-name: var(--hui-layout-nav-animation-name, none);
  animation-play-state: var(--hui-layout-nav-animation-play-state, running);
  animation-timing-function: var(--hui-layout-nav-animation-timing-function, ease);
  transition-behavior: var(--hui-layout-nav-transition-behavior, normal);
  transition-delay: var(--hui-layout-nav-transition-delay, 0s);
  transition-duration: var(--hui-layout-nav-transition-duration, 0s);
  transition-property: var(--hui-layout-nav-transition-property, all);
  transition-timing-function: var(--hui-layout-nav-transition-timing-function, ease);
}