[data-hui=Panel] {
  /* LAYOUT-POSITION */
  position: var(--hui-ltqpkc-position, static);
  top: var(--hui-ltqpkc-top, auto);
  right: var(--hui-ltqpkc-right, auto);
  bottom: var(--hui-ltqpkc-bottom, auto);
  left: var(--hui-ltqpkc-left, auto);
  z-index: var(--hui-ltqpkc-z-index, auto);
  float: var(--hui-ltqpkc-float, none);
  clear: var(--hui-ltqpkc-clear, none);
  align-self: var(--hui-ltqpkc-align-self, auto);
  order: var(--hui-ltqpkc-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-ltqpkc-box-sizing, border-box);
  height: var(--hui-ltqpkc-height, auto);
  max-height: var(--hui-ltqpkc-max-height, none);
  min-height: var(--hui-ltqpkc-min-height, auto);
  width: var(--hui-ltqpkc-width, auto);
  max-width: var(--hui-ltqpkc-max-width, none);
  min-width: var(--hui-ltqpkc-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-ltqpkc-margin-top, 0px);
  margin-right: var(--hui-ltqpkc-margin-right, 0px);
  margin-bottom: var(--hui-ltqpkc-margin-bottom, 0px);
  margin-left: var(--hui-ltqpkc-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-ltqpkc-padding-top, 0px);
  padding-right: var(--hui-ltqpkc-padding-right, 0px);
  padding-bottom: var(--hui-ltqpkc-padding-bottom, 0px);
  padding-left: var(--hui-ltqpkc-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-ltqpkc-overflow-x, visible);
  overflow-y: var(--hui-ltqpkc-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-ltqpkc-flex-basis, auto);
  flex-direction: var(--hui-ltqpkc-flex-direction, row);
  flex-grow: var(--hui-ltqpkc-flex-grow, 0);
  flex-shrink: var(--hui-ltqpkc-flex-shrink, 1);
  flex-wrap: var(--hui-ltqpkc-flex-wrap, nowrap);
  gap: var(--hui-ltqpkc-gap, 0px);
  align-content: var(--hui-ltqpkc-align-content, stretch);
  justify-content: var(--hui-ltqpkc-justify-content, flex-start);
  align-items: var(--hui-ltqpkc-align-items, stretch);
  /* TEXT */
  direction: var(--hui-ltqpkc-direction, ltr);
  font-family: var(--hui-ltqpkc-font-family, system-ui);
  font-size: var(--hui-ltqpkc-font-size, 16px);
  font-stretch: var(--hui-ltqpkc-font-stretch, 100%);
  font-style: var(--hui-ltqpkc-font-style, normal);
  font-weight: var(--hui-ltqpkc-font-weight, 400);
  letter-spacing: var(--hui-ltqpkc-letter-spacing, normal);
  line-height: var(--hui-ltqpkc-line-height, normal);
  text-align: var(--hui-ltqpkc-text-align, start);
  text-align-last: var(--hui-ltqpkc-text-align-last, auto);
  text-decoration-color: var(--hui-ltqpkc-text-decoration-color, #000);
  text-decoration-line: var(--hui-ltqpkc-text-decoration-line, none);
  text-decoration-style: var(--hui-ltqpkc-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-ltqpkc-text-decoration-thickness, auto);
  text-indent: var(--hui-ltqpkc-text-indent, 0px);
  text-overflow: var(--hui-ltqpkc-text-overflow, clip);
  text-shadow: var(--hui-ltqpkc-text-shadow, none);
  text-size-adjust: var(--hui-ltqpkc-text-size-adjust, auto);
  text-transform: var(--hui-ltqpkc-text-transform, none);
  text-wrap: var(--hui-ltqpkc-text-wrap, wrap);
  vertical-align: var(--hui-ltqpkc-vertical-align, baseline);
  white-space-collapse: var(--hui-ltqpkc-white-space-collapse, collapse);
  word-break: var(--hui-ltqpkc-word-break, normal);
  word-spacing: var(--hui-ltqpkc-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-ltqpkc-visibility, visible);
  color: var(--hui-ltqpkc-color, rgb(0, 0, 0));
  background-attachment: var(--hui-ltqpkc-background-attachment, scroll);
  background-clip: var(--hui-ltqpkc-background-clip, border-box);
  background-color: var(--hui-ltqpkc-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-ltqpkc-background-image, none);
  background-origin: var(--hui-ltqpkc-background-origin, padding-box);
  background-position-x: var(--hui-ltqpkc-background-position-x, 0%);
  background-position-y: var(--hui-ltqpkc-background-position-y, 0%);
  background-repeat: var(--hui-ltqpkc-background-repeat, repeat);
  background-size: var(--hui-ltqpkc-background-size, auto);
  border-bottom-color: var(--hui-ltqpkc-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-ltqpkc-border-bottom-style, none);
  border-bottom-width: var(--hui-ltqpkc-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-ltqpkc-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-ltqpkc-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-ltqpkc-border-image-outset, 0);
  border-image-repeat: var(--hui-ltqpkc-border-image-repeat, stretch);
  border-image-slice: var(--hui-ltqpkc-border-image-slice, 100%);
  border-image-source: var(--hui-ltqpkc-border-image-source, none);
  border-image-width: var(--hui-ltqpkc-border-image-width, 1);
  border-left-color: var(--hui-ltqpkc-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-ltqpkc-border-left-style, none);
  border-left-width: var(--hui-ltqpkc-border-left-width, 0px);
  border-right-color: var(--hui-ltqpkc-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-ltqpkc-border-right-style, none);
  border-right-width: var(--hui-ltqpkc-border-right-width, 0px);
  border-top-color: var(--hui-ltqpkc-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-ltqpkc-border-top-style, none);
  border-top-width: var(--hui-ltqpkc-border-top-width, 0px);
  border-top-left-radius: var(--hui-ltqpkc-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-ltqpkc-border-top-right-radius, 0px);
  box-shadow: var(--hui-ltqpkc-box-shadow, none);
  cursor: var(--hui-ltqpkc-cursor, auto);
  outline-color: var(--hui-ltqpkc-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-ltqpkc-outline-offset, 0px);
  outline-style: var(--hui-ltqpkc-outline-style, none);
  outline-width: var(--hui-ltqpkc-outline-width, 0px);
  scrollbar-color: var(--hui-ltqpkc-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-ltqpkc-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-ltqpkc-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-ltqpkc-display, block);
  opacity: var(--hui-ltqpkc-opacity, initial);
}