[data-hui=Title] > title {
  /* LAYOUT-DISPLAY */
  display: var(--hui-layout-title-display, block);
  visibility: var(--hui-layout-title-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-layout-title-position, static);
  top: var(--hui-layout-title-top, auto);
  right: var(--hui-layout-title-right, auto);
  bottom: var(--hui-layout-title-bottom, auto);
  left: var(--hui-layout-title-left, auto);
  z-index: var(--hui-layout-title-z-index, auto);
  float: var(--hui-layout-title-float, none);
  clear: var(--hui-layout-title-clear, none);
  align-content: var(--hui-layout-title-align-content, normal);
  align-items: var(--hui-layout-title-align-items, normal);
  align-self: var(--hui-layout-title-align-self, auto);
  order: var(--hui-layout-title-order, 0);
  justify-content: var(--hui-layout-title-justify-content, normal);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-layout-title-box-sizing, border-box);
  height: var(--hui-layout-title-height, auto);
  max-height: var(--hui-layout-title-max-height, none);
  min-height: var(--hui-layout-title-min-height, 0px);
  width: var(--hui-layout-title-width, auto);
  max-width: var(--hui-layout-title-max-width, none);
  min-width: var(--hui-layout-title-min-width, 0px);
  block-size: var(--hui-layout-title-block-size, auto);
  resize: var(--hui-layout-title-resize, none);
  inline-size: var(--hui-layout-title-inline-size, auto);
  max-block-size: var(--hui-layout-title-max-block-size, none);
  max-inline-size: var(--hui-layout-title-max-inline-size, none);
  min-block-size: var(--hui-layout-title-min-block-size, 0px);
  min-inline-size: var(--hui-layout-title-min-inline-size, 0px);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-layout-title-margin-top, 0px);
  margin-right: var(--hui-layout-title-margin-right, 0px);
  margin-bottom: var(--hui-layout-title-margin-bottom, 0px);
  margin-left: var(--hui-layout-title-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-layout-title-padding-top, 0px);
  padding-right: var(--hui-layout-title-padding-right, 0px);
  padding-bottom: var(--hui-layout-title-padding-bottom, 0px);
  padding-left: var(--hui-layout-title-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-layout-title-overflow-x, hidden);
  overflow-y: var(--hui-layout-title-overflow-y, hidden);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-layout-title-flex-basis, auto);
  flex-direction: var(--hui-layout-title-flex-direction, row);
  flex-grow: var(--hui-layout-title-flex-grow, 0);
  flex-shrink: var(--hui-layout-title-flex-shrink, 1);
  flex-wrap: var(--hui-layout-title-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-layout-title-direction, ltr);
  font-family: var(--hui-layout-title-font-family, initial);
  font-feature-settings: var(--hui-layout-title-font-feature-settings, normal);
  font-kerning: var(--hui-layout-title-font-kerning, auto);
  font-optical-sizing: var(--hui-layout-title-font-optical-sizing, auto);
  font-size: var(--hui-layout-title-font-size, 16px);
  font-stretch: var(--hui-layout-title-font-stretch, 100%);
  font-style: var(--hui-layout-title-font-style, normal);
  font-variant-alternates: var(--hui-layout-title-font-variant-alternates, normal);
  font-variant-caps: var(--hui-layout-title-font-variant-caps, normal);
  font-variant-east-asian: var(--hui-layout-title-font-variant-east-asian, normal);
  font-variant-ligatures: var(--hui-layout-title-font-variant-ligatures, normal);
  font-variant-numeric: var(--hui-layout-title-font-variant-numeric, normal);
  font-variant-position: var(--hui-layout-title-font-variant-position, normal);
  font-variation-settings: var(--hui-layout-title-font-variation-settings, normal);
  font-weight: var(--hui-layout-title-font-weight, 400);
  letter-spacing: var(--hui-layout-title-letter-spacing, normal);
  line-height: var(--hui-layout-title-line-height, normal);
  tab-size: var(--hui-layout-title-tab-size, 8);
  text-align: var(--hui-layout-title-text-align, start);
  text-align-last: var(--hui-layout-title-text-align-last, auto);
  text-decoration-color: var(--hui-layout-title-text-decoration-color, #000);
  text-decoration-line: var(--hui-layout-title-text-decoration-line, none);
  text-decoration-style: var(--hui-layout-title-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-layout-title-text-decoration-thickness, auto);
  text-indent: var(--hui-layout-title-text-indent, 0px);
  text-overflow: var(--hui-layout-title-text-overflow, clip);
  text-shadow: var(--hui-layout-title-text-shadow, none);
  text-size-adjust: var(--hui-layout-title-text-size-adjust, auto);
  text-transform: var(--hui-layout-title-text-transform, none);
  text-wrap: var(--hui-layout-title-text-wrap, wrap);
  vertical-align: var(--hui-layout-title-vertical-align, baseline);
  white-space-collapse: var(--hui-layout-title-white-space-collapse, collapse);
  word-break: var(--hui-layout-title-word-break, normal);
  word-spacing: var(--hui-layout-title-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-layout-title-color, rgb(0, 0, 0));
  background-attachment: var(--hui-layout-title-background-attachment, scroll);
  background-clip: var(--hui-layout-title-background-clip, border-box);
  background-color: var(--hui-layout-title-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-layout-title-background-image, none);
  background-origin: var(--hui-layout-title-background-origin, padding-box);
  background-position-x: var(--hui-layout-title-background-position-x, 0%);
  background-position-y: var(--hui-layout-title-background-position-y, 0%);
  background-repeat: var(--hui-layout-title-background-repeat, repeat);
  background-size: var(--hui-layout-title-background-size, auto);
  border-bottom-color: var(--hui-layout-title-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-layout-title-border-bottom-style, none);
  border-bottom-width: var(--hui-layout-title-border-bottom-width, 0px);
  border-image-outset: var(--hui-layout-title-border-image-outset, 0);
  border-image-repeat: var(--hui-layout-title-border-image-repeat, stretch);
  border-image-slice: var(--hui-layout-title-border-image-slice, 100%);
  border-image-source: var(--hui-layout-title-border-image-source, none);
  border-image-width: var(--hui-layout-title-border-image-width, 1);
  border-left-color: var(--hui-layout-title-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-layout-title-border-left-style, none);
  border-left-width: var(--hui-layout-title-border-left-width, 0px);
  border-right-color: var(--hui-layout-title-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-layout-title-border-right-style, none);
  border-right-width: var(--hui-layout-title-border-right-width, 0px);
  border-top-color: var(--hui-layout-title-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-layout-title-border-top-style, none);
  border-top-width: var(--hui-layout-title-border-top-width, 0px);
  box-shadow: var(--hui-layout-title-box-shadow, none);
  cursor: var(--hui-layout-title-cursor, auto);
  outline-color: var(--hui-layout-title-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-layout-title-outline-offset, 0px);
  outline-style: var(--hui-layout-title-outline-style, none);
  outline-width: var(--hui-layout-title-outline-width, 0px);
  /* ANIMATION */
  animation-direction: var(--hui-layout-title-animation-direction, normal);
  animation-duration: var(--hui-layout-title-animation-duration, 0s);
  animation-fill-mode: var(--hui-layout-title-animation-fill-mode, none);
  animation-iteration-count: var(--hui-layout-title-animation-iteration-count, 1);
  animation-name: var(--hui-layout-title-animation-name, none);
  animation-play-state: var(--hui-layout-title-animation-play-state, running);
  animation-timing-function: var(--hui-layout-title-animation-timing-function, ease);
  transition-behavior: var(--hui-layout-title-transition-behavior, normal);
  transition-delay: var(--hui-layout-title-transition-delay, 0s);
  transition-duration: var(--hui-layout-title-transition-duration, 0s);
  transition-property: var(--hui-layout-title-transition-property, all);
  transition-timing-function: var(--hui-layout-title-transition-timing-function, ease);
}