[data-hui=Button] > button {
  /* LAYOUT-PADDING */
  --hui-udjwls-padding-top: var(--hui-default-spacer-5);
  --hui-udjwls-padding-right: var(--hui-default-spacer-7);
  --hui-udjwls-padding-bottom: var(--hui-default-spacer-5);
  --hui-udjwls-padding-left: var(--hui-default-spacer-7);
  /* LAYOUT-OVERFLOW */
  --hui-udjwls-overflow-x: hidden;
  --hui-udjwls-overflow-y: hidden;
  /* TEXT */
  --hui-udjwls-font-size: var(--hui-default-font-size);
  --hui-udjwls-font-weight: var(--hui-default-font-weight);
  /* APPERANCE */
  --hui-udjwls-color: var(--hui-default-color);
  --hui-udjwls-background-color: var(--hui-default-background-color);
  --hui-udjwls-border-bottom-color: var(--hui-default-border-color);
  --hui-udjwls-border-bottom-style: var(--hui-default-border-style);
  --hui-udjwls-border-bottom-width: var(--hui-default-border-width);
  --hui-udjwls-border-left-color: var(--hui-default-border-color);
  --hui-udjwls-border-left-style: var(--hui-default-border-style);
  --hui-udjwls-border-left-width: var(--hui-default-border-width);
  --hui-udjwls-border-right-color: var(--hui-default-border-color);
  --hui-udjwls-border-right-style: var(--hui-default-border-style);
  --hui-udjwls-border-right-width: var(--hui-default-border-width);
  --hui-udjwls-border-top-color: var(--hui-default-border-color);
  --hui-udjwls-border-top-style: var(--hui-default-border-style);
  --hui-udjwls-border-top-width: var(--hui-default-border-width);
}
[data-hui=Button] > button:hover {
}
[data-hui=Button][data-hui-active] > button {
}
[data-hui=Button][data-hui-active] > button:hover {
}
[data-hui=Button][data-hui-disabled] > button {
}
[data-hui=Button][data-hui-disabled] > button:hover {
}
[data-hui=Button][data-hui-readonly] > button {
}
[data-hui=Button][data-hui-readonly] > button:hover {
}
[data-hui=Button][data-hui-valid] > button {
}
[data-hui=Button][data-hui-valid] > button:hover {
}
[data-hui=Button][data-hui-invalid] > button {
}
[data-hui=Button][data-hui-invalid] > button:hover {
}
[data-hui=Button][data-hui-theme=unua] > button {
}
[data-hui=Button][data-hui-theme=unua] > button:hover {
}
[data-hui=Button][data-hui-theme=unua][data-hui-active] > button {
}
[data-hui=Button][data-hui-theme=unua][data-hui-active] > button:hover {
}
[data-hui=Button][data-hui-theme=unua][data-hui-disabled] > button {
}
[data-hui=Button][data-hui-theme=unua][data-hui-disabled] > button:hover {
}
[data-hui=Button][data-hui-theme=unua][data-hui-readonly] > button {
}
[data-hui=Button][data-hui-theme=unua][data-hui-readonly] > button:hover {
}
[data-hui=Button][data-hui-theme=unua][data-hui-valid] > button {
}
[data-hui=Button][data-hui-theme=unua][data-hui-valid] > button:hover {
}
[data-hui=Button][data-hui-theme=unua][data-hui-invalid] > button {
}
[data-hui=Button][data-hui-theme=unua][data-hui-invalid] > button:hover {
}
[data-hui=Button][data-hui-theme=dua] > button {
}
[data-hui=Button][data-hui-theme=dua] > button:hover {
}
[data-hui=Button][data-hui-theme=dua][data-hui-active] > button {
}
[data-hui=Button][data-hui-theme=dua][data-hui-active] > button:hover {
}
[data-hui=Button][data-hui-theme=dua][data-hui-disabled] > button {
}
[data-hui=Button][data-hui-theme=dua][data-hui-disabled] > button:hover {
}
[data-hui=Button][data-hui-theme=dua][data-hui-readonly] > button {
}
[data-hui=Button][data-hui-theme=dua][data-hui-readonly] > button:hover {
}
[data-hui=Button][data-hui-theme=dua][data-hui-valid] > button {
}
[data-hui=Button][data-hui-theme=dua][data-hui-valid] > button:hover {
}
[data-hui=Button][data-hui-theme=dua][data-hui-invalid] > button {
}
[data-hui=Button][data-hui-theme=dua][data-hui-invalid] > button:hover {
}
[data-hui=Button][data-hui-theme=tria] > button {
}
[data-hui=Button][data-hui-theme=tria] > button:hover {
}
[data-hui=Button][data-hui-theme=tria][data-hui-active] > button {
}
[data-hui=Button][data-hui-theme=tria][data-hui-active] > button:hover {
}
[data-hui=Button][data-hui-theme=tria][data-hui-disabled] > button {
}
[data-hui=Button][data-hui-theme=tria][data-hui-disabled] > button:hover {
}
[data-hui=Button][data-hui-theme=tria][data-hui-readonly] > button {
}
[data-hui=Button][data-hui-theme=tria][data-hui-readonly] > button:hover {
}
[data-hui=Button][data-hui-theme=tria][data-hui-valid] > button {
}
[data-hui=Button][data-hui-theme=tria][data-hui-valid] > button:hover {
}
[data-hui=Button][data-hui-theme=tria][data-hui-invalid] > button {
}
[data-hui=Button][data-hui-theme=tria][data-hui-invalid] > button:hover {
}
[data-hui=Button] > button {
  /* LAYOUT-DISPLAY */
/*  --hui-udjwls-display-default: ; */
/*  --hui-udjwls-visibility-default: ; */
  /* LAYOUT-POSITION */
/*  --hui-udjwls-position-default: ; */
/*  --hui-udjwls-top-default: ; */
/*  --hui-udjwls-right-default: ; */
/*  --hui-udjwls-bottom-default: ; */
/*  --hui-udjwls-left-default: ; */
/*  --hui-udjwls-z-index-default: ; */
/*  --hui-udjwls-float-default: ; */
/*  --hui-udjwls-clear-default: ; */
/*  --hui-udjwls-align-content-default: ; */
/*  --hui-udjwls-align-items-default: ; */
/*  --hui-udjwls-align-self-default: ; */
/*  --hui-udjwls-order-default: ; */
/*  --hui-udjwls-justify-content-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-udjwls-box-sizing-default: ; */
/*  --hui-udjwls-height-default: ; */
/*  --hui-udjwls-max-height-default: ; */
/*  --hui-udjwls-min-height-default: ; */
/*  --hui-udjwls-width-default: ; */
/*  --hui-udjwls-max-width-default: ; */
/*  --hui-udjwls-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-udjwls-margin-top-default: ; */
/*  --hui-udjwls-margin-right-default: ; */
/*  --hui-udjwls-margin-bottom-default: ; */
/*  --hui-udjwls-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-udjwls-padding-top-default: ; */
/*  --hui-udjwls-padding-right-default: ; */
/*  --hui-udjwls-padding-bottom-default: ; */
/*  --hui-udjwls-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-udjwls-overflow-x-default: ; */
/*  --hui-udjwls-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-udjwls-flex-basis-default: ; */
/*  --hui-udjwls-flex-direction-default: ; */
/*  --hui-udjwls-flex-grow-default: ; */
/*  --hui-udjwls-flex-shrink-default: ; */
/*  --hui-udjwls-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-udjwls-direction-default: ; */
/*  --hui-udjwls-font-family-default: ; */
/*  --hui-udjwls-font-size-default: ; */
/*  --hui-udjwls-font-stretch-default: ; */
/*  --hui-udjwls-font-style-default: ; */
/*  --hui-udjwls-font-weight-default: ; */
/*  --hui-udjwls-letter-spacing-default: ; */
/*  --hui-udjwls-line-height-default: ; */
/*  --hui-udjwls-text-align-default: ; */
/*  --hui-udjwls-text-align-last-default: ; */
/*  --hui-udjwls-text-decoration-color-default: ; */
/*  --hui-udjwls-text-decoration-line-default: ; */
/*  --hui-udjwls-text-decoration-style-default: ; */
/*  --hui-udjwls-text-decoration-thickness-default: ; */
/*  --hui-udjwls-text-indent-default: ; */
/*  --hui-udjwls-text-overflow-default: ; */
/*  --hui-udjwls-text-shadow-default: ; */
/*  --hui-udjwls-text-size-adjust-default: ; */
/*  --hui-udjwls-text-transform-default: ; */
/*  --hui-udjwls-text-wrap-default: ; */
/*  --hui-udjwls-vertical-align-default: ; */
/*  --hui-udjwls-white-space-collapse-default: ; */
/*  --hui-udjwls-word-break-default: ; */
/*  --hui-udjwls-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-udjwls-color-default: ; */
/*  --hui-udjwls-background-attachment-default: ; */
/*  --hui-udjwls-background-clip-default: ; */
/*  --hui-udjwls-background-color-default: ; */
/*  --hui-udjwls-background-image-default: ; */
/*  --hui-udjwls-background-origin-default: ; */
/*  --hui-udjwls-background-position-x-default: ; */
/*  --hui-udjwls-background-position-y-default: ; */
/*  --hui-udjwls-background-repeat-default: ; */
/*  --hui-udjwls-background-size-default: ; */
/*  --hui-udjwls-border-bottom-color-default: ; */
/*  --hui-udjwls-border-bottom-style-default: ; */
/*  --hui-udjwls-border-bottom-width-default: ; */
/*  --hui-udjwls-border-image-outset-default: ; */
/*  --hui-udjwls-border-image-repeat-default: ; */
/*  --hui-udjwls-border-image-slice-default: ; */
/*  --hui-udjwls-border-image-source-default: ; */
/*  --hui-udjwls-border-image-width-default: ; */
/*  --hui-udjwls-border-left-color-default: ; */
/*  --hui-udjwls-border-left-style-default: ; */
/*  --hui-udjwls-border-left-width-default: ; */
/*  --hui-udjwls-border-right-color-default: ; */
/*  --hui-udjwls-border-right-style-default: ; */
/*  --hui-udjwls-border-right-width-default: ; */
/*  --hui-udjwls-border-top-color-default: ; */
/*  --hui-udjwls-border-top-style-default: ; */
/*  --hui-udjwls-border-top-width-default: ; */
/*  --hui-udjwls-box-shadow-default: ; */
/*  --hui-udjwls-cursor-default: ; */
/*  --hui-udjwls-outline-color-default: ; */
/*  --hui-udjwls-outline-offset-default: ; */
/*  --hui-udjwls-outline-style-default: ; */
/*  --hui-udjwls-outline-width-default: ; */
}
[data-hui=Button] > button:hover {
  /* LAYOUT-DISPLAY */
/*  --hui-udjwls-display-default: ; */
/*  --hui-udjwls-visibility-default: ; */
  /* LAYOUT-POSITION */
/*  --hui-udjwls-position-default: ; */
/*  --hui-udjwls-top-default: ; */
/*  --hui-udjwls-right-default: ; */
/*  --hui-udjwls-bottom-default: ; */
/*  --hui-udjwls-left-default: ; */
/*  --hui-udjwls-z-index-default: ; */
/*  --hui-udjwls-float-default: ; */
/*  --hui-udjwls-clear-default: ; */
/*  --hui-udjwls-align-content-default: ; */
/*  --hui-udjwls-align-items-default: ; */
/*  --hui-udjwls-align-self-default: ; */
/*  --hui-udjwls-order-default: ; */
/*  --hui-udjwls-justify-content-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-udjwls-box-sizing-default: ; */
/*  --hui-udjwls-height-default: ; */
/*  --hui-udjwls-max-height-default: ; */
/*  --hui-udjwls-min-height-default: ; */
/*  --hui-udjwls-width-default: ; */
/*  --hui-udjwls-max-width-default: ; */
/*  --hui-udjwls-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-udjwls-margin-top-default: ; */
/*  --hui-udjwls-margin-right-default: ; */
/*  --hui-udjwls-margin-bottom-default: ; */
/*  --hui-udjwls-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-udjwls-padding-top-default: ; */
/*  --hui-udjwls-padding-right-default: ; */
/*  --hui-udjwls-padding-bottom-default: ; */
/*  --hui-udjwls-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-udjwls-overflow-x-default: ; */
/*  --hui-udjwls-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-udjwls-flex-basis-default: ; */
/*  --hui-udjwls-flex-direction-default: ; */
/*  --hui-udjwls-flex-grow-default: ; */
/*  --hui-udjwls-flex-shrink-default: ; */
/*  --hui-udjwls-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-udjwls-direction-default: ; */
/*  --hui-udjwls-font-family-default: ; */
/*  --hui-udjwls-font-size-default: ; */
/*  --hui-udjwls-font-stretch-default: ; */
/*  --hui-udjwls-font-style-default: ; */
/*  --hui-udjwls-font-weight-default: ; */
/*  --hui-udjwls-letter-spacing-default: ; */
/*  --hui-udjwls-line-height-default: ; */
/*  --hui-udjwls-text-align-default: ; */
/*  --hui-udjwls-text-align-last-default: ; */
/*  --hui-udjwls-text-decoration-color-default: ; */
/*  --hui-udjwls-text-decoration-line-default: ; */
/*  --hui-udjwls-text-decoration-style-default: ; */
/*  --hui-udjwls-text-decoration-thickness-default: ; */
/*  --hui-udjwls-text-indent-default: ; */
/*  --hui-udjwls-text-overflow-default: ; */
/*  --hui-udjwls-text-shadow-default: ; */
/*  --hui-udjwls-text-size-adjust-default: ; */
/*  --hui-udjwls-text-transform-default: ; */
/*  --hui-udjwls-text-wrap-default: ; */
/*  --hui-udjwls-vertical-align-default: ; */
/*  --hui-udjwls-white-space-collapse-default: ; */
/*  --hui-udjwls-word-break-default: ; */
/*  --hui-udjwls-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-udjwls-color-default: ; */
/*  --hui-udjwls-background-attachment-default: ; */
/*  --hui-udjwls-background-clip-default: ; */
/*  --hui-udjwls-background-color-default: ; */
/*  --hui-udjwls-background-image-default: ; */
/*  --hui-udjwls-background-origin-default: ; */
/*  --hui-udjwls-background-position-x-default: ; */
/*  --hui-udjwls-background-position-y-default: ; */
/*  --hui-udjwls-background-repeat-default: ; */
/*  --hui-udjwls-background-size-default: ; */
/*  --hui-udjwls-border-bottom-color-default: ; */
/*  --hui-udjwls-border-bottom-style-default: ; */
/*  --hui-udjwls-border-bottom-width-default: ; */
/*  --hui-udjwls-border-image-outset-default: ; */
/*  --hui-udjwls-border-image-repeat-default: ; */
/*  --hui-udjwls-border-image-slice-default: ; */
/*  --hui-udjwls-border-image-source-default: ; */
/*  --hui-udjwls-border-image-width-default: ; */
/*  --hui-udjwls-border-left-color-default: ; */
/*  --hui-udjwls-border-left-style-default: ; */
/*  --hui-udjwls-border-left-width-default: ; */
/*  --hui-udjwls-border-right-color-default: ; */
/*  --hui-udjwls-border-right-style-default: ; */
/*  --hui-udjwls-border-right-width-default: ; */
/*  --hui-udjwls-border-top-color-default: ; */
/*  --hui-udjwls-border-top-style-default: ; */
/*  --hui-udjwls-border-top-width-default: ; */
/*  --hui-udjwls-box-shadow-default: ; */
/*  --hui-udjwls-cursor-default: ; */
/*  --hui-udjwls-outline-color-default: ; */
/*  --hui-udjwls-outline-offset-default: ; */
/*  --hui-udjwls-outline-style-default: ; */
/*  --hui-udjwls-outline-width-default: ; */
}
