[data-hui=Button] {
  /* LAYOUT-SIZING */
  --hui-pomgca-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-spacer-3)) * 2);
  --hui-pomgca-max-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-spacer-3)) * 2);
  --hui-pomgca-min-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-spacer-3)) * 2);
  --hui-pomgca-min-width: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-spacer-3)) * 2);
  /* LAYOUT-PADDING */
  --hui-pomgca-padding-top: calc(var(--hui-default-spacer-5) + var(--hui-default-spacer-3));
  --hui-pomgca-padding-right: var(--hui-default-spacer-7);
  --hui-pomgca-padding-bottom: calc(var(--hui-default-spacer-5) + var(--hui-default-spacer-3));
  --hui-pomgca-padding-left: var(--hui-default-spacer-7);
  /* LAYOUT-OVERFLOW */
  --hui-pomgca-overflow-x: hidden;
  --hui-pomgca-overflow-y: hidden;
  /* TEXT */
  --hui-pomgca-font-size: var(--hui-default-size-1);
  --hui-pomgca-font-weight: var(--hui-default-font-weight);
  --hui-pomgca-line-height: var(--hui-default-line-height);
  --hui-pomgca-text-align: center;
  --hui-pomgca-text-overflow: ellipsis;
  --hui-pomgca-text-wrap: nowrap;
  --hui-pomgca-vertical-align: middle;
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-default-color-text);
  --hui-pomgca-background-color: var(--hui-default-background-color);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-border-bottom-color: var(--hui-default-border-color);
  --hui-pomgca-border-bottom-style: var(--hui-default-border-style);
  --hui-pomgca-border-bottom-width: var(--hui-default-border-width);
  --hui-pomgca-border-bottom-left-radius: var(--hui-default-border-radius-1);
  --hui-pomgca-border-bottom-right-radius: var(--hui-default-border-radius-1);
  --hui-pomgca-border-left-color: var(--hui-default-border-color);
  --hui-pomgca-border-left-style: var(--hui-default-border-style);
  --hui-pomgca-border-left-width: var(--hui-default-border-width);
  --hui-pomgca-border-right-color: var(--hui-default-border-color);
  --hui-pomgca-border-right-style: var(--hui-default-border-style);
  --hui-pomgca-border-right-width: var(--hui-default-border-width);
  --hui-pomgca-border-top-color: var(--hui-default-border-color);
  --hui-pomgca-border-top-style: var(--hui-default-border-style);
  --hui-pomgca-border-top-width: var(--hui-default-border-width);
  --hui-pomgca-border-top-left-radius: var(--hui-default-border-radius-1);
  --hui-pomgca-border-top-right-radius: var(--hui-default-border-radius-1);
  --hui-pomgca-box-shadow: var(--hui-unua-box-shadow);
  --hui-pomgca-cursor: pointer;
}
[data-hui=Button]:hover {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-2);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
}
[data-hui=Button]:active {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-tria-box-shadow);
}
[data-hui=Button]:focus {
  /* APPERANCE */
  --hui-pomgca-outline-color: var(--hui-default-border-color);
  --hui-pomgca-outline-style: none;
  --hui-pomgca-outline-width: var(--hui-default-border-width);
}
[data-hui=Button] > svg {
  /* LAYOUT-SIZING */
  --hui-fqjtnv-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height));
  --hui-fqjtnv-max-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height));
  --hui-fqjtnv-min-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height));
  /* TEXT */
  --hui-fqjtnv-vertical-align: middle;
  /* APPERANCE */
  --hui-fqjtnv-cursor: pointer;
  /* DISPLAY */
  --hui-fqjtnv-display: block;
  --hui-fqjtnv-stroke: var(--hui-default-color-text);
  --hui-fqjtnv-stroke-width: var(--hui-default-border-width);
}
[data-hui=Button][data-hui-active] {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-tria-box-shadow);
}
[data-hui=Button][data-hui-active]:hover {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-tria-box-shadow);
}
[data-hui=Button][data-hui-active]:active {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-tria-box-shadow);
}
[data-hui=Button][data-hui-active]:focus {
}
[data-hui=Button][data-hui-active] > svg {
}
[data-hui=Button][data-hui-disabled] {
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-unua-color-text);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
  --hui-pomgca-cursor: default;
}
[data-hui=Button][data-hui-disabled]:hover {
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-unua-color-text);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
  --hui-pomgca-cursor: default;
}
[data-hui=Button][data-hui-disabled]:active {
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-unua-color-text);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
  --hui-pomgca-cursor: default;
}
[data-hui=Button][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-disabled] > svg {
  --hui-fqjtnv-stroke: var(--hui-unua-color-text);
}
[data-hui=Button][data-hui-readonly] {
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-unua-color-text);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
  --hui-pomgca-cursor: default;
}
[data-hui=Button][data-hui-readonly]:hover {
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-unua-color-text);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
  --hui-pomgca-cursor: default;
}
[data-hui=Button][data-hui-readonly]:active {
  /* APPERANCE */
  --hui-pomgca-color: var(--hui-unua-color-text);
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: var(--hui-default-box-shadow);
  --hui-pomgca-cursor: default;
}
[data-hui=Button][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-readonly] > svg {
}
[data-hui=Button][data-hui-theme~=flat] {
  /* LAYOUT-SIZING */
  --hui-pomgca-min-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-spacer-3) + var(--hui-default-border-width)) * 2);
  /* LAYOUT-PADDING */
  --hui-pomgca-padding-top: calc(var(--hui-default-spacer-5) + var(--hui-default-spacer-3) + var(--hui-default-border-width));
  --hui-pomgca-padding-right: var(--hui-default-spacer-7);
  --hui-pomgca-padding-bottom: calc(var(--hui-default-spacer-5) + var(--hui-default-spacer-3) + var(--hui-default-border-width));
  --hui-pomgca-padding-left: var(--hui-default-spacer-7);
  /* APPERANCE */
  --hui-pomgca-background-color: none;
  --hui-pomgca-background-image: none;
  --hui-pomgca-border-bottom-style: none;
  --hui-pomgca-border-left-style: none;
  --hui-pomgca-border-right-style: none;
  --hui-pomgca-border-top-style: none;
  --hui-pomgca-box-shadow: none;
  --hui-pomgca-outline-style: none;
}
[data-hui=Button][data-hui-theme~=flat]:hover {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
}
[data-hui=Button][data-hui-theme~=flat]:active {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-2);
  --hui-pomgca-box-shadow: inset var(--hui-unua-box-shadow);
}
[data-hui=Button][data-hui-theme~=flat]:focus {
}
[data-hui=Button][data-hui-theme~=flat] > svg {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-active] {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
  --hui-pomgca-box-shadow: inset var(--hui-unua-box-shadow);
}
[data-hui=Button][data-hui-theme~=flat][data-hui-active]:hover {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-1);
}
[data-hui=Button][data-hui-theme~=flat][data-hui-active]:active {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-active]:focus {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-active] > svg {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-disabled] {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-disabled]:hover {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-disabled]:active {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-disabled] > svg {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-readonly] {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-readonly]:hover {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-readonly]:active {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-theme~=flat][data-hui-readonly] > svg {
}
[data-hui=Button][data-hui-theme~=medium] {
  /* LAYOUT-SIZING */
  --hui-pomgca-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4) + var(--hui-default-spacer-4)) * 2);
  --hui-pomgca-max-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4) + var(--hui-default-spacer-4)) * 2);
  --hui-pomgca-min-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4) + var(--hui-default-spacer-4)) * 2);
  --hui-pomgca-min-width: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4) + var(--hui-default-spacer-4)) * 2);
  /* LAYOUT-PADDING */
  --hui-pomgca-padding-top: calc(var(--hui-default-spacer-4) + var(--hui-default-spacer-4));
  --hui-pomgca-padding-right: calc(var(--hui-default-spacer-5) + var(--hui-default-spacer-2));
  --hui-pomgca-padding-bottom: calc(var(--hui-default-spacer-4) + var(--hui-default-spacer-4));
  --hui-pomgca-padding-left: calc(var(--hui-default-spacer-5) + var(--hui-default-spacer-2));
  /* TEXT */
  --hui-pomgca-font-size: var(--hui-default-size-0);
  --hui-pomgca-line-height: var(--hui-default-line-height);
}
[data-hui=Button][data-hui-theme~=medium]:hover {
}
[data-hui=Button][data-hui-theme~=medium]:active {
}
[data-hui=Button][data-hui-theme~=medium]:focus {
}
[data-hui=Button][data-hui-theme~=medium] > svg {
  /* LAYOUT-SIZING */
  --hui-fqjtnv-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height));
  --hui-fqjtnv-max-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height));
  --hui-fqjtnv-min-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height));
}
[data-hui=Button][data-hui-theme~=medium][data-hui-active] {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-active]:hover {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-active]:active {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-active]:focus {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-active] > svg {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-disabled] {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-disabled]:hover {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-disabled]:active {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-disabled] > svg {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-readonly] {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-readonly]:hover {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-readonly]:active {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-theme~=medium][data-hui-readonly] > svg {
}
[data-hui=Button][data-hui-theme~=small] {
  /* LAYOUT-SIZING */
  --hui-pomgca-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4)) * 2);
  --hui-pomgca-max-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4)) * 2);
  --hui-pomgca-min-height: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4)) * 2);
  --hui-pomgca-min-width: calc(var(--hui-default-size-0) * var(--hui-default-line-height) + (var(--hui-default-spacer-4)) * 2);
  /* LAYOUT-PADDING */
  --hui-pomgca-padding-top: calc(var(--hui-default-spacer-4));
  --hui-pomgca-padding-right: var(--hui-default-spacer-5);
  --hui-pomgca-padding-bottom: calc(var(--hui-default-spacer-4));
  --hui-pomgca-padding-left: var(--hui-default-spacer-5);
  /* TEXT */
  --hui-pomgca-font-size: var(--hui-default-size-0);
  --hui-pomgca-line-height: var(--hui-default-line-height);
}
[data-hui=Button][data-hui-theme~=small]:hover {
}
[data-hui=Button][data-hui-theme~=small]:active {
}
[data-hui=Button][data-hui-theme~=small]:focus {
}
[data-hui=Button][data-hui-theme~=small] > svg {
  /* LAYOUT-SIZING */
  --hui-fqjtnv-height: var(--hui-default-size-0);
  --hui-fqjtnv-max-height: var(--hui-default-size-0);
  --hui-fqjtnv-min-height: var(--hui-default-size-0);
}
[data-hui=Button][data-hui-theme~=small][data-hui-active] {
}
[data-hui=Button][data-hui-theme~=small][data-hui-active]:hover {
}
[data-hui=Button][data-hui-theme~=small][data-hui-active]:active {
}
[data-hui=Button][data-hui-theme~=small][data-hui-active]:focus {
}
[data-hui=Button][data-hui-theme~=small][data-hui-active] > svg {
}
[data-hui=Button][data-hui-theme~=small][data-hui-disabled] {
}
[data-hui=Button][data-hui-theme~=small][data-hui-disabled]:hover {
}
[data-hui=Button][data-hui-theme~=small][data-hui-disabled]:active {
}
[data-hui=Button][data-hui-theme~=small][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-theme~=small][data-hui-disabled] > svg {
}
[data-hui=Button][data-hui-theme~=small][data-hui-readonly] {
}
[data-hui=Button][data-hui-theme~=small][data-hui-readonly]:hover {
}
[data-hui=Button][data-hui-theme~=small][data-hui-readonly]:active {
}
[data-hui=Button][data-hui-theme~=small][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-theme~=small][data-hui-readonly] > svg {
}
[data-hui=Button][data-hui-theme~=round] {
  /* APPERANCE */
  --hui-pomgca-border-bottom-left-radius: var(--hui-default-border-radius-3);
  --hui-pomgca-border-bottom-right-radius: var(--hui-default-border-radius-3);
  --hui-pomgca-border-top-left-radius: var(--hui-default-border-radius-3);
  --hui-pomgca-border-top-right-radius: var(--hui-default-border-radius-3);
}
[data-hui=Button][data-hui-theme~=round]:hover {
}
[data-hui=Button][data-hui-theme~=round]:active {
}
[data-hui=Button][data-hui-theme~=round]:focus {
}
[data-hui=Button][data-hui-theme~=round] > svg {
}
[data-hui=Button][data-hui-theme~=round][data-hui-active] {
}
[data-hui=Button][data-hui-theme~=round][data-hui-active]:hover {
}
[data-hui=Button][data-hui-theme~=round][data-hui-active]:active {
}
[data-hui=Button][data-hui-theme~=round][data-hui-active]:focus {
}
[data-hui=Button][data-hui-theme~=round][data-hui-active] > svg {
}
[data-hui=Button][data-hui-theme~=round][data-hui-disabled] {
}
[data-hui=Button][data-hui-theme~=round][data-hui-disabled]:hover {
}
[data-hui=Button][data-hui-theme~=round][data-hui-disabled]:active {
}
[data-hui=Button][data-hui-theme~=round][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-theme~=round][data-hui-disabled] > svg {
}
[data-hui=Button][data-hui-theme~=round][data-hui-readonly] {
}
[data-hui=Button][data-hui-theme~=round][data-hui-readonly]:hover {
}
[data-hui=Button][data-hui-theme~=round][data-hui-readonly]:active {
}
[data-hui=Button][data-hui-theme~=round][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-theme~=round][data-hui-readonly] > svg {
}
[data-hui=Button][data-hui-theme~=marked] {
  /* APPERANCE */
  --hui-pomgca-outline-color: var(--hui-default-border-color);
  --hui-pomgca-outline-offset: var(--hui-default-spacer-3);
  --hui-pomgca-outline-style: var(--hui-default-border-style);
  --hui-pomgca-outline-width: var(--hui-default-border-width);
}
[data-hui=Button][data-hui-theme~=marked]:hover {
}
[data-hui=Button][data-hui-theme~=marked]:active {
}
[data-hui=Button][data-hui-theme~=marked]:focus {
  /* APPERANCE */
  --hui-pomgca-outline-color: var(--hui-default-border-color);
  --hui-pomgca-outline-offset: var(--hui-default-spacer-3);
  --hui-pomgca-outline-style: var(--hui-default-border-style);
  --hui-pomgca-outline-width: var(--hui-default-border-width);
}
[data-hui=Button][data-hui-theme~=marked] > svg {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-active] {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-active]:hover {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-active]:active {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-active]:focus {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-active] > svg {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-disabled] {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-disabled]:hover {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-disabled]:active {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-disabled] > svg {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-readonly] {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-readonly]:hover {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-readonly]:active {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-theme~=marked][data-hui-readonly] > svg {
}
[data-hui=Button][data-hui-theme~=bg] {
  /* APPERANCE */
  --hui-pomgca-background-image: var(--hui-default-gradient-2);
}
[data-hui=Button][data-hui-theme~=bg]:hover {
}
[data-hui=Button][data-hui-theme~=bg]:active {
}
[data-hui=Button][data-hui-theme~=bg]:focus {
}
[data-hui=Button][data-hui-theme~=bg] > svg {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-active] {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-active]:hover {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-active]:active {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-active]:focus {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-active] > svg {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-disabled] {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-disabled]:hover {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-disabled]:active {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-disabled]:focus {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-disabled] > svg {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-readonly] {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-readonly]:hover {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-readonly]:active {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-readonly]:focus {
}
[data-hui=Button][data-hui-theme~=bg][data-hui-readonly] > svg {
}
[data-hui=Button] {
  /* LAYOUT-POSITION */
/*  --hui-pomgca-position-default: ; */
/*  --hui-pomgca-top-default: ; */
/*  --hui-pomgca-right-default: ; */
/*  --hui-pomgca-bottom-default: ; */
/*  --hui-pomgca-left-default: ; */
/*  --hui-pomgca-z-index-default: ; */
/*  --hui-pomgca-float-default: ; */
/*  --hui-pomgca-clear-default: ; */
/*  --hui-pomgca-align-self-default: ; */
/*  --hui-pomgca-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-pomgca-box-sizing-default: ; */
/*  --hui-pomgca-height-default: ; */
/*  --hui-pomgca-max-height-default: ; */
/*  --hui-pomgca-min-height-default: ; */
/*  --hui-pomgca-width-default: ; */
/*  --hui-pomgca-max-width-default: ; */
/*  --hui-pomgca-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-pomgca-margin-top-default: ; */
/*  --hui-pomgca-margin-right-default: ; */
/*  --hui-pomgca-margin-bottom-default: ; */
/*  --hui-pomgca-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-pomgca-padding-top-default: ; */
/*  --hui-pomgca-padding-right-default: ; */
/*  --hui-pomgca-padding-bottom-default: ; */
/*  --hui-pomgca-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-pomgca-overflow-x-default: ; */
/*  --hui-pomgca-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-pomgca-flex-basis-default: ; */
/*  --hui-pomgca-flex-direction-default: ; */
/*  --hui-pomgca-flex-grow-default: ; */
/*  --hui-pomgca-flex-shrink-default: ; */
/*  --hui-pomgca-flex-wrap-default: ; */
/*  --hui-pomgca-gap-default: ; */
/*  --hui-pomgca-align-content-default: ; */
/*  --hui-pomgca-justify-content-default: ; */
/*  --hui-pomgca-align-items-default: ; */
  /* TEXT */
/*  --hui-pomgca-direction-default: ; */
/*  --hui-pomgca-font-family-default: ; */
/*  --hui-pomgca-font-size-default: ; */
/*  --hui-pomgca-font-stretch-default: ; */
/*  --hui-pomgca-font-style-default: ; */
/*  --hui-pomgca-font-weight-default: ; */
/*  --hui-pomgca-letter-spacing-default: ; */
/*  --hui-pomgca-line-height-default: ; */
/*  --hui-pomgca-text-align-default: ; */
/*  --hui-pomgca-text-align-last-default: ; */
/*  --hui-pomgca-text-decoration-color-default: ; */
/*  --hui-pomgca-text-decoration-line-default: ; */
/*  --hui-pomgca-text-decoration-style-default: ; */
/*  --hui-pomgca-text-decoration-thickness-default: ; */
/*  --hui-pomgca-text-indent-default: ; */
/*  --hui-pomgca-text-overflow-default: ; */
/*  --hui-pomgca-text-shadow-default: ; */
/*  --hui-pomgca-text-size-adjust-default: ; */
/*  --hui-pomgca-text-transform-default: ; */
/*  --hui-pomgca-text-wrap-default: ; */
/*  --hui-pomgca-vertical-align-default: ; */
/*  --hui-pomgca-white-space-collapse-default: ; */
/*  --hui-pomgca-word-break-default: ; */
/*  --hui-pomgca-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-pomgca-visibility-default: ; */
/*  --hui-pomgca-color-default: ; */
/*  --hui-pomgca-background-attachment-default: ; */
/*  --hui-pomgca-background-clip-default: ; */
/*  --hui-pomgca-background-color-default: ; */
/*  --hui-pomgca-background-image-default: ; */
/*  --hui-pomgca-background-origin-default: ; */
/*  --hui-pomgca-background-position-x-default: ; */
/*  --hui-pomgca-background-position-y-default: ; */
/*  --hui-pomgca-background-repeat-default: ; */
/*  --hui-pomgca-background-size-default: ; */
/*  --hui-pomgca-border-bottom-color-default: ; */
/*  --hui-pomgca-border-bottom-style-default: ; */
/*  --hui-pomgca-border-bottom-width-default: ; */
/*  --hui-pomgca-border-bottom-left-radius-default: ; */
/*  --hui-pomgca-border-bottom-right-radius-default: ; */
/*  --hui-pomgca-border-image-outset-default: ; */
/*  --hui-pomgca-border-image-repeat-default: ; */
/*  --hui-pomgca-border-image-slice-default: ; */
/*  --hui-pomgca-border-image-source-default: ; */
/*  --hui-pomgca-border-image-width-default: ; */
/*  --hui-pomgca-border-left-color-default: ; */
/*  --hui-pomgca-border-left-style-default: ; */
/*  --hui-pomgca-border-left-width-default: ; */
/*  --hui-pomgca-border-right-color-default: ; */
/*  --hui-pomgca-border-right-style-default: ; */
/*  --hui-pomgca-border-right-width-default: ; */
/*  --hui-pomgca-border-top-color-default: ; */
/*  --hui-pomgca-border-top-style-default: ; */
/*  --hui-pomgca-border-top-width-default: ; */
/*  --hui-pomgca-border-top-left-radius-default: ; */
/*  --hui-pomgca-border-top-right-radius-default: ; */
/*  --hui-pomgca-box-shadow-default: ; */
/*  --hui-pomgca-cursor-default: ; */
/*  --hui-pomgca-outline-color-default: ; */
/*  --hui-pomgca-outline-offset-default: ; */
/*  --hui-pomgca-outline-style-default: ; */
/*  --hui-pomgca-outline-width-default: ; */
/*  --hui-pomgca-scrollbar-color-default: ; */
/*  --hui-pomgca-scrollbar-gutter-default: ; */
/*  --hui-pomgca-scrollbar-width-default: ; */
}
[data-hui=Button]:hover {
  /* LAYOUT-POSITION */
/*  --hui-pomgca-position-default: ; */
/*  --hui-pomgca-top-default: ; */
/*  --hui-pomgca-right-default: ; */
/*  --hui-pomgca-bottom-default: ; */
/*  --hui-pomgca-left-default: ; */
/*  --hui-pomgca-z-index-default: ; */
/*  --hui-pomgca-float-default: ; */
/*  --hui-pomgca-clear-default: ; */
/*  --hui-pomgca-align-self-default: ; */
/*  --hui-pomgca-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-pomgca-box-sizing-default: ; */
/*  --hui-pomgca-height-default: ; */
/*  --hui-pomgca-max-height-default: ; */
/*  --hui-pomgca-min-height-default: ; */
/*  --hui-pomgca-width-default: ; */
/*  --hui-pomgca-max-width-default: ; */
/*  --hui-pomgca-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-pomgca-margin-top-default: ; */
/*  --hui-pomgca-margin-right-default: ; */
/*  --hui-pomgca-margin-bottom-default: ; */
/*  --hui-pomgca-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-pomgca-padding-top-default: ; */
/*  --hui-pomgca-padding-right-default: ; */
/*  --hui-pomgca-padding-bottom-default: ; */
/*  --hui-pomgca-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-pomgca-overflow-x-default: ; */
/*  --hui-pomgca-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-pomgca-flex-basis-default: ; */
/*  --hui-pomgca-flex-direction-default: ; */
/*  --hui-pomgca-flex-grow-default: ; */
/*  --hui-pomgca-flex-shrink-default: ; */
/*  --hui-pomgca-flex-wrap-default: ; */
/*  --hui-pomgca-gap-default: ; */
/*  --hui-pomgca-align-content-default: ; */
/*  --hui-pomgca-justify-content-default: ; */
/*  --hui-pomgca-align-items-default: ; */
  /* TEXT */
/*  --hui-pomgca-direction-default: ; */
/*  --hui-pomgca-font-family-default: ; */
/*  --hui-pomgca-font-size-default: ; */
/*  --hui-pomgca-font-stretch-default: ; */
/*  --hui-pomgca-font-style-default: ; */
/*  --hui-pomgca-font-weight-default: ; */
/*  --hui-pomgca-letter-spacing-default: ; */
/*  --hui-pomgca-line-height-default: ; */
/*  --hui-pomgca-text-align-default: ; */
/*  --hui-pomgca-text-align-last-default: ; */
/*  --hui-pomgca-text-decoration-color-default: ; */
/*  --hui-pomgca-text-decoration-line-default: ; */
/*  --hui-pomgca-text-decoration-style-default: ; */
/*  --hui-pomgca-text-decoration-thickness-default: ; */
/*  --hui-pomgca-text-indent-default: ; */
/*  --hui-pomgca-text-overflow-default: ; */
/*  --hui-pomgca-text-shadow-default: ; */
/*  --hui-pomgca-text-size-adjust-default: ; */
/*  --hui-pomgca-text-transform-default: ; */
/*  --hui-pomgca-text-wrap-default: ; */
/*  --hui-pomgca-vertical-align-default: ; */
/*  --hui-pomgca-white-space-collapse-default: ; */
/*  --hui-pomgca-word-break-default: ; */
/*  --hui-pomgca-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-pomgca-visibility-default: ; */
/*  --hui-pomgca-color-default: ; */
/*  --hui-pomgca-background-attachment-default: ; */
/*  --hui-pomgca-background-clip-default: ; */
/*  --hui-pomgca-background-color-default: ; */
/*  --hui-pomgca-background-image-default: ; */
/*  --hui-pomgca-background-origin-default: ; */
/*  --hui-pomgca-background-position-x-default: ; */
/*  --hui-pomgca-background-position-y-default: ; */
/*  --hui-pomgca-background-repeat-default: ; */
/*  --hui-pomgca-background-size-default: ; */
/*  --hui-pomgca-border-bottom-color-default: ; */
/*  --hui-pomgca-border-bottom-style-default: ; */
/*  --hui-pomgca-border-bottom-width-default: ; */
/*  --hui-pomgca-border-bottom-left-radius-default: ; */
/*  --hui-pomgca-border-bottom-right-radius-default: ; */
/*  --hui-pomgca-border-image-outset-default: ; */
/*  --hui-pomgca-border-image-repeat-default: ; */
/*  --hui-pomgca-border-image-slice-default: ; */
/*  --hui-pomgca-border-image-source-default: ; */
/*  --hui-pomgca-border-image-width-default: ; */
/*  --hui-pomgca-border-left-color-default: ; */
/*  --hui-pomgca-border-left-style-default: ; */
/*  --hui-pomgca-border-left-width-default: ; */
/*  --hui-pomgca-border-right-color-default: ; */
/*  --hui-pomgca-border-right-style-default: ; */
/*  --hui-pomgca-border-right-width-default: ; */
/*  --hui-pomgca-border-top-color-default: ; */
/*  --hui-pomgca-border-top-style-default: ; */
/*  --hui-pomgca-border-top-width-default: ; */
/*  --hui-pomgca-border-top-left-radius-default: ; */
/*  --hui-pomgca-border-top-right-radius-default: ; */
/*  --hui-pomgca-box-shadow-default: ; */
/*  --hui-pomgca-cursor-default: ; */
/*  --hui-pomgca-outline-color-default: ; */
/*  --hui-pomgca-outline-offset-default: ; */
/*  --hui-pomgca-outline-style-default: ; */
/*  --hui-pomgca-outline-width-default: ; */
/*  --hui-pomgca-scrollbar-color-default: ; */
/*  --hui-pomgca-scrollbar-gutter-default: ; */
/*  --hui-pomgca-scrollbar-width-default: ; */
}
[data-hui=Button]:active {
  /* LAYOUT-POSITION */
/*  --hui-pomgca-position-default: ; */
/*  --hui-pomgca-top-default: ; */
/*  --hui-pomgca-right-default: ; */
/*  --hui-pomgca-bottom-default: ; */
/*  --hui-pomgca-left-default: ; */
/*  --hui-pomgca-z-index-default: ; */
/*  --hui-pomgca-float-default: ; */
/*  --hui-pomgca-clear-default: ; */
/*  --hui-pomgca-align-self-default: ; */
/*  --hui-pomgca-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-pomgca-box-sizing-default: ; */
/*  --hui-pomgca-height-default: ; */
/*  --hui-pomgca-max-height-default: ; */
/*  --hui-pomgca-min-height-default: ; */
/*  --hui-pomgca-width-default: ; */
/*  --hui-pomgca-max-width-default: ; */
/*  --hui-pomgca-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-pomgca-margin-top-default: ; */
/*  --hui-pomgca-margin-right-default: ; */
/*  --hui-pomgca-margin-bottom-default: ; */
/*  --hui-pomgca-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-pomgca-padding-top-default: ; */
/*  --hui-pomgca-padding-right-default: ; */
/*  --hui-pomgca-padding-bottom-default: ; */
/*  --hui-pomgca-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-pomgca-overflow-x-default: ; */
/*  --hui-pomgca-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-pomgca-flex-basis-default: ; */
/*  --hui-pomgca-flex-direction-default: ; */
/*  --hui-pomgca-flex-grow-default: ; */
/*  --hui-pomgca-flex-shrink-default: ; */
/*  --hui-pomgca-flex-wrap-default: ; */
/*  --hui-pomgca-gap-default: ; */
/*  --hui-pomgca-align-content-default: ; */
/*  --hui-pomgca-justify-content-default: ; */
/*  --hui-pomgca-align-items-default: ; */
  /* TEXT */
/*  --hui-pomgca-direction-default: ; */
/*  --hui-pomgca-font-family-default: ; */
/*  --hui-pomgca-font-size-default: ; */
/*  --hui-pomgca-font-stretch-default: ; */
/*  --hui-pomgca-font-style-default: ; */
/*  --hui-pomgca-font-weight-default: ; */
/*  --hui-pomgca-letter-spacing-default: ; */
/*  --hui-pomgca-line-height-default: ; */
/*  --hui-pomgca-text-align-default: ; */
/*  --hui-pomgca-text-align-last-default: ; */
/*  --hui-pomgca-text-decoration-color-default: ; */
/*  --hui-pomgca-text-decoration-line-default: ; */
/*  --hui-pomgca-text-decoration-style-default: ; */
/*  --hui-pomgca-text-decoration-thickness-default: ; */
/*  --hui-pomgca-text-indent-default: ; */
/*  --hui-pomgca-text-overflow-default: ; */
/*  --hui-pomgca-text-shadow-default: ; */
/*  --hui-pomgca-text-size-adjust-default: ; */
/*  --hui-pomgca-text-transform-default: ; */
/*  --hui-pomgca-text-wrap-default: ; */
/*  --hui-pomgca-vertical-align-default: ; */
/*  --hui-pomgca-white-space-collapse-default: ; */
/*  --hui-pomgca-word-break-default: ; */
/*  --hui-pomgca-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-pomgca-visibility-default: ; */
/*  --hui-pomgca-color-default: ; */
/*  --hui-pomgca-background-attachment-default: ; */
/*  --hui-pomgca-background-clip-default: ; */
/*  --hui-pomgca-background-color-default: ; */
/*  --hui-pomgca-background-image-default: ; */
/*  --hui-pomgca-background-origin-default: ; */
/*  --hui-pomgca-background-position-x-default: ; */
/*  --hui-pomgca-background-position-y-default: ; */
/*  --hui-pomgca-background-repeat-default: ; */
/*  --hui-pomgca-background-size-default: ; */
/*  --hui-pomgca-border-bottom-color-default: ; */
/*  --hui-pomgca-border-bottom-style-default: ; */
/*  --hui-pomgca-border-bottom-width-default: ; */
/*  --hui-pomgca-border-bottom-left-radius-default: ; */
/*  --hui-pomgca-border-bottom-right-radius-default: ; */
/*  --hui-pomgca-border-image-outset-default: ; */
/*  --hui-pomgca-border-image-repeat-default: ; */
/*  --hui-pomgca-border-image-slice-default: ; */
/*  --hui-pomgca-border-image-source-default: ; */
/*  --hui-pomgca-border-image-width-default: ; */
/*  --hui-pomgca-border-left-color-default: ; */
/*  --hui-pomgca-border-left-style-default: ; */
/*  --hui-pomgca-border-left-width-default: ; */
/*  --hui-pomgca-border-right-color-default: ; */
/*  --hui-pomgca-border-right-style-default: ; */
/*  --hui-pomgca-border-right-width-default: ; */
/*  --hui-pomgca-border-top-color-default: ; */
/*  --hui-pomgca-border-top-style-default: ; */
/*  --hui-pomgca-border-top-width-default: ; */
/*  --hui-pomgca-border-top-left-radius-default: ; */
/*  --hui-pomgca-border-top-right-radius-default: ; */
/*  --hui-pomgca-box-shadow-default: ; */
/*  --hui-pomgca-cursor-default: ; */
/*  --hui-pomgca-outline-color-default: ; */
/*  --hui-pomgca-outline-offset-default: ; */
/*  --hui-pomgca-outline-style-default: ; */
/*  --hui-pomgca-outline-width-default: ; */
/*  --hui-pomgca-scrollbar-color-default: ; */
/*  --hui-pomgca-scrollbar-gutter-default: ; */
/*  --hui-pomgca-scrollbar-width-default: ; */
}
[data-hui=Button]:focus {
  /* LAYOUT-POSITION */
/*  --hui-pomgca-position-default: ; */
/*  --hui-pomgca-top-default: ; */
/*  --hui-pomgca-right-default: ; */
/*  --hui-pomgca-bottom-default: ; */
/*  --hui-pomgca-left-default: ; */
/*  --hui-pomgca-z-index-default: ; */
/*  --hui-pomgca-float-default: ; */
/*  --hui-pomgca-clear-default: ; */
/*  --hui-pomgca-align-self-default: ; */
/*  --hui-pomgca-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-pomgca-box-sizing-default: ; */
/*  --hui-pomgca-height-default: ; */
/*  --hui-pomgca-max-height-default: ; */
/*  --hui-pomgca-min-height-default: ; */
/*  --hui-pomgca-width-default: ; */
/*  --hui-pomgca-max-width-default: ; */
/*  --hui-pomgca-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-pomgca-margin-top-default: ; */
/*  --hui-pomgca-margin-right-default: ; */
/*  --hui-pomgca-margin-bottom-default: ; */
/*  --hui-pomgca-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-pomgca-padding-top-default: ; */
/*  --hui-pomgca-padding-right-default: ; */
/*  --hui-pomgca-padding-bottom-default: ; */
/*  --hui-pomgca-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-pomgca-overflow-x-default: ; */
/*  --hui-pomgca-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-pomgca-flex-basis-default: ; */
/*  --hui-pomgca-flex-direction-default: ; */
/*  --hui-pomgca-flex-grow-default: ; */
/*  --hui-pomgca-flex-shrink-default: ; */
/*  --hui-pomgca-flex-wrap-default: ; */
/*  --hui-pomgca-gap-default: ; */
/*  --hui-pomgca-align-content-default: ; */
/*  --hui-pomgca-justify-content-default: ; */
/*  --hui-pomgca-align-items-default: ; */
  /* TEXT */
/*  --hui-pomgca-direction-default: ; */
/*  --hui-pomgca-font-family-default: ; */
/*  --hui-pomgca-font-size-default: ; */
/*  --hui-pomgca-font-stretch-default: ; */
/*  --hui-pomgca-font-style-default: ; */
/*  --hui-pomgca-font-weight-default: ; */
/*  --hui-pomgca-letter-spacing-default: ; */
/*  --hui-pomgca-line-height-default: ; */
/*  --hui-pomgca-text-align-default: ; */
/*  --hui-pomgca-text-align-last-default: ; */
/*  --hui-pomgca-text-decoration-color-default: ; */
/*  --hui-pomgca-text-decoration-line-default: ; */
/*  --hui-pomgca-text-decoration-style-default: ; */
/*  --hui-pomgca-text-decoration-thickness-default: ; */
/*  --hui-pomgca-text-indent-default: ; */
/*  --hui-pomgca-text-overflow-default: ; */
/*  --hui-pomgca-text-shadow-default: ; */
/*  --hui-pomgca-text-size-adjust-default: ; */
/*  --hui-pomgca-text-transform-default: ; */
/*  --hui-pomgca-text-wrap-default: ; */
/*  --hui-pomgca-vertical-align-default: ; */
/*  --hui-pomgca-white-space-collapse-default: ; */
/*  --hui-pomgca-word-break-default: ; */
/*  --hui-pomgca-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-pomgca-visibility-default: ; */
/*  --hui-pomgca-color-default: ; */
/*  --hui-pomgca-background-attachment-default: ; */
/*  --hui-pomgca-background-clip-default: ; */
/*  --hui-pomgca-background-color-default: ; */
/*  --hui-pomgca-background-image-default: ; */
/*  --hui-pomgca-background-origin-default: ; */
/*  --hui-pomgca-background-position-x-default: ; */
/*  --hui-pomgca-background-position-y-default: ; */
/*  --hui-pomgca-background-repeat-default: ; */
/*  --hui-pomgca-background-size-default: ; */
/*  --hui-pomgca-border-bottom-color-default: ; */
/*  --hui-pomgca-border-bottom-style-default: ; */
/*  --hui-pomgca-border-bottom-width-default: ; */
/*  --hui-pomgca-border-bottom-left-radius-default: ; */
/*  --hui-pomgca-border-bottom-right-radius-default: ; */
/*  --hui-pomgca-border-image-outset-default: ; */
/*  --hui-pomgca-border-image-repeat-default: ; */
/*  --hui-pomgca-border-image-slice-default: ; */
/*  --hui-pomgca-border-image-source-default: ; */
/*  --hui-pomgca-border-image-width-default: ; */
/*  --hui-pomgca-border-left-color-default: ; */
/*  --hui-pomgca-border-left-style-default: ; */
/*  --hui-pomgca-border-left-width-default: ; */
/*  --hui-pomgca-border-right-color-default: ; */
/*  --hui-pomgca-border-right-style-default: ; */
/*  --hui-pomgca-border-right-width-default: ; */
/*  --hui-pomgca-border-top-color-default: ; */
/*  --hui-pomgca-border-top-style-default: ; */
/*  --hui-pomgca-border-top-width-default: ; */
/*  --hui-pomgca-border-top-left-radius-default: ; */
/*  --hui-pomgca-border-top-right-radius-default: ; */
/*  --hui-pomgca-box-shadow-default: ; */
/*  --hui-pomgca-cursor-default: ; */
/*  --hui-pomgca-outline-color-default: ; */
/*  --hui-pomgca-outline-offset-default: ; */
/*  --hui-pomgca-outline-style-default: ; */
/*  --hui-pomgca-outline-width-default: ; */
/*  --hui-pomgca-scrollbar-color-default: ; */
/*  --hui-pomgca-scrollbar-gutter-default: ; */
/*  --hui-pomgca-scrollbar-width-default: ; */
}
[data-hui=Button] > svg {
  /* LAYOUT-POSITION */
/*  --hui-fqjtnv-position-default: ; */
/*  --hui-fqjtnv-top-default: ; */
/*  --hui-fqjtnv-right-default: ; */
/*  --hui-fqjtnv-bottom-default: ; */
/*  --hui-fqjtnv-left-default: ; */
/*  --hui-fqjtnv-z-index-default: ; */
/*  --hui-fqjtnv-float-default: ; */
/*  --hui-fqjtnv-clear-default: ; */
/*  --hui-fqjtnv-align-self-default: ; */
/*  --hui-fqjtnv-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-fqjtnv-box-sizing-default: ; */
/*  --hui-fqjtnv-height-default: ; */
/*  --hui-fqjtnv-max-height-default: ; */
/*  --hui-fqjtnv-min-height-default: ; */
/*  --hui-fqjtnv-width-default: ; */
/*  --hui-fqjtnv-max-width-default: ; */
/*  --hui-fqjtnv-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-fqjtnv-margin-top-default: ; */
/*  --hui-fqjtnv-margin-right-default: ; */
/*  --hui-fqjtnv-margin-bottom-default: ; */
/*  --hui-fqjtnv-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-fqjtnv-padding-top-default: ; */
/*  --hui-fqjtnv-padding-right-default: ; */
/*  --hui-fqjtnv-padding-bottom-default: ; */
/*  --hui-fqjtnv-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-fqjtnv-overflow-x-default: ; */
/*  --hui-fqjtnv-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-fqjtnv-flex-basis-default: ; */
/*  --hui-fqjtnv-flex-direction-default: ; */
/*  --hui-fqjtnv-flex-grow-default: ; */
/*  --hui-fqjtnv-flex-shrink-default: ; */
/*  --hui-fqjtnv-flex-wrap-default: ; */
/*  --hui-fqjtnv-gap-default: ; */
/*  --hui-fqjtnv-align-content-default: ; */
/*  --hui-fqjtnv-justify-content-default: ; */
/*  --hui-fqjtnv-align-items-default: ; */
  /* TEXT */
/*  --hui-fqjtnv-direction-default: ; */
/*  --hui-fqjtnv-font-family-default: ; */
/*  --hui-fqjtnv-font-size-default: ; */
/*  --hui-fqjtnv-font-stretch-default: ; */
/*  --hui-fqjtnv-font-style-default: ; */
/*  --hui-fqjtnv-font-weight-default: ; */
/*  --hui-fqjtnv-letter-spacing-default: ; */
/*  --hui-fqjtnv-line-height-default: ; */
/*  --hui-fqjtnv-text-align-default: ; */
/*  --hui-fqjtnv-text-align-last-default: ; */
/*  --hui-fqjtnv-text-decoration-color-default: ; */
/*  --hui-fqjtnv-text-decoration-line-default: ; */
/*  --hui-fqjtnv-text-decoration-style-default: ; */
/*  --hui-fqjtnv-text-decoration-thickness-default: ; */
/*  --hui-fqjtnv-text-indent-default: ; */
/*  --hui-fqjtnv-text-overflow-default: ; */
/*  --hui-fqjtnv-text-shadow-default: ; */
/*  --hui-fqjtnv-text-size-adjust-default: ; */
/*  --hui-fqjtnv-text-transform-default: ; */
/*  --hui-fqjtnv-text-wrap-default: ; */
/*  --hui-fqjtnv-vertical-align-default: ; */
/*  --hui-fqjtnv-white-space-collapse-default: ; */
/*  --hui-fqjtnv-word-break-default: ; */
/*  --hui-fqjtnv-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-fqjtnv-visibility-default: ; */
/*  --hui-fqjtnv-color-default: ; */
/*  --hui-fqjtnv-background-attachment-default: ; */
/*  --hui-fqjtnv-background-clip-default: ; */
/*  --hui-fqjtnv-background-color-default: ; */
/*  --hui-fqjtnv-background-image-default: ; */
/*  --hui-fqjtnv-background-origin-default: ; */
/*  --hui-fqjtnv-background-position-x-default: ; */
/*  --hui-fqjtnv-background-position-y-default: ; */
/*  --hui-fqjtnv-background-repeat-default: ; */
/*  --hui-fqjtnv-background-size-default: ; */
/*  --hui-fqjtnv-border-bottom-color-default: ; */
/*  --hui-fqjtnv-border-bottom-style-default: ; */
/*  --hui-fqjtnv-border-bottom-width-default: ; */
/*  --hui-fqjtnv-border-bottom-left-radius-default: ; */
/*  --hui-fqjtnv-border-bottom-right-radius-default: ; */
/*  --hui-fqjtnv-border-image-outset-default: ; */
/*  --hui-fqjtnv-border-image-repeat-default: ; */
/*  --hui-fqjtnv-border-image-slice-default: ; */
/*  --hui-fqjtnv-border-image-source-default: ; */
/*  --hui-fqjtnv-border-image-width-default: ; */
/*  --hui-fqjtnv-border-left-color-default: ; */
/*  --hui-fqjtnv-border-left-style-default: ; */
/*  --hui-fqjtnv-border-left-width-default: ; */
/*  --hui-fqjtnv-border-right-color-default: ; */
/*  --hui-fqjtnv-border-right-style-default: ; */
/*  --hui-fqjtnv-border-right-width-default: ; */
/*  --hui-fqjtnv-border-top-color-default: ; */
/*  --hui-fqjtnv-border-top-style-default: ; */
/*  --hui-fqjtnv-border-top-width-default: ; */
/*  --hui-fqjtnv-border-top-left-radius-default: ; */
/*  --hui-fqjtnv-border-top-right-radius-default: ; */
/*  --hui-fqjtnv-box-shadow-default: ; */
/*  --hui-fqjtnv-cursor-default: ; */
/*  --hui-fqjtnv-outline-color-default: ; */
/*  --hui-fqjtnv-outline-offset-default: ; */
/*  --hui-fqjtnv-outline-style-default: ; */
/*  --hui-fqjtnv-outline-width-default: ; */
/*  --hui-fqjtnv-scrollbar-color-default: ; */
/*  --hui-fqjtnv-scrollbar-gutter-default: ; */
/*  --hui-fqjtnv-scrollbar-width-default: ; */
  /* DISPLAY */
/*  --hui-fqjtnv-display-default: ; */
/*  --hui-fqjtnv-stroke-default: ; */
/*  --hui-fqjtnv-stroke-width-default: ; */
}