[data-hui=MultiSelect] {
  /* LAYOUT-POSITION */
  --hui-dsdbsk-position: relative;
  /* LAYOUT-SIZING */
  --hui-dsdbsk-min-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-spacer-3)) * 2);
  --hui-dsdbsk-width: 100%;
  --hui-dsdbsk-max-width: min(500px, 100vw);
  --hui-dsdbsk-min-width: 200px;
  /* LAYOUT-PADDING */
  --hui-dsdbsk-padding-top: var(--hui-default-spacer-5);
  --hui-dsdbsk-padding-right: var(--hui-default-spacer-6);
  --hui-dsdbsk-padding-bottom: var(--hui-default-spacer-5);
  --hui-dsdbsk-padding-left: var(--hui-default-spacer-6);
  /* LAYOUT-OVERFLOW */
  --hui-dsdbsk-overflow-x: visible;
  --hui-dsdbsk-overflow-y: visible;
  /* LAYOUT-FLEX */
  --hui-dsdbsk-flex-direction: row;
  --hui-dsdbsk-flex-wrap: wrap;
  --hui-dsdbsk-gap: var(--hui-default-spacer-5);
  --hui-dsdbsk-align-content: center;
  --hui-dsdbsk-justify-content: stretch;
  --hui-dsdbsk-align-items: center;
  /* APPERANCE */
  --hui-dsdbsk-background-color: var(--hui-default-background-color);
  --hui-dsdbsk-background-image: none;
  --hui-dsdbsk-border-bottom-color: var(--hui-default-border-color);
  --hui-dsdbsk-border-bottom-style: var(--hui-default-border-style);
  --hui-dsdbsk-border-bottom-width: var(--hui-default-border-width);
  --hui-dsdbsk-border-bottom-left-radius: var(--hui-default-border-radius-1);
  --hui-dsdbsk-border-bottom-right-radius: var(--hui-default-border-radius-1);
  --hui-dsdbsk-border-left-color: var(--hui-default-border-color);
  --hui-dsdbsk-border-left-style: var(--hui-default-border-style);
  --hui-dsdbsk-border-left-width: var(--hui-default-border-width);
  --hui-dsdbsk-border-right-color: var(--hui-default-border-color);
  --hui-dsdbsk-border-right-style: var(--hui-default-border-style);
  --hui-dsdbsk-border-right-width: var(--hui-default-border-width);
  --hui-dsdbsk-border-top-color: var(--hui-default-border-color);
  --hui-dsdbsk-border-top-style: var(--hui-default-border-style);
  --hui-dsdbsk-border-top-width: var(--hui-default-border-width);
  --hui-dsdbsk-border-top-left-radius: var(--hui-default-border-radius-1);
  --hui-dsdbsk-border-top-right-radius: var(--hui-default-border-radius-1);
  --hui-dsdbsk-box-shadow: var(--hui-tria-box-shadow);
  /* DISPLAY */
  --hui-dsdbsk-display: flex;
}
[data-hui=MultiSelect] > input {
  /* LAYOUT-SIZING */
  --hui-jxwoey-max-width: 100%;
  /* LAYOUT-PADDING */
  --hui-jxwoey-padding-top: var(--hui-default-spacer-3);
  --hui-jxwoey-padding-right: 0;
  --hui-jxwoey-padding-bottom: var(--hui-default-spacer-3);
  --hui-jxwoey-padding-left: 0;
  /* LAYOUT-FLEX */
  --hui-jxwoey-flex-grow: 2;
  /* TEXT */
  --hui-jxwoey-font-size: var(--hui-default-font-size);
  --hui-jxwoey-font-weight: var(--hui-default-font-weight);
  --hui-jxwoey-line-height: var(--hui-default-line-height);
  --hui-jxwoey-text-align: center;
  /* APPERANCE */
  --hui-jxwoey-color: var(--hui-default-color-text);
  --hui-jxwoey-cursor: pointer;
}
[data-hui=MultiSelect] > input::placeholder {
  --hui-vobkea-font-size: var(--hui-default-size-0);
}
[data-hui=MultiSelect] > button[data-hui=Badge] {
  --hui-dotzua-flex-grow: 1;
  --hui-dotzua-cursor: pointer;
}
[data-hui=MultiSelect][data-hui-theme~=flat] {
}
[data-hui=MultiSelect][data-hui-theme~=flat] > input {
}
[data-hui=MultiSelect][data-hui-theme~=flat] > input::placeholder {
}
[data-hui=MultiSelect][data-hui-theme~=flat] > button[data-hui=Badge] {
}
[data-hui=MultiSelect] {
  /* LAYOUT-POSITION */
/*  --hui-dsdbsk-position-default: ; */
/*  --hui-dsdbsk-top-default: ; */
/*  --hui-dsdbsk-right-default: ; */
/*  --hui-dsdbsk-bottom-default: ; */
/*  --hui-dsdbsk-left-default: ; */
/*  --hui-dsdbsk-z-index-default: ; */
/*  --hui-dsdbsk-float-default: ; */
/*  --hui-dsdbsk-clear-default: ; */
/*  --hui-dsdbsk-align-self-default: ; */
/*  --hui-dsdbsk-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-dsdbsk-box-sizing-default: ; */
/*  --hui-dsdbsk-height-default: ; */
/*  --hui-dsdbsk-max-height-default: ; */
/*  --hui-dsdbsk-min-height-default: ; */
/*  --hui-dsdbsk-width-default: ; */
/*  --hui-dsdbsk-max-width-default: ; */
/*  --hui-dsdbsk-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-dsdbsk-margin-top-default: ; */
/*  --hui-dsdbsk-margin-right-default: ; */
/*  --hui-dsdbsk-margin-bottom-default: ; */
/*  --hui-dsdbsk-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-dsdbsk-padding-top-default: ; */
/*  --hui-dsdbsk-padding-right-default: ; */
/*  --hui-dsdbsk-padding-bottom-default: ; */
/*  --hui-dsdbsk-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-dsdbsk-overflow-x-default: ; */
/*  --hui-dsdbsk-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-dsdbsk-flex-basis-default: ; */
/*  --hui-dsdbsk-flex-direction-default: ; */
/*  --hui-dsdbsk-flex-grow-default: ; */
/*  --hui-dsdbsk-flex-shrink-default: ; */
/*  --hui-dsdbsk-flex-wrap-default: ; */
/*  --hui-dsdbsk-gap-default: ; */
/*  --hui-dsdbsk-align-content-default: ; */
/*  --hui-dsdbsk-justify-content-default: ; */
/*  --hui-dsdbsk-align-items-default: ; */
  /* TEXT */
/*  --hui-dsdbsk-direction-default: ; */
/*  --hui-dsdbsk-font-family-default: ; */
/*  --hui-dsdbsk-font-size-default: ; */
/*  --hui-dsdbsk-font-stretch-default: ; */
/*  --hui-dsdbsk-font-style-default: ; */
/*  --hui-dsdbsk-font-weight-default: ; */
/*  --hui-dsdbsk-letter-spacing-default: ; */
/*  --hui-dsdbsk-line-height-default: ; */
/*  --hui-dsdbsk-text-align-default: ; */
/*  --hui-dsdbsk-text-align-last-default: ; */
/*  --hui-dsdbsk-text-decoration-color-default: ; */
/*  --hui-dsdbsk-text-decoration-line-default: ; */
/*  --hui-dsdbsk-text-decoration-style-default: ; */
/*  --hui-dsdbsk-text-decoration-thickness-default: ; */
/*  --hui-dsdbsk-text-indent-default: ; */
/*  --hui-dsdbsk-text-overflow-default: ; */
/*  --hui-dsdbsk-text-shadow-default: ; */
/*  --hui-dsdbsk-text-size-adjust-default: ; */
/*  --hui-dsdbsk-text-transform-default: ; */
/*  --hui-dsdbsk-text-wrap-default: ; */
/*  --hui-dsdbsk-vertical-align-default: ; */
/*  --hui-dsdbsk-white-space-collapse-default: ; */
/*  --hui-dsdbsk-word-break-default: ; */
/*  --hui-dsdbsk-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-dsdbsk-visibility-default: ; */
/*  --hui-dsdbsk-color-default: ; */
/*  --hui-dsdbsk-background-attachment-default: ; */
/*  --hui-dsdbsk-background-clip-default: ; */
/*  --hui-dsdbsk-background-color-default: ; */
/*  --hui-dsdbsk-background-image-default: ; */
/*  --hui-dsdbsk-background-origin-default: ; */
/*  --hui-dsdbsk-background-position-x-default: ; */
/*  --hui-dsdbsk-background-position-y-default: ; */
/*  --hui-dsdbsk-background-repeat-default: ; */
/*  --hui-dsdbsk-background-size-default: ; */
/*  --hui-dsdbsk-border-bottom-color-default: ; */
/*  --hui-dsdbsk-border-bottom-style-default: ; */
/*  --hui-dsdbsk-border-bottom-width-default: ; */
/*  --hui-dsdbsk-border-bottom-left-radius-default: ; */
/*  --hui-dsdbsk-border-bottom-right-radius-default: ; */
/*  --hui-dsdbsk-border-image-outset-default: ; */
/*  --hui-dsdbsk-border-image-repeat-default: ; */
/*  --hui-dsdbsk-border-image-slice-default: ; */
/*  --hui-dsdbsk-border-image-source-default: ; */
/*  --hui-dsdbsk-border-image-width-default: ; */
/*  --hui-dsdbsk-border-left-color-default: ; */
/*  --hui-dsdbsk-border-left-style-default: ; */
/*  --hui-dsdbsk-border-left-width-default: ; */
/*  --hui-dsdbsk-border-right-color-default: ; */
/*  --hui-dsdbsk-border-right-style-default: ; */
/*  --hui-dsdbsk-border-right-width-default: ; */
/*  --hui-dsdbsk-border-top-color-default: ; */
/*  --hui-dsdbsk-border-top-style-default: ; */
/*  --hui-dsdbsk-border-top-width-default: ; */
/*  --hui-dsdbsk-border-top-left-radius-default: ; */
/*  --hui-dsdbsk-border-top-right-radius-default: ; */
/*  --hui-dsdbsk-box-shadow-default: ; */
/*  --hui-dsdbsk-cursor-default: ; */
/*  --hui-dsdbsk-outline-color-default: ; */
/*  --hui-dsdbsk-outline-offset-default: ; */
/*  --hui-dsdbsk-outline-style-default: ; */
/*  --hui-dsdbsk-outline-width-default: ; */
/*  --hui-dsdbsk-scrollbar-color-default: ; */
/*  --hui-dsdbsk-scrollbar-gutter-default: ; */
/*  --hui-dsdbsk-scrollbar-width-default: ; */
  /* DISPLAY */
/*  --hui-dsdbsk-display-default: ; */
/*  --hui-dsdbsk-flex-default: ; */
}
[data-hui=MultiSelect] > input {
  /* LAYOUT-POSITION */
/*  --hui-jxwoey-position-default: ; */
/*  --hui-jxwoey-top-default: ; */
/*  --hui-jxwoey-right-default: ; */
/*  --hui-jxwoey-bottom-default: ; */
/*  --hui-jxwoey-left-default: ; */
/*  --hui-jxwoey-z-index-default: ; */
/*  --hui-jxwoey-float-default: ; */
/*  --hui-jxwoey-clear-default: ; */
/*  --hui-jxwoey-align-self-default: ; */
/*  --hui-jxwoey-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-jxwoey-box-sizing-default: ; */
/*  --hui-jxwoey-height-default: ; */
/*  --hui-jxwoey-max-height-default: ; */
/*  --hui-jxwoey-min-height-default: ; */
/*  --hui-jxwoey-width-default: ; */
/*  --hui-jxwoey-max-width-default: ; */
/*  --hui-jxwoey-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-jxwoey-margin-top-default: ; */
/*  --hui-jxwoey-margin-right-default: ; */
/*  --hui-jxwoey-margin-bottom-default: ; */
/*  --hui-jxwoey-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-jxwoey-padding-top-default: ; */
/*  --hui-jxwoey-padding-right-default: ; */
/*  --hui-jxwoey-padding-bottom-default: ; */
/*  --hui-jxwoey-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-jxwoey-overflow-x-default: ; */
/*  --hui-jxwoey-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-jxwoey-flex-basis-default: ; */
/*  --hui-jxwoey-flex-direction-default: ; */
/*  --hui-jxwoey-flex-grow-default: ; */
/*  --hui-jxwoey-flex-shrink-default: ; */
/*  --hui-jxwoey-flex-wrap-default: ; */
/*  --hui-jxwoey-gap-default: ; */
/*  --hui-jxwoey-align-content-default: ; */
/*  --hui-jxwoey-justify-content-default: ; */
/*  --hui-jxwoey-align-items-default: ; */
  /* TEXT */
/*  --hui-jxwoey-direction-default: ; */
/*  --hui-jxwoey-font-family-default: ; */
/*  --hui-jxwoey-font-size-default: ; */
/*  --hui-jxwoey-font-stretch-default: ; */
/*  --hui-jxwoey-font-style-default: ; */
/*  --hui-jxwoey-font-weight-default: ; */
/*  --hui-jxwoey-letter-spacing-default: ; */
/*  --hui-jxwoey-line-height-default: ; */
/*  --hui-jxwoey-text-align-default: ; */
/*  --hui-jxwoey-text-align-last-default: ; */
/*  --hui-jxwoey-text-decoration-color-default: ; */
/*  --hui-jxwoey-text-decoration-line-default: ; */
/*  --hui-jxwoey-text-decoration-style-default: ; */
/*  --hui-jxwoey-text-decoration-thickness-default: ; */
/*  --hui-jxwoey-text-indent-default: ; */
/*  --hui-jxwoey-text-overflow-default: ; */
/*  --hui-jxwoey-text-shadow-default: ; */
/*  --hui-jxwoey-text-size-adjust-default: ; */
/*  --hui-jxwoey-text-transform-default: ; */
/*  --hui-jxwoey-text-wrap-default: ; */
/*  --hui-jxwoey-vertical-align-default: ; */
/*  --hui-jxwoey-white-space-collapse-default: ; */
/*  --hui-jxwoey-word-break-default: ; */
/*  --hui-jxwoey-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-jxwoey-visibility-default: ; */
/*  --hui-jxwoey-color-default: ; */
/*  --hui-jxwoey-background-attachment-default: ; */
/*  --hui-jxwoey-background-clip-default: ; */
/*  --hui-jxwoey-background-color-default: ; */
/*  --hui-jxwoey-background-image-default: ; */
/*  --hui-jxwoey-background-origin-default: ; */
/*  --hui-jxwoey-background-position-x-default: ; */
/*  --hui-jxwoey-background-position-y-default: ; */
/*  --hui-jxwoey-background-repeat-default: ; */
/*  --hui-jxwoey-background-size-default: ; */
/*  --hui-jxwoey-border-bottom-color-default: ; */
/*  --hui-jxwoey-border-bottom-style-default: ; */
/*  --hui-jxwoey-border-bottom-width-default: ; */
/*  --hui-jxwoey-border-bottom-left-radius-default: ; */
/*  --hui-jxwoey-border-bottom-right-radius-default: ; */
/*  --hui-jxwoey-border-image-outset-default: ; */
/*  --hui-jxwoey-border-image-repeat-default: ; */
/*  --hui-jxwoey-border-image-slice-default: ; */
/*  --hui-jxwoey-border-image-source-default: ; */
/*  --hui-jxwoey-border-image-width-default: ; */
/*  --hui-jxwoey-border-left-color-default: ; */
/*  --hui-jxwoey-border-left-style-default: ; */
/*  --hui-jxwoey-border-left-width-default: ; */
/*  --hui-jxwoey-border-right-color-default: ; */
/*  --hui-jxwoey-border-right-style-default: ; */
/*  --hui-jxwoey-border-right-width-default: ; */
/*  --hui-jxwoey-border-top-color-default: ; */
/*  --hui-jxwoey-border-top-style-default: ; */
/*  --hui-jxwoey-border-top-width-default: ; */
/*  --hui-jxwoey-border-top-left-radius-default: ; */
/*  --hui-jxwoey-border-top-right-radius-default: ; */
/*  --hui-jxwoey-box-shadow-default: ; */
/*  --hui-jxwoey-cursor-default: ; */
/*  --hui-jxwoey-outline-color-default: ; */
/*  --hui-jxwoey-outline-offset-default: ; */
/*  --hui-jxwoey-outline-style-default: ; */
/*  --hui-jxwoey-outline-width-default: ; */
/*  --hui-jxwoey-scrollbar-color-default: ; */
/*  --hui-jxwoey-scrollbar-gutter-default: ; */
/*  --hui-jxwoey-scrollbar-width-default: ; */
}
[data-hui=MultiSelect] > input::placeholder {
/*  --hui-vobkea-font-size-default: ; */
}
[data-hui=MultiSelect] > button[data-hui=Badge] {
/*  --hui-dotzua-flex-grow-default: ; */
/*  --hui-dotzua-cursor-default: ; */
}