[data-hui=Select] {
  /* LAYOUT-POSITION */
  --hui-dityoy-position: relative;
  /* LAYOUT-SIZING */
  --hui-dityoy-min-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-5) + var(--hui-default-border-width)) * 2);
  --hui-dityoy-width: fit-content;
  --hui-dityoy-max-width: 350px;
  --hui-dityoy-min-width: 232px;
  /* LAYOUT-PADDING */
  --hui-dityoy-padding-top: var(--hui-default-spacer-5);
  --hui-dityoy-padding-right: var(--hui-default-spacer-6);
  --hui-dityoy-padding-bottom: var(--hui-default-spacer-5);
  --hui-dityoy-padding-left: var(--hui-default-spacer-6);
  /* LAYOUT-OVERFLOW */
  --hui-dityoy-overflow-x: visible;
  --hui-dityoy-overflow-y: visible;
  /* LAYOUT-FLEX */
  --hui-dityoy-flex-direction: row;
  --hui-dityoy-flex-wrap: wrap;
  --hui-dityoy-gap: var(--hui-default-spacer-5);
  --hui-dityoy-align-content: center;
  --hui-dityoy-align-items: center;
  /* APPERANCE */
  --hui-dityoy-background-color: var(--hui-default-background-color);
  --hui-dityoy-background-image: none;
  --hui-dityoy-border-bottom-color: var(--hui-default-border-color);
  --hui-dityoy-border-bottom-style: var(--hui-default-border-style);
  --hui-dityoy-border-bottom-width: var(--hui-default-border-width);
  --hui-dityoy-border-bottom-left-radius: var(--hui-default-border-radius-1);
  --hui-dityoy-border-bottom-right-radius: var(--hui-default-border-radius-1);
  --hui-dityoy-border-left-color: var(--hui-default-border-color);
  --hui-dityoy-border-left-style: var(--hui-default-border-style);
  --hui-dityoy-border-left-width: var(--hui-default-border-width);
  --hui-dityoy-border-right-color: var(--hui-default-border-color);
  --hui-dityoy-border-right-style: var(--hui-default-border-style);
  --hui-dityoy-border-right-width: var(--hui-default-border-width);
  --hui-dityoy-border-top-color: var(--hui-default-border-color);
  --hui-dityoy-border-top-style: var(--hui-default-border-style);
  --hui-dityoy-border-top-width: var(--hui-default-border-width);
  --hui-dityoy-border-top-left-radius: var(--hui-default-border-radius-1);
  --hui-dityoy-border-top-right-radius: var(--hui-default-border-radius-1);
  --hui-dityoy-box-shadow: var(--hui-tria-box-shadow);
  /* DISPLAY */
  --hui-dityoy-display: flex;
  --hui-dityoy-gap: var(--hui-default-spacer-5);
}
[data-hui=Select] > button {
  --hui-yjkcgu-flex-grow: 1;
  --hui-yjkcgu-cursor: pointer;
}
[data-hui=Select] > datalist {
  /* LAYOUT-POSITION */
  --hui-ntpkim-position: absolute;
  --hui-ntpkim-top: calc(100% + var(--hui-default-border-width) * 3);
  --hui-ntpkim-right: calc(var(--hui-default-border-width) / -2);
  --hui-ntpkim-bottom: auto;
  --hui-ntpkim-left: calc(var(--hui-default-border-width) / -2);
  --hui-ntpkim-z-index: 300;
  /* LAYOUT-SIZING */
  --hui-ntpkim-max-height: calc(var(--hui-default-size-0) * 10);
  /* LAYOUT-OVERFLOW */
  --hui-ntpkim-overflow-x: hidden;
  --hui-ntpkim-overflow-y: auto;
  /* APPERANCE */
  --hui-ntpkim-background-color: var(--hui-default-background-color);
  --hui-ntpkim-background-image: none;
  --hui-ntpkim-border-bottom-color: var(--hui-default-border-color);
  --hui-ntpkim-border-bottom-style: var(--hui-default-border-style);
  --hui-ntpkim-border-bottom-width: var(--hui-default-border-width);
  --hui-ntpkim-border-bottom-left-radius: var(--hui-default-border-radius-1);
  --hui-ntpkim-border-bottom-right-radius: var(--hui-default-border-radius-1);
  --hui-ntpkim-border-left-color: var(--hui-default-border-color);
  --hui-ntpkim-border-left-style: var(--hui-default-border-style);
  --hui-ntpkim-border-left-width: var(--hui-default-border-width);
  --hui-ntpkim-border-right-color: var(--hui-default-border-color);
  --hui-ntpkim-border-right-style: var(--hui-default-border-style);
  --hui-ntpkim-border-right-width: var(--hui-default-border-width);
  --hui-ntpkim-border-top-color: var(--hui-default-border-color);
  --hui-ntpkim-border-top-style: var(--hui-default-border-style);
  --hui-ntpkim-border-top-width: var(--hui-default-border-width);
  --hui-ntpkim-border-top-left-radius: var(--hui-default-border-radius-1);
  --hui-ntpkim-border-top-right-radius: var(--hui-default-border-radius-1);
  --hui-ntpkim-box-shadow: var(--hui-unua-box-shadow);
  /* DISPLAY */
  --hui-ntpkim-display: block;
}
[data-hui=Select] > datalist.toTop {
  --hui-zipoac-top: auto;
  --hui-zipoac-bottom: calc(100% + var(--hui-default-border-width) * 3);
}
[data-hui=Select] > datalist > option {
  /* LAYOUT-PADDING */
  --hui-kboary-padding-top: var(--hui-default-spacer-5);
  --hui-kboary-padding-right: var(--hui-default-spacer-7);
  --hui-kboary-padding-bottom: var(--hui-default-spacer-5);
  --hui-kboary-padding-left: var(--hui-default-spacer-7);
  /* TEXT */
  --hui-kboary-font-size: var(--hui-default-size-0);
  --hui-kboary-font-weight: var(--hui-default-font-weight);
  --hui-kboary-line-height: var(--hui-default-line-height);
  /* APPERANCE */
  --hui-kboary-color: var(--hui-default-color-text);
  /* DISPLAY */
  --hui-kboary-display: block;
}
[data-hui=Select] > datalist > option:hover {
  --hui-pjktzt-background-image: var(--hui-default-gradient-1);
}
[data-hui=Select] > input {
  /* LAYOUT-PADDING */
  --hui-lbxlgv-padding-top: calc(var(--hui-default-spacer-3) + var(--hui-default-border-width) / 2);
  --hui-lbxlgv-padding-right: var(--hui-default-spacer-1);
  --hui-lbxlgv-padding-bottom: calc(var(--hui-default-spacer-3) + var(--hui-default-border-width) / 2);
  --hui-lbxlgv-padding-left: var(--hui-default-spacer-1);
  /* LAYOUT-FLEX */
  --hui-lbxlgv-flex-grow: 2;
  /* TEXT */
  --hui-lbxlgv-font-size: var(--hui-default-font-size);
  --hui-lbxlgv-font-weight: var(--hui-default-font-weight);
  --hui-lbxlgv-line-height: var(--hui-default-line-height);
  --hui-lbxlgv-text-align: center;
  /* APPERANCE */
  --hui-lbxlgv-color: var(--hui-default-color-text);
  --hui-lbxlgv-cursor: pointer;
}
[data-hui=Select] > datalist > option + option {
  --hui-tbhreu-border-top-color: var(--hui-default-border-color);
  --hui-tbhreu-border-top-style: var(--hui-default-border-style);
  --hui-tbhreu-border-top-width: var(--hui-default-border-width);
}
[data-hui=Select][data-hui-active] {
}
[data-hui=Select][data-hui-active] > button {
}
[data-hui=Select][data-hui-active] > datalist {
}
[data-hui=Select][data-hui-active] > datalist.toTop {
}
[data-hui=Select][data-hui-active] > datalist > option {
}
[data-hui=Select][data-hui-active] > datalist > option:hover {
}
[data-hui=Select][data-hui-active] > input {
}
[data-hui=Select][data-hui-active] > datalist > option + option {
}
[data-hui=Select][data-hui-disabled] {
}
[data-hui=Select][data-hui-disabled] > button {
}
[data-hui=Select][data-hui-disabled] > datalist {
}
[data-hui=Select][data-hui-disabled] > datalist.toTop {
}
[data-hui=Select][data-hui-disabled] > datalist > option {
}
[data-hui=Select][data-hui-disabled] > datalist > option:hover {
}
[data-hui=Select][data-hui-disabled] > input {
}
[data-hui=Select][data-hui-disabled] > datalist > option + option {
}
[data-hui=Select][data-hui-readonly] {
}
[data-hui=Select][data-hui-readonly] > button {
}
[data-hui=Select][data-hui-readonly] > datalist {
}
[data-hui=Select][data-hui-readonly] > datalist.toTop {
}
[data-hui=Select][data-hui-readonly] > datalist > option {
}
[data-hui=Select][data-hui-readonly] > datalist > option:hover {
}
[data-hui=Select][data-hui-readonly] > input {
}
[data-hui=Select][data-hui-readonly] > datalist > option + option {
}
[data-hui=Select][data-hui-valid] {
}
[data-hui=Select][data-hui-valid] > button {
}
[data-hui=Select][data-hui-valid] > datalist {
}
[data-hui=Select][data-hui-valid] > datalist.toTop {
}
[data-hui=Select][data-hui-valid] > datalist > option {
}
[data-hui=Select][data-hui-valid] > datalist > option:hover {
}
[data-hui=Select][data-hui-valid] > input {
}
[data-hui=Select][data-hui-valid] > datalist > option + option {
}
[data-hui=Select][data-hui-invalid] {
}
[data-hui=Select][data-hui-invalid] > button {
}
[data-hui=Select][data-hui-invalid] > datalist {
}
[data-hui=Select][data-hui-invalid] > datalist.toTop {
}
[data-hui=Select][data-hui-invalid] > datalist > option {
}
[data-hui=Select][data-hui-invalid] > datalist > option:hover {
}
[data-hui=Select][data-hui-invalid] > input {
}
[data-hui=Select][data-hui-invalid] > datalist > option + option {
}
[data-hui=Select][data-hui-theme~=flat] {
}
[data-hui=Select][data-hui-theme~=flat] > button {
}
[data-hui=Select][data-hui-theme~=flat] > datalist {
}
[data-hui=Select][data-hui-theme~=flat] > datalist.toTop {
}
[data-hui=Select][data-hui-theme~=flat] > datalist > option {
}
[data-hui=Select][data-hui-theme~=flat] > datalist > option:hover {
}
[data-hui=Select][data-hui-theme~=flat] > input {
}
[data-hui=Select][data-hui-theme~=flat] > datalist > option + option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > button {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > datalist {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > datalist.toTop {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > datalist > option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > datalist > option:hover {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > input {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-active] > datalist > option + option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > button {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > datalist {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > datalist.toTop {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > datalist > option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > datalist > option:hover {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > input {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-disabled] > datalist > option + option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > button {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > datalist {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > datalist.toTop {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > datalist > option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > datalist > option:hover {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > input {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-readonly] > datalist > option + option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > button {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > datalist {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > datalist.toTop {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > datalist > option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > datalist > option:hover {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > input {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-valid] > datalist > option + option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > button {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > datalist {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > datalist.toTop {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > datalist > option {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > datalist > option:hover {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > input {
}
[data-hui=Select][data-hui-theme~=flat][data-hui-invalid] > datalist > option + option {
}
[data-hui=Select] {
  /* LAYOUT-POSITION */
/*  --hui-dityoy-position-default: ; */
/*  --hui-dityoy-top-default: ; */
/*  --hui-dityoy-right-default: ; */
/*  --hui-dityoy-bottom-default: ; */
/*  --hui-dityoy-left-default: ; */
/*  --hui-dityoy-z-index-default: ; */
/*  --hui-dityoy-float-default: ; */
/*  --hui-dityoy-clear-default: ; */
/*  --hui-dityoy-align-self-default: ; */
/*  --hui-dityoy-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-dityoy-box-sizing-default: ; */
/*  --hui-dityoy-height-default: ; */
/*  --hui-dityoy-max-height-default: ; */
/*  --hui-dityoy-min-height-default: ; */
/*  --hui-dityoy-width-default: ; */
/*  --hui-dityoy-max-width-default: ; */
/*  --hui-dityoy-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-dityoy-margin-top-default: ; */
/*  --hui-dityoy-margin-right-default: ; */
/*  --hui-dityoy-margin-bottom-default: ; */
/*  --hui-dityoy-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-dityoy-padding-top-default: ; */
/*  --hui-dityoy-padding-right-default: ; */
/*  --hui-dityoy-padding-bottom-default: ; */
/*  --hui-dityoy-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-dityoy-overflow-x-default: ; */
/*  --hui-dityoy-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-dityoy-flex-basis-default: ; */
/*  --hui-dityoy-flex-direction-default: ; */
/*  --hui-dityoy-flex-grow-default: ; */
/*  --hui-dityoy-flex-shrink-default: ; */
/*  --hui-dityoy-flex-wrap-default: ; */
/*  --hui-dityoy-gap-default: ; */
/*  --hui-dityoy-align-content-default: ; */
/*  --hui-dityoy-justify-content-default: ; */
/*  --hui-dityoy-align-items-default: ; */
  /* TEXT */
/*  --hui-dityoy-direction-default: ; */
/*  --hui-dityoy-font-family-default: ; */
/*  --hui-dityoy-font-size-default: ; */
/*  --hui-dityoy-font-stretch-default: ; */
/*  --hui-dityoy-font-style-default: ; */
/*  --hui-dityoy-font-weight-default: ; */
/*  --hui-dityoy-letter-spacing-default: ; */
/*  --hui-dityoy-line-height-default: ; */
/*  --hui-dityoy-text-align-default: ; */
/*  --hui-dityoy-text-align-last-default: ; */
/*  --hui-dityoy-text-decoration-color-default: ; */
/*  --hui-dityoy-text-decoration-line-default: ; */
/*  --hui-dityoy-text-decoration-style-default: ; */
/*  --hui-dityoy-text-decoration-thickness-default: ; */
/*  --hui-dityoy-text-indent-default: ; */
/*  --hui-dityoy-text-overflow-default: ; */
/*  --hui-dityoy-text-shadow-default: ; */
/*  --hui-dityoy-text-size-adjust-default: ; */
/*  --hui-dityoy-text-transform-default: ; */
/*  --hui-dityoy-text-wrap-default: ; */
/*  --hui-dityoy-vertical-align-default: ; */
/*  --hui-dityoy-white-space-collapse-default: ; */
/*  --hui-dityoy-word-break-default: ; */
/*  --hui-dityoy-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-dityoy-visibility-default: ; */
/*  --hui-dityoy-color-default: ; */
/*  --hui-dityoy-background-attachment-default: ; */
/*  --hui-dityoy-background-clip-default: ; */
/*  --hui-dityoy-background-color-default: ; */
/*  --hui-dityoy-background-image-default: ; */
/*  --hui-dityoy-background-origin-default: ; */
/*  --hui-dityoy-background-position-x-default: ; */
/*  --hui-dityoy-background-position-y-default: ; */
/*  --hui-dityoy-background-repeat-default: ; */
/*  --hui-dityoy-background-size-default: ; */
/*  --hui-dityoy-border-bottom-color-default: ; */
/*  --hui-dityoy-border-bottom-style-default: ; */
/*  --hui-dityoy-border-bottom-width-default: ; */
/*  --hui-dityoy-border-bottom-left-radius-default: ; */
/*  --hui-dityoy-border-bottom-right-radius-default: ; */
/*  --hui-dityoy-border-image-outset-default: ; */
/*  --hui-dityoy-border-image-repeat-default: ; */
/*  --hui-dityoy-border-image-slice-default: ; */
/*  --hui-dityoy-border-image-source-default: ; */
/*  --hui-dityoy-border-image-width-default: ; */
/*  --hui-dityoy-border-left-color-default: ; */
/*  --hui-dityoy-border-left-style-default: ; */
/*  --hui-dityoy-border-left-width-default: ; */
/*  --hui-dityoy-border-right-color-default: ; */
/*  --hui-dityoy-border-right-style-default: ; */
/*  --hui-dityoy-border-right-width-default: ; */
/*  --hui-dityoy-border-top-color-default: ; */
/*  --hui-dityoy-border-top-style-default: ; */
/*  --hui-dityoy-border-top-width-default: ; */
/*  --hui-dityoy-border-top-left-radius-default: ; */
/*  --hui-dityoy-border-top-right-radius-default: ; */
/*  --hui-dityoy-box-shadow-default: ; */
/*  --hui-dityoy-cursor-default: ; */
/*  --hui-dityoy-outline-color-default: ; */
/*  --hui-dityoy-outline-offset-default: ; */
/*  --hui-dityoy-outline-style-default: ; */
/*  --hui-dityoy-outline-width-default: ; */
/*  --hui-dityoy-scrollbar-color-default: ; */
/*  --hui-dityoy-scrollbar-gutter-default: ; */
/*  --hui-dityoy-scrollbar-width-default: ; */
  /* DISPLAY */
/*  --hui-dityoy-display-default: ; */
/*  --hui-dityoy-flex-default: ; */
/*  --hui-dityoy-gap-default: ; */
}
[data-hui=Select] > button {
/*  --hui-yjkcgu-flex-grow-default: ; */
/*  --hui-yjkcgu-cursor-default: ; */
}
[data-hui=Select] > datalist {
  /* LAYOUT-POSITION */
/*  --hui-ntpkim-position-default: ; */
/*  --hui-ntpkim-top-default: ; */
/*  --hui-ntpkim-right-default: ; */
/*  --hui-ntpkim-bottom-default: ; */
/*  --hui-ntpkim-left-default: ; */
/*  --hui-ntpkim-z-index-default: ; */
/*  --hui-ntpkim-float-default: ; */
/*  --hui-ntpkim-clear-default: ; */
/*  --hui-ntpkim-align-self-default: ; */
/*  --hui-ntpkim-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-ntpkim-box-sizing-default: ; */
/*  --hui-ntpkim-height-default: ; */
/*  --hui-ntpkim-max-height-default: ; */
/*  --hui-ntpkim-min-height-default: ; */
/*  --hui-ntpkim-width-default: ; */
/*  --hui-ntpkim-max-width-default: ; */
/*  --hui-ntpkim-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-ntpkim-margin-top-default: ; */
/*  --hui-ntpkim-margin-right-default: ; */
/*  --hui-ntpkim-margin-bottom-default: ; */
/*  --hui-ntpkim-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-ntpkim-padding-top-default: ; */
/*  --hui-ntpkim-padding-right-default: ; */
/*  --hui-ntpkim-padding-bottom-default: ; */
/*  --hui-ntpkim-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-ntpkim-overflow-x-default: ; */
/*  --hui-ntpkim-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-ntpkim-flex-basis-default: ; */
/*  --hui-ntpkim-flex-direction-default: ; */
/*  --hui-ntpkim-flex-grow-default: ; */
/*  --hui-ntpkim-flex-shrink-default: ; */
/*  --hui-ntpkim-flex-wrap-default: ; */
/*  --hui-ntpkim-gap-default: ; */
/*  --hui-ntpkim-align-content-default: ; */
/*  --hui-ntpkim-justify-content-default: ; */
/*  --hui-ntpkim-align-items-default: ; */
  /* TEXT */
/*  --hui-ntpkim-direction-default: ; */
/*  --hui-ntpkim-font-family-default: ; */
/*  --hui-ntpkim-font-size-default: ; */
/*  --hui-ntpkim-font-stretch-default: ; */
/*  --hui-ntpkim-font-style-default: ; */
/*  --hui-ntpkim-font-weight-default: ; */
/*  --hui-ntpkim-letter-spacing-default: ; */
/*  --hui-ntpkim-line-height-default: ; */
/*  --hui-ntpkim-text-align-default: ; */
/*  --hui-ntpkim-text-align-last-default: ; */
/*  --hui-ntpkim-text-decoration-color-default: ; */
/*  --hui-ntpkim-text-decoration-line-default: ; */
/*  --hui-ntpkim-text-decoration-style-default: ; */
/*  --hui-ntpkim-text-decoration-thickness-default: ; */
/*  --hui-ntpkim-text-indent-default: ; */
/*  --hui-ntpkim-text-overflow-default: ; */
/*  --hui-ntpkim-text-shadow-default: ; */
/*  --hui-ntpkim-text-size-adjust-default: ; */
/*  --hui-ntpkim-text-transform-default: ; */
/*  --hui-ntpkim-text-wrap-default: ; */
/*  --hui-ntpkim-vertical-align-default: ; */
/*  --hui-ntpkim-white-space-collapse-default: ; */
/*  --hui-ntpkim-word-break-default: ; */
/*  --hui-ntpkim-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-ntpkim-visibility-default: ; */
/*  --hui-ntpkim-color-default: ; */
/*  --hui-ntpkim-background-attachment-default: ; */
/*  --hui-ntpkim-background-clip-default: ; */
/*  --hui-ntpkim-background-color-default: ; */
/*  --hui-ntpkim-background-image-default: ; */
/*  --hui-ntpkim-background-origin-default: ; */
/*  --hui-ntpkim-background-position-x-default: ; */
/*  --hui-ntpkim-background-position-y-default: ; */
/*  --hui-ntpkim-background-repeat-default: ; */
/*  --hui-ntpkim-background-size-default: ; */
/*  --hui-ntpkim-border-bottom-color-default: ; */
/*  --hui-ntpkim-border-bottom-style-default: ; */
/*  --hui-ntpkim-border-bottom-width-default: ; */
/*  --hui-ntpkim-border-bottom-left-radius-default: ; */
/*  --hui-ntpkim-border-bottom-right-radius-default: ; */
/*  --hui-ntpkim-border-image-outset-default: ; */
/*  --hui-ntpkim-border-image-repeat-default: ; */
/*  --hui-ntpkim-border-image-slice-default: ; */
/*  --hui-ntpkim-border-image-source-default: ; */
/*  --hui-ntpkim-border-image-width-default: ; */
/*  --hui-ntpkim-border-left-color-default: ; */
/*  --hui-ntpkim-border-left-style-default: ; */
/*  --hui-ntpkim-border-left-width-default: ; */
/*  --hui-ntpkim-border-right-color-default: ; */
/*  --hui-ntpkim-border-right-style-default: ; */
/*  --hui-ntpkim-border-right-width-default: ; */
/*  --hui-ntpkim-border-top-color-default: ; */
/*  --hui-ntpkim-border-top-style-default: ; */
/*  --hui-ntpkim-border-top-width-default: ; */
/*  --hui-ntpkim-border-top-left-radius-default: ; */
/*  --hui-ntpkim-border-top-right-radius-default: ; */
/*  --hui-ntpkim-box-shadow-default: ; */
/*  --hui-ntpkim-cursor-default: ; */
/*  --hui-ntpkim-outline-color-default: ; */
/*  --hui-ntpkim-outline-offset-default: ; */
/*  --hui-ntpkim-outline-style-default: ; */
/*  --hui-ntpkim-outline-width-default: ; */
/*  --hui-ntpkim-scrollbar-color-default: ; */
/*  --hui-ntpkim-scrollbar-gutter-default: ; */
/*  --hui-ntpkim-scrollbar-width-default: ; */
  /* DISPLAY */
/*  --hui-ntpkim-display-default: ; */
}
[data-hui=Select] > datalist.toTop {
/*  --hui-zipoac-top-default: ; */
/*  --hui-zipoac-bottom-default: ; */
}
[data-hui=Select] > datalist > option {
  /* LAYOUT-POSITION */
/*  --hui-kboary-position-default: ; */
/*  --hui-kboary-top-default: ; */
/*  --hui-kboary-right-default: ; */
/*  --hui-kboary-bottom-default: ; */
/*  --hui-kboary-left-default: ; */
/*  --hui-kboary-z-index-default: ; */
/*  --hui-kboary-float-default: ; */
/*  --hui-kboary-clear-default: ; */
/*  --hui-kboary-align-self-default: ; */
/*  --hui-kboary-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-kboary-box-sizing-default: ; */
/*  --hui-kboary-height-default: ; */
/*  --hui-kboary-max-height-default: ; */
/*  --hui-kboary-min-height-default: ; */
/*  --hui-kboary-width-default: ; */
/*  --hui-kboary-max-width-default: ; */
/*  --hui-kboary-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-kboary-margin-top-default: ; */
/*  --hui-kboary-margin-right-default: ; */
/*  --hui-kboary-margin-bottom-default: ; */
/*  --hui-kboary-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-kboary-padding-top-default: ; */
/*  --hui-kboary-padding-right-default: ; */
/*  --hui-kboary-padding-bottom-default: ; */
/*  --hui-kboary-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-kboary-overflow-x-default: ; */
/*  --hui-kboary-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-kboary-flex-basis-default: ; */
/*  --hui-kboary-flex-direction-default: ; */
/*  --hui-kboary-flex-grow-default: ; */
/*  --hui-kboary-flex-shrink-default: ; */
/*  --hui-kboary-flex-wrap-default: ; */
/*  --hui-kboary-gap-default: ; */
/*  --hui-kboary-align-content-default: ; */
/*  --hui-kboary-justify-content-default: ; */
/*  --hui-kboary-align-items-default: ; */
  /* TEXT */
/*  --hui-kboary-direction-default: ; */
/*  --hui-kboary-font-family-default: ; */
/*  --hui-kboary-font-size-default: ; */
/*  --hui-kboary-font-stretch-default: ; */
/*  --hui-kboary-font-style-default: ; */
/*  --hui-kboary-font-weight-default: ; */
/*  --hui-kboary-letter-spacing-default: ; */
/*  --hui-kboary-line-height-default: ; */
/*  --hui-kboary-text-align-default: ; */
/*  --hui-kboary-text-align-last-default: ; */
/*  --hui-kboary-text-decoration-color-default: ; */
/*  --hui-kboary-text-decoration-line-default: ; */
/*  --hui-kboary-text-decoration-style-default: ; */
/*  --hui-kboary-text-decoration-thickness-default: ; */
/*  --hui-kboary-text-indent-default: ; */
/*  --hui-kboary-text-overflow-default: ; */
/*  --hui-kboary-text-shadow-default: ; */
/*  --hui-kboary-text-size-adjust-default: ; */
/*  --hui-kboary-text-transform-default: ; */
/*  --hui-kboary-text-wrap-default: ; */
/*  --hui-kboary-vertical-align-default: ; */
/*  --hui-kboary-white-space-collapse-default: ; */
/*  --hui-kboary-word-break-default: ; */
/*  --hui-kboary-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-kboary-visibility-default: ; */
/*  --hui-kboary-color-default: ; */
/*  --hui-kboary-background-attachment-default: ; */
/*  --hui-kboary-background-clip-default: ; */
/*  --hui-kboary-background-color-default: ; */
/*  --hui-kboary-background-image-default: ; */
/*  --hui-kboary-background-origin-default: ; */
/*  --hui-kboary-background-position-x-default: ; */
/*  --hui-kboary-background-position-y-default: ; */
/*  --hui-kboary-background-repeat-default: ; */
/*  --hui-kboary-background-size-default: ; */
/*  --hui-kboary-border-bottom-color-default: ; */
/*  --hui-kboary-border-bottom-style-default: ; */
/*  --hui-kboary-border-bottom-width-default: ; */
/*  --hui-kboary-border-bottom-left-radius-default: ; */
/*  --hui-kboary-border-bottom-right-radius-default: ; */
/*  --hui-kboary-border-image-outset-default: ; */
/*  --hui-kboary-border-image-repeat-default: ; */
/*  --hui-kboary-border-image-slice-default: ; */
/*  --hui-kboary-border-image-source-default: ; */
/*  --hui-kboary-border-image-width-default: ; */
/*  --hui-kboary-border-left-color-default: ; */
/*  --hui-kboary-border-left-style-default: ; */
/*  --hui-kboary-border-left-width-default: ; */
/*  --hui-kboary-border-right-color-default: ; */
/*  --hui-kboary-border-right-style-default: ; */
/*  --hui-kboary-border-right-width-default: ; */
/*  --hui-kboary-border-top-color-default: ; */
/*  --hui-kboary-border-top-style-default: ; */
/*  --hui-kboary-border-top-width-default: ; */
/*  --hui-kboary-border-top-left-radius-default: ; */
/*  --hui-kboary-border-top-right-radius-default: ; */
/*  --hui-kboary-box-shadow-default: ; */
/*  --hui-kboary-cursor-default: ; */
/*  --hui-kboary-outline-color-default: ; */
/*  --hui-kboary-outline-offset-default: ; */
/*  --hui-kboary-outline-style-default: ; */
/*  --hui-kboary-outline-width-default: ; */
/*  --hui-kboary-scrollbar-color-default: ; */
/*  --hui-kboary-scrollbar-gutter-default: ; */
/*  --hui-kboary-scrollbar-width-default: ; */
  /* DISPLAY */
/*  --hui-kboary-display-default: ; */
}
[data-hui=Select] > datalist > option:hover {
/*  --hui-pjktzt-background-image-default: ; */
}
[data-hui=Select] > input {
  /* LAYOUT-POSITION */
/*  --hui-lbxlgv-position-default: ; */
/*  --hui-lbxlgv-top-default: ; */
/*  --hui-lbxlgv-right-default: ; */
/*  --hui-lbxlgv-bottom-default: ; */
/*  --hui-lbxlgv-left-default: ; */
/*  --hui-lbxlgv-z-index-default: ; */
/*  --hui-lbxlgv-float-default: ; */
/*  --hui-lbxlgv-clear-default: ; */
/*  --hui-lbxlgv-align-self-default: ; */
/*  --hui-lbxlgv-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-lbxlgv-box-sizing-default: ; */
/*  --hui-lbxlgv-height-default: ; */
/*  --hui-lbxlgv-max-height-default: ; */
/*  --hui-lbxlgv-min-height-default: ; */
/*  --hui-lbxlgv-width-default: ; */
/*  --hui-lbxlgv-max-width-default: ; */
/*  --hui-lbxlgv-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-lbxlgv-margin-top-default: ; */
/*  --hui-lbxlgv-margin-right-default: ; */
/*  --hui-lbxlgv-margin-bottom-default: ; */
/*  --hui-lbxlgv-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-lbxlgv-padding-top-default: ; */
/*  --hui-lbxlgv-padding-right-default: ; */
/*  --hui-lbxlgv-padding-bottom-default: ; */
/*  --hui-lbxlgv-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-lbxlgv-overflow-x-default: ; */
/*  --hui-lbxlgv-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-lbxlgv-flex-basis-default: ; */
/*  --hui-lbxlgv-flex-direction-default: ; */
/*  --hui-lbxlgv-flex-grow-default: ; */
/*  --hui-lbxlgv-flex-shrink-default: ; */
/*  --hui-lbxlgv-flex-wrap-default: ; */
/*  --hui-lbxlgv-gap-default: ; */
/*  --hui-lbxlgv-align-content-default: ; */
/*  --hui-lbxlgv-justify-content-default: ; */
/*  --hui-lbxlgv-align-items-default: ; */
  /* TEXT */
/*  --hui-lbxlgv-direction-default: ; */
/*  --hui-lbxlgv-font-family-default: ; */
/*  --hui-lbxlgv-font-size-default: ; */
/*  --hui-lbxlgv-font-stretch-default: ; */
/*  --hui-lbxlgv-font-style-default: ; */
/*  --hui-lbxlgv-font-weight-default: ; */
/*  --hui-lbxlgv-letter-spacing-default: ; */
/*  --hui-lbxlgv-line-height-default: ; */
/*  --hui-lbxlgv-text-align-default: ; */
/*  --hui-lbxlgv-text-align-last-default: ; */
/*  --hui-lbxlgv-text-decoration-color-default: ; */
/*  --hui-lbxlgv-text-decoration-line-default: ; */
/*  --hui-lbxlgv-text-decoration-style-default: ; */
/*  --hui-lbxlgv-text-decoration-thickness-default: ; */
/*  --hui-lbxlgv-text-indent-default: ; */
/*  --hui-lbxlgv-text-overflow-default: ; */
/*  --hui-lbxlgv-text-shadow-default: ; */
/*  --hui-lbxlgv-text-size-adjust-default: ; */
/*  --hui-lbxlgv-text-transform-default: ; */
/*  --hui-lbxlgv-text-wrap-default: ; */
/*  --hui-lbxlgv-vertical-align-default: ; */
/*  --hui-lbxlgv-white-space-collapse-default: ; */
/*  --hui-lbxlgv-word-break-default: ; */
/*  --hui-lbxlgv-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-lbxlgv-visibility-default: ; */
/*  --hui-lbxlgv-color-default: ; */
/*  --hui-lbxlgv-background-attachment-default: ; */
/*  --hui-lbxlgv-background-clip-default: ; */
/*  --hui-lbxlgv-background-color-default: ; */
/*  --hui-lbxlgv-background-image-default: ; */
/*  --hui-lbxlgv-background-origin-default: ; */
/*  --hui-lbxlgv-background-position-x-default: ; */
/*  --hui-lbxlgv-background-position-y-default: ; */
/*  --hui-lbxlgv-background-repeat-default: ; */
/*  --hui-lbxlgv-background-size-default: ; */
/*  --hui-lbxlgv-border-bottom-color-default: ; */
/*  --hui-lbxlgv-border-bottom-style-default: ; */
/*  --hui-lbxlgv-border-bottom-width-default: ; */
/*  --hui-lbxlgv-border-bottom-left-radius-default: ; */
/*  --hui-lbxlgv-border-bottom-right-radius-default: ; */
/*  --hui-lbxlgv-border-image-outset-default: ; */
/*  --hui-lbxlgv-border-image-repeat-default: ; */
/*  --hui-lbxlgv-border-image-slice-default: ; */
/*  --hui-lbxlgv-border-image-source-default: ; */
/*  --hui-lbxlgv-border-image-width-default: ; */
/*  --hui-lbxlgv-border-left-color-default: ; */
/*  --hui-lbxlgv-border-left-style-default: ; */
/*  --hui-lbxlgv-border-left-width-default: ; */
/*  --hui-lbxlgv-border-right-color-default: ; */
/*  --hui-lbxlgv-border-right-style-default: ; */
/*  --hui-lbxlgv-border-right-width-default: ; */
/*  --hui-lbxlgv-border-top-color-default: ; */
/*  --hui-lbxlgv-border-top-style-default: ; */
/*  --hui-lbxlgv-border-top-width-default: ; */
/*  --hui-lbxlgv-border-top-left-radius-default: ; */
/*  --hui-lbxlgv-border-top-right-radius-default: ; */
/*  --hui-lbxlgv-box-shadow-default: ; */
/*  --hui-lbxlgv-cursor-default: ; */
/*  --hui-lbxlgv-outline-color-default: ; */
/*  --hui-lbxlgv-outline-offset-default: ; */
/*  --hui-lbxlgv-outline-style-default: ; */
/*  --hui-lbxlgv-outline-width-default: ; */
/*  --hui-lbxlgv-scrollbar-color-default: ; */
/*  --hui-lbxlgv-scrollbar-gutter-default: ; */
/*  --hui-lbxlgv-scrollbar-width-default: ; */
}
[data-hui=Select] > datalist > option + option {
/*  --hui-tbhreu-border-top-color-default: ; */
/*  --hui-tbhreu-border-top-style-default: ; */
/*  --hui-tbhreu-border-top-width-default: ; */
}