[data-hui=Textarea] {
  /* LAYOUT-POSITION */
  --hui-yqncrg-position: relative;
  /* LAYOUT-SIZING */
  --hui-yqncrg-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-6) + var(--hui-default-border-width)) * 2);
  --hui-yqncrg-max-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-6) + var(--hui-default-border-width)) * 2);
  --hui-yqncrg-min-height: calc(var(--hui-default-font-size) * var(--hui-default-line-height) + (var(--hui-default-spacer-6) + var(--hui-default-border-width)) * 2);
  --hui-yqncrg-width: 100%;
  --hui-yqncrg-max-width: 50vw;
  --hui-yqncrg-min-width: 200px;
  /* LAYOUT-PADDING */
  --hui-yqncrg-padding-top: var(--hui-default-spacer-1);
  --hui-yqncrg-padding-right: var(--hui-default-spacer-1);
  --hui-yqncrg-padding-bottom: var(--hui-default-spacer-1);
  --hui-yqncrg-padding-left: var(--hui-default-spacer-1);
  /* LAYOUT-OVERFLOW */
  --hui-yqncrg-overflow-x: hidden;
  --hui-yqncrg-overflow-y: hidden;
  /* LAYOUT-FLEX */
  --hui-yqncrg-align-content: stretch;
  --hui-yqncrg-justify-content: stretch;
  --hui-yqncrg-align-items: stretch;
  /* APPERANCE */
  --hui-yqncrg-background-color: var(--hui-default-background-color);
  --hui-yqncrg-background-image: none;
  --hui-yqncrg-border-bottom-color: var(--hui-default-border-color);
  --hui-yqncrg-border-bottom-style: var(--hui-default-border-style);
  --hui-yqncrg-border-bottom-width: var(--hui-default-border-width);
  --hui-yqncrg-border-bottom-left-radius: var(--hui-default-border-radius-1);
  --hui-yqncrg-border-bottom-right-radius: var(--hui-default-border-radius-1);
  --hui-yqncrg-border-left-color: var(--hui-default-border-color);
  --hui-yqncrg-border-left-style: var(--hui-default-border-style);
  --hui-yqncrg-border-left-width: var(--hui-default-border-width);
  --hui-yqncrg-border-right-color: var(--hui-default-border-color);
  --hui-yqncrg-border-right-style: var(--hui-default-border-style);
  --hui-yqncrg-border-right-width: var(--hui-default-border-width);
  --hui-yqncrg-border-top-color: var(--hui-default-border-color);
  --hui-yqncrg-border-top-style: var(--hui-default-border-style);
  --hui-yqncrg-border-top-width: var(--hui-default-border-width);
  --hui-yqncrg-border-top-left-radius: var(--hui-default-border-radius-1);
  --hui-yqncrg-border-top-right-radius: var(--hui-default-border-radius-1);
  --hui-yqncrg-box-shadow: var(--hui-tria-box-shadow);
  /* DISPLAY */
  --hui-yqncrg-display: grid;
  /* GRID */
  --hui-yqncrg-align-content: stretch;
  --hui-yqncrg-justify-content: stretch;
  --hui-yqncrg-align-items: stretch;
}
[data-hui=Textarea] > textarea,
[data-hui=Textarea]::after {
  /* LAYOUT-PADDING */
  --hui-zagnla-padding-top: calc(var(--hui-default-spacer-6) + var(--hui-default-border-width) / 2);
  --hui-zagnla-padding-right: var(--hui-default-spacer-6);
  --hui-zagnla-padding-bottom: calc(var(--hui-default-spacer-6) + var(--hui-default-border-width) / 2);
  --hui-zagnla-padding-left: var(--hui-default-spacer-6);
  /* TEXT */
  --hui-zagnla-font-size: var(--hui-default-font-size);
  --hui-zagnla-font-weight: var(--hui-default-font-weight);
  --hui-zagnla-line-height: var(--hui-default-line-height);
  --hui-zagnla-text-align: left;
  --hui-zagnla-text-wrap: wrap;
  --hui-zagnla-white-space-collapse: preserve;
  /* APPERANCE */
  --hui-zagnla-color: var(--hui-default-color-text);
  --hui-zagnla-scrollbar-width: thin;
  --hui-zagnla-grid-area: 1 / 1 / 2 / 2;
}
[data-hui=Textarea] > textarea {
  --hui-ccjrnw-resize: none;
  --hui-ccjrnw-max-height: 450px;
}
[data-hui=Textarea]::after {
  /* CONTENT */
  --hui-uesrne-content: attr(data-hui-value) " ";
  --hui-uesrne-visibility: hidden;
  --hui-uesrne-max-height: 450px;
}
[data-hui=Textarea] > textarea::placeholder {
  --hui-otvrfb-font-size: var(--hui-default-size-0);
  --hui-otvrfb-text-align: center;
}
[data-hui=Textarea] > button[data-hui=Button] {
  --hui-rvvxnn-cursor: pointer;
  /* LAYOUT-POSITION */
  --hui-rvvxnn-position: absolute;
  --hui-rvvxnn-top: calc(var(--hui-default-spacer-4) + var(--hui-default-border-width) * 2);
  --hui-rvvxnn-right: var(--hui-default-spacer-6);
  --hui-rvvxnn-font-size: var(--hui-default-size-0);
}
[data-hui=Textarea][data-hui-theme~=flat] {
}
[data-hui=Textarea][data-hui-theme~=flat] > textarea,
[data-hui=Textarea][data-hui-theme~=flat]::after {
}
[data-hui=Textarea][data-hui-theme~=flat] > textarea {
}
[data-hui=Textarea][data-hui-theme~=flat]::after {
}
[data-hui=Textarea][data-hui-theme~=flat] > textarea::placeholder {
}
[data-hui=Textarea][data-hui-theme~=flat] > button[data-hui=Button] {
}
[data-hui=Textarea][data-hui-theme~=oneLine] {
}
[data-hui=Textarea][data-hui-theme~=oneLine] > textarea,
[data-hui=Textarea][data-hui-theme~=oneLine]::after {
  /* APPERANCE */
  --hui-zagnla-scrollbar-width: none;
}
[data-hui=Textarea][data-hui-theme~=oneLine] > textarea {
}
[data-hui=Textarea][data-hui-theme~=oneLine]::after {
  /* DISPLAY */
  --hui-uesrne-display: none;
}
[data-hui=Textarea][data-hui-theme~=oneLine] > textarea::placeholder {
}
[data-hui=Textarea][data-hui-theme~=oneLine] > button[data-hui=Button] {
}
[data-hui=Textarea] {
  /* LAYOUT-POSITION */
/*  --hui-yqncrg-position-default: ; */
/*  --hui-yqncrg-top-default: ; */
/*  --hui-yqncrg-right-default: ; */
/*  --hui-yqncrg-bottom-default: ; */
/*  --hui-yqncrg-left-default: ; */
/*  --hui-yqncrg-z-index-default: ; */
/*  --hui-yqncrg-float-default: ; */
/*  --hui-yqncrg-clear-default: ; */
/*  --hui-yqncrg-align-self-default: ; */
/*  --hui-yqncrg-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-yqncrg-box-sizing-default: ; */
/*  --hui-yqncrg-height-default: ; */
/*  --hui-yqncrg-max-height-default: ; */
/*  --hui-yqncrg-min-height-default: ; */
/*  --hui-yqncrg-width-default: ; */
/*  --hui-yqncrg-max-width-default: ; */
/*  --hui-yqncrg-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-yqncrg-margin-top-default: ; */
/*  --hui-yqncrg-margin-right-default: ; */
/*  --hui-yqncrg-margin-bottom-default: ; */
/*  --hui-yqncrg-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-yqncrg-padding-top-default: ; */
/*  --hui-yqncrg-padding-right-default: ; */
/*  --hui-yqncrg-padding-bottom-default: ; */
/*  --hui-yqncrg-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-yqncrg-overflow-x-default: ; */
/*  --hui-yqncrg-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-yqncrg-flex-basis-default: ; */
/*  --hui-yqncrg-flex-direction-default: ; */
/*  --hui-yqncrg-flex-grow-default: ; */
/*  --hui-yqncrg-flex-shrink-default: ; */
/*  --hui-yqncrg-flex-wrap-default: ; */
/*  --hui-yqncrg-gap-default: ; */
/*  --hui-yqncrg-align-content-default: ; */
/*  --hui-yqncrg-justify-content-default: ; */
/*  --hui-yqncrg-align-items-default: ; */
  /* TEXT */
/*  --hui-yqncrg-direction-default: ; */
/*  --hui-yqncrg-font-family-default: ; */
/*  --hui-yqncrg-font-size-default: ; */
/*  --hui-yqncrg-font-stretch-default: ; */
/*  --hui-yqncrg-font-style-default: ; */
/*  --hui-yqncrg-font-weight-default: ; */
/*  --hui-yqncrg-letter-spacing-default: ; */
/*  --hui-yqncrg-line-height-default: ; */
/*  --hui-yqncrg-text-align-default: ; */
/*  --hui-yqncrg-text-align-last-default: ; */
/*  --hui-yqncrg-text-decoration-color-default: ; */
/*  --hui-yqncrg-text-decoration-line-default: ; */
/*  --hui-yqncrg-text-decoration-style-default: ; */
/*  --hui-yqncrg-text-decoration-thickness-default: ; */
/*  --hui-yqncrg-text-indent-default: ; */
/*  --hui-yqncrg-text-overflow-default: ; */
/*  --hui-yqncrg-text-shadow-default: ; */
/*  --hui-yqncrg-text-size-adjust-default: ; */
/*  --hui-yqncrg-text-transform-default: ; */
/*  --hui-yqncrg-text-wrap-default: ; */
/*  --hui-yqncrg-vertical-align-default: ; */
/*  --hui-yqncrg-white-space-collapse-default: ; */
/*  --hui-yqncrg-word-break-default: ; */
/*  --hui-yqncrg-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-yqncrg-visibility-default: ; */
/*  --hui-yqncrg-color-default: ; */
/*  --hui-yqncrg-background-attachment-default: ; */
/*  --hui-yqncrg-background-clip-default: ; */
/*  --hui-yqncrg-background-color-default: ; */
/*  --hui-yqncrg-background-image-default: ; */
/*  --hui-yqncrg-background-origin-default: ; */
/*  --hui-yqncrg-background-position-x-default: ; */
/*  --hui-yqncrg-background-position-y-default: ; */
/*  --hui-yqncrg-background-repeat-default: ; */
/*  --hui-yqncrg-background-size-default: ; */
/*  --hui-yqncrg-border-bottom-color-default: ; */
/*  --hui-yqncrg-border-bottom-style-default: ; */
/*  --hui-yqncrg-border-bottom-width-default: ; */
/*  --hui-yqncrg-border-bottom-left-radius-default: ; */
/*  --hui-yqncrg-border-bottom-right-radius-default: ; */
/*  --hui-yqncrg-border-image-outset-default: ; */
/*  --hui-yqncrg-border-image-repeat-default: ; */
/*  --hui-yqncrg-border-image-slice-default: ; */
/*  --hui-yqncrg-border-image-source-default: ; */
/*  --hui-yqncrg-border-image-width-default: ; */
/*  --hui-yqncrg-border-left-color-default: ; */
/*  --hui-yqncrg-border-left-style-default: ; */
/*  --hui-yqncrg-border-left-width-default: ; */
/*  --hui-yqncrg-border-right-color-default: ; */
/*  --hui-yqncrg-border-right-style-default: ; */
/*  --hui-yqncrg-border-right-width-default: ; */
/*  --hui-yqncrg-border-top-color-default: ; */
/*  --hui-yqncrg-border-top-style-default: ; */
/*  --hui-yqncrg-border-top-width-default: ; */
/*  --hui-yqncrg-border-top-left-radius-default: ; */
/*  --hui-yqncrg-border-top-right-radius-default: ; */
/*  --hui-yqncrg-box-shadow-default: ; */
/*  --hui-yqncrg-cursor-default: ; */
/*  --hui-yqncrg-outline-color-default: ; */
/*  --hui-yqncrg-outline-offset-default: ; */
/*  --hui-yqncrg-outline-style-default: ; */
/*  --hui-yqncrg-outline-width-default: ; */
/*  --hui-yqncrg-scrollbar-color-default: ; */
/*  --hui-yqncrg-scrollbar-gutter-default: ; */
/*  --hui-yqncrg-scrollbar-width-default: ; */
  /* DISPLAY */
/*  --hui-yqncrg-display-default: ; */
  /* GRID */
/*  --hui-yqncrg-grid-auto-columns-default: ; */
/*  --hui-yqncrg-grid-auto-flow-default: ; */
/*  --hui-yqncrg-grid-auto-rows-default: ; */
/*  --hui-yqncrg-grid-column-end-default: ; */
/*  --hui-yqncrg-grid-column-start-default: ; */
/*  --hui-yqncrg-grid-row-end-default: ; */
/*  --hui-yqncrg-grid-row-start-default: ; */
/*  --hui-yqncrg-grid-template-areas-default: ; */
/*  --hui-yqncrg-grid-template-columns-default: ; */
/*  --hui-yqncrg-grid-template-rows-default: ; */
/*  --hui-yqncrg-align-content-default: ; */
/*  --hui-yqncrg-justify-content-default: ; */
/*  --hui-yqncrg-align-items-default: ; */
/*  --hui-yqncrg-justify-items-default: ; */
/*  --hui-yqncrg-column-gap-default: ; */
/*  --hui-yqncrg-row-gap-default: ; */
}
[data-hui=Textarea] > textarea,
[data-hui=Textarea]::after {
  /* LAYOUT-POSITION */
/*  --hui-zagnla-position-default: ; */
/*  --hui-zagnla-top-default: ; */
/*  --hui-zagnla-right-default: ; */
/*  --hui-zagnla-bottom-default: ; */
/*  --hui-zagnla-left-default: ; */
/*  --hui-zagnla-z-index-default: ; */
/*  --hui-zagnla-float-default: ; */
/*  --hui-zagnla-clear-default: ; */
/*  --hui-zagnla-align-self-default: ; */
/*  --hui-zagnla-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-zagnla-box-sizing-default: ; */
/*  --hui-zagnla-height-default: ; */
/*  --hui-zagnla-max-height-default: ; */
/*  --hui-zagnla-min-height-default: ; */
/*  --hui-zagnla-width-default: ; */
/*  --hui-zagnla-max-width-default: ; */
/*  --hui-zagnla-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-zagnla-margin-top-default: ; */
/*  --hui-zagnla-margin-right-default: ; */
/*  --hui-zagnla-margin-bottom-default: ; */
/*  --hui-zagnla-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-zagnla-padding-top-default: ; */
/*  --hui-zagnla-padding-right-default: ; */
/*  --hui-zagnla-padding-bottom-default: ; */
/*  --hui-zagnla-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-zagnla-overflow-x-default: ; */
/*  --hui-zagnla-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-zagnla-flex-basis-default: ; */
/*  --hui-zagnla-flex-direction-default: ; */
/*  --hui-zagnla-flex-grow-default: ; */
/*  --hui-zagnla-flex-shrink-default: ; */
/*  --hui-zagnla-flex-wrap-default: ; */
/*  --hui-zagnla-gap-default: ; */
/*  --hui-zagnla-align-content-default: ; */
/*  --hui-zagnla-justify-content-default: ; */
/*  --hui-zagnla-align-items-default: ; */
  /* TEXT */
/*  --hui-zagnla-direction-default: ; */
/*  --hui-zagnla-font-family-default: ; */
/*  --hui-zagnla-font-size-default: ; */
/*  --hui-zagnla-font-stretch-default: ; */
/*  --hui-zagnla-font-style-default: ; */
/*  --hui-zagnla-font-weight-default: ; */
/*  --hui-zagnla-letter-spacing-default: ; */
/*  --hui-zagnla-line-height-default: ; */
/*  --hui-zagnla-text-align-default: ; */
/*  --hui-zagnla-text-align-last-default: ; */
/*  --hui-zagnla-text-decoration-color-default: ; */
/*  --hui-zagnla-text-decoration-line-default: ; */
/*  --hui-zagnla-text-decoration-style-default: ; */
/*  --hui-zagnla-text-decoration-thickness-default: ; */
/*  --hui-zagnla-text-indent-default: ; */
/*  --hui-zagnla-text-overflow-default: ; */
/*  --hui-zagnla-text-shadow-default: ; */
/*  --hui-zagnla-text-size-adjust-default: ; */
/*  --hui-zagnla-text-transform-default: ; */
/*  --hui-zagnla-text-wrap-default: ; */
/*  --hui-zagnla-vertical-align-default: ; */
/*  --hui-zagnla-white-space-collapse-default: ; */
/*  --hui-zagnla-word-break-default: ; */
/*  --hui-zagnla-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-zagnla-visibility-default: ; */
/*  --hui-zagnla-color-default: ; */
/*  --hui-zagnla-background-attachment-default: ; */
/*  --hui-zagnla-background-clip-default: ; */
/*  --hui-zagnla-background-color-default: ; */
/*  --hui-zagnla-background-image-default: ; */
/*  --hui-zagnla-background-origin-default: ; */
/*  --hui-zagnla-background-position-x-default: ; */
/*  --hui-zagnla-background-position-y-default: ; */
/*  --hui-zagnla-background-repeat-default: ; */
/*  --hui-zagnla-background-size-default: ; */
/*  --hui-zagnla-border-bottom-color-default: ; */
/*  --hui-zagnla-border-bottom-style-default: ; */
/*  --hui-zagnla-border-bottom-width-default: ; */
/*  --hui-zagnla-border-bottom-left-radius-default: ; */
/*  --hui-zagnla-border-bottom-right-radius-default: ; */
/*  --hui-zagnla-border-image-outset-default: ; */
/*  --hui-zagnla-border-image-repeat-default: ; */
/*  --hui-zagnla-border-image-slice-default: ; */
/*  --hui-zagnla-border-image-source-default: ; */
/*  --hui-zagnla-border-image-width-default: ; */
/*  --hui-zagnla-border-left-color-default: ; */
/*  --hui-zagnla-border-left-style-default: ; */
/*  --hui-zagnla-border-left-width-default: ; */
/*  --hui-zagnla-border-right-color-default: ; */
/*  --hui-zagnla-border-right-style-default: ; */
/*  --hui-zagnla-border-right-width-default: ; */
/*  --hui-zagnla-border-top-color-default: ; */
/*  --hui-zagnla-border-top-style-default: ; */
/*  --hui-zagnla-border-top-width-default: ; */
/*  --hui-zagnla-border-top-left-radius-default: ; */
/*  --hui-zagnla-border-top-right-radius-default: ; */
/*  --hui-zagnla-box-shadow-default: ; */
/*  --hui-zagnla-cursor-default: ; */
/*  --hui-zagnla-outline-color-default: ; */
/*  --hui-zagnla-outline-offset-default: ; */
/*  --hui-zagnla-outline-style-default: ; */
/*  --hui-zagnla-outline-width-default: ; */
/*  --hui-zagnla-scrollbar-color-default: ; */
/*  --hui-zagnla-scrollbar-gutter-default: ; */
/*  --hui-zagnla-scrollbar-width-default: ; */
/*  --hui-zagnla-grid-area-default: ; */
}
[data-hui=Textarea] > textarea {
/*  --hui-ccjrnw-resize-default: ; */
/*  --hui-ccjrnw-overflow-default: ; */
/*  --hui-ccjrnw-max-height-default: ; */
}
[data-hui=Textarea]::after {
  /* CONTENT */
/*  --hui-uesrne-content-default: ; */
/*  --hui-uesrne-counter-increment-default: ; */
/*  --hui-uesrne-counter-reset-default: ; */
/*  --hui-uesrne-quotes-default: ; */
/*  --hui-uesrne-visibility-default: ; */
  /* DISPLAY */
/*  --hui-uesrne-display-default: ; */
/*  --hui-uesrne-max-height-default: ; */
}
[data-hui=Textarea] > textarea::placeholder {
/*  --hui-otvrfb-font-size-default: ; */
/*  --hui-otvrfb-text-align-default: ; */
}
[data-hui=Textarea] > button[data-hui=Button] {
/*  --hui-rvvxnn-cursor-default: ; */
  /* LAYOUT-POSITION */
/*  --hui-rvvxnn-position-default: ; */
/*  --hui-rvvxnn-top-default: ; */
/*  --hui-rvvxnn-right-default: ; */
/*  --hui-rvvxnn-bottom-default: ; */
/*  --hui-rvvxnn-left-default: ; */
/*  --hui-rvvxnn-z-index-default: ; */
/*  --hui-rvvxnn-float-default: ; */
/*  --hui-rvvxnn-clear-default: ; */
/*  --hui-rvvxnn-align-self-default: ; */
/*  --hui-rvvxnn-order-default: ; */
/*  --hui-rvvxnn-font-size-default: ; */
}