[data-hui=DataTable] {
  /* GRID */
/*  --hui-grid-auto-columns-default: ; */
/*  --hui-grid-auto-flow-default: ; */
/*  --hui-grid-auto-rows-default: ; */
/*  --hui-grid-column-end-default: ; */
/*  --hui-grid-column-start-default: ; */
/*  --hui-grid-row-end-default: ; */
/*  --hui-grid-row-start-default: ; */
/*  --hui-grid-template-areas-default: ; */
/*  --hui-grid-template-columns-default: ; */
/*  --hui-grid-template-rows-default: ; */
/*  --hui-column-gap-default: ; */
/*  --hui-row-gap-default: ; */
  /* LAYOUT-DISPLAY */
/*  --hui-display-default: ; */
/*  --hui-visibility-default: ; */
  /* LAYOUT-POSITION */
/*  --hui-position-default: ; */
/*  --hui-top-default: ; */
/*  --hui-right-default: ; */
/*  --hui-bottom-default: ; */
/*  --hui-left-default: ; */
/*  --hui-z-index-default: ; */
/*  --hui-float-default: ; */
/*  --hui-clear-default: ; */
/*  --hui-align-content-default: ; */
/*  --hui-align-items-default: ; */
/*  --hui-align-self-default: ; */
/*  --hui-order-default: ; */
/*  --hui-justify-content-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing-default: ; */
/*  --hui-height-default: ; */
/*  --hui-max-height-default: ; */
/*  --hui-min-height-default: ; */
/*  --hui-width-default: ; */
/*  --hui-max-width-default: ; */
/*  --hui-min-width-default: ; */
/*  --hui-block-size-default: ; */
/*  --hui-resize-default: ; */
/*  --hui-inline-size-default: ; */
/*  --hui-max-block-size-default: ; */
/*  --hui-max-inline-size-default: ; */
/*  --hui-min-block-size-default: ; */
/*  --hui-min-inline-size-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top-default: ; */
/*  --hui-margin-right-default: ; */
/*  --hui-margin-bottom-default: ; */
/*  --hui-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-padding-top-default: ; */
/*  --hui-padding-right-default: ; */
/*  --hui-padding-bottom-default: ; */
/*  --hui-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x-default: ; */
/*  --hui-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis-default: ; */
/*  --hui-flex-direction-default: ; */
/*  --hui-flex-grow-default: ; */
/*  --hui-flex-shrink-default: ; */
/*  --hui-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-direction-default: ; */
/*  --hui-font-family-default: ; */
/*  --hui-font-feature-settings-default: ; */
/*  --hui-font-kerning-default: ; */
/*  --hui-font-optical-sizing-default: ; */
/*  --hui-font-size-default: ; */
/*  --hui-font-stretch-default: ; */
/*  --hui-font-style-default: ; */
/*  --hui-font-variant-alternates-default: ; */
/*  --hui-font-variant-caps-default: ; */
/*  --hui-font-variant-east-asian-default: ; */
/*  --hui-font-variant-ligatures-default: ; */
/*  --hui-font-variant-numeric-default: ; */
/*  --hui-font-variant-position-default: ; */
/*  --hui-font-variation-settings-default: ; */
/*  --hui-font-weight-default: ; */
/*  --hui-letter-spacing-default: ; */
/*  --hui-line-height-default: ; */
/*  --hui-tab-size-default: ; */
/*  --hui-text-align-default: ; */
/*  --hui-text-align-last-default: ; */
/*  --hui-text-decoration-color-default: ; */
/*  --hui-text-decoration-line-default: ; */
/*  --hui-text-decoration-style-default: ; */
/*  --hui-text-decoration-thickness-default: ; */
/*  --hui-text-indent-default: ; */
/*  --hui-text-overflow-default: ; */
/*  --hui-text-shadow-default: ; */
/*  --hui-text-size-adjust-default: ; */
/*  --hui-text-transform-default: ; */
/*  --hui-text-wrap-default: ; */
/*  --hui-vertical-align-default: ; */
/*  --hui-white-space-collapse-default: ; */
/*  --hui-word-break-default: ; */
/*  --hui-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-color-default: ; */
/*  --hui-background-attachment-default: ; */
/*  --hui-background-clip-default: ; */
/*  --hui-background-color-default: ; */
/*  --hui-background-image-default: ; */
/*  --hui-background-origin-default: ; */
/*  --hui-background-position-x-default: ; */
/*  --hui-background-position-y-default: ; */
/*  --hui-background-repeat-default: ; */
/*  --hui-background-size-default: ; */
/*  --hui-border-bottom-color-default: ; */
/*  --hui-border-bottom-style-default: ; */
/*  --hui-border-bottom-width-default: ; */
/*  --hui-border-image-outset-default: ; */
/*  --hui-border-image-repeat-default: ; */
/*  --hui-border-image-slice-default: ; */
/*  --hui-border-image-source-default: ; */
/*  --hui-border-image-width-default: ; */
/*  --hui-border-left-color-default: ; */
/*  --hui-border-left-style-default: ; */
/*  --hui-border-left-width-default: ; */
/*  --hui-border-right-color-default: ; */
/*  --hui-border-right-style-default: ; */
/*  --hui-border-right-width-default: ; */
/*  --hui-border-top-color-default: ; */
/*  --hui-border-top-style-default: ; */
/*  --hui-border-top-width-default: ; */
/*  --hui-box-shadow-default: ; */
/*  --hui-cursor-default: ; */
/*  --hui-outline-color-default: ; */
/*  --hui-outline-offset-default: ; */
/*  --hui-outline-style-default: ; */
/*  --hui-outline-width-default: ; */
  /* ANIMATION */
/*  --hui-animation-direction-default: ; */
/*  --hui-animation-duration-default: ; */
/*  --hui-animation-fill-mode-default: ; */
/*  --hui-animation-iteration-count-default: ; */
/*  --hui-animation-name-default: ; */
/*  --hui-animation-play-state-default: ; */
/*  --hui-animation-timing-function-default: ; */
/*  --hui-transition-behavior-default: ; */
/*  --hui-transition-delay-default: ; */
/*  --hui-transition-duration-default: ; */
/*  --hui-transition-property-default: ; */
/*  --hui-transition-timing-function-default: ; */
}
[data-hui=DataTable] > data > table {
  /* GRID */
/*  --hui-grid-auto-columns: ; */
/*  --hui-grid-auto-flow: ; */
/*  --hui-grid-auto-rows: ; */
/*  --hui-grid-column-end: ; */
/*  --hui-grid-column-start: ; */
/*  --hui-grid-row-end: ; */
/*  --hui-grid-row-start: ; */
/*  --hui-grid-template-areas: ; */
  --hui-grid-template-columns: repeat(1000, max-content);
/*  --hui-grid-template-rows: ; */
  --hui-column-gap: var(--hui-vars-spacer-5);
  --hui-row-gap: var(--hui-vars-spacer-5);
  /* LAYOUT-DISPLAY */
  --hui-display: grid;
/*  --hui-visibility: ; */
  /* LAYOUT-POSITION */
/*  --hui-position: ; */
/*  --hui-top: ; */
/*  --hui-right: ; */
/*  --hui-bottom: ; */
/*  --hui-left: ; */
/*  --hui-z-index: ; */
/*  --hui-float: ; */
/*  --hui-clear: ; */
/*  --hui-align-content: ; */
/*  --hui-align-items: ; */
/*  --hui-align-self: ; */
/*  --hui-order: ; */
/*  --hui-justify-content: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing: ; */
/*  --hui-height: ; */
/*  --hui-max-height: ; */
/*  --hui-min-height: ; */
/*  --hui-width: ; */
/*  --hui-max-width: ; */
/*  --hui-min-width: ; */
/*  --hui-block-size: ; */
/*  --hui-resize: ; */
/*  --hui-inline-size: ; */
/*  --hui-max-block-size: ; */
/*  --hui-max-inline-size: ; */
/*  --hui-min-block-size: ; */
/*  --hui-min-inline-size: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top: ; */
/*  --hui-margin-right: ; */
/*  --hui-margin-bottom: ; */
/*  --hui-margin-left: ; */
  /* LAYOUT-PADDING */
/*  --hui-padding-top: ; */
/*  --hui-padding-right: ; */
/*  --hui-padding-bottom: ; */
/*  --hui-padding-left: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x: ; */
/*  --hui-overflow-y: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis: ; */
/*  --hui-flex-direction: ; */
/*  --hui-flex-grow: ; */
/*  --hui-flex-shrink: ; */
/*  --hui-flex-wrap: ; */
  /* TEXT */
/*  --hui-direction: ; */
/*  --hui-font-family: ; */
/*  --hui-font-feature-settings: ; */
/*  --hui-font-kerning: ; */
/*  --hui-font-optical-sizing: ; */
/*  --hui-font-size: ; */
/*  --hui-font-stretch: ; */
/*  --hui-font-style: ; */
/*  --hui-font-variant-alternates: ; */
/*  --hui-font-variant-caps: ; */
/*  --hui-font-variant-east-asian: ; */
/*  --hui-font-variant-ligatures: ; */
/*  --hui-font-variant-numeric: ; */
/*  --hui-font-variant-position: ; */
/*  --hui-font-variation-settings: ; */
/*  --hui-font-weight: ; */
/*  --hui-letter-spacing: ; */
/*  --hui-line-height: ; */
/*  --hui-tab-size: ; */
/*  --hui-text-align: ; */
/*  --hui-text-align-last: ; */
/*  --hui-text-decoration-color: ; */
/*  --hui-text-decoration-line: ; */
/*  --hui-text-decoration-style: ; */
/*  --hui-text-decoration-thickness: ; */
/*  --hui-text-indent: ; */
/*  --hui-text-overflow: ; */
/*  --hui-text-shadow: ; */
/*  --hui-text-size-adjust: ; */
/*  --hui-text-transform: ; */
/*  --hui-text-wrap: ; */
/*  --hui-vertical-align: ; */
/*  --hui-white-space-collapse: ; */
/*  --hui-word-break: ; */
/*  --hui-word-spacing: ; */
  /* APPERANCE */
/*  --hui-color: ; */
/*  --hui-background-attachment: ; */
/*  --hui-background-clip: ; */
/*  --hui-background-color: ; */
/*  --hui-background-image: ; */
/*  --hui-background-origin: ; */
/*  --hui-background-position-x: ; */
/*  --hui-background-position-y: ; */
/*  --hui-background-repeat: ; */
/*  --hui-background-size: ; */
/*  --hui-border-bottom-color: ; */
/*  --hui-border-bottom-style: ; */
/*  --hui-border-bottom-width: ; */
/*  --hui-border-image-outset: ; */
/*  --hui-border-image-repeat: ; */
/*  --hui-border-image-slice: ; */
/*  --hui-border-image-source: ; */
/*  --hui-border-image-width: ; */
/*  --hui-border-left-color: ; */
/*  --hui-border-left-style: ; */
/*  --hui-border-left-width: ; */
/*  --hui-border-right-color: ; */
/*  --hui-border-right-style: ; */
/*  --hui-border-right-width: ; */
/*  --hui-border-top-color: ; */
/*  --hui-border-top-style: ; */
/*  --hui-border-top-width: ; */
/*  --hui-box-shadow: ; */
/*  --hui-cursor: ; */
/*  --hui-outline-color: ; */
/*  --hui-outline-offset: ; */
/*  --hui-outline-style: ; */
/*  --hui-outline-width: ; */
  /* ANIMATION */
/*  --hui-animation-direction: ; */
/*  --hui-animation-duration: ; */
/*  --hui-animation-fill-mode: ; */
/*  --hui-animation-iteration-count: ; */
/*  --hui-animation-name: ; */
/*  --hui-animation-play-state: ; */
/*  --hui-animation-timing-function: ; */
/*  --hui-transition-behavior: ; */
/*  --hui-transition-delay: ; */
/*  --hui-transition-duration: ; */
/*  --hui-transition-property: ; */
/*  --hui-transition-timing-function: ; */
}
[data-hui=DataTable] > data > table > thead {
  /* GRID */
/*  --hui-grid-auto-columns: ; */
/*  --hui-grid-auto-flow: ; */
/*  --hui-grid-auto-rows: ; */
  --hui-grid-column-end: -1;
  --hui-grid-column-start: 1;
/*  --hui-grid-row-end: ; */
/*  --hui-grid-row-start: ; */
/*  --hui-grid-template-areas: ; */
  --hui-grid-template-columns: subgrid;
/*  --hui-grid-template-rows: ; */
/*  --hui-column-gap: ; */
/*  --hui-row-gap: ; */
  /* LAYOUT-DISPLAY */
  --hui-display: grid;
/*  --hui-visibility: ; */
  /* LAYOUT-POSITION */
/*  --hui-position: ; */
/*  --hui-top: ; */
/*  --hui-right: ; */
/*  --hui-bottom: ; */
/*  --hui-left: ; */
/*  --hui-z-index: ; */
/*  --hui-float: ; */
/*  --hui-clear: ; */
/*  --hui-align-content: ; */
/*  --hui-align-items: ; */
/*  --hui-align-self: ; */
/*  --hui-order: ; */
/*  --hui-justify-content: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing: ; */
/*  --hui-height: ; */
/*  --hui-max-height: ; */
/*  --hui-min-height: ; */
/*  --hui-width: ; */
/*  --hui-max-width: ; */
/*  --hui-min-width: ; */
/*  --hui-block-size: ; */
/*  --hui-resize: ; */
/*  --hui-inline-size: ; */
/*  --hui-max-block-size: ; */
/*  --hui-max-inline-size: ; */
/*  --hui-min-block-size: ; */
/*  --hui-min-inline-size: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top: ; */
/*  --hui-margin-right: ; */
/*  --hui-margin-bottom: ; */
/*  --hui-margin-left: ; */
  /* LAYOUT-PADDING */
/*  --hui-padding-top: ; */
/*  --hui-padding-right: ; */
/*  --hui-padding-bottom: ; */
/*  --hui-padding-left: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x: ; */
/*  --hui-overflow-y: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis: ; */
/*  --hui-flex-direction: ; */
/*  --hui-flex-grow: ; */
/*  --hui-flex-shrink: ; */
/*  --hui-flex-wrap: ; */
  /* TEXT */
/*  --hui-direction: ; */
/*  --hui-font-family: ; */
/*  --hui-font-feature-settings: ; */
/*  --hui-font-kerning: ; */
/*  --hui-font-optical-sizing: ; */
/*  --hui-font-size: ; */
/*  --hui-font-stretch: ; */
/*  --hui-font-style: ; */
/*  --hui-font-variant-alternates: ; */
/*  --hui-font-variant-caps: ; */
/*  --hui-font-variant-east-asian: ; */
/*  --hui-font-variant-ligatures: ; */
/*  --hui-font-variant-numeric: ; */
/*  --hui-font-variant-position: ; */
/*  --hui-font-variation-settings: ; */
/*  --hui-font-weight: ; */
/*  --hui-letter-spacing: ; */
/*  --hui-line-height: ; */
/*  --hui-tab-size: ; */
/*  --hui-text-align: ; */
/*  --hui-text-align-last: ; */
/*  --hui-text-decoration-color: ; */
/*  --hui-text-decoration-line: ; */
/*  --hui-text-decoration-style: ; */
/*  --hui-text-decoration-thickness: ; */
/*  --hui-text-indent: ; */
/*  --hui-text-overflow: ; */
/*  --hui-text-shadow: ; */
/*  --hui-text-size-adjust: ; */
/*  --hui-text-transform: ; */
/*  --hui-text-wrap: ; */
/*  --hui-vertical-align: ; */
/*  --hui-white-space-collapse: ; */
/*  --hui-word-break: ; */
/*  --hui-word-spacing: ; */
  /* APPERANCE */
/*  --hui-color: ; */
/*  --hui-background-attachment: ; */
/*  --hui-background-clip: ; */
/*  --hui-background-color: ; */
/*  --hui-background-image: ; */
/*  --hui-background-origin: ; */
/*  --hui-background-position-x: ; */
/*  --hui-background-position-y: ; */
/*  --hui-background-repeat: ; */
/*  --hui-background-size: ; */
/*  --hui-border-bottom-color: ; */
/*  --hui-border-bottom-style: ; */
/*  --hui-border-bottom-width: ; */
/*  --hui-border-image-outset: ; */
/*  --hui-border-image-repeat: ; */
/*  --hui-border-image-slice: ; */
/*  --hui-border-image-source: ; */
/*  --hui-border-image-width: ; */
/*  --hui-border-left-color: ; */
/*  --hui-border-left-style: ; */
/*  --hui-border-left-width: ; */
/*  --hui-border-right-color: ; */
/*  --hui-border-right-style: ; */
/*  --hui-border-right-width: ; */
/*  --hui-border-top-color: ; */
/*  --hui-border-top-style: ; */
/*  --hui-border-top-width: ; */
/*  --hui-box-shadow: ; */
/*  --hui-cursor: ; */
/*  --hui-outline-color: ; */
/*  --hui-outline-offset: ; */
/*  --hui-outline-style: ; */
/*  --hui-outline-width: ; */
  /* ANIMATION */
/*  --hui-animation-direction: ; */
/*  --hui-animation-duration: ; */
/*  --hui-animation-fill-mode: ; */
/*  --hui-animation-iteration-count: ; */
/*  --hui-animation-name: ; */
/*  --hui-animation-play-state: ; */
/*  --hui-animation-timing-function: ; */
/*  --hui-transition-behavior: ; */
/*  --hui-transition-delay: ; */
/*  --hui-transition-duration: ; */
/*  --hui-transition-property: ; */
/*  --hui-transition-timing-function: ; */
}
[data-hui=DataTable] > data > table > tbody {
  /* GRID */
/*  --hui-grid-auto-columns: ; */
/*  --hui-grid-auto-flow: ; */
/*  --hui-grid-auto-rows: ; */
  --hui-grid-column-end: -1;
  --hui-grid-column-start: 1;
/*  --hui-grid-row-end: ; */
/*  --hui-grid-row-start: ; */
/*  --hui-grid-template-areas: ; */
  --hui-grid-template-columns: subgrid;
/*  --hui-grid-template-rows: ; */
/*  --hui-column-gap: ; */
/*  --hui-row-gap: ; */
  /* LAYOUT-DISPLAY */
  --hui-display: grid;
/*  --hui-visibility: ; */
  /* LAYOUT-POSITION */
/*  --hui-position: ; */
/*  --hui-top: ; */
/*  --hui-right: ; */
/*  --hui-bottom: ; */
/*  --hui-left: ; */
/*  --hui-z-index: ; */
/*  --hui-float: ; */
/*  --hui-clear: ; */
/*  --hui-align-content: ; */
/*  --hui-align-items: ; */
/*  --hui-align-self: ; */
/*  --hui-order: ; */
/*  --hui-justify-content: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing: ; */
/*  --hui-height: ; */
/*  --hui-max-height: ; */
/*  --hui-min-height: ; */
/*  --hui-width: ; */
/*  --hui-max-width: ; */
/*  --hui-min-width: ; */
/*  --hui-block-size: ; */
/*  --hui-resize: ; */
/*  --hui-inline-size: ; */
/*  --hui-max-block-size: ; */
/*  --hui-max-inline-size: ; */
/*  --hui-min-block-size: ; */
/*  --hui-min-inline-size: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top: ; */
/*  --hui-margin-right: ; */
/*  --hui-margin-bottom: ; */
/*  --hui-margin-left: ; */
  /* LAYOUT-PADDING */
/*  --hui-padding-top: ; */
/*  --hui-padding-right: ; */
/*  --hui-padding-bottom: ; */
/*  --hui-padding-left: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x: ; */
/*  --hui-overflow-y: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis: ; */
/*  --hui-flex-direction: ; */
/*  --hui-flex-grow: ; */
/*  --hui-flex-shrink: ; */
/*  --hui-flex-wrap: ; */
  /* TEXT */
/*  --hui-direction: ; */
/*  --hui-font-family: ; */
/*  --hui-font-feature-settings: ; */
/*  --hui-font-kerning: ; */
/*  --hui-font-optical-sizing: ; */
/*  --hui-font-size: ; */
/*  --hui-font-stretch: ; */
/*  --hui-font-style: ; */
/*  --hui-font-variant-alternates: ; */
/*  --hui-font-variant-caps: ; */
/*  --hui-font-variant-east-asian: ; */
/*  --hui-font-variant-ligatures: ; */
/*  --hui-font-variant-numeric: ; */
/*  --hui-font-variant-position: ; */
/*  --hui-font-variation-settings: ; */
/*  --hui-font-weight: ; */
/*  --hui-letter-spacing: ; */
/*  --hui-line-height: ; */
/*  --hui-tab-size: ; */
/*  --hui-text-align: ; */
/*  --hui-text-align-last: ; */
/*  --hui-text-decoration-color: ; */
/*  --hui-text-decoration-line: ; */
/*  --hui-text-decoration-style: ; */
/*  --hui-text-decoration-thickness: ; */
/*  --hui-text-indent: ; */
/*  --hui-text-overflow: ; */
/*  --hui-text-shadow: ; */
/*  --hui-text-size-adjust: ; */
/*  --hui-text-transform: ; */
/*  --hui-text-wrap: ; */
/*  --hui-vertical-align: ; */
/*  --hui-white-space-collapse: ; */
/*  --hui-word-break: ; */
/*  --hui-word-spacing: ; */
  /* APPERANCE */
/*  --hui-color: ; */
/*  --hui-background-attachment: ; */
/*  --hui-background-clip: ; */
/*  --hui-background-color: ; */
/*  --hui-background-image: ; */
/*  --hui-background-origin: ; */
/*  --hui-background-position-x: ; */
/*  --hui-background-position-y: ; */
/*  --hui-background-repeat: ; */
/*  --hui-background-size: ; */
/*  --hui-border-bottom-color: ; */
/*  --hui-border-bottom-style: ; */
/*  --hui-border-bottom-width: ; */
/*  --hui-border-image-outset: ; */
/*  --hui-border-image-repeat: ; */
/*  --hui-border-image-slice: ; */
/*  --hui-border-image-source: ; */
/*  --hui-border-image-width: ; */
/*  --hui-border-left-color: ; */
/*  --hui-border-left-style: ; */
/*  --hui-border-left-width: ; */
/*  --hui-border-right-color: ; */
/*  --hui-border-right-style: ; */
/*  --hui-border-right-width: ; */
/*  --hui-border-top-color: ; */
/*  --hui-border-top-style: ; */
/*  --hui-border-top-width: ; */
/*  --hui-box-shadow: ; */
/*  --hui-cursor: ; */
/*  --hui-outline-color: ; */
/*  --hui-outline-offset: ; */
/*  --hui-outline-style: ; */
/*  --hui-outline-width: ; */
  /* ANIMATION */
/*  --hui-animation-direction: ; */
/*  --hui-animation-duration: ; */
/*  --hui-animation-fill-mode: ; */
/*  --hui-animation-iteration-count: ; */
/*  --hui-animation-name: ; */
/*  --hui-animation-play-state: ; */
/*  --hui-animation-timing-function: ; */
/*  --hui-transition-behavior: ; */
/*  --hui-transition-delay: ; */
/*  --hui-transition-duration: ; */
/*  --hui-transition-property: ; */
/*  --hui-transition-timing-function: ; */
}
[data-hui=DataTable] > data > table > * > tr {
  /* GRID */
/*  --hui-grid-auto-columns: ; */
/*  --hui-grid-auto-flow: ; */
/*  --hui-grid-auto-rows: ; */
  --hui-grid-column-end: -1;
  --hui-grid-column-start: 1;
/*  --hui-grid-row-end: ; */
/*  --hui-grid-row-start: ; */
/*  --hui-grid-template-areas: ; */
/*  --hui-grid-template-columns: ; */
/*  --hui-grid-template-rows: ; */
/*  --hui-column-gap: ; */
/*  --hui-row-gap: ; */
  /* LAYOUT-DISPLAY */
  --hui-display: grid;
/*  --hui-visibility: ; */
  /* LAYOUT-POSITION */
/*  --hui-position: ; */
/*  --hui-top: ; */
/*  --hui-right: ; */
/*  --hui-bottom: ; */
/*  --hui-left: ; */
/*  --hui-z-index: ; */
/*  --hui-float: ; */
/*  --hui-clear: ; */
/*  --hui-align-content: ; */
/*  --hui-align-items: ; */
/*  --hui-align-self: ; */
/*  --hui-order: ; */
/*  --hui-justify-content: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing: ; */
/*  --hui-height: ; */
/*  --hui-max-height: ; */
/*  --hui-min-height: ; */
/*  --hui-width: ; */
/*  --hui-max-width: ; */
/*  --hui-min-width: ; */
/*  --hui-block-size: ; */
/*  --hui-resize: ; */
/*  --hui-inline-size: ; */
/*  --hui-max-block-size: ; */
/*  --hui-max-inline-size: ; */
/*  --hui-min-block-size: ; */
/*  --hui-min-inline-size: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top: ; */
/*  --hui-margin-right: ; */
/*  --hui-margin-bottom: ; */
/*  --hui-margin-left: ; */
  /* LAYOUT-PADDING */
/*  --hui-padding-top: ; */
/*  --hui-padding-right: ; */
/*  --hui-padding-bottom: ; */
/*  --hui-padding-left: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x: ; */
/*  --hui-overflow-y: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis: ; */
/*  --hui-flex-direction: ; */
/*  --hui-flex-grow: ; */
/*  --hui-flex-shrink: ; */
/*  --hui-flex-wrap: ; */
  /* TEXT */
/*  --hui-direction: ; */
/*  --hui-font-family: ; */
/*  --hui-font-feature-settings: ; */
/*  --hui-font-kerning: ; */
/*  --hui-font-optical-sizing: ; */
/*  --hui-font-size: ; */
/*  --hui-font-stretch: ; */
/*  --hui-font-style: ; */
/*  --hui-font-variant-alternates: ; */
/*  --hui-font-variant-caps: ; */
/*  --hui-font-variant-east-asian: ; */
/*  --hui-font-variant-ligatures: ; */
/*  --hui-font-variant-numeric: ; */
/*  --hui-font-variant-position: ; */
/*  --hui-font-variation-settings: ; */
/*  --hui-font-weight: ; */
/*  --hui-letter-spacing: ; */
/*  --hui-line-height: ; */
/*  --hui-tab-size: ; */
/*  --hui-text-align: ; */
/*  --hui-text-align-last: ; */
/*  --hui-text-decoration-color: ; */
/*  --hui-text-decoration-line: ; */
/*  --hui-text-decoration-style: ; */
/*  --hui-text-decoration-thickness: ; */
/*  --hui-text-indent: ; */
/*  --hui-text-overflow: ; */
/*  --hui-text-shadow: ; */
/*  --hui-text-size-adjust: ; */
/*  --hui-text-transform: ; */
/*  --hui-text-wrap: ; */
/*  --hui-vertical-align: ; */
/*  --hui-white-space-collapse: ; */
/*  --hui-word-break: ; */
/*  --hui-word-spacing: ; */
  /* APPERANCE */
/*  --hui-color: ; */
/*  --hui-background-attachment: ; */
/*  --hui-background-clip: ; */
/*  --hui-background-color: ; */
/*  --hui-background-image: ; */
/*  --hui-background-origin: ; */
/*  --hui-background-position-x: ; */
/*  --hui-background-position-y: ; */
/*  --hui-background-repeat: ; */
/*  --hui-background-size: ; */
/*  --hui-border-bottom-color: ; */
/*  --hui-border-bottom-style: ; */
/*  --hui-border-bottom-width: ; */
/*  --hui-border-image-outset: ; */
/*  --hui-border-image-repeat: ; */
/*  --hui-border-image-slice: ; */
/*  --hui-border-image-source: ; */
/*  --hui-border-image-width: ; */
/*  --hui-border-left-color: ; */
/*  --hui-border-left-style: ; */
/*  --hui-border-left-width: ; */
/*  --hui-border-right-color: ; */
/*  --hui-border-right-style: ; */
/*  --hui-border-right-width: ; */
/*  --hui-border-top-color: ; */
/*  --hui-border-top-style: ; */
/*  --hui-border-top-width: ; */
/*  --hui-box-shadow: ; */
/*  --hui-cursor: ; */
/*  --hui-outline-color: ; */
/*  --hui-outline-offset: ; */
/*  --hui-outline-style: ; */
/*  --hui-outline-width: ; */
  /* ANIMATION */
/*  --hui-animation-direction: ; */
/*  --hui-animation-duration: ; */
/*  --hui-animation-fill-mode: ; */
/*  --hui-animation-iteration-count: ; */
/*  --hui-animation-name: ; */
/*  --hui-animation-play-state: ; */
/*  --hui-animation-timing-function: ; */
/*  --hui-transition-behavior: ; */
/*  --hui-transition-delay: ; */
/*  --hui-transition-duration: ; */
/*  --hui-transition-property: ; */
/*  --hui-transition-timing-function: ; */
}
[data-hui=DataTable] > data > table > thead > tr > th {
  /* LAYOUT-DISPLAY */
  --hui-display: block;
/*  --hui-visibility: ; */
  /* LAYOUT-POSITION */
/*  --hui-position: ; */
/*  --hui-top: ; */
/*  --hui-right: ; */
/*  --hui-bottom: ; */
/*  --hui-left: ; */
/*  --hui-z-index: ; */
/*  --hui-float: ; */
/*  --hui-clear: ; */
/*  --hui-align-content: ; */
/*  --hui-align-items: ; */
/*  --hui-align-self: ; */
/*  --hui-order: ; */
/*  --hui-justify-content: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing: ; */
/*  --hui-height: ; */
/*  --hui-max-height: ; */
/*  --hui-min-height: ; */
/*  --hui-width: ; */
/*  --hui-max-width: ; */
/*  --hui-min-width: ; */
/*  --hui-block-size: ; */
/*  --hui-resize: ; */
/*  --hui-inline-size: ; */
/*  --hui-max-block-size: ; */
/*  --hui-max-inline-size: ; */
/*  --hui-min-block-size: ; */
/*  --hui-min-inline-size: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top: ; */
/*  --hui-margin-right: ; */
/*  --hui-margin-bottom: ; */
/*  --hui-margin-left: ; */
  /* LAYOUT-PADDING */
  --hui-padding-top: var(--hui-vars-spacer-7);
  --hui-padding-right: var(--hui-vars-spacer-7);
  --hui-padding-bottom: var(--hui-vars-spacer-7);
  --hui-padding-left: var(--hui-vars-spacer-7);
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x: ; */
/*  --hui-overflow-y: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis: ; */
/*  --hui-flex-direction: ; */
/*  --hui-flex-grow: ; */
/*  --hui-flex-shrink: ; */
/*  --hui-flex-wrap: ; */
  /* TEXT */
/*  --hui-direction: ; */
/*  --hui-font-family: ; */
/*  --hui-font-feature-settings: ; */
/*  --hui-font-kerning: ; */
/*  --hui-font-optical-sizing: ; */
/*  --hui-font-size: ; */
/*  --hui-font-stretch: ; */
/*  --hui-font-style: ; */
/*  --hui-font-variant-alternates: ; */
/*  --hui-font-variant-caps: ; */
/*  --hui-font-variant-east-asian: ; */
/*  --hui-font-variant-ligatures: ; */
/*  --hui-font-variant-numeric: ; */
/*  --hui-font-variant-position: ; */
/*  --hui-font-variation-settings: ; */
/*  --hui-font-weight: ; */
/*  --hui-letter-spacing: ; */
/*  --hui-line-height: ; */
/*  --hui-tab-size: ; */
/*  --hui-text-align: ; */
/*  --hui-text-align-last: ; */
/*  --hui-text-decoration-color: ; */
/*  --hui-text-decoration-line: ; */
/*  --hui-text-decoration-style: ; */
/*  --hui-text-decoration-thickness: ; */
/*  --hui-text-indent: ; */
/*  --hui-text-overflow: ; */
/*  --hui-text-shadow: ; */
/*  --hui-text-size-adjust: ; */
/*  --hui-text-transform: ; */
/*  --hui-text-wrap: ; */
/*  --hui-vertical-align: ; */
/*  --hui-white-space-collapse: ; */
/*  --hui-word-break: ; */
/*  --hui-word-spacing: ; */
  /* APPERANCE */
/*  --hui-color: ; */
/*  --hui-background-attachment: ; */
/*  --hui-background-clip: ; */
/*  --hui-background-color: ; */
/*  --hui-background-image: ; */
/*  --hui-background-origin: ; */
/*  --hui-background-position-x: ; */
/*  --hui-background-position-y: ; */
/*  --hui-background-repeat: ; */
/*  --hui-background-size: ; */
/*  --hui-border-bottom-color: ; */
/*  --hui-border-bottom-style: ; */
/*  --hui-border-bottom-width: ; */
/*  --hui-border-image-outset: ; */
/*  --hui-border-image-repeat: ; */
/*  --hui-border-image-slice: ; */
/*  --hui-border-image-source: ; */
/*  --hui-border-image-width: ; */
/*  --hui-border-left-color: ; */
/*  --hui-border-left-style: ; */
/*  --hui-border-left-width: ; */
/*  --hui-border-right-color: ; */
/*  --hui-border-right-style: ; */
/*  --hui-border-right-width: ; */
/*  --hui-border-top-color: ; */
/*  --hui-border-top-style: ; */
/*  --hui-border-top-width: ; */
/*  --hui-box-shadow: ; */
/*  --hui-cursor: ; */
/*  --hui-outline-color: ; */
/*  --hui-outline-offset: ; */
/*  --hui-outline-style: ; */
/*  --hui-outline-width: ; */
  /* ANIMATION */
/*  --hui-animation-direction: ; */
/*  --hui-animation-duration: ; */
/*  --hui-animation-fill-mode: ; */
/*  --hui-animation-iteration-count: ; */
/*  --hui-animation-name: ; */
/*  --hui-animation-play-state: ; */
/*  --hui-animation-timing-function: ; */
/*  --hui-transition-behavior: ; */
/*  --hui-transition-delay: ; */
/*  --hui-transition-duration: ; */
/*  --hui-transition-property: ; */
/*  --hui-transition-timing-function: ; */
}
[data-hui=DataTable] > data > table > tbody > tr > td {
  /* LAYOUT-DISPLAY */
  --hui-display: block;
/*  --hui-visibility: ; */
  /* LAYOUT-POSITION */
/*  --hui-position: ; */
/*  --hui-top: ; */
/*  --hui-right: ; */
/*  --hui-bottom: ; */
/*  --hui-left: ; */
/*  --hui-z-index: ; */
/*  --hui-float: ; */
/*  --hui-clear: ; */
/*  --hui-align-content: ; */
/*  --hui-align-items: ; */
/*  --hui-align-self: ; */
/*  --hui-order: ; */
/*  --hui-justify-content: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing: ; */
/*  --hui-height: ; */
/*  --hui-max-height: ; */
/*  --hui-min-height: ; */
/*  --hui-width: ; */
/*  --hui-max-width: ; */
/*  --hui-min-width: ; */
/*  --hui-block-size: ; */
/*  --hui-resize: ; */
/*  --hui-inline-size: ; */
/*  --hui-max-block-size: ; */
/*  --hui-max-inline-size: ; */
/*  --hui-min-block-size: ; */
/*  --hui-min-inline-size: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top: ; */
/*  --hui-margin-right: ; */
/*  --hui-margin-bottom: ; */
/*  --hui-margin-left: ; */
  /* LAYOUT-PADDING */
  --hui-padding-top: var(--hui-vars-spacer-7);
  --hui-padding-right: var(--hui-vars-spacer-7);
  --hui-padding-bottom: var(--hui-vars-spacer-7);
  --hui-padding-left: var(--hui-vars-spacer-7);
  /* LAYOUT-OVERFLOW */
  --hui-overflow-x: auto;
/*  --hui-overflow-y: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis: ; */
/*  --hui-flex-direction: ; */
/*  --hui-flex-grow: ; */
/*  --hui-flex-shrink: ; */
/*  --hui-flex-wrap: ; */
  /* TEXT */
/*  --hui-direction: ; */
/*  --hui-font-family: ; */
/*  --hui-font-feature-settings: ; */
/*  --hui-font-kerning: ; */
/*  --hui-font-optical-sizing: ; */
/*  --hui-font-size: ; */
/*  --hui-font-stretch: ; */
/*  --hui-font-style: ; */
/*  --hui-font-variant-alternates: ; */
/*  --hui-font-variant-caps: ; */
/*  --hui-font-variant-east-asian: ; */
/*  --hui-font-variant-ligatures: ; */
/*  --hui-font-variant-numeric: ; */
/*  --hui-font-variant-position: ; */
/*  --hui-font-variation-settings: ; */
/*  --hui-font-weight: ; */
/*  --hui-letter-spacing: ; */
/*  --hui-line-height: ; */
/*  --hui-tab-size: ; */
/*  --hui-text-align: ; */
/*  --hui-text-align-last: ; */
/*  --hui-text-decoration-color: ; */
/*  --hui-text-decoration-line: ; */
/*  --hui-text-decoration-style: ; */
/*  --hui-text-decoration-thickness: ; */
/*  --hui-text-indent: ; */
/*  --hui-text-overflow: ; */
/*  --hui-text-shadow: ; */
/*  --hui-text-size-adjust: ; */
/*  --hui-text-transform: ; */
/*  --hui-text-wrap: ; */
/*  --hui-vertical-align: ; */
/*  --hui-white-space-collapse: ; */
/*  --hui-word-break: ; */
/*  --hui-word-spacing: ; */
  /* APPERANCE */
/*  --hui-color: ; */
/*  --hui-background-attachment: ; */
/*  --hui-background-clip: ; */
/*  --hui-background-color: ; */
/*  --hui-background-image: ; */
/*  --hui-background-origin: ; */
/*  --hui-background-position-x: ; */
/*  --hui-background-position-y: ; */
/*  --hui-background-repeat: ; */
/*  --hui-background-size: ; */
/*  --hui-border-bottom-color: ; */
/*  --hui-border-bottom-style: ; */
/*  --hui-border-bottom-width: ; */
/*  --hui-border-image-outset: ; */
/*  --hui-border-image-repeat: ; */
/*  --hui-border-image-slice: ; */
/*  --hui-border-image-source: ; */
/*  --hui-border-image-width: ; */
/*  --hui-border-left-color: ; */
/*  --hui-border-left-style: ; */
/*  --hui-border-left-width: ; */
/*  --hui-border-right-color: ; */
/*  --hui-border-right-style: ; */
/*  --hui-border-right-width: ; */
/*  --hui-border-top-color: ; */
/*  --hui-border-top-style: ; */
/*  --hui-border-top-width: ; */
/*  --hui-box-shadow: ; */
/*  --hui-cursor: ; */
/*  --hui-outline-color: ; */
/*  --hui-outline-offset: ; */
/*  --hui-outline-style: ; */
/*  --hui-outline-width: ; */
  /* ANIMATION */
/*  --hui-animation-direction: ; */
/*  --hui-animation-duration: ; */
/*  --hui-animation-fill-mode: ; */
/*  --hui-animation-iteration-count: ; */
/*  --hui-animation-name: ; */
/*  --hui-animation-play-state: ; */
/*  --hui-animation-timing-function: ; */
/*  --hui-transition-behavior: ; */
/*  --hui-transition-delay: ; */
/*  --hui-transition-duration: ; */
/*  --hui-transition-property: ; */
/*  --hui-transition-timing-function: ; */
}
