[data-hui=DataTable] > table {
  /* GRID */
  --hui-pvlqdr-column-gap: 3px;
  --hui-pvlqdr-row-gap: 3px;
}
[data-hui=DataTable] > table > tbody,
[data-hui=DataTable] > table > thead,
[data-hui=DataTable] > table > * > tr {
  /* GRID */
  --hui-jymppr-column-gap: 3px;
  --hui-pvlqdr-row-gap: 3px;
}
[data-hui=DataTable] > table > tbody > tr > td,
[data-hui=DataTable] > table > thead > tr > th {
  /* LAYOUT-PADDING */
  --hui-gdjwdf-padding-top: var(--hui-default-spacer-6);
  --hui-gdjwdf-padding-right: var(--hui-default-spacer-6);
  --hui-gdjwdf-padding-bottom: var(--hui-default-spacer-6);
  --hui-gdjwdf-padding-left: var(--hui-default-spacer-6);
  /* APPERANCE */
  --hui-gdjwdf-border-bottom-color: var(--hui-default-border-color);
  --hui-gdjwdf-border-bottom-style: var(--hui-default-border-style);
  --hui-gdjwdf-border-bottom-width: var(--hui-default-border-width);
  --hui-gdjwdf-border-bottom-left-radius: var(--hui-default-border-radius-0);
  --hui-gdjwdf-border-bottom-right-radius: var(--hui-default-border-radius-0);
  --hui-gdjwdf-border-left-color: var(--hui-default-border-color);
  --hui-gdjwdf-border-left-style: var(--hui-default-border-style);
  --hui-gdjwdf-border-left-width: var(--hui-default-border-width);
  --hui-gdjwdf-border-right-color: var(--hui-default-border-color);
  --hui-gdjwdf-border-right-style: var(--hui-default-border-style);
  --hui-gdjwdf-border-right-width: var(--hui-default-border-width);
  --hui-gdjwdf-border-top-color: var(--hui-default-border-color);
  --hui-gdjwdf-border-top-style: var(--hui-default-border-style);
  --hui-gdjwdf-border-top-width: var(--hui-default-border-width);
  --hui-gdjwdf-border-top-left-radius: var(--hui-default-border-radius-0);
  --hui-gdjwdf-border-top-right-radius: var(--hui-default-border-radius-0);
}
[data-hui=DataTable][data-hui-active] > table {
}
[data-hui=DataTable][data-hui-active] > table > tbody,
[data-hui=DataTable][data-hui-active] > table > thead,
[data-hui=DataTable][data-hui-active] > table > * > tr {
}
[data-hui=DataTable][data-hui-active] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-active] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-disabled] > table {
}
[data-hui=DataTable][data-hui-disabled] > table > tbody,
[data-hui=DataTable][data-hui-disabled] > table > thead,
[data-hui=DataTable][data-hui-disabled] > table > * > tr {
}
[data-hui=DataTable][data-hui-disabled] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-disabled] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-readonly] > table {
}
[data-hui=DataTable][data-hui-readonly] > table > tbody,
[data-hui=DataTable][data-hui-readonly] > table > thead,
[data-hui=DataTable][data-hui-readonly] > table > * > tr {
}
[data-hui=DataTable][data-hui-readonly] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-readonly] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-valid] > table {
}
[data-hui=DataTable][data-hui-valid] > table > tbody,
[data-hui=DataTable][data-hui-valid] > table > thead,
[data-hui=DataTable][data-hui-valid] > table > * > tr {
}
[data-hui=DataTable][data-hui-valid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-valid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-invalid] > table {
}
[data-hui=DataTable][data-hui-invalid] > table > tbody,
[data-hui=DataTable][data-hui-invalid] > table > thead,
[data-hui=DataTable][data-hui-invalid] > table > * > tr {
}
[data-hui=DataTable][data-hui-invalid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-invalid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=unua] > table {
}
[data-hui=DataTable][data-hui-theme=unua] > table > tbody,
[data-hui=DataTable][data-hui-theme=unua] > table > thead,
[data-hui=DataTable][data-hui-theme=unua] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=unua] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=unua] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-active] > table {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-active] > table > tbody,
[data-hui=DataTable][data-hui-theme=unua][data-hui-active] > table > thead,
[data-hui=DataTable][data-hui-theme=unua][data-hui-active] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-active] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=unua][data-hui-active] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-disabled] > table {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-disabled] > table > tbody,
[data-hui=DataTable][data-hui-theme=unua][data-hui-disabled] > table > thead,
[data-hui=DataTable][data-hui-theme=unua][data-hui-disabled] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-disabled] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=unua][data-hui-disabled] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-readonly] > table {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-readonly] > table > tbody,
[data-hui=DataTable][data-hui-theme=unua][data-hui-readonly] > table > thead,
[data-hui=DataTable][data-hui-theme=unua][data-hui-readonly] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-readonly] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=unua][data-hui-readonly] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-valid] > table {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-valid] > table > tbody,
[data-hui=DataTable][data-hui-theme=unua][data-hui-valid] > table > thead,
[data-hui=DataTable][data-hui-theme=unua][data-hui-valid] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-valid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=unua][data-hui-valid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-invalid] > table {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-invalid] > table > tbody,
[data-hui=DataTable][data-hui-theme=unua][data-hui-invalid] > table > thead,
[data-hui=DataTable][data-hui-theme=unua][data-hui-invalid] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=unua][data-hui-invalid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=unua][data-hui-invalid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=dua] > table {
}
[data-hui=DataTable][data-hui-theme=dua] > table > tbody,
[data-hui=DataTable][data-hui-theme=dua] > table > thead,
[data-hui=DataTable][data-hui-theme=dua] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=dua] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=dua] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-active] > table {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-active] > table > tbody,
[data-hui=DataTable][data-hui-theme=dua][data-hui-active] > table > thead,
[data-hui=DataTable][data-hui-theme=dua][data-hui-active] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-active] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=dua][data-hui-active] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-disabled] > table {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-disabled] > table > tbody,
[data-hui=DataTable][data-hui-theme=dua][data-hui-disabled] > table > thead,
[data-hui=DataTable][data-hui-theme=dua][data-hui-disabled] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-disabled] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=dua][data-hui-disabled] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-readonly] > table {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-readonly] > table > tbody,
[data-hui=DataTable][data-hui-theme=dua][data-hui-readonly] > table > thead,
[data-hui=DataTable][data-hui-theme=dua][data-hui-readonly] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-readonly] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=dua][data-hui-readonly] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-valid] > table {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-valid] > table > tbody,
[data-hui=DataTable][data-hui-theme=dua][data-hui-valid] > table > thead,
[data-hui=DataTable][data-hui-theme=dua][data-hui-valid] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-valid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=dua][data-hui-valid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-invalid] > table {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-invalid] > table > tbody,
[data-hui=DataTable][data-hui-theme=dua][data-hui-invalid] > table > thead,
[data-hui=DataTable][data-hui-theme=dua][data-hui-invalid] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=dua][data-hui-invalid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=dua][data-hui-invalid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=tria] > table {
}
[data-hui=DataTable][data-hui-theme=tria] > table > tbody,
[data-hui=DataTable][data-hui-theme=tria] > table > thead,
[data-hui=DataTable][data-hui-theme=tria] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=tria] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=tria] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-active] > table {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-active] > table > tbody,
[data-hui=DataTable][data-hui-theme=tria][data-hui-active] > table > thead,
[data-hui=DataTable][data-hui-theme=tria][data-hui-active] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-active] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=tria][data-hui-active] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-disabled] > table {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-disabled] > table > tbody,
[data-hui=DataTable][data-hui-theme=tria][data-hui-disabled] > table > thead,
[data-hui=DataTable][data-hui-theme=tria][data-hui-disabled] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-disabled] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=tria][data-hui-disabled] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-readonly] > table {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-readonly] > table > tbody,
[data-hui=DataTable][data-hui-theme=tria][data-hui-readonly] > table > thead,
[data-hui=DataTable][data-hui-theme=tria][data-hui-readonly] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-readonly] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=tria][data-hui-readonly] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-valid] > table {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-valid] > table > tbody,
[data-hui=DataTable][data-hui-theme=tria][data-hui-valid] > table > thead,
[data-hui=DataTable][data-hui-theme=tria][data-hui-valid] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-valid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=tria][data-hui-valid] > table > thead > tr > th {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-invalid] > table {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-invalid] > table > tbody,
[data-hui=DataTable][data-hui-theme=tria][data-hui-invalid] > table > thead,
[data-hui=DataTable][data-hui-theme=tria][data-hui-invalid] > table > * > tr {
}
[data-hui=DataTable][data-hui-theme=tria][data-hui-invalid] > table > tbody > tr > td,
[data-hui=DataTable][data-hui-theme=tria][data-hui-invalid] > table > thead > tr > th {
}
[data-hui=DataTable] > table {
  /* LAYOUT-POSITION */
/*  --hui-pvlqdr-position-default: ; */
/*  --hui-pvlqdr-top-default: ; */
/*  --hui-pvlqdr-right-default: ; */
/*  --hui-pvlqdr-bottom-default: ; */
/*  --hui-pvlqdr-left-default: ; */
/*  --hui-pvlqdr-z-index-default: ; */
/*  --hui-pvlqdr-float-default: ; */
/*  --hui-pvlqdr-clear-default: ; */
/*  --hui-pvlqdr-align-self-default: ; */
/*  --hui-pvlqdr-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-pvlqdr-box-sizing-default: ; */
/*  --hui-pvlqdr-height-default: ; */
/*  --hui-pvlqdr-max-height-default: ; */
/*  --hui-pvlqdr-min-height-default: ; */
/*  --hui-pvlqdr-width-default: ; */
/*  --hui-pvlqdr-max-width-default: ; */
/*  --hui-pvlqdr-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-pvlqdr-margin-top-default: ; */
/*  --hui-pvlqdr-margin-right-default: ; */
/*  --hui-pvlqdr-margin-bottom-default: ; */
/*  --hui-pvlqdr-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-pvlqdr-padding-top-default: ; */
/*  --hui-pvlqdr-padding-right-default: ; */
/*  --hui-pvlqdr-padding-bottom-default: ; */
/*  --hui-pvlqdr-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-pvlqdr-overflow-x-default: ; */
/*  --hui-pvlqdr-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-pvlqdr-flex-basis-default: ; */
/*  --hui-pvlqdr-flex-direction-default: ; */
/*  --hui-pvlqdr-flex-grow-default: ; */
/*  --hui-pvlqdr-flex-shrink-default: ; */
/*  --hui-pvlqdr-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-pvlqdr-direction-default: ; */
/*  --hui-pvlqdr-font-family-default: ; */
/*  --hui-pvlqdr-font-size-default: ; */
/*  --hui-pvlqdr-font-stretch-default: ; */
/*  --hui-pvlqdr-font-style-default: ; */
/*  --hui-pvlqdr-font-weight-default: ; */
/*  --hui-pvlqdr-letter-spacing-default: ; */
/*  --hui-pvlqdr-line-height-default: ; */
/*  --hui-pvlqdr-text-align-default: ; */
/*  --hui-pvlqdr-text-align-last-default: ; */
/*  --hui-pvlqdr-text-decoration-color-default: ; */
/*  --hui-pvlqdr-text-decoration-line-default: ; */
/*  --hui-pvlqdr-text-decoration-style-default: ; */
/*  --hui-pvlqdr-text-decoration-thickness-default: ; */
/*  --hui-pvlqdr-text-indent-default: ; */
/*  --hui-pvlqdr-text-overflow-default: ; */
/*  --hui-pvlqdr-text-shadow-default: ; */
/*  --hui-pvlqdr-text-size-adjust-default: ; */
/*  --hui-pvlqdr-text-transform-default: ; */
/*  --hui-pvlqdr-text-wrap-default: ; */
/*  --hui-pvlqdr-vertical-align-default: ; */
/*  --hui-pvlqdr-white-space-collapse-default: ; */
/*  --hui-pvlqdr-word-break-default: ; */
/*  --hui-pvlqdr-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-pvlqdr-visibility-default: ; */
/*  --hui-pvlqdr-color-default: ; */
/*  --hui-pvlqdr-background-attachment-default: ; */
/*  --hui-pvlqdr-background-clip-default: ; */
/*  --hui-pvlqdr-background-color-default: ; */
/*  --hui-pvlqdr-background-image-default: ; */
/*  --hui-pvlqdr-background-origin-default: ; */
/*  --hui-pvlqdr-background-position-x-default: ; */
/*  --hui-pvlqdr-background-position-y-default: ; */
/*  --hui-pvlqdr-background-repeat-default: ; */
/*  --hui-pvlqdr-background-size-default: ; */
/*  --hui-pvlqdr-border-bottom-color-default: ; */
/*  --hui-pvlqdr-border-bottom-style-default: ; */
/*  --hui-pvlqdr-border-bottom-width-default: ; */
/*  --hui-pvlqdr-border-bottom-left-radius-default: ; */
/*  --hui-pvlqdr-border-bottom-right-radius-default: ; */
/*  --hui-pvlqdr-border-image-outset-default: ; */
/*  --hui-pvlqdr-border-image-repeat-default: ; */
/*  --hui-pvlqdr-border-image-slice-default: ; */
/*  --hui-pvlqdr-border-image-source-default: ; */
/*  --hui-pvlqdr-border-image-width-default: ; */
/*  --hui-pvlqdr-border-left-color-default: ; */
/*  --hui-pvlqdr-border-left-style-default: ; */
/*  --hui-pvlqdr-border-left-width-default: ; */
/*  --hui-pvlqdr-border-right-color-default: ; */
/*  --hui-pvlqdr-border-right-style-default: ; */
/*  --hui-pvlqdr-border-right-width-default: ; */
/*  --hui-pvlqdr-border-top-color-default: ; */
/*  --hui-pvlqdr-border-top-style-default: ; */
/*  --hui-pvlqdr-border-top-width-default: ; */
/*  --hui-pvlqdr-border-top-left-radius-default: ; */
/*  --hui-pvlqdr-border-top-right-radius-default: ; */
/*  --hui-pvlqdr-box-shadow-default: ; */
/*  --hui-pvlqdr-cursor-default: ; */
/*  --hui-pvlqdr-outline-color-default: ; */
/*  --hui-pvlqdr-outline-offset-default: ; */
/*  --hui-pvlqdr-outline-style-default: ; */
/*  --hui-pvlqdr-outline-width-default: ; */
  /* GRID */
/*  --hui-pvlqdr-grid-auto-columns-default: ; */
/*  --hui-pvlqdr-grid-auto-flow-default: ; */
/*  --hui-pvlqdr-grid-auto-rows-default: ; */
/*  --hui-pvlqdr-grid-column-end-default: ; */
/*  --hui-pvlqdr-grid-column-start-default: ; */
/*  --hui-pvlqdr-grid-row-end-default: ; */
/*  --hui-pvlqdr-grid-row-start-default: ; */
/*  --hui-pvlqdr-grid-template-areas-default: ; */
/*  --hui-pvlqdr-grid-template-columns-default: ; */
/*  --hui-pvlqdr-grid-template-rows-default: ; */
/*  --hui-pvlqdr-align-content-default: ; */
/*  --hui-pvlqdr-justify-content-default: ; */
/*  --hui-pvlqdr-align-items-default: ; */
/*  --hui-pvlqdr-justify-items-default: ; */
/*  --hui-pvlqdr-column-gap-default: ; */
/*  --hui-pvlqdr-row-gap-default: ; */
}
[data-hui=DataTable] > table > tbody,
[data-hui=DataTable] > table > thead,
[data-hui=DataTable] > table > * > tr {
  /* LAYOUT-POSITION */
/*  --hui-jymppr-position-default: ; */
/*  --hui-jymppr-top-default: ; */
/*  --hui-jymppr-right-default: ; */
/*  --hui-jymppr-bottom-default: ; */
/*  --hui-jymppr-left-default: ; */
/*  --hui-jymppr-z-index-default: ; */
/*  --hui-jymppr-float-default: ; */
/*  --hui-jymppr-clear-default: ; */
/*  --hui-jymppr-align-self-default: ; */
/*  --hui-jymppr-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-jymppr-box-sizing-default: ; */
/*  --hui-jymppr-height-default: ; */
/*  --hui-jymppr-max-height-default: ; */
/*  --hui-jymppr-min-height-default: ; */
/*  --hui-jymppr-width-default: ; */
/*  --hui-jymppr-max-width-default: ; */
/*  --hui-jymppr-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-jymppr-margin-top-default: ; */
/*  --hui-jymppr-margin-right-default: ; */
/*  --hui-jymppr-margin-bottom-default: ; */
/*  --hui-jymppr-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-jymppr-padding-top-default: ; */
/*  --hui-jymppr-padding-right-default: ; */
/*  --hui-jymppr-padding-bottom-default: ; */
/*  --hui-jymppr-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-jymppr-overflow-x-default: ; */
/*  --hui-jymppr-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-jymppr-flex-basis-default: ; */
/*  --hui-jymppr-flex-direction-default: ; */
/*  --hui-jymppr-flex-grow-default: ; */
/*  --hui-jymppr-flex-shrink-default: ; */
/*  --hui-jymppr-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-jymppr-direction-default: ; */
/*  --hui-jymppr-font-family-default: ; */
/*  --hui-jymppr-font-size-default: ; */
/*  --hui-jymppr-font-stretch-default: ; */
/*  --hui-jymppr-font-style-default: ; */
/*  --hui-jymppr-font-weight-default: ; */
/*  --hui-jymppr-letter-spacing-default: ; */
/*  --hui-jymppr-line-height-default: ; */
/*  --hui-jymppr-text-align-default: ; */
/*  --hui-jymppr-text-align-last-default: ; */
/*  --hui-jymppr-text-decoration-color-default: ; */
/*  --hui-jymppr-text-decoration-line-default: ; */
/*  --hui-jymppr-text-decoration-style-default: ; */
/*  --hui-jymppr-text-decoration-thickness-default: ; */
/*  --hui-jymppr-text-indent-default: ; */
/*  --hui-jymppr-text-overflow-default: ; */
/*  --hui-jymppr-text-shadow-default: ; */
/*  --hui-jymppr-text-size-adjust-default: ; */
/*  --hui-jymppr-text-transform-default: ; */
/*  --hui-jymppr-text-wrap-default: ; */
/*  --hui-jymppr-vertical-align-default: ; */
/*  --hui-jymppr-white-space-collapse-default: ; */
/*  --hui-jymppr-word-break-default: ; */
/*  --hui-jymppr-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-jymppr-visibility-default: ; */
/*  --hui-jymppr-color-default: ; */
/*  --hui-jymppr-background-attachment-default: ; */
/*  --hui-jymppr-background-clip-default: ; */
/*  --hui-jymppr-background-color-default: ; */
/*  --hui-jymppr-background-image-default: ; */
/*  --hui-jymppr-background-origin-default: ; */
/*  --hui-jymppr-background-position-x-default: ; */
/*  --hui-jymppr-background-position-y-default: ; */
/*  --hui-jymppr-background-repeat-default: ; */
/*  --hui-jymppr-background-size-default: ; */
/*  --hui-jymppr-border-bottom-color-default: ; */
/*  --hui-jymppr-border-bottom-style-default: ; */
/*  --hui-jymppr-border-bottom-width-default: ; */
/*  --hui-jymppr-border-bottom-left-radius-default: ; */
/*  --hui-jymppr-border-bottom-right-radius-default: ; */
/*  --hui-jymppr-border-image-outset-default: ; */
/*  --hui-jymppr-border-image-repeat-default: ; */
/*  --hui-jymppr-border-image-slice-default: ; */
/*  --hui-jymppr-border-image-source-default: ; */
/*  --hui-jymppr-border-image-width-default: ; */
/*  --hui-jymppr-border-left-color-default: ; */
/*  --hui-jymppr-border-left-style-default: ; */
/*  --hui-jymppr-border-left-width-default: ; */
/*  --hui-jymppr-border-right-color-default: ; */
/*  --hui-jymppr-border-right-style-default: ; */
/*  --hui-jymppr-border-right-width-default: ; */
/*  --hui-jymppr-border-top-color-default: ; */
/*  --hui-jymppr-border-top-style-default: ; */
/*  --hui-jymppr-border-top-width-default: ; */
/*  --hui-jymppr-border-top-left-radius-default: ; */
/*  --hui-jymppr-border-top-right-radius-default: ; */
/*  --hui-jymppr-box-shadow-default: ; */
/*  --hui-jymppr-cursor-default: ; */
/*  --hui-jymppr-outline-color-default: ; */
/*  --hui-jymppr-outline-offset-default: ; */
/*  --hui-jymppr-outline-style-default: ; */
/*  --hui-jymppr-outline-width-default: ; */
  /* GRID */
/*  --hui-jymppr-grid-auto-columns-default: ; */
/*  --hui-jymppr-grid-auto-flow-default: ; */
/*  --hui-jymppr-grid-auto-rows-default: ; */
/*  --hui-jymppr-grid-column-end-default: ; */
/*  --hui-jymppr-grid-column-start-default: ; */
/*  --hui-jymppr-grid-row-end-default: ; */
/*  --hui-jymppr-grid-row-start-default: ; */
/*  --hui-jymppr-grid-template-areas-default: ; */
/*  --hui-jymppr-grid-template-columns-default: ; */
/*  --hui-jymppr-grid-template-rows-default: ; */
/*  --hui-jymppr-align-content-default: ; */
/*  --hui-jymppr-justify-content-default: ; */
/*  --hui-jymppr-align-items-default: ; */
/*  --hui-jymppr-justify-items-default: ; */
/*  --hui-jymppr-column-gap-default: ; */
/*  --hui-jymppr-row-gap-default: ; */
}
[data-hui=DataTable] > table > tbody > tr > td,
[data-hui=DataTable] > table > thead > tr > th {
  /* LAYOUT-POSITION */
/*  --hui-gdjwdf-position-default: ; */
/*  --hui-gdjwdf-top-default: ; */
/*  --hui-gdjwdf-right-default: ; */
/*  --hui-gdjwdf-bottom-default: ; */
/*  --hui-gdjwdf-left-default: ; */
/*  --hui-gdjwdf-z-index-default: ; */
/*  --hui-gdjwdf-float-default: ; */
/*  --hui-gdjwdf-clear-default: ; */
/*  --hui-gdjwdf-align-self-default: ; */
/*  --hui-gdjwdf-order-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-gdjwdf-box-sizing-default: ; */
/*  --hui-gdjwdf-height-default: ; */
/*  --hui-gdjwdf-max-height-default: ; */
/*  --hui-gdjwdf-min-height-default: ; */
/*  --hui-gdjwdf-width-default: ; */
/*  --hui-gdjwdf-max-width-default: ; */
/*  --hui-gdjwdf-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-gdjwdf-margin-top-default: ; */
/*  --hui-gdjwdf-margin-right-default: ; */
/*  --hui-gdjwdf-margin-bottom-default: ; */
/*  --hui-gdjwdf-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-gdjwdf-padding-top-default: ; */
/*  --hui-gdjwdf-padding-right-default: ; */
/*  --hui-gdjwdf-padding-bottom-default: ; */
/*  --hui-gdjwdf-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-gdjwdf-overflow-x-default: ; */
/*  --hui-gdjwdf-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-gdjwdf-flex-basis-default: ; */
/*  --hui-gdjwdf-flex-direction-default: ; */
/*  --hui-gdjwdf-flex-grow-default: ; */
/*  --hui-gdjwdf-flex-shrink-default: ; */
/*  --hui-gdjwdf-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-gdjwdf-direction-default: ; */
/*  --hui-gdjwdf-font-family-default: ; */
/*  --hui-gdjwdf-font-size-default: ; */
/*  --hui-gdjwdf-font-stretch-default: ; */
/*  --hui-gdjwdf-font-style-default: ; */
/*  --hui-gdjwdf-font-weight-default: ; */
/*  --hui-gdjwdf-letter-spacing-default: ; */
/*  --hui-gdjwdf-line-height-default: ; */
/*  --hui-gdjwdf-text-align-default: ; */
/*  --hui-gdjwdf-text-align-last-default: ; */
/*  --hui-gdjwdf-text-decoration-color-default: ; */
/*  --hui-gdjwdf-text-decoration-line-default: ; */
/*  --hui-gdjwdf-text-decoration-style-default: ; */
/*  --hui-gdjwdf-text-decoration-thickness-default: ; */
/*  --hui-gdjwdf-text-indent-default: ; */
/*  --hui-gdjwdf-text-overflow-default: ; */
/*  --hui-gdjwdf-text-shadow-default: ; */
/*  --hui-gdjwdf-text-size-adjust-default: ; */
/*  --hui-gdjwdf-text-transform-default: ; */
/*  --hui-gdjwdf-text-wrap-default: ; */
/*  --hui-gdjwdf-vertical-align-default: ; */
/*  --hui-gdjwdf-white-space-collapse-default: ; */
/*  --hui-gdjwdf-word-break-default: ; */
/*  --hui-gdjwdf-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-gdjwdf-visibility-default: ; */
/*  --hui-gdjwdf-color-default: ; */
/*  --hui-gdjwdf-background-attachment-default: ; */
/*  --hui-gdjwdf-background-clip-default: ; */
/*  --hui-gdjwdf-background-color-default: ; */
/*  --hui-gdjwdf-background-image-default: ; */
/*  --hui-gdjwdf-background-origin-default: ; */
/*  --hui-gdjwdf-background-position-x-default: ; */
/*  --hui-gdjwdf-background-position-y-default: ; */
/*  --hui-gdjwdf-background-repeat-default: ; */
/*  --hui-gdjwdf-background-size-default: ; */
/*  --hui-gdjwdf-border-bottom-color-default: ; */
/*  --hui-gdjwdf-border-bottom-style-default: ; */
/*  --hui-gdjwdf-border-bottom-width-default: ; */
/*  --hui-gdjwdf-border-bottom-left-radius-default: ; */
/*  --hui-gdjwdf-border-bottom-right-radius-default: ; */
/*  --hui-gdjwdf-border-image-outset-default: ; */
/*  --hui-gdjwdf-border-image-repeat-default: ; */
/*  --hui-gdjwdf-border-image-slice-default: ; */
/*  --hui-gdjwdf-border-image-source-default: ; */
/*  --hui-gdjwdf-border-image-width-default: ; */
/*  --hui-gdjwdf-border-left-color-default: ; */
/*  --hui-gdjwdf-border-left-style-default: ; */
/*  --hui-gdjwdf-border-left-width-default: ; */
/*  --hui-gdjwdf-border-right-color-default: ; */
/*  --hui-gdjwdf-border-right-style-default: ; */
/*  --hui-gdjwdf-border-right-width-default: ; */
/*  --hui-gdjwdf-border-top-color-default: ; */
/*  --hui-gdjwdf-border-top-style-default: ; */
/*  --hui-gdjwdf-border-top-width-default: ; */
/*  --hui-gdjwdf-border-top-left-radius-default: ; */
/*  --hui-gdjwdf-border-top-right-radius-default: ; */
/*  --hui-gdjwdf-box-shadow-default: ; */
/*  --hui-gdjwdf-cursor-default: ; */
/*  --hui-gdjwdf-outline-color-default: ; */
/*  --hui-gdjwdf-outline-offset-default: ; */
/*  --hui-gdjwdf-outline-style-default: ; */
/*  --hui-gdjwdf-outline-width-default: ; */
}
