[data-hui=Title] > title {
  /* LAYOUT-SIZING */
  --hui-height: 100%;
  --hui-width: 100%;
  /* LAYOUT-PADDING */
  --hui-padding-top: var(--hui-vars-spacer-5);
  --hui-padding-right: var(--hui-vars-spacer-7);
  --hui-padding-bottom: var(--hui-vars-spacer-5);
  --hui-padding-left: var(--hui-vars-spacer-7);
  /* LAYOUT-OVERFLOW */
  --hui-overflow-x: hidden;
  --hui-overflow-y: hidden;
  /* TEXT */
  --hui-line-height: 100%;
  --hui-text-align: center;
  --hui-text-wrap: nowrap;
  /* APPERANCE */
  --hui-background-color: var(--hui-default-background-color);
  --hui-border-bottom-color: var(--hui-vars-border-color);
  --hui-border-bottom-style: var(--hui-vars-border-style);
  --hui-border-bottom-width: var(--hui-vars-border-width);
  --hui-border-left-color: var(--hui-vars-border-color);
  --hui-border-left-style: var(--hui-vars-border-style);
  --hui-border-left-width: var(--hui-vars-border-width);
  --hui-border-right-color: var(--hui-vars-border-color);
  --hui-border-right-style: var(--hui-vars-border-style);
  --hui-border-right-width: var(--hui-vars-border-width);
  --hui-border-top-color: var(--hui-vars-border-color);
  --hui-border-top-style: var(--hui-vars-border-style);
  --hui-border-top-width: var(--hui-vars-border-width);
}
[data-hui=Title][data-hui-theme=unua] > title {
}
[data-hui=Title][data-hui-theme=dua] > title {
}
[data-hui=Title][data-hui-theme=tria] > title {
}
[data-hui=Title] > title {
  /* LAYOUT-DISPLAY */
/*  --hui-display-default: ; */
/*  --hui-visibility-default: ; */
  /* LAYOUT-POSITION */
/*  --hui-position-default: ; */
/*  --hui-top-default: ; */
/*  --hui-right-default: ; */
/*  --hui-bottom-default: ; */
/*  --hui-left-default: ; */
/*  --hui-z-index-default: ; */
/*  --hui-float-default: ; */
/*  --hui-clear-default: ; */
/*  --hui-align-content-default: ; */
/*  --hui-align-items-default: ; */
/*  --hui-align-self-default: ; */
/*  --hui-order-default: ; */
/*  --hui-justify-content-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-box-sizing-default: ; */
/*  --hui-height-default: ; */
/*  --hui-max-height-default: ; */
/*  --hui-min-height-default: ; */
/*  --hui-width-default: ; */
/*  --hui-max-width-default: ; */
/*  --hui-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-margin-top-default: ; */
/*  --hui-margin-right-default: ; */
/*  --hui-margin-bottom-default: ; */
/*  --hui-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-padding-top-default: ; */
/*  --hui-padding-right-default: ; */
/*  --hui-padding-bottom-default: ; */
/*  --hui-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-overflow-x-default: ; */
/*  --hui-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-flex-basis-default: ; */
/*  --hui-flex-direction-default: ; */
/*  --hui-flex-grow-default: ; */
/*  --hui-flex-shrink-default: ; */
/*  --hui-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-direction-default: ; */
/*  --hui-font-family-default: ; */
/*  --hui-font-size-default: ; */
/*  --hui-font-stretch-default: ; */
/*  --hui-font-style-default: ; */
/*  --hui-font-weight-default: ; */
/*  --hui-letter-spacing-default: ; */
/*  --hui-line-height-default: ; */
/*  --hui-text-align-default: ; */
/*  --hui-text-align-last-default: ; */
/*  --hui-text-decoration-color-default: ; */
/*  --hui-text-decoration-line-default: ; */
/*  --hui-text-decoration-style-default: ; */
/*  --hui-text-decoration-thickness-default: ; */
/*  --hui-text-indent-default: ; */
/*  --hui-text-overflow-default: ; */
/*  --hui-text-shadow-default: ; */
/*  --hui-text-size-adjust-default: ; */
/*  --hui-text-transform-default: ; */
/*  --hui-text-wrap-default: ; */
/*  --hui-vertical-align-default: ; */
/*  --hui-white-space-collapse-default: ; */
/*  --hui-word-break-default: ; */
/*  --hui-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-color-default: ; */
/*  --hui-background-attachment-default: ; */
/*  --hui-background-clip-default: ; */
/*  --hui-background-color-default: ; */
/*  --hui-background-image-default: ; */
/*  --hui-background-origin-default: ; */
/*  --hui-background-position-x-default: ; */
/*  --hui-background-position-y-default: ; */
/*  --hui-background-repeat-default: ; */
/*  --hui-background-size-default: ; */
/*  --hui-border-bottom-color-default: ; */
/*  --hui-border-bottom-style-default: ; */
/*  --hui-border-bottom-width-default: ; */
/*  --hui-border-image-outset-default: ; */
/*  --hui-border-image-repeat-default: ; */
/*  --hui-border-image-slice-default: ; */
/*  --hui-border-image-source-default: ; */
/*  --hui-border-image-width-default: ; */
/*  --hui-border-left-color-default: ; */
/*  --hui-border-left-style-default: ; */
/*  --hui-border-left-width-default: ; */
/*  --hui-border-right-color-default: ; */
/*  --hui-border-right-style-default: ; */
/*  --hui-border-right-width-default: ; */
/*  --hui-border-top-color-default: ; */
/*  --hui-border-top-style-default: ; */
/*  --hui-border-top-width-default: ; */
/*  --hui-box-shadow-default: ; */
/*  --hui-cursor-default: ; */
/*  --hui-outline-color-default: ; */
/*  --hui-outline-offset-default: ; */
/*  --hui-outline-style-default: ; */
/*  --hui-outline-width-default: ; */
}