[data-hui=Title] > title {
  /* LAYOUT-SIZING */
  --hui-pfttea-height: 100%;
  --hui-pfttea-width: 100%;
  /* LAYOUT-PADDING */
  --hui-pfttea-padding-top: var(--hui-default-spacer-5);
  --hui-pfttea-padding-right: var(--hui-default-spacer-7);
  --hui-pfttea-padding-bottom: var(--hui-default-spacer-5);
  --hui-pfttea-padding-left: var(--hui-default-spacer-7);
  /* LAYOUT-OVERFLOW */
  --hui-pfttea-overflow-x: hidden;
  --hui-pfttea-overflow-y: hidden;
  /* TEXT */
  --hui-pfttea-line-height: 100%;
  --hui-pfttea-text-align: center;
  --hui-pfttea-text-wrap: nowrap;
  /* APPERANCE */
  --hui-pfttea-background-color: var(--hui-default-background-color);
  --hui-pfttea-border-bottom-color: var(--hui-default-border-color);
  --hui-pfttea-border-bottom-style: var(--hui-default-border-style);
  --hui-pfttea-border-bottom-width: var(--hui-default-border-width);
  --hui-pfttea-border-left-color: var(--hui-default-border-color);
  --hui-pfttea-border-left-style: var(--hui-default-border-style);
  --hui-pfttea-border-left-width: var(--hui-default-border-width);
  --hui-pfttea-border-right-color: var(--hui-default-border-color);
  --hui-pfttea-border-right-style: var(--hui-default-border-style);
  --hui-pfttea-border-right-width: var(--hui-default-border-width);
  --hui-pfttea-border-top-color: var(--hui-default-border-color);
  --hui-pfttea-border-top-style: var(--hui-default-border-style);
  --hui-pfttea-border-top-width: var(--hui-default-border-width);
}
[data-hui=Title][data-hui-active] > title {
}
[data-hui=Title][data-hui-disabled] > title {
}
[data-hui=Title][data-hui-readonly] > title {
}
[data-hui=Title][data-hui-valid] > title {
}
[data-hui=Title][data-hui-invalid] > title {
}
[data-hui=Title][data-hui-theme=unua] > title {
}
[data-hui=Title][data-hui-theme=unua][data-hui-active] > title {
}
[data-hui=Title][data-hui-theme=unua][data-hui-disabled] > title {
}
[data-hui=Title][data-hui-theme=unua][data-hui-readonly] > title {
}
[data-hui=Title][data-hui-theme=unua][data-hui-valid] > title {
}
[data-hui=Title][data-hui-theme=unua][data-hui-invalid] > title {
}
[data-hui=Title][data-hui-theme=dua] > title {
}
[data-hui=Title][data-hui-theme=dua][data-hui-active] > title {
}
[data-hui=Title][data-hui-theme=dua][data-hui-disabled] > title {
}
[data-hui=Title][data-hui-theme=dua][data-hui-readonly] > title {
}
[data-hui=Title][data-hui-theme=dua][data-hui-valid] > title {
}
[data-hui=Title][data-hui-theme=dua][data-hui-invalid] > title {
}
[data-hui=Title][data-hui-theme=tria] > title {
}
[data-hui=Title][data-hui-theme=tria][data-hui-active] > title {
}
[data-hui=Title][data-hui-theme=tria][data-hui-disabled] > title {
}
[data-hui=Title][data-hui-theme=tria][data-hui-readonly] > title {
}
[data-hui=Title][data-hui-theme=tria][data-hui-valid] > title {
}
[data-hui=Title][data-hui-theme=tria][data-hui-invalid] > title {
}
[data-hui=Title] > title {
  /* LAYOUT-DISPLAY */
/*  --hui-pfttea-display-default: ; */
/*  --hui-pfttea-visibility-default: ; */
  /* LAYOUT-POSITION */
/*  --hui-pfttea-position-default: ; */
/*  --hui-pfttea-top-default: ; */
/*  --hui-pfttea-right-default: ; */
/*  --hui-pfttea-bottom-default: ; */
/*  --hui-pfttea-left-default: ; */
/*  --hui-pfttea-z-index-default: ; */
/*  --hui-pfttea-float-default: ; */
/*  --hui-pfttea-clear-default: ; */
/*  --hui-pfttea-align-content-default: ; */
/*  --hui-pfttea-align-items-default: ; */
/*  --hui-pfttea-align-self-default: ; */
/*  --hui-pfttea-order-default: ; */
/*  --hui-pfttea-justify-content-default: ; */
  /* LAYOUT-SIZING */
/*  --hui-pfttea-box-sizing-default: ; */
/*  --hui-pfttea-height-default: ; */
/*  --hui-pfttea-max-height-default: ; */
/*  --hui-pfttea-min-height-default: ; */
/*  --hui-pfttea-width-default: ; */
/*  --hui-pfttea-max-width-default: ; */
/*  --hui-pfttea-min-width-default: ; */
  /* LAYOUT-MARGIN */
/*  --hui-pfttea-margin-top-default: ; */
/*  --hui-pfttea-margin-right-default: ; */
/*  --hui-pfttea-margin-bottom-default: ; */
/*  --hui-pfttea-margin-left-default: ; */
  /* LAYOUT-PADDING */
/*  --hui-pfttea-padding-top-default: ; */
/*  --hui-pfttea-padding-right-default: ; */
/*  --hui-pfttea-padding-bottom-default: ; */
/*  --hui-pfttea-padding-left-default: ; */
  /* LAYOUT-OVERFLOW */
/*  --hui-pfttea-overflow-x-default: ; */
/*  --hui-pfttea-overflow-y-default: ; */
  /* LAYOUT-FLEX */
/*  --hui-pfttea-flex-basis-default: ; */
/*  --hui-pfttea-flex-direction-default: ; */
/*  --hui-pfttea-flex-grow-default: ; */
/*  --hui-pfttea-flex-shrink-default: ; */
/*  --hui-pfttea-flex-wrap-default: ; */
  /* TEXT */
/*  --hui-pfttea-direction-default: ; */
/*  --hui-pfttea-font-family-default: ; */
/*  --hui-pfttea-font-size-default: ; */
/*  --hui-pfttea-font-stretch-default: ; */
/*  --hui-pfttea-font-style-default: ; */
/*  --hui-pfttea-font-weight-default: ; */
/*  --hui-pfttea-letter-spacing-default: ; */
/*  --hui-pfttea-line-height-default: ; */
/*  --hui-pfttea-text-align-default: ; */
/*  --hui-pfttea-text-align-last-default: ; */
/*  --hui-pfttea-text-decoration-color-default: ; */
/*  --hui-pfttea-text-decoration-line-default: ; */
/*  --hui-pfttea-text-decoration-style-default: ; */
/*  --hui-pfttea-text-decoration-thickness-default: ; */
/*  --hui-pfttea-text-indent-default: ; */
/*  --hui-pfttea-text-overflow-default: ; */
/*  --hui-pfttea-text-shadow-default: ; */
/*  --hui-pfttea-text-size-adjust-default: ; */
/*  --hui-pfttea-text-transform-default: ; */
/*  --hui-pfttea-text-wrap-default: ; */
/*  --hui-pfttea-vertical-align-default: ; */
/*  --hui-pfttea-white-space-collapse-default: ; */
/*  --hui-pfttea-word-break-default: ; */
/*  --hui-pfttea-word-spacing-default: ; */
  /* APPERANCE */
/*  --hui-pfttea-color-default: ; */
/*  --hui-pfttea-background-attachment-default: ; */
/*  --hui-pfttea-background-clip-default: ; */
/*  --hui-pfttea-background-color-default: ; */
/*  --hui-pfttea-background-image-default: ; */
/*  --hui-pfttea-background-origin-default: ; */
/*  --hui-pfttea-background-position-x-default: ; */
/*  --hui-pfttea-background-position-y-default: ; */
/*  --hui-pfttea-background-repeat-default: ; */
/*  --hui-pfttea-background-size-default: ; */
/*  --hui-pfttea-border-bottom-color-default: ; */
/*  --hui-pfttea-border-bottom-style-default: ; */
/*  --hui-pfttea-border-bottom-width-default: ; */
/*  --hui-pfttea-border-image-outset-default: ; */
/*  --hui-pfttea-border-image-repeat-default: ; */
/*  --hui-pfttea-border-image-slice-default: ; */
/*  --hui-pfttea-border-image-source-default: ; */
/*  --hui-pfttea-border-image-width-default: ; */
/*  --hui-pfttea-border-left-color-default: ; */
/*  --hui-pfttea-border-left-style-default: ; */
/*  --hui-pfttea-border-left-width-default: ; */
/*  --hui-pfttea-border-right-color-default: ; */
/*  --hui-pfttea-border-right-style-default: ; */
/*  --hui-pfttea-border-right-width-default: ; */
/*  --hui-pfttea-border-top-color-default: ; */
/*  --hui-pfttea-border-top-style-default: ; */
/*  --hui-pfttea-border-top-width-default: ; */
/*  --hui-pfttea-box-shadow-default: ; */
/*  --hui-pfttea-cursor-default: ; */
/*  --hui-pfttea-outline-color-default: ; */
/*  --hui-pfttea-outline-offset-default: ; */
/*  --hui-pfttea-outline-style-default: ; */
/*  --hui-pfttea-outline-width-default: ; */
}