data[data-hui] {
  display: contents;
}

[data-hui-flex][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex][data-hui-flex-target=self]:not(#huiHack) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
[data-hui-flex=inline-flex][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex=inline-flex][data-hui-flex-target=self]:not(#huiHack) {
  display: inline-flex;
}
[data-hui-flex-direction=row][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-direction=row][data-hui-flex-target=self]:not(#huiHack) {
  flex-direction: row;
}
[data-hui-flex-direction=row-reverse][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-direction=row-reverse][data-hui-flex-target=self]:not(#huiHack) {
  flex-direction: row-reverse;
}
[data-hui-flex-direction=column][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-direction=column][data-hui-flex-target=self]:not(#huiHack) {
  flex-direction: column;
}
[data-hui-flex-direction=column-reverse][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-direction=column-reverse][data-hui-flex-target=self]:not(#huiHack) {
  flex-direction: column-reverse;
}
[data-hui-flex-wrap=nowrap][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-wrap=nowrap][data-hui-flex-target=self]:not(#huiHack) {
  flex-wrap: nowrap;
}
[data-hui-flex-wrap=wrap][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-wrap=wrap][data-hui-flex-target=self]:not(#huiHack) {
  flex-wrap: wrap;
}
[data-hui-flex-wrap=wrap-reverse][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-wrap=wrap-reverse][data-hui-flex-target=self]:not(#huiHack) {
  flex-wrap: wrap-reverse;
}
[data-hui-flex-justify-content=flex-start][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-justify-content=flex-start][data-hui-flex-target=self]:not(#huiHack) {
  justify-content: flex-start;
}
[data-hui-flex-justify-content=flex-end][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-justify-content=flex-end][data-hui-flex-target=self]:not(#huiHack) {
  justify-content: flex-end;
}
[data-hui-flex-justify-content=center][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-justify-content=center][data-hui-flex-target=self]:not(#huiHack) {
  justify-content: center;
}
[data-hui-flex-justify-content=space-between][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-justify-content=space-between][data-hui-flex-target=self]:not(#huiHack) {
  justify-content: space-between;
}
[data-hui-flex-justify-content=space-around][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-justify-content=space-around][data-hui-flex-target=self]:not(#huiHack) {
  justify-content: space-around;
}
[data-hui-flex-justify-content=space-evenly][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-justify-content=space-evenly][data-hui-flex-target=self]:not(#huiHack) {
  justify-content: space-evenly;
}
[data-hui-flex-align-items=flex-start][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-items=flex-start][data-hui-flex-target=self]:not(#huiHack) {
  align-items: flex-start;
}
[data-hui-flex-align-items=flex-end][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-items=flex-end][data-hui-flex-target=self]:not(#huiHack) {
  align-items: flex-end;
}
[data-hui-flex-align-items=center][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-items=center][data-hui-flex-target=self]:not(#huiHack) {
  align-items: center;
}
[data-hui-flex-align-items=baseline][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-items=baseline][data-hui-flex-target=self]:not(#huiHack) {
  align-items: baseline;
}
[data-hui-flex-align-items=stretch][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-items=stretch][data-hui-flex-target=self]:not(#huiHack) {
  align-items: stretch;
}
[data-hui-flex-align-context=flex-start][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=flex-start][data-hui-flex-target=self]:not(#huiHack) {
  align-content: flex-start;
}
[data-hui-flex-align-context=flex-end][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=flex-end][data-hui-flex-target=self]:not(#huiHack) {
  align-content: flex-end;
}
[data-hui-flex-align-context=center][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=center][data-hui-flex-target=self]:not(#huiHack) {
  align-content: center;
}
[data-hui-flex-align-context=space-between][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=space-between][data-hui-flex-target=self]:not(#huiHack) {
  align-content: space-between;
}
[data-hui-flex-align-context=space-around][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=space-around][data-hui-flex-target=self]:not(#huiHack) {
  align-content: space-around;
}
[data-hui-flex-align-context=space-evenly][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=space-evenly][data-hui-flex-target=self]:not(#huiHack) {
  align-content: space-evenly;
}
[data-hui-flex-align-context=stretch][data-hui-flex-target=child] > *:not(#huiHack),
[data-hui-flex-align-context=stretch][data-hui-flex-target=self]:not(#huiHack) {
  align-content: stretch;
}

[data-hui-grid][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid][data-hui-grid-target=self]:not(#huiHack) {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  grid-auto-flow: row;
}
[data-hui-grid=inline-grid][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid=inline-grid][data-hui-grid-target=self]:not(#huiHack) {
  display: inline-grid;
}
[data-hui-grid=subgrid][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid=subgrid][data-hui-grid-target=self]:not(#huiHack) {
  display: subgrid;
}
[data-hui-grid-justify-items=start][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-items=start][data-hui-grid-target=self]:not(#huiHack) {
  justify-items: start;
}
[data-hui-grid-justify-items=end][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-items=end][data-hui-grid-target=self]:not(#huiHack) {
  justify-items: end;
}
[data-hui-grid-justify-items=center][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-items=center][data-hui-grid-target=self]:not(#huiHack) {
  justify-items: center;
}
[data-hui-grid-justify-items=stretch][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-items=stretch][data-hui-grid-target=self]:not(#huiHack) {
  justify-items: stretch;
}
[data-hui-grid-align-items=start][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-items=start][data-hui-grid-target=self]:not(#huiHack) {
  align-items: start;
}
[data-hui-grid-align-items=end][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-items=end][data-hui-grid-target=self]:not(#huiHack) {
  align-items: end;
}
[data-hui-grid-align-items=center][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-items=center][data-hui-grid-target=self]:not(#huiHack) {
  align-items: center;
}
[data-hui-grid-align-items=stretch][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-items=stretch][data-hui-grid-target=self]:not(#huiHack) {
  align-items: stretch;
}
[data-hui-grid-justify-content=start][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=start][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: start;
}
[data-hui-grid-justify-content=end][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=end][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: end;
}
[data-hui-grid-justify-content=center][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=center][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: center;
}
[data-hui-grid-justify-content=stretch][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=stretch][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: stretch;
}
[data-hui-grid-justify-content=space-around][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=space-around][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: space-around;
}
[data-hui-grid-justify-content=space-between][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=space-between][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: space-between;
}
[data-hui-grid-justify-content=space-evenly][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-justify-content=space-evenly][data-hui-grid-target=self]:not(#huiHack) {
  justify-content: space-evenly;
}
[data-hui-grid-align-content=start][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=start][data-hui-grid-target=self]:not(#huiHack) {
  align-content: start;
}
[data-hui-grid-align-content=end][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=end][data-hui-grid-target=self]:not(#huiHack) {
  align-content: end;
}
[data-hui-grid-align-content=center][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=center][data-hui-grid-target=self]:not(#huiHack) {
  align-content: center;
}
[data-hui-grid-align-content=stretch][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=stretch][data-hui-grid-target=self]:not(#huiHack) {
  align-content: stretch;
}
[data-hui-grid-align-content=space-around][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=space-around][data-hui-grid-target=self]:not(#huiHack) {
  align-content: space-around;
}
[data-hui-grid-align-content=space-between][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=space-between][data-hui-grid-target=self]:not(#huiHack) {
  align-content: space-between;
}
[data-hui-grid-align-content=space-evenly][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-align-content=space-evenly][data-hui-grid-target=self]:not(#huiHack) {
  align-content: space-evenly;
}
[data-hui-grid-auto-flow='row dense'][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-auto-flow='row dense'][data-hui-grid-target=self]:not(#huiHack) {
  grid-auto-flow: row dense;
}
[data-hui-grid-auto-flow='column dense'][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-auto-flow='column dense'][data-hui-grid-target=self]:not(#huiHack) {
  grid-auto-flow: column dense;
}
[data-hui-grid-auto-flow=row][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-auto-flow=row][data-hui-grid-target=self]:not(#huiHack) {
  grid-auto-flow: row;
}
[data-hui-grid-auto-flow=column][data-hui-grid-target=child] > *:not(#huiHack),
[data-hui-grid-auto-flow=column][data-hui-grid-target=self]:not(#huiHack) {
  grid-auto-flow: column;
}
[data-hui-grid][data-hui-grid-target=child]:not(#huiHack) {
  grid-template-rows: initial;
  grid-template-columns: initial;
  grid-column-start: initial;
  grid-column-end: initial;
  grid-row-start: initial;
  grid-row-end: initial;
  grid-template-areas: initial;
  row-gap: initial;
  column-gap: initial;
  grid-auto-rows: initial;
  grid-auto-columns: initial;
}
[data-hui-grid][data-hui-grid-target=child] > *:not(#huiHack) {
  grid-template-rows: inherit;
  grid-template-columns: inherit;
  grid-column-start: inherit;
  grid-column-end: inherit;
  grid-row-start: inherit;
  grid-row-end: inherit;
  grid-template-areas: inherit;
  row-gap: inherit;
  column-gap: inherit;
  grid-auto-rows: inherit;
  grid-auto-columns: inherit;
}
[data-hui-scroll-x][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-x][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-x: auto;
}
[data-hui-scroll-y][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-y][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-y: auto;
}
[data-hui-scroll-x=hidden][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-x=hidden][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-x: hidden;
}
[data-hui-scroll-y=hidden][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-y=hidden][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-y: hidden;
}
[data-hui-scroll-x=scroll][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-x=scroll][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-x: scroll;
}
[data-hui-scroll-y=scroll][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-y=scroll][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-y: scroll;
}
[data-hui-scroll-x=visible][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-x=visible][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-x: visible;
}
[data-hui-scroll-y=visible][data-hui-scroll-target=child] > *:not(#huiHack),
[data-hui-scroll-y=visible][data-hui-scroll-target=self]:not(#huiHack) {
  overflow-y: visible;
}
