[data-hui=Button] > button {
  /* LAYOUT-DISPLAY */
  display: var(--hui-controls-button-display, block);
  visibility: var(--hui-controls-button-visibility, visible);
  /* LAYOUT-POSITION */
  position: var(--hui-controls-button-position, static);
  top: var(--hui-controls-button-top, auto);
  right: var(--hui-controls-button-right, auto);
  bottom: var(--hui-controls-button-bottom, auto);
  left: var(--hui-controls-button-left, auto);
  z-index: var(--hui-controls-button-z-index, auto);
  float: var(--hui-controls-button-float, none);
  clear: var(--hui-controls-button-clear, none);
  align-content: var(--hui-controls-button-align-content, normal);
  align-items: var(--hui-controls-button-align-items, normal);
  align-self: var(--hui-controls-button-align-self, auto);
  order: var(--hui-controls-button-order, 0);
  justify-content: var(--hui-controls-button-justify-content, normal);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-controls-button-box-sizing, border-box);
  height: var(--hui-controls-button-height, auto);
  max-height: var(--hui-controls-button-max-height, none);
  min-height: var(--hui-controls-button-min-height, 0px);
  width: var(--hui-controls-button-width, auto);
  max-width: var(--hui-controls-button-max-width, none);
  min-width: var(--hui-controls-button-min-width, 0px);
  block-size: var(--hui-controls-button-block-size, auto);
  resize: var(--hui-controls-button-resize, none);
  inline-size: var(--hui-controls-button-inline-size, auto);
  max-block-size: var(--hui-controls-button-max-block-size, none);
  max-inline-size: var(--hui-controls-button-max-inline-size, none);
  min-block-size: var(--hui-controls-button-min-block-size, 0px);
  min-inline-size: var(--hui-controls-button-min-inline-size, 0px);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-controls-button-margin-top, 0px);
  margin-right: var(--hui-controls-button-margin-right, 0px);
  margin-bottom: var(--hui-controls-button-margin-bottom, 0px);
  margin-left: var(--hui-controls-button-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-controls-button-padding-top, 0px);
  padding-right: var(--hui-controls-button-padding-right, 0px);
  padding-bottom: var(--hui-controls-button-padding-bottom, 0px);
  padding-left: var(--hui-controls-button-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-controls-button-overflow-x, hidden);
  overflow-y: var(--hui-controls-button-overflow-y, hidden);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-controls-button-flex-basis, auto);
  flex-direction: var(--hui-controls-button-flex-direction, row);
  flex-grow: var(--hui-controls-button-flex-grow, 0);
  flex-shrink: var(--hui-controls-button-flex-shrink, 1);
  flex-wrap: var(--hui-controls-button-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-controls-button-direction, ltr);
  font-family: var(--hui-controls-button-font-family, initial);
  font-feature-settings: var(--hui-controls-button-font-feature-settings, normal);
  font-kerning: var(--hui-controls-button-font-kerning, auto);
  font-optical-sizing: var(--hui-controls-button-font-optical-sizing, auto);
  font-size: var(--hui-controls-button-font-size, 16px);
  font-stretch: var(--hui-controls-button-font-stretch, 100%);
  font-style: var(--hui-controls-button-font-style, normal);
  font-variant-alternates: var(--hui-controls-button-font-variant-alternates, normal);
  font-variant-caps: var(--hui-controls-button-font-variant-caps, normal);
  font-variant-east-asian: var(--hui-controls-button-font-variant-east-asian, normal);
  font-variant-ligatures: var(--hui-controls-button-font-variant-ligatures, normal);
  font-variant-numeric: var(--hui-controls-button-font-variant-numeric, normal);
  font-variant-position: var(--hui-controls-button-font-variant-position, normal);
  font-variation-settings: var(--hui-controls-button-font-variation-settings, normal);
  font-weight: var(--hui-controls-button-font-weight, 400);
  letter-spacing: var(--hui-controls-button-letter-spacing, normal);
  line-height: var(--hui-controls-button-line-height, normal);
  tab-size: var(--hui-controls-button-tab-size, 8);
  text-align: var(--hui-controls-button-text-align, start);
  text-align-last: var(--hui-controls-button-text-align-last, auto);
  text-decoration-color: var(--hui-controls-button-text-decoration-color, #000);
  text-decoration-line: var(--hui-controls-button-text-decoration-line, none);
  text-decoration-style: var(--hui-controls-button-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-controls-button-text-decoration-thickness, auto);
  text-indent: var(--hui-controls-button-text-indent, 0px);
  text-overflow: var(--hui-controls-button-text-overflow, clip);
  text-shadow: var(--hui-controls-button-text-shadow, none);
  text-size-adjust: var(--hui-controls-button-text-size-adjust, auto);
  text-transform: var(--hui-controls-button-text-transform, none);
  text-wrap: var(--hui-controls-button-text-wrap, wrap);
  vertical-align: var(--hui-controls-button-vertical-align, baseline);
  white-space-collapse: var(--hui-controls-button-white-space-collapse, collapse);
  word-break: var(--hui-controls-button-word-break, normal);
  word-spacing: var(--hui-controls-button-word-spacing, 0px);
  /* APPERANCE */
  color: var(--hui-controls-button-color, rgb(0, 0, 0));
  background-attachment: var(--hui-controls-button-background-attachment, scroll);
  background-clip: var(--hui-controls-button-background-clip, border-box);
  background-color: var(--hui-controls-button-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-controls-button-background-image, none);
  background-origin: var(--hui-controls-button-background-origin, padding-box);
  background-position-x: var(--hui-controls-button-background-position-x, 0%);
  background-position-y: var(--hui-controls-button-background-position-y, 0%);
  background-repeat: var(--hui-controls-button-background-repeat, repeat);
  background-size: var(--hui-controls-button-background-size, auto);
  border-bottom-color: var(--hui-controls-button-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-controls-button-border-bottom-style, none);
  border-bottom-width: var(--hui-controls-button-border-bottom-width, 0px);
  border-image-outset: var(--hui-controls-button-border-image-outset, 0);
  border-image-repeat: var(--hui-controls-button-border-image-repeat, stretch);
  border-image-slice: var(--hui-controls-button-border-image-slice, 100%);
  border-image-source: var(--hui-controls-button-border-image-source, none);
  border-image-width: var(--hui-controls-button-border-image-width, 1);
  border-left-color: var(--hui-controls-button-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-controls-button-border-left-style, none);
  border-left-width: var(--hui-controls-button-border-left-width, 0px);
  border-right-color: var(--hui-controls-button-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-controls-button-border-right-style, none);
  border-right-width: var(--hui-controls-button-border-right-width, 0px);
  border-top-color: var(--hui-controls-button-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-controls-button-border-top-style, none);
  border-top-width: var(--hui-controls-button-border-top-width, 0px);
  box-shadow: var(--hui-controls-button-box-shadow, none);
  cursor: var(--hui-controls-button-cursor, auto);
  outline-color: var(--hui-controls-button-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-controls-button-outline-offset, 0px);
  outline-style: var(--hui-controls-button-outline-style, none);
  outline-width: var(--hui-controls-button-outline-width, 0px);
  /* ANIMATION */
  animation-direction: var(--hui-controls-button-animation-direction, normal);
  animation-duration: var(--hui-controls-button-animation-duration, 0s);
  animation-fill-mode: var(--hui-controls-button-animation-fill-mode, none);
  animation-iteration-count: var(--hui-controls-button-animation-iteration-count, 1);
  animation-name: var(--hui-controls-button-animation-name, none);
  animation-play-state: var(--hui-controls-button-animation-play-state, running);
  animation-timing-function: var(--hui-controls-button-animation-timing-function, ease);
  transition-behavior: var(--hui-controls-button-transition-behavior, normal);
  transition-delay: var(--hui-controls-button-transition-delay, 0s);
  transition-duration: var(--hui-controls-button-transition-duration, 0s);
  transition-property: var(--hui-controls-button-transition-property, all);
  transition-timing-function: var(--hui-controls-button-transition-timing-function, ease);
}