[data-hui=Dropdown] {
  /* LAYOUT-POSITION */
  position: var(--hui-ovbbqb-position, static);
  top: var(--hui-ovbbqb-top, auto);
  right: var(--hui-ovbbqb-right, auto);
  bottom: var(--hui-ovbbqb-bottom, auto);
  left: var(--hui-ovbbqb-left, auto);
  z-index: var(--hui-ovbbqb-z-index, auto);
  float: var(--hui-ovbbqb-float, none);
  clear: var(--hui-ovbbqb-clear, none);
  align-self: var(--hui-ovbbqb-align-self, auto);
  order: var(--hui-ovbbqb-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-ovbbqb-box-sizing, border-box);
  height: var(--hui-ovbbqb-height, auto);
  max-height: var(--hui-ovbbqb-max-height, none);
  min-height: var(--hui-ovbbqb-min-height, auto);
  width: var(--hui-ovbbqb-width, auto);
  max-width: var(--hui-ovbbqb-max-width, none);
  min-width: var(--hui-ovbbqb-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-ovbbqb-margin-top, 0px);
  margin-right: var(--hui-ovbbqb-margin-right, 0px);
  margin-bottom: var(--hui-ovbbqb-margin-bottom, 0px);
  margin-left: var(--hui-ovbbqb-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-ovbbqb-padding-top, 0px);
  padding-right: var(--hui-ovbbqb-padding-right, 0px);
  padding-bottom: var(--hui-ovbbqb-padding-bottom, 0px);
  padding-left: var(--hui-ovbbqb-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-ovbbqb-overflow-x, visible);
  overflow-y: var(--hui-ovbbqb-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-ovbbqb-flex-basis, auto);
  flex-direction: var(--hui-ovbbqb-flex-direction, row);
  flex-grow: var(--hui-ovbbqb-flex-grow, 0);
  flex-shrink: var(--hui-ovbbqb-flex-shrink, 1);
  flex-wrap: var(--hui-ovbbqb-flex-wrap, nowrap);
  gap: var(--hui-ovbbqb-gap, 0px);
  align-content: var(--hui-ovbbqb-align-content, stretch);
  justify-content: var(--hui-ovbbqb-justify-content, flex-start);
  align-items: var(--hui-ovbbqb-align-items, stretch);
  /* TEXT */
  direction: var(--hui-ovbbqb-direction, ltr);
  font-family: var(--hui-ovbbqb-font-family, system-ui);
  font-size: var(--hui-ovbbqb-font-size, 16px);
  font-stretch: var(--hui-ovbbqb-font-stretch, 100%);
  font-style: var(--hui-ovbbqb-font-style, normal);
  font-weight: var(--hui-ovbbqb-font-weight, 400);
  letter-spacing: var(--hui-ovbbqb-letter-spacing, normal);
  line-height: var(--hui-ovbbqb-line-height, normal);
  text-align: var(--hui-ovbbqb-text-align, start);
  text-align-last: var(--hui-ovbbqb-text-align-last, auto);
  text-decoration-color: var(--hui-ovbbqb-text-decoration-color, #000);
  text-decoration-line: var(--hui-ovbbqb-text-decoration-line, none);
  text-decoration-style: var(--hui-ovbbqb-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-ovbbqb-text-decoration-thickness, auto);
  text-indent: var(--hui-ovbbqb-text-indent, 0px);
  text-overflow: var(--hui-ovbbqb-text-overflow, clip);
  text-shadow: var(--hui-ovbbqb-text-shadow, none);
  text-size-adjust: var(--hui-ovbbqb-text-size-adjust, auto);
  text-transform: var(--hui-ovbbqb-text-transform, none);
  text-wrap: var(--hui-ovbbqb-text-wrap, wrap);
  vertical-align: var(--hui-ovbbqb-vertical-align, baseline);
  white-space-collapse: var(--hui-ovbbqb-white-space-collapse, collapse);
  word-break: var(--hui-ovbbqb-word-break, normal);
  word-spacing: var(--hui-ovbbqb-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-ovbbqb-visibility, visible);
  color: var(--hui-ovbbqb-color, rgb(0, 0, 0));
  background-attachment: var(--hui-ovbbqb-background-attachment, scroll);
  background-clip: var(--hui-ovbbqb-background-clip, border-box);
  background-color: var(--hui-ovbbqb-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-ovbbqb-background-image, none);
  background-origin: var(--hui-ovbbqb-background-origin, padding-box);
  background-position-x: var(--hui-ovbbqb-background-position-x, 0%);
  background-position-y: var(--hui-ovbbqb-background-position-y, 0%);
  background-repeat: var(--hui-ovbbqb-background-repeat, repeat);
  background-size: var(--hui-ovbbqb-background-size, auto);
  border-bottom-color: var(--hui-ovbbqb-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-ovbbqb-border-bottom-style, none);
  border-bottom-width: var(--hui-ovbbqb-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-ovbbqb-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-ovbbqb-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-ovbbqb-border-image-outset, 0);
  border-image-repeat: var(--hui-ovbbqb-border-image-repeat, stretch);
  border-image-slice: var(--hui-ovbbqb-border-image-slice, 100%);
  border-image-source: var(--hui-ovbbqb-border-image-source, none);
  border-image-width: var(--hui-ovbbqb-border-image-width, 1);
  border-left-color: var(--hui-ovbbqb-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-ovbbqb-border-left-style, none);
  border-left-width: var(--hui-ovbbqb-border-left-width, 0px);
  border-right-color: var(--hui-ovbbqb-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-ovbbqb-border-right-style, none);
  border-right-width: var(--hui-ovbbqb-border-right-width, 0px);
  border-top-color: var(--hui-ovbbqb-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-ovbbqb-border-top-style, none);
  border-top-width: var(--hui-ovbbqb-border-top-width, 0px);
  border-top-left-radius: var(--hui-ovbbqb-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-ovbbqb-border-top-right-radius, 0px);
  box-shadow: var(--hui-ovbbqb-box-shadow, none);
  cursor: var(--hui-ovbbqb-cursor, auto);
  outline-color: var(--hui-ovbbqb-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-ovbbqb-outline-offset, 0px);
  outline-style: var(--hui-ovbbqb-outline-style, none);
  outline-width: var(--hui-ovbbqb-outline-width, 0px);
  scrollbar-color: var(--hui-ovbbqb-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-ovbbqb-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-ovbbqb-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-ovbbqb-display, block);
  position-anchor: var(--hui-ovbbqb-position-anchor, initial);
}
[data-hui=Dropdown] > option {
  /* LAYOUT-POSITION */
  position: var(--hui-kpisih-position, static);
  top: var(--hui-kpisih-top, auto);
  right: var(--hui-kpisih-right, auto);
  bottom: var(--hui-kpisih-bottom, auto);
  left: var(--hui-kpisih-left, auto);
  z-index: var(--hui-kpisih-z-index, auto);
  float: var(--hui-kpisih-float, none);
  clear: var(--hui-kpisih-clear, none);
  align-self: var(--hui-kpisih-align-self, auto);
  order: var(--hui-kpisih-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-kpisih-box-sizing, border-box);
  height: var(--hui-kpisih-height, auto);
  max-height: var(--hui-kpisih-max-height, none);
  min-height: var(--hui-kpisih-min-height, auto);
  width: var(--hui-kpisih-width, auto);
  max-width: var(--hui-kpisih-max-width, none);
  min-width: var(--hui-kpisih-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-kpisih-margin-top, 0px);
  margin-right: var(--hui-kpisih-margin-right, 0px);
  margin-bottom: var(--hui-kpisih-margin-bottom, 0px);
  margin-left: var(--hui-kpisih-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-kpisih-padding-top, 0px);
  padding-right: var(--hui-kpisih-padding-right, 0px);
  padding-bottom: var(--hui-kpisih-padding-bottom, 0px);
  padding-left: var(--hui-kpisih-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-kpisih-overflow-x, visible);
  overflow-y: var(--hui-kpisih-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-kpisih-flex-basis, auto);
  flex-direction: var(--hui-kpisih-flex-direction, row);
  flex-grow: var(--hui-kpisih-flex-grow, 0);
  flex-shrink: var(--hui-kpisih-flex-shrink, 1);
  flex-wrap: var(--hui-kpisih-flex-wrap, nowrap);
  gap: var(--hui-kpisih-gap, 0px);
  align-content: var(--hui-kpisih-align-content, stretch);
  justify-content: var(--hui-kpisih-justify-content, flex-start);
  align-items: var(--hui-kpisih-align-items, stretch);
  /* TEXT */
  direction: var(--hui-kpisih-direction, ltr);
  font-family: var(--hui-kpisih-font-family, system-ui);
  font-size: var(--hui-kpisih-font-size, 16px);
  font-stretch: var(--hui-kpisih-font-stretch, 100%);
  font-style: var(--hui-kpisih-font-style, normal);
  font-weight: var(--hui-kpisih-font-weight, 400);
  letter-spacing: var(--hui-kpisih-letter-spacing, normal);
  line-height: var(--hui-kpisih-line-height, normal);
  text-align: var(--hui-kpisih-text-align, start);
  text-align-last: var(--hui-kpisih-text-align-last, auto);
  text-decoration-color: var(--hui-kpisih-text-decoration-color, #000);
  text-decoration-line: var(--hui-kpisih-text-decoration-line, none);
  text-decoration-style: var(--hui-kpisih-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-kpisih-text-decoration-thickness, auto);
  text-indent: var(--hui-kpisih-text-indent, 0px);
  text-overflow: var(--hui-kpisih-text-overflow, clip);
  text-shadow: var(--hui-kpisih-text-shadow, none);
  text-size-adjust: var(--hui-kpisih-text-size-adjust, auto);
  text-transform: var(--hui-kpisih-text-transform, none);
  text-wrap: var(--hui-kpisih-text-wrap, wrap);
  vertical-align: var(--hui-kpisih-vertical-align, baseline);
  white-space-collapse: var(--hui-kpisih-white-space-collapse, collapse);
  word-break: var(--hui-kpisih-word-break, normal);
  word-spacing: var(--hui-kpisih-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-kpisih-visibility, visible);
  color: var(--hui-kpisih-color, rgb(0, 0, 0));
  background-attachment: var(--hui-kpisih-background-attachment, scroll);
  background-clip: var(--hui-kpisih-background-clip, border-box);
  background-color: var(--hui-kpisih-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-kpisih-background-image, none);
  background-origin: var(--hui-kpisih-background-origin, padding-box);
  background-position-x: var(--hui-kpisih-background-position-x, 0%);
  background-position-y: var(--hui-kpisih-background-position-y, 0%);
  background-repeat: var(--hui-kpisih-background-repeat, repeat);
  background-size: var(--hui-kpisih-background-size, auto);
  border-bottom-color: var(--hui-kpisih-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-kpisih-border-bottom-style, none);
  border-bottom-width: var(--hui-kpisih-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-kpisih-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-kpisih-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-kpisih-border-image-outset, 0);
  border-image-repeat: var(--hui-kpisih-border-image-repeat, stretch);
  border-image-slice: var(--hui-kpisih-border-image-slice, 100%);
  border-image-source: var(--hui-kpisih-border-image-source, none);
  border-image-width: var(--hui-kpisih-border-image-width, 1);
  border-left-color: var(--hui-kpisih-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-kpisih-border-left-style, none);
  border-left-width: var(--hui-kpisih-border-left-width, 0px);
  border-right-color: var(--hui-kpisih-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-kpisih-border-right-style, none);
  border-right-width: var(--hui-kpisih-border-right-width, 0px);
  border-top-color: var(--hui-kpisih-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-kpisih-border-top-style, none);
  border-top-width: var(--hui-kpisih-border-top-width, 0px);
  border-top-left-radius: var(--hui-kpisih-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-kpisih-border-top-right-radius, 0px);
  box-shadow: var(--hui-kpisih-box-shadow, none);
  cursor: var(--hui-kpisih-cursor, auto);
  outline-color: var(--hui-kpisih-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-kpisih-outline-offset, 0px);
  outline-style: var(--hui-kpisih-outline-style, none);
  outline-width: var(--hui-kpisih-outline-width, 0px);
  scrollbar-color: var(--hui-kpisih-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-kpisih-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-kpisih-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-kpisih-display, block);
}
[data-hui=Dropdown] > option:hover,
[data-hui=Dropdown] > option[data-hui-focused] {
  background-image: var(--hui-hutckq-background-image, initial);
}
[data-hui=Dropdown] > option + option {
  border-top-color: var(--hui-kczvqs-border-top-color, initial);
  border-top-style: var(--hui-kczvqs-border-top-style, initial);
  border-top-width: var(--hui-kczvqs-border-top-width, initial);
}