[data-hui=FileInput] {
  /* LAYOUT-POSITION */
  position: var(--hui-fmglhp-position, static);
  top: var(--hui-fmglhp-top, auto);
  right: var(--hui-fmglhp-right, auto);
  bottom: var(--hui-fmglhp-bottom, auto);
  left: var(--hui-fmglhp-left, auto);
  z-index: var(--hui-fmglhp-z-index, auto);
  float: var(--hui-fmglhp-float, none);
  clear: var(--hui-fmglhp-clear, none);
  align-self: var(--hui-fmglhp-align-self, auto);
  order: var(--hui-fmglhp-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-fmglhp-box-sizing, border-box);
  height: var(--hui-fmglhp-height, auto);
  max-height: var(--hui-fmglhp-max-height, none);
  min-height: var(--hui-fmglhp-min-height, auto);
  width: var(--hui-fmglhp-width, auto);
  max-width: var(--hui-fmglhp-max-width, none);
  min-width: var(--hui-fmglhp-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-fmglhp-margin-top, 0px);
  margin-right: var(--hui-fmglhp-margin-right, 0px);
  margin-bottom: var(--hui-fmglhp-margin-bottom, 0px);
  margin-left: var(--hui-fmglhp-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-fmglhp-padding-top, 0px);
  padding-right: var(--hui-fmglhp-padding-right, 0px);
  padding-bottom: var(--hui-fmglhp-padding-bottom, 0px);
  padding-left: var(--hui-fmglhp-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-fmglhp-overflow-x, visible);
  overflow-y: var(--hui-fmglhp-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-fmglhp-flex-basis, auto);
  flex-direction: var(--hui-fmglhp-flex-direction, row);
  flex-grow: var(--hui-fmglhp-flex-grow, 0);
  flex-shrink: var(--hui-fmglhp-flex-shrink, 1);
  flex-wrap: var(--hui-fmglhp-flex-wrap, nowrap);
  gap: var(--hui-fmglhp-gap, 0px);
  align-content: var(--hui-fmglhp-align-content, stretch);
  justify-content: var(--hui-fmglhp-justify-content, flex-start);
  align-items: var(--hui-fmglhp-align-items, stretch);
  /* TEXT */
  direction: var(--hui-fmglhp-direction, ltr);
  font-family: var(--hui-fmglhp-font-family, system-ui);
  font-size: var(--hui-fmglhp-font-size, 16px);
  font-stretch: var(--hui-fmglhp-font-stretch, 100%);
  font-style: var(--hui-fmglhp-font-style, normal);
  font-weight: var(--hui-fmglhp-font-weight, 400);
  letter-spacing: var(--hui-fmglhp-letter-spacing, normal);
  line-height: var(--hui-fmglhp-line-height, normal);
  text-align: var(--hui-fmglhp-text-align, start);
  text-align-last: var(--hui-fmglhp-text-align-last, auto);
  text-decoration-color: var(--hui-fmglhp-text-decoration-color, #000);
  text-decoration-line: var(--hui-fmglhp-text-decoration-line, none);
  text-decoration-style: var(--hui-fmglhp-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-fmglhp-text-decoration-thickness, auto);
  text-indent: var(--hui-fmglhp-text-indent, 0px);
  text-overflow: var(--hui-fmglhp-text-overflow, clip);
  text-shadow: var(--hui-fmglhp-text-shadow, none);
  text-size-adjust: var(--hui-fmglhp-text-size-adjust, auto);
  text-transform: var(--hui-fmglhp-text-transform, none);
  text-wrap: var(--hui-fmglhp-text-wrap, wrap);
  vertical-align: var(--hui-fmglhp-vertical-align, baseline);
  white-space-collapse: var(--hui-fmglhp-white-space-collapse, collapse);
  word-break: var(--hui-fmglhp-word-break, normal);
  word-spacing: var(--hui-fmglhp-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-fmglhp-visibility, visible);
  color: var(--hui-fmglhp-color, rgb(0, 0, 0));
  background-attachment: var(--hui-fmglhp-background-attachment, scroll);
  background-clip: var(--hui-fmglhp-background-clip, border-box);
  background-color: var(--hui-fmglhp-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-fmglhp-background-image, none);
  background-origin: var(--hui-fmglhp-background-origin, padding-box);
  background-position-x: var(--hui-fmglhp-background-position-x, 0%);
  background-position-y: var(--hui-fmglhp-background-position-y, 0%);
  background-repeat: var(--hui-fmglhp-background-repeat, repeat);
  background-size: var(--hui-fmglhp-background-size, auto);
  border-bottom-color: var(--hui-fmglhp-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-fmglhp-border-bottom-style, none);
  border-bottom-width: var(--hui-fmglhp-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-fmglhp-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-fmglhp-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-fmglhp-border-image-outset, 0);
  border-image-repeat: var(--hui-fmglhp-border-image-repeat, stretch);
  border-image-slice: var(--hui-fmglhp-border-image-slice, 100%);
  border-image-source: var(--hui-fmglhp-border-image-source, none);
  border-image-width: var(--hui-fmglhp-border-image-width, 1);
  border-left-color: var(--hui-fmglhp-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-fmglhp-border-left-style, none);
  border-left-width: var(--hui-fmglhp-border-left-width, 0px);
  border-right-color: var(--hui-fmglhp-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-fmglhp-border-right-style, none);
  border-right-width: var(--hui-fmglhp-border-right-width, 0px);
  border-top-color: var(--hui-fmglhp-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-fmglhp-border-top-style, none);
  border-top-width: var(--hui-fmglhp-border-top-width, 0px);
  border-top-left-radius: var(--hui-fmglhp-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-fmglhp-border-top-right-radius, 0px);
  box-shadow: var(--hui-fmglhp-box-shadow, none);
  cursor: var(--hui-fmglhp-cursor, auto);
  outline-color: var(--hui-fmglhp-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-fmglhp-outline-offset, 0px);
  outline-style: var(--hui-fmglhp-outline-style, none);
  outline-width: var(--hui-fmglhp-outline-width, 0px);
  scrollbar-color: var(--hui-fmglhp-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-fmglhp-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-fmglhp-scrollbar-width, thin);
}
[data-hui=FileInput] > input {
  /* LAYOUT-POSITION */
  position: var(--hui-llmfik-position, static);
  top: var(--hui-llmfik-top, auto);
  right: var(--hui-llmfik-right, auto);
  bottom: var(--hui-llmfik-bottom, auto);
  left: var(--hui-llmfik-left, auto);
  z-index: var(--hui-llmfik-z-index, auto);
  float: var(--hui-llmfik-float, none);
  clear: var(--hui-llmfik-clear, none);
  align-self: var(--hui-llmfik-align-self, auto);
  order: var(--hui-llmfik-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-llmfik-box-sizing, border-box);
  height: var(--hui-llmfik-height, auto);
  max-height: var(--hui-llmfik-max-height, none);
  min-height: var(--hui-llmfik-min-height, auto);
  width: var(--hui-llmfik-width, auto);
  max-width: var(--hui-llmfik-max-width, none);
  min-width: var(--hui-llmfik-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-llmfik-margin-top, 0px);
  margin-right: var(--hui-llmfik-margin-right, 0px);
  margin-bottom: var(--hui-llmfik-margin-bottom, 0px);
  margin-left: var(--hui-llmfik-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-llmfik-padding-top, 0px);
  padding-right: var(--hui-llmfik-padding-right, 0px);
  padding-bottom: var(--hui-llmfik-padding-bottom, 0px);
  padding-left: var(--hui-llmfik-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-llmfik-overflow-x, visible);
  overflow-y: var(--hui-llmfik-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-llmfik-flex-basis, auto);
  flex-direction: var(--hui-llmfik-flex-direction, row);
  flex-grow: var(--hui-llmfik-flex-grow, 0);
  flex-shrink: var(--hui-llmfik-flex-shrink, 1);
  flex-wrap: var(--hui-llmfik-flex-wrap, nowrap);
  gap: var(--hui-llmfik-gap, 0px);
  align-content: var(--hui-llmfik-align-content, stretch);
  justify-content: var(--hui-llmfik-justify-content, flex-start);
  align-items: var(--hui-llmfik-align-items, stretch);
  /* TEXT */
  direction: var(--hui-llmfik-direction, ltr);
  font-family: var(--hui-llmfik-font-family, system-ui);
  font-size: var(--hui-llmfik-font-size, 16px);
  font-stretch: var(--hui-llmfik-font-stretch, 100%);
  font-style: var(--hui-llmfik-font-style, normal);
  font-weight: var(--hui-llmfik-font-weight, 400);
  letter-spacing: var(--hui-llmfik-letter-spacing, normal);
  line-height: var(--hui-llmfik-line-height, normal);
  text-align: var(--hui-llmfik-text-align, start);
  text-align-last: var(--hui-llmfik-text-align-last, auto);
  text-decoration-color: var(--hui-llmfik-text-decoration-color, #000);
  text-decoration-line: var(--hui-llmfik-text-decoration-line, none);
  text-decoration-style: var(--hui-llmfik-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-llmfik-text-decoration-thickness, auto);
  text-indent: var(--hui-llmfik-text-indent, 0px);
  text-overflow: var(--hui-llmfik-text-overflow, clip);
  text-shadow: var(--hui-llmfik-text-shadow, none);
  text-size-adjust: var(--hui-llmfik-text-size-adjust, auto);
  text-transform: var(--hui-llmfik-text-transform, none);
  text-wrap: var(--hui-llmfik-text-wrap, wrap);
  vertical-align: var(--hui-llmfik-vertical-align, baseline);
  white-space-collapse: var(--hui-llmfik-white-space-collapse, collapse);
  word-break: var(--hui-llmfik-word-break, normal);
  word-spacing: var(--hui-llmfik-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-llmfik-visibility, visible);
  color: var(--hui-llmfik-color, rgb(0, 0, 0));
  background-attachment: var(--hui-llmfik-background-attachment, scroll);
  background-clip: var(--hui-llmfik-background-clip, border-box);
  background-color: var(--hui-llmfik-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-llmfik-background-image, none);
  background-origin: var(--hui-llmfik-background-origin, padding-box);
  background-position-x: var(--hui-llmfik-background-position-x, 0%);
  background-position-y: var(--hui-llmfik-background-position-y, 0%);
  background-repeat: var(--hui-llmfik-background-repeat, repeat);
  background-size: var(--hui-llmfik-background-size, auto);
  border-bottom-color: var(--hui-llmfik-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-llmfik-border-bottom-style, none);
  border-bottom-width: var(--hui-llmfik-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-llmfik-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-llmfik-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-llmfik-border-image-outset, 0);
  border-image-repeat: var(--hui-llmfik-border-image-repeat, stretch);
  border-image-slice: var(--hui-llmfik-border-image-slice, 100%);
  border-image-source: var(--hui-llmfik-border-image-source, none);
  border-image-width: var(--hui-llmfik-border-image-width, 1);
  border-left-color: var(--hui-llmfik-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-llmfik-border-left-style, none);
  border-left-width: var(--hui-llmfik-border-left-width, 0px);
  border-right-color: var(--hui-llmfik-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-llmfik-border-right-style, none);
  border-right-width: var(--hui-llmfik-border-right-width, 0px);
  border-top-color: var(--hui-llmfik-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-llmfik-border-top-style, none);
  border-top-width: var(--hui-llmfik-border-top-width, 0px);
  border-top-left-radius: var(--hui-llmfik-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-llmfik-border-top-right-radius, 0px);
  box-shadow: var(--hui-llmfik-box-shadow, none);
  cursor: var(--hui-llmfik-cursor, auto);
  outline-color: var(--hui-llmfik-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-llmfik-outline-offset, 0px);
  outline-style: var(--hui-llmfik-outline-style, none);
  outline-width: var(--hui-llmfik-outline-width, 0px);
  scrollbar-color: var(--hui-llmfik-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-llmfik-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-llmfik-scrollbar-width, thin);
}
[data-hui=FileInput] > input::placeholder {
  font-size: var(--hui-qctgua-font-size, initial);
  text-align: var(--hui-qctgua-text-align, initial);
}
[data-hui=FileInput] > input::file-selector-button {
  /* DISPLAY */
  display: var(--hui-gnnjya-display, block);
}