[data-hui=Input] > input {
  /* LAYOUT-POSITION */
  position: var(--hui-duueth-position, static);
  top: var(--hui-duueth-top, auto);
  right: var(--hui-duueth-right, auto);
  bottom: var(--hui-duueth-bottom, auto);
  left: var(--hui-duueth-left, auto);
  z-index: var(--hui-duueth-z-index, auto);
  float: var(--hui-duueth-float, none);
  clear: var(--hui-duueth-clear, none);
  align-self: var(--hui-duueth-align-self, auto);
  order: var(--hui-duueth-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-duueth-box-sizing, border-box);
  height: var(--hui-duueth-height, auto);
  max-height: var(--hui-duueth-max-height, none);
  min-height: var(--hui-duueth-min-height, auto);
  width: var(--hui-duueth-width, auto);
  max-width: var(--hui-duueth-max-width, none);
  min-width: var(--hui-duueth-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-duueth-margin-top, 0px);
  margin-right: var(--hui-duueth-margin-right, 0px);
  margin-bottom: var(--hui-duueth-margin-bottom, 0px);
  margin-left: var(--hui-duueth-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-duueth-padding-top, 0px);
  padding-right: var(--hui-duueth-padding-right, 0px);
  padding-bottom: var(--hui-duueth-padding-bottom, 0px);
  padding-left: var(--hui-duueth-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-duueth-overflow-x, visible);
  overflow-y: var(--hui-duueth-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-duueth-flex-basis, auto);
  flex-direction: var(--hui-duueth-flex-direction, row);
  flex-grow: var(--hui-duueth-flex-grow, 0);
  flex-shrink: var(--hui-duueth-flex-shrink, 1);
  flex-wrap: var(--hui-duueth-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-duueth-direction, ltr);
  font-family: var(--hui-duueth-font-family, system-ui);
  font-size: var(--hui-duueth-font-size, 16px);
  font-stretch: var(--hui-duueth-font-stretch, 100%);
  font-style: var(--hui-duueth-font-style, normal);
  font-weight: var(--hui-duueth-font-weight, 400);
  letter-spacing: var(--hui-duueth-letter-spacing, normal);
  line-height: var(--hui-duueth-line-height, normal);
  text-align: var(--hui-duueth-text-align, start);
  text-align-last: var(--hui-duueth-text-align-last, auto);
  text-decoration-color: var(--hui-duueth-text-decoration-color, #000);
  text-decoration-line: var(--hui-duueth-text-decoration-line, none);
  text-decoration-style: var(--hui-duueth-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-duueth-text-decoration-thickness, auto);
  text-indent: var(--hui-duueth-text-indent, 0px);
  text-overflow: var(--hui-duueth-text-overflow, clip);
  text-shadow: var(--hui-duueth-text-shadow, none);
  text-size-adjust: var(--hui-duueth-text-size-adjust, auto);
  text-transform: var(--hui-duueth-text-transform, none);
  text-wrap: var(--hui-duueth-text-wrap, wrap);
  vertical-align: var(--hui-duueth-vertical-align, baseline);
  white-space-collapse: var(--hui-duueth-white-space-collapse, collapse);
  word-break: var(--hui-duueth-word-break, normal);
  word-spacing: var(--hui-duueth-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-duueth-visibility, visible);
  color: var(--hui-duueth-color, rgb(0, 0, 0));
  background-attachment: var(--hui-duueth-background-attachment, scroll);
  background-clip: var(--hui-duueth-background-clip, border-box);
  background-color: var(--hui-duueth-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-duueth-background-image, none);
  background-origin: var(--hui-duueth-background-origin, padding-box);
  background-position-x: var(--hui-duueth-background-position-x, 0%);
  background-position-y: var(--hui-duueth-background-position-y, 0%);
  background-repeat: var(--hui-duueth-background-repeat, repeat);
  background-size: var(--hui-duueth-background-size, auto);
  border-bottom-color: var(--hui-duueth-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-duueth-border-bottom-style, none);
  border-bottom-width: var(--hui-duueth-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-duueth-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-duueth-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-duueth-border-image-outset, 0);
  border-image-repeat: var(--hui-duueth-border-image-repeat, stretch);
  border-image-slice: var(--hui-duueth-border-image-slice, 100%);
  border-image-source: var(--hui-duueth-border-image-source, none);
  border-image-width: var(--hui-duueth-border-image-width, 1);
  border-left-color: var(--hui-duueth-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-duueth-border-left-style, none);
  border-left-width: var(--hui-duueth-border-left-width, 0px);
  border-right-color: var(--hui-duueth-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-duueth-border-right-style, none);
  border-right-width: var(--hui-duueth-border-right-width, 0px);
  border-top-color: var(--hui-duueth-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-duueth-border-top-style, none);
  border-top-width: var(--hui-duueth-border-top-width, 0px);
  border-top-left-radius: var(--hui-duueth-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-duueth-border-top-right-radius, 0px);
  box-shadow: var(--hui-duueth-box-shadow, none);
  cursor: var(--hui-duueth-cursor, auto);
  outline-color: var(--hui-duueth-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-duueth-outline-offset, 0px);
  outline-style: var(--hui-duueth-outline-style, none);
  outline-width: var(--hui-duueth-outline-width, 0px);
}