[data-hui=MultiInput] {
  /* LAYOUT-POSITION */
  position: var(--hui-lilprs-position, static);
  top: var(--hui-lilprs-top, auto);
  right: var(--hui-lilprs-right, auto);
  bottom: var(--hui-lilprs-bottom, auto);
  left: var(--hui-lilprs-left, auto);
  z-index: var(--hui-lilprs-z-index, auto);
  float: var(--hui-lilprs-float, none);
  clear: var(--hui-lilprs-clear, none);
  align-self: var(--hui-lilprs-align-self, auto);
  order: var(--hui-lilprs-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-lilprs-box-sizing, border-box);
  height: var(--hui-lilprs-height, auto);
  max-height: var(--hui-lilprs-max-height, none);
  min-height: var(--hui-lilprs-min-height, auto);
  width: var(--hui-lilprs-width, auto);
  max-width: var(--hui-lilprs-max-width, none);
  min-width: var(--hui-lilprs-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-lilprs-margin-top, 0px);
  margin-right: var(--hui-lilprs-margin-right, 0px);
  margin-bottom: var(--hui-lilprs-margin-bottom, 0px);
  margin-left: var(--hui-lilprs-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-lilprs-padding-top, 0px);
  padding-right: var(--hui-lilprs-padding-right, 0px);
  padding-bottom: var(--hui-lilprs-padding-bottom, 0px);
  padding-left: var(--hui-lilprs-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-lilprs-overflow-x, visible);
  overflow-y: var(--hui-lilprs-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-lilprs-flex-basis, auto);
  flex-direction: var(--hui-lilprs-flex-direction, row);
  flex-grow: var(--hui-lilprs-flex-grow, 0);
  flex-shrink: var(--hui-lilprs-flex-shrink, 1);
  flex-wrap: var(--hui-lilprs-flex-wrap, nowrap);
  gap: var(--hui-lilprs-gap, 0px);
  align-content: var(--hui-lilprs-align-content, stretch);
  justify-content: var(--hui-lilprs-justify-content, flex-start);
  align-items: var(--hui-lilprs-align-items, stretch);
  /* TEXT */
  direction: var(--hui-lilprs-direction, ltr);
  font-family: var(--hui-lilprs-font-family, system-ui);
  font-size: var(--hui-lilprs-font-size, 16px);
  font-stretch: var(--hui-lilprs-font-stretch, 100%);
  font-style: var(--hui-lilprs-font-style, normal);
  font-weight: var(--hui-lilprs-font-weight, 400);
  letter-spacing: var(--hui-lilprs-letter-spacing, normal);
  line-height: var(--hui-lilprs-line-height, normal);
  text-align: var(--hui-lilprs-text-align, start);
  text-align-last: var(--hui-lilprs-text-align-last, auto);
  text-decoration-color: var(--hui-lilprs-text-decoration-color, #000);
  text-decoration-line: var(--hui-lilprs-text-decoration-line, none);
  text-decoration-style: var(--hui-lilprs-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-lilprs-text-decoration-thickness, auto);
  text-indent: var(--hui-lilprs-text-indent, 0px);
  text-overflow: var(--hui-lilprs-text-overflow, clip);
  text-shadow: var(--hui-lilprs-text-shadow, none);
  text-size-adjust: var(--hui-lilprs-text-size-adjust, auto);
  text-transform: var(--hui-lilprs-text-transform, none);
  text-wrap: var(--hui-lilprs-text-wrap, wrap);
  vertical-align: var(--hui-lilprs-vertical-align, baseline);
  white-space-collapse: var(--hui-lilprs-white-space-collapse, collapse);
  word-break: var(--hui-lilprs-word-break, normal);
  word-spacing: var(--hui-lilprs-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-lilprs-visibility, visible);
  color: var(--hui-lilprs-color, rgb(0, 0, 0));
  background-attachment: var(--hui-lilprs-background-attachment, scroll);
  background-clip: var(--hui-lilprs-background-clip, border-box);
  background-color: var(--hui-lilprs-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-lilprs-background-image, none);
  background-origin: var(--hui-lilprs-background-origin, padding-box);
  background-position-x: var(--hui-lilprs-background-position-x, 0%);
  background-position-y: var(--hui-lilprs-background-position-y, 0%);
  background-repeat: var(--hui-lilprs-background-repeat, repeat);
  background-size: var(--hui-lilprs-background-size, auto);
  border-bottom-color: var(--hui-lilprs-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-lilprs-border-bottom-style, none);
  border-bottom-width: var(--hui-lilprs-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-lilprs-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-lilprs-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-lilprs-border-image-outset, 0);
  border-image-repeat: var(--hui-lilprs-border-image-repeat, stretch);
  border-image-slice: var(--hui-lilprs-border-image-slice, 100%);
  border-image-source: var(--hui-lilprs-border-image-source, none);
  border-image-width: var(--hui-lilprs-border-image-width, 1);
  border-left-color: var(--hui-lilprs-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-lilprs-border-left-style, none);
  border-left-width: var(--hui-lilprs-border-left-width, 0px);
  border-right-color: var(--hui-lilprs-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-lilprs-border-right-style, none);
  border-right-width: var(--hui-lilprs-border-right-width, 0px);
  border-top-color: var(--hui-lilprs-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-lilprs-border-top-style, none);
  border-top-width: var(--hui-lilprs-border-top-width, 0px);
  border-top-left-radius: var(--hui-lilprs-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-lilprs-border-top-right-radius, 0px);
  box-shadow: var(--hui-lilprs-box-shadow, none);
  cursor: var(--hui-lilprs-cursor, auto);
  outline-color: var(--hui-lilprs-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-lilprs-outline-offset, 0px);
  outline-style: var(--hui-lilprs-outline-style, none);
  outline-width: var(--hui-lilprs-outline-width, 0px);
  scrollbar-color: var(--hui-lilprs-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-lilprs-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-lilprs-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-lilprs-display, block);
  flex: var(--hui-lilprs-flex, initial);
  gap: var(--hui-lilprs-gap, initial);
}
[data-hui=MultiInput] > input {
  /* LAYOUT-POSITION */
  position: var(--hui-aqailr-position, static);
  top: var(--hui-aqailr-top, auto);
  right: var(--hui-aqailr-right, auto);
  bottom: var(--hui-aqailr-bottom, auto);
  left: var(--hui-aqailr-left, auto);
  z-index: var(--hui-aqailr-z-index, auto);
  float: var(--hui-aqailr-float, none);
  clear: var(--hui-aqailr-clear, none);
  align-self: var(--hui-aqailr-align-self, auto);
  order: var(--hui-aqailr-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-aqailr-box-sizing, border-box);
  height: var(--hui-aqailr-height, auto);
  max-height: var(--hui-aqailr-max-height, none);
  min-height: var(--hui-aqailr-min-height, auto);
  width: var(--hui-aqailr-width, auto);
  max-width: var(--hui-aqailr-max-width, none);
  min-width: var(--hui-aqailr-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-aqailr-margin-top, 0px);
  margin-right: var(--hui-aqailr-margin-right, 0px);
  margin-bottom: var(--hui-aqailr-margin-bottom, 0px);
  margin-left: var(--hui-aqailr-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-aqailr-padding-top, 0px);
  padding-right: var(--hui-aqailr-padding-right, 0px);
  padding-bottom: var(--hui-aqailr-padding-bottom, 0px);
  padding-left: var(--hui-aqailr-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-aqailr-overflow-x, visible);
  overflow-y: var(--hui-aqailr-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-aqailr-flex-basis, auto);
  flex-direction: var(--hui-aqailr-flex-direction, row);
  flex-grow: var(--hui-aqailr-flex-grow, 0);
  flex-shrink: var(--hui-aqailr-flex-shrink, 1);
  flex-wrap: var(--hui-aqailr-flex-wrap, nowrap);
  gap: var(--hui-aqailr-gap, 0px);
  align-content: var(--hui-aqailr-align-content, stretch);
  justify-content: var(--hui-aqailr-justify-content, flex-start);
  align-items: var(--hui-aqailr-align-items, stretch);
  /* TEXT */
  direction: var(--hui-aqailr-direction, ltr);
  font-family: var(--hui-aqailr-font-family, system-ui);
  font-size: var(--hui-aqailr-font-size, 16px);
  font-stretch: var(--hui-aqailr-font-stretch, 100%);
  font-style: var(--hui-aqailr-font-style, normal);
  font-weight: var(--hui-aqailr-font-weight, 400);
  letter-spacing: var(--hui-aqailr-letter-spacing, normal);
  line-height: var(--hui-aqailr-line-height, normal);
  text-align: var(--hui-aqailr-text-align, start);
  text-align-last: var(--hui-aqailr-text-align-last, auto);
  text-decoration-color: var(--hui-aqailr-text-decoration-color, #000);
  text-decoration-line: var(--hui-aqailr-text-decoration-line, none);
  text-decoration-style: var(--hui-aqailr-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-aqailr-text-decoration-thickness, auto);
  text-indent: var(--hui-aqailr-text-indent, 0px);
  text-overflow: var(--hui-aqailr-text-overflow, clip);
  text-shadow: var(--hui-aqailr-text-shadow, none);
  text-size-adjust: var(--hui-aqailr-text-size-adjust, auto);
  text-transform: var(--hui-aqailr-text-transform, none);
  text-wrap: var(--hui-aqailr-text-wrap, wrap);
  vertical-align: var(--hui-aqailr-vertical-align, baseline);
  white-space-collapse: var(--hui-aqailr-white-space-collapse, collapse);
  word-break: var(--hui-aqailr-word-break, normal);
  word-spacing: var(--hui-aqailr-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-aqailr-visibility, visible);
  color: var(--hui-aqailr-color, rgb(0, 0, 0));
  background-attachment: var(--hui-aqailr-background-attachment, scroll);
  background-clip: var(--hui-aqailr-background-clip, border-box);
  background-color: var(--hui-aqailr-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-aqailr-background-image, none);
  background-origin: var(--hui-aqailr-background-origin, padding-box);
  background-position-x: var(--hui-aqailr-background-position-x, 0%);
  background-position-y: var(--hui-aqailr-background-position-y, 0%);
  background-repeat: var(--hui-aqailr-background-repeat, repeat);
  background-size: var(--hui-aqailr-background-size, auto);
  border-bottom-color: var(--hui-aqailr-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-aqailr-border-bottom-style, none);
  border-bottom-width: var(--hui-aqailr-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-aqailr-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-aqailr-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-aqailr-border-image-outset, 0);
  border-image-repeat: var(--hui-aqailr-border-image-repeat, stretch);
  border-image-slice: var(--hui-aqailr-border-image-slice, 100%);
  border-image-source: var(--hui-aqailr-border-image-source, none);
  border-image-width: var(--hui-aqailr-border-image-width, 1);
  border-left-color: var(--hui-aqailr-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-aqailr-border-left-style, none);
  border-left-width: var(--hui-aqailr-border-left-width, 0px);
  border-right-color: var(--hui-aqailr-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-aqailr-border-right-style, none);
  border-right-width: var(--hui-aqailr-border-right-width, 0px);
  border-top-color: var(--hui-aqailr-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-aqailr-border-top-style, none);
  border-top-width: var(--hui-aqailr-border-top-width, 0px);
  border-top-left-radius: var(--hui-aqailr-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-aqailr-border-top-right-radius, 0px);
  box-shadow: var(--hui-aqailr-box-shadow, none);
  cursor: var(--hui-aqailr-cursor, auto);
  outline-color: var(--hui-aqailr-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-aqailr-outline-offset, 0px);
  outline-style: var(--hui-aqailr-outline-style, none);
  outline-width: var(--hui-aqailr-outline-width, 0px);
  scrollbar-color: var(--hui-aqailr-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-aqailr-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-aqailr-scrollbar-width, thin);
}
[data-hui=MultiInput] > input::placeholder {
  font-size: var(--hui-fyvwyk-font-size, initial);
  text-align: var(--hui-fyvwyk-text-align, initial);
}