[data-hui=MultiSelect] {
  /* LAYOUT-POSITION */
  position: var(--hui-dsdbsk-position, static);
  top: var(--hui-dsdbsk-top, auto);
  right: var(--hui-dsdbsk-right, auto);
  bottom: var(--hui-dsdbsk-bottom, auto);
  left: var(--hui-dsdbsk-left, auto);
  z-index: var(--hui-dsdbsk-z-index, auto);
  float: var(--hui-dsdbsk-float, none);
  clear: var(--hui-dsdbsk-clear, none);
  align-self: var(--hui-dsdbsk-align-self, auto);
  order: var(--hui-dsdbsk-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-dsdbsk-box-sizing, border-box);
  height: var(--hui-dsdbsk-height, auto);
  max-height: var(--hui-dsdbsk-max-height, none);
  min-height: var(--hui-dsdbsk-min-height, auto);
  width: var(--hui-dsdbsk-width, auto);
  max-width: var(--hui-dsdbsk-max-width, none);
  min-width: var(--hui-dsdbsk-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-dsdbsk-margin-top, 0px);
  margin-right: var(--hui-dsdbsk-margin-right, 0px);
  margin-bottom: var(--hui-dsdbsk-margin-bottom, 0px);
  margin-left: var(--hui-dsdbsk-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-dsdbsk-padding-top, 0px);
  padding-right: var(--hui-dsdbsk-padding-right, 0px);
  padding-bottom: var(--hui-dsdbsk-padding-bottom, 0px);
  padding-left: var(--hui-dsdbsk-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-dsdbsk-overflow-x, visible);
  overflow-y: var(--hui-dsdbsk-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-dsdbsk-flex-basis, auto);
  flex-direction: var(--hui-dsdbsk-flex-direction, row);
  flex-grow: var(--hui-dsdbsk-flex-grow, 0);
  flex-shrink: var(--hui-dsdbsk-flex-shrink, 1);
  flex-wrap: var(--hui-dsdbsk-flex-wrap, nowrap);
  gap: var(--hui-dsdbsk-gap, 0px);
  align-content: var(--hui-dsdbsk-align-content, stretch);
  justify-content: var(--hui-dsdbsk-justify-content, flex-start);
  align-items: var(--hui-dsdbsk-align-items, stretch);
  /* TEXT */
  direction: var(--hui-dsdbsk-direction, ltr);
  font-family: var(--hui-dsdbsk-font-family, system-ui);
  font-size: var(--hui-dsdbsk-font-size, 16px);
  font-stretch: var(--hui-dsdbsk-font-stretch, 100%);
  font-style: var(--hui-dsdbsk-font-style, normal);
  font-weight: var(--hui-dsdbsk-font-weight, 400);
  letter-spacing: var(--hui-dsdbsk-letter-spacing, normal);
  line-height: var(--hui-dsdbsk-line-height, normal);
  text-align: var(--hui-dsdbsk-text-align, start);
  text-align-last: var(--hui-dsdbsk-text-align-last, auto);
  text-decoration-color: var(--hui-dsdbsk-text-decoration-color, #000);
  text-decoration-line: var(--hui-dsdbsk-text-decoration-line, none);
  text-decoration-style: var(--hui-dsdbsk-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-dsdbsk-text-decoration-thickness, auto);
  text-indent: var(--hui-dsdbsk-text-indent, 0px);
  text-overflow: var(--hui-dsdbsk-text-overflow, clip);
  text-shadow: var(--hui-dsdbsk-text-shadow, none);
  text-size-adjust: var(--hui-dsdbsk-text-size-adjust, auto);
  text-transform: var(--hui-dsdbsk-text-transform, none);
  text-wrap: var(--hui-dsdbsk-text-wrap, wrap);
  vertical-align: var(--hui-dsdbsk-vertical-align, baseline);
  white-space-collapse: var(--hui-dsdbsk-white-space-collapse, collapse);
  word-break: var(--hui-dsdbsk-word-break, normal);
  word-spacing: var(--hui-dsdbsk-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-dsdbsk-visibility, visible);
  color: var(--hui-dsdbsk-color, rgb(0, 0, 0));
  background-attachment: var(--hui-dsdbsk-background-attachment, scroll);
  background-clip: var(--hui-dsdbsk-background-clip, border-box);
  background-color: var(--hui-dsdbsk-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-dsdbsk-background-image, none);
  background-origin: var(--hui-dsdbsk-background-origin, padding-box);
  background-position-x: var(--hui-dsdbsk-background-position-x, 0%);
  background-position-y: var(--hui-dsdbsk-background-position-y, 0%);
  background-repeat: var(--hui-dsdbsk-background-repeat, repeat);
  background-size: var(--hui-dsdbsk-background-size, auto);
  border-bottom-color: var(--hui-dsdbsk-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-dsdbsk-border-bottom-style, none);
  border-bottom-width: var(--hui-dsdbsk-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-dsdbsk-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-dsdbsk-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-dsdbsk-border-image-outset, 0);
  border-image-repeat: var(--hui-dsdbsk-border-image-repeat, stretch);
  border-image-slice: var(--hui-dsdbsk-border-image-slice, 100%);
  border-image-source: var(--hui-dsdbsk-border-image-source, none);
  border-image-width: var(--hui-dsdbsk-border-image-width, 1);
  border-left-color: var(--hui-dsdbsk-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-dsdbsk-border-left-style, none);
  border-left-width: var(--hui-dsdbsk-border-left-width, 0px);
  border-right-color: var(--hui-dsdbsk-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-dsdbsk-border-right-style, none);
  border-right-width: var(--hui-dsdbsk-border-right-width, 0px);
  border-top-color: var(--hui-dsdbsk-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-dsdbsk-border-top-style, none);
  border-top-width: var(--hui-dsdbsk-border-top-width, 0px);
  border-top-left-radius: var(--hui-dsdbsk-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-dsdbsk-border-top-right-radius, 0px);
  box-shadow: var(--hui-dsdbsk-box-shadow, none);
  cursor: var(--hui-dsdbsk-cursor, auto);
  outline-color: var(--hui-dsdbsk-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-dsdbsk-outline-offset, 0px);
  outline-style: var(--hui-dsdbsk-outline-style, none);
  outline-width: var(--hui-dsdbsk-outline-width, 0px);
  scrollbar-color: var(--hui-dsdbsk-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-dsdbsk-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-dsdbsk-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-dsdbsk-display, block);
  flex: var(--hui-dsdbsk-flex, initial);
}
[data-hui=MultiSelect] > input {
  /* LAYOUT-POSITION */
  position: var(--hui-jxwoey-position, static);
  top: var(--hui-jxwoey-top, auto);
  right: var(--hui-jxwoey-right, auto);
  bottom: var(--hui-jxwoey-bottom, auto);
  left: var(--hui-jxwoey-left, auto);
  z-index: var(--hui-jxwoey-z-index, auto);
  float: var(--hui-jxwoey-float, none);
  clear: var(--hui-jxwoey-clear, none);
  align-self: var(--hui-jxwoey-align-self, auto);
  order: var(--hui-jxwoey-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-jxwoey-box-sizing, border-box);
  height: var(--hui-jxwoey-height, auto);
  max-height: var(--hui-jxwoey-max-height, none);
  min-height: var(--hui-jxwoey-min-height, auto);
  width: var(--hui-jxwoey-width, auto);
  max-width: var(--hui-jxwoey-max-width, none);
  min-width: var(--hui-jxwoey-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-jxwoey-margin-top, 0px);
  margin-right: var(--hui-jxwoey-margin-right, 0px);
  margin-bottom: var(--hui-jxwoey-margin-bottom, 0px);
  margin-left: var(--hui-jxwoey-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-jxwoey-padding-top, 0px);
  padding-right: var(--hui-jxwoey-padding-right, 0px);
  padding-bottom: var(--hui-jxwoey-padding-bottom, 0px);
  padding-left: var(--hui-jxwoey-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-jxwoey-overflow-x, visible);
  overflow-y: var(--hui-jxwoey-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-jxwoey-flex-basis, auto);
  flex-direction: var(--hui-jxwoey-flex-direction, row);
  flex-grow: var(--hui-jxwoey-flex-grow, 0);
  flex-shrink: var(--hui-jxwoey-flex-shrink, 1);
  flex-wrap: var(--hui-jxwoey-flex-wrap, nowrap);
  gap: var(--hui-jxwoey-gap, 0px);
  align-content: var(--hui-jxwoey-align-content, stretch);
  justify-content: var(--hui-jxwoey-justify-content, flex-start);
  align-items: var(--hui-jxwoey-align-items, stretch);
  /* TEXT */
  direction: var(--hui-jxwoey-direction, ltr);
  font-family: var(--hui-jxwoey-font-family, system-ui);
  font-size: var(--hui-jxwoey-font-size, 16px);
  font-stretch: var(--hui-jxwoey-font-stretch, 100%);
  font-style: var(--hui-jxwoey-font-style, normal);
  font-weight: var(--hui-jxwoey-font-weight, 400);
  letter-spacing: var(--hui-jxwoey-letter-spacing, normal);
  line-height: var(--hui-jxwoey-line-height, normal);
  text-align: var(--hui-jxwoey-text-align, start);
  text-align-last: var(--hui-jxwoey-text-align-last, auto);
  text-decoration-color: var(--hui-jxwoey-text-decoration-color, #000);
  text-decoration-line: var(--hui-jxwoey-text-decoration-line, none);
  text-decoration-style: var(--hui-jxwoey-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-jxwoey-text-decoration-thickness, auto);
  text-indent: var(--hui-jxwoey-text-indent, 0px);
  text-overflow: var(--hui-jxwoey-text-overflow, clip);
  text-shadow: var(--hui-jxwoey-text-shadow, none);
  text-size-adjust: var(--hui-jxwoey-text-size-adjust, auto);
  text-transform: var(--hui-jxwoey-text-transform, none);
  text-wrap: var(--hui-jxwoey-text-wrap, wrap);
  vertical-align: var(--hui-jxwoey-vertical-align, baseline);
  white-space-collapse: var(--hui-jxwoey-white-space-collapse, collapse);
  word-break: var(--hui-jxwoey-word-break, normal);
  word-spacing: var(--hui-jxwoey-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-jxwoey-visibility, visible);
  color: var(--hui-jxwoey-color, rgb(0, 0, 0));
  background-attachment: var(--hui-jxwoey-background-attachment, scroll);
  background-clip: var(--hui-jxwoey-background-clip, border-box);
  background-color: var(--hui-jxwoey-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-jxwoey-background-image, none);
  background-origin: var(--hui-jxwoey-background-origin, padding-box);
  background-position-x: var(--hui-jxwoey-background-position-x, 0%);
  background-position-y: var(--hui-jxwoey-background-position-y, 0%);
  background-repeat: var(--hui-jxwoey-background-repeat, repeat);
  background-size: var(--hui-jxwoey-background-size, auto);
  border-bottom-color: var(--hui-jxwoey-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-jxwoey-border-bottom-style, none);
  border-bottom-width: var(--hui-jxwoey-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-jxwoey-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-jxwoey-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-jxwoey-border-image-outset, 0);
  border-image-repeat: var(--hui-jxwoey-border-image-repeat, stretch);
  border-image-slice: var(--hui-jxwoey-border-image-slice, 100%);
  border-image-source: var(--hui-jxwoey-border-image-source, none);
  border-image-width: var(--hui-jxwoey-border-image-width, 1);
  border-left-color: var(--hui-jxwoey-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-jxwoey-border-left-style, none);
  border-left-width: var(--hui-jxwoey-border-left-width, 0px);
  border-right-color: var(--hui-jxwoey-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-jxwoey-border-right-style, none);
  border-right-width: var(--hui-jxwoey-border-right-width, 0px);
  border-top-color: var(--hui-jxwoey-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-jxwoey-border-top-style, none);
  border-top-width: var(--hui-jxwoey-border-top-width, 0px);
  border-top-left-radius: var(--hui-jxwoey-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-jxwoey-border-top-right-radius, 0px);
  box-shadow: var(--hui-jxwoey-box-shadow, none);
  cursor: var(--hui-jxwoey-cursor, auto);
  outline-color: var(--hui-jxwoey-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-jxwoey-outline-offset, 0px);
  outline-style: var(--hui-jxwoey-outline-style, none);
  outline-width: var(--hui-jxwoey-outline-width, 0px);
  scrollbar-color: var(--hui-jxwoey-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-jxwoey-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-jxwoey-scrollbar-width, thin);
}
[data-hui=MultiSelect] > input::placeholder {
  font-size: var(--hui-vobkea-font-size, initial);
}
[data-hui=MultiSelect] > button {
  flex-grow: var(--hui-epqqys-flex-grow, initial);
  cursor: var(--hui-epqqys-cursor, initial);
}