[data-hui=Select] > fieldset {
  /* LAYOUT-POSITION */
  position: var(--hui-elcszo-position, static);
  top: var(--hui-elcszo-top, auto);
  right: var(--hui-elcszo-right, auto);
  bottom: var(--hui-elcszo-bottom, auto);
  left: var(--hui-elcszo-left, auto);
  z-index: var(--hui-elcszo-z-index, auto);
  float: var(--hui-elcszo-float, none);
  clear: var(--hui-elcszo-clear, none);
  align-self: var(--hui-elcszo-align-self, auto);
  order: var(--hui-elcszo-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-elcszo-box-sizing, border-box);
  height: var(--hui-elcszo-height, auto);
  max-height: var(--hui-elcszo-max-height, none);
  min-height: var(--hui-elcszo-min-height, auto);
  width: var(--hui-elcszo-width, auto);
  max-width: var(--hui-elcszo-max-width, none);
  min-width: var(--hui-elcszo-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-elcszo-margin-top, 0px);
  margin-right: var(--hui-elcszo-margin-right, 0px);
  margin-bottom: var(--hui-elcszo-margin-bottom, 0px);
  margin-left: var(--hui-elcszo-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-elcszo-padding-top, 0px);
  padding-right: var(--hui-elcszo-padding-right, 0px);
  padding-bottom: var(--hui-elcszo-padding-bottom, 0px);
  padding-left: var(--hui-elcszo-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-elcszo-overflow-x, visible);
  overflow-y: var(--hui-elcszo-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-elcszo-flex-basis, auto);
  flex-direction: var(--hui-elcszo-flex-direction, row);
  flex-grow: var(--hui-elcszo-flex-grow, 0);
  flex-shrink: var(--hui-elcszo-flex-shrink, 1);
  flex-wrap: var(--hui-elcszo-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-elcszo-direction, ltr);
  font-family: var(--hui-elcszo-font-family, system-ui);
  font-size: var(--hui-elcszo-font-size, 16px);
  font-stretch: var(--hui-elcszo-font-stretch, 100%);
  font-style: var(--hui-elcszo-font-style, normal);
  font-weight: var(--hui-elcszo-font-weight, 400);
  letter-spacing: var(--hui-elcszo-letter-spacing, normal);
  line-height: var(--hui-elcszo-line-height, normal);
  text-align: var(--hui-elcszo-text-align, start);
  text-align-last: var(--hui-elcszo-text-align-last, auto);
  text-decoration-color: var(--hui-elcszo-text-decoration-color, #000);
  text-decoration-line: var(--hui-elcszo-text-decoration-line, none);
  text-decoration-style: var(--hui-elcszo-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-elcszo-text-decoration-thickness, auto);
  text-indent: var(--hui-elcszo-text-indent, 0px);
  text-overflow: var(--hui-elcszo-text-overflow, clip);
  text-shadow: var(--hui-elcszo-text-shadow, none);
  text-size-adjust: var(--hui-elcszo-text-size-adjust, auto);
  text-transform: var(--hui-elcszo-text-transform, none);
  text-wrap: var(--hui-elcszo-text-wrap, wrap);
  vertical-align: var(--hui-elcszo-vertical-align, baseline);
  white-space-collapse: var(--hui-elcszo-white-space-collapse, collapse);
  word-break: var(--hui-elcszo-word-break, normal);
  word-spacing: var(--hui-elcszo-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-elcszo-visibility, visible);
  color: var(--hui-elcszo-color, rgb(0, 0, 0));
  background-attachment: var(--hui-elcszo-background-attachment, scroll);
  background-clip: var(--hui-elcszo-background-clip, border-box);
  background-color: var(--hui-elcszo-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-elcszo-background-image, none);
  background-origin: var(--hui-elcszo-background-origin, padding-box);
  background-position-x: var(--hui-elcszo-background-position-x, 0%);
  background-position-y: var(--hui-elcszo-background-position-y, 0%);
  background-repeat: var(--hui-elcszo-background-repeat, repeat);
  background-size: var(--hui-elcszo-background-size, auto);
  border-bottom-color: var(--hui-elcszo-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-elcszo-border-bottom-style, none);
  border-bottom-width: var(--hui-elcszo-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-elcszo-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-elcszo-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-elcszo-border-image-outset, 0);
  border-image-repeat: var(--hui-elcszo-border-image-repeat, stretch);
  border-image-slice: var(--hui-elcszo-border-image-slice, 100%);
  border-image-source: var(--hui-elcszo-border-image-source, none);
  border-image-width: var(--hui-elcszo-border-image-width, 1);
  border-left-color: var(--hui-elcszo-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-elcszo-border-left-style, none);
  border-left-width: var(--hui-elcszo-border-left-width, 0px);
  border-right-color: var(--hui-elcszo-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-elcszo-border-right-style, none);
  border-right-width: var(--hui-elcszo-border-right-width, 0px);
  border-top-color: var(--hui-elcszo-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-elcszo-border-top-style, none);
  border-top-width: var(--hui-elcszo-border-top-width, 0px);
  border-top-left-radius: var(--hui-elcszo-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-elcszo-border-top-right-radius, 0px);
  box-shadow: var(--hui-elcszo-box-shadow, none);
  cursor: var(--hui-elcszo-cursor, auto);
  outline-color: var(--hui-elcszo-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-elcszo-outline-offset, 0px);
  outline-style: var(--hui-elcszo-outline-style, none);
  outline-width: var(--hui-elcszo-outline-width, 0px);
}
[data-hui=Select] > fieldset > datalist {
  /* LAYOUT-POSITION */
  position: var(--hui-ubjqdy-position, static);
  top: var(--hui-ubjqdy-top, auto);
  right: var(--hui-ubjqdy-right, auto);
  bottom: var(--hui-ubjqdy-bottom, auto);
  left: var(--hui-ubjqdy-left, auto);
  z-index: var(--hui-ubjqdy-z-index, auto);
  float: var(--hui-ubjqdy-float, none);
  clear: var(--hui-ubjqdy-clear, none);
  align-self: var(--hui-ubjqdy-align-self, auto);
  order: var(--hui-ubjqdy-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-ubjqdy-box-sizing, border-box);
  height: var(--hui-ubjqdy-height, auto);
  max-height: var(--hui-ubjqdy-max-height, none);
  min-height: var(--hui-ubjqdy-min-height, auto);
  width: var(--hui-ubjqdy-width, auto);
  max-width: var(--hui-ubjqdy-max-width, none);
  min-width: var(--hui-ubjqdy-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-ubjqdy-margin-top, 0px);
  margin-right: var(--hui-ubjqdy-margin-right, 0px);
  margin-bottom: var(--hui-ubjqdy-margin-bottom, 0px);
  margin-left: var(--hui-ubjqdy-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-ubjqdy-padding-top, 0px);
  padding-right: var(--hui-ubjqdy-padding-right, 0px);
  padding-bottom: var(--hui-ubjqdy-padding-bottom, 0px);
  padding-left: var(--hui-ubjqdy-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-ubjqdy-overflow-x, visible);
  overflow-y: var(--hui-ubjqdy-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-ubjqdy-flex-basis, auto);
  flex-direction: var(--hui-ubjqdy-flex-direction, row);
  flex-grow: var(--hui-ubjqdy-flex-grow, 0);
  flex-shrink: var(--hui-ubjqdy-flex-shrink, 1);
  flex-wrap: var(--hui-ubjqdy-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-ubjqdy-direction, ltr);
  font-family: var(--hui-ubjqdy-font-family, system-ui);
  font-size: var(--hui-ubjqdy-font-size, 16px);
  font-stretch: var(--hui-ubjqdy-font-stretch, 100%);
  font-style: var(--hui-ubjqdy-font-style, normal);
  font-weight: var(--hui-ubjqdy-font-weight, 400);
  letter-spacing: var(--hui-ubjqdy-letter-spacing, normal);
  line-height: var(--hui-ubjqdy-line-height, normal);
  text-align: var(--hui-ubjqdy-text-align, start);
  text-align-last: var(--hui-ubjqdy-text-align-last, auto);
  text-decoration-color: var(--hui-ubjqdy-text-decoration-color, #000);
  text-decoration-line: var(--hui-ubjqdy-text-decoration-line, none);
  text-decoration-style: var(--hui-ubjqdy-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-ubjqdy-text-decoration-thickness, auto);
  text-indent: var(--hui-ubjqdy-text-indent, 0px);
  text-overflow: var(--hui-ubjqdy-text-overflow, clip);
  text-shadow: var(--hui-ubjqdy-text-shadow, none);
  text-size-adjust: var(--hui-ubjqdy-text-size-adjust, auto);
  text-transform: var(--hui-ubjqdy-text-transform, none);
  text-wrap: var(--hui-ubjqdy-text-wrap, wrap);
  vertical-align: var(--hui-ubjqdy-vertical-align, baseline);
  white-space-collapse: var(--hui-ubjqdy-white-space-collapse, collapse);
  word-break: var(--hui-ubjqdy-word-break, normal);
  word-spacing: var(--hui-ubjqdy-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-ubjqdy-visibility, visible);
  color: var(--hui-ubjqdy-color, rgb(0, 0, 0));
  background-attachment: var(--hui-ubjqdy-background-attachment, scroll);
  background-clip: var(--hui-ubjqdy-background-clip, border-box);
  background-color: var(--hui-ubjqdy-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-ubjqdy-background-image, none);
  background-origin: var(--hui-ubjqdy-background-origin, padding-box);
  background-position-x: var(--hui-ubjqdy-background-position-x, 0%);
  background-position-y: var(--hui-ubjqdy-background-position-y, 0%);
  background-repeat: var(--hui-ubjqdy-background-repeat, repeat);
  background-size: var(--hui-ubjqdy-background-size, auto);
  border-bottom-color: var(--hui-ubjqdy-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-ubjqdy-border-bottom-style, none);
  border-bottom-width: var(--hui-ubjqdy-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-ubjqdy-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-ubjqdy-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-ubjqdy-border-image-outset, 0);
  border-image-repeat: var(--hui-ubjqdy-border-image-repeat, stretch);
  border-image-slice: var(--hui-ubjqdy-border-image-slice, 100%);
  border-image-source: var(--hui-ubjqdy-border-image-source, none);
  border-image-width: var(--hui-ubjqdy-border-image-width, 1);
  border-left-color: var(--hui-ubjqdy-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-ubjqdy-border-left-style, none);
  border-left-width: var(--hui-ubjqdy-border-left-width, 0px);
  border-right-color: var(--hui-ubjqdy-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-ubjqdy-border-right-style, none);
  border-right-width: var(--hui-ubjqdy-border-right-width, 0px);
  border-top-color: var(--hui-ubjqdy-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-ubjqdy-border-top-style, none);
  border-top-width: var(--hui-ubjqdy-border-top-width, 0px);
  border-top-left-radius: var(--hui-ubjqdy-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-ubjqdy-border-top-right-radius, 0px);
  box-shadow: var(--hui-ubjqdy-box-shadow, none);
  cursor: var(--hui-ubjqdy-cursor, auto);
  outline-color: var(--hui-ubjqdy-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-ubjqdy-outline-offset, 0px);
  outline-style: var(--hui-ubjqdy-outline-style, none);
  outline-width: var(--hui-ubjqdy-outline-width, 0px);
}
[data-hui=Select] > fieldset > datalist > option {
  /* LAYOUT-POSITION */
  position: var(--hui-ttkzpp-position, static);
  top: var(--hui-ttkzpp-top, auto);
  right: var(--hui-ttkzpp-right, auto);
  bottom: var(--hui-ttkzpp-bottom, auto);
  left: var(--hui-ttkzpp-left, auto);
  z-index: var(--hui-ttkzpp-z-index, auto);
  float: var(--hui-ttkzpp-float, none);
  clear: var(--hui-ttkzpp-clear, none);
  align-self: var(--hui-ttkzpp-align-self, auto);
  order: var(--hui-ttkzpp-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-ttkzpp-box-sizing, border-box);
  height: var(--hui-ttkzpp-height, auto);
  max-height: var(--hui-ttkzpp-max-height, none);
  min-height: var(--hui-ttkzpp-min-height, auto);
  width: var(--hui-ttkzpp-width, auto);
  max-width: var(--hui-ttkzpp-max-width, none);
  min-width: var(--hui-ttkzpp-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-ttkzpp-margin-top, 0px);
  margin-right: var(--hui-ttkzpp-margin-right, 0px);
  margin-bottom: var(--hui-ttkzpp-margin-bottom, 0px);
  margin-left: var(--hui-ttkzpp-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-ttkzpp-padding-top, 0px);
  padding-right: var(--hui-ttkzpp-padding-right, 0px);
  padding-bottom: var(--hui-ttkzpp-padding-bottom, 0px);
  padding-left: var(--hui-ttkzpp-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-ttkzpp-overflow-x, visible);
  overflow-y: var(--hui-ttkzpp-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-ttkzpp-flex-basis, auto);
  flex-direction: var(--hui-ttkzpp-flex-direction, row);
  flex-grow: var(--hui-ttkzpp-flex-grow, 0);
  flex-shrink: var(--hui-ttkzpp-flex-shrink, 1);
  flex-wrap: var(--hui-ttkzpp-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-ttkzpp-direction, ltr);
  font-family: var(--hui-ttkzpp-font-family, system-ui);
  font-size: var(--hui-ttkzpp-font-size, 16px);
  font-stretch: var(--hui-ttkzpp-font-stretch, 100%);
  font-style: var(--hui-ttkzpp-font-style, normal);
  font-weight: var(--hui-ttkzpp-font-weight, 400);
  letter-spacing: var(--hui-ttkzpp-letter-spacing, normal);
  line-height: var(--hui-ttkzpp-line-height, normal);
  text-align: var(--hui-ttkzpp-text-align, start);
  text-align-last: var(--hui-ttkzpp-text-align-last, auto);
  text-decoration-color: var(--hui-ttkzpp-text-decoration-color, #000);
  text-decoration-line: var(--hui-ttkzpp-text-decoration-line, none);
  text-decoration-style: var(--hui-ttkzpp-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-ttkzpp-text-decoration-thickness, auto);
  text-indent: var(--hui-ttkzpp-text-indent, 0px);
  text-overflow: var(--hui-ttkzpp-text-overflow, clip);
  text-shadow: var(--hui-ttkzpp-text-shadow, none);
  text-size-adjust: var(--hui-ttkzpp-text-size-adjust, auto);
  text-transform: var(--hui-ttkzpp-text-transform, none);
  text-wrap: var(--hui-ttkzpp-text-wrap, wrap);
  vertical-align: var(--hui-ttkzpp-vertical-align, baseline);
  white-space-collapse: var(--hui-ttkzpp-white-space-collapse, collapse);
  word-break: var(--hui-ttkzpp-word-break, normal);
  word-spacing: var(--hui-ttkzpp-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-ttkzpp-visibility, visible);
  color: var(--hui-ttkzpp-color, rgb(0, 0, 0));
  background-attachment: var(--hui-ttkzpp-background-attachment, scroll);
  background-clip: var(--hui-ttkzpp-background-clip, border-box);
  background-color: var(--hui-ttkzpp-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-ttkzpp-background-image, none);
  background-origin: var(--hui-ttkzpp-background-origin, padding-box);
  background-position-x: var(--hui-ttkzpp-background-position-x, 0%);
  background-position-y: var(--hui-ttkzpp-background-position-y, 0%);
  background-repeat: var(--hui-ttkzpp-background-repeat, repeat);
  background-size: var(--hui-ttkzpp-background-size, auto);
  border-bottom-color: var(--hui-ttkzpp-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-ttkzpp-border-bottom-style, none);
  border-bottom-width: var(--hui-ttkzpp-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-ttkzpp-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-ttkzpp-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-ttkzpp-border-image-outset, 0);
  border-image-repeat: var(--hui-ttkzpp-border-image-repeat, stretch);
  border-image-slice: var(--hui-ttkzpp-border-image-slice, 100%);
  border-image-source: var(--hui-ttkzpp-border-image-source, none);
  border-image-width: var(--hui-ttkzpp-border-image-width, 1);
  border-left-color: var(--hui-ttkzpp-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-ttkzpp-border-left-style, none);
  border-left-width: var(--hui-ttkzpp-border-left-width, 0px);
  border-right-color: var(--hui-ttkzpp-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-ttkzpp-border-right-style, none);
  border-right-width: var(--hui-ttkzpp-border-right-width, 0px);
  border-top-color: var(--hui-ttkzpp-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-ttkzpp-border-top-style, none);
  border-top-width: var(--hui-ttkzpp-border-top-width, 0px);
  border-top-left-radius: var(--hui-ttkzpp-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-ttkzpp-border-top-right-radius, 0px);
  box-shadow: var(--hui-ttkzpp-box-shadow, none);
  cursor: var(--hui-ttkzpp-cursor, auto);
  outline-color: var(--hui-ttkzpp-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-ttkzpp-outline-offset, 0px);
  outline-style: var(--hui-ttkzpp-outline-style, none);
  outline-width: var(--hui-ttkzpp-outline-width, 0px);
}
[data-hui=Select] > fieldset > div > input {
  /* LAYOUT-POSITION */
  position: var(--hui-cfnytn-position, static);
  top: var(--hui-cfnytn-top, auto);
  right: var(--hui-cfnytn-right, auto);
  bottom: var(--hui-cfnytn-bottom, auto);
  left: var(--hui-cfnytn-left, auto);
  z-index: var(--hui-cfnytn-z-index, auto);
  float: var(--hui-cfnytn-float, none);
  clear: var(--hui-cfnytn-clear, none);
  align-self: var(--hui-cfnytn-align-self, auto);
  order: var(--hui-cfnytn-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-cfnytn-box-sizing, border-box);
  height: var(--hui-cfnytn-height, auto);
  max-height: var(--hui-cfnytn-max-height, none);
  min-height: var(--hui-cfnytn-min-height, auto);
  width: var(--hui-cfnytn-width, auto);
  max-width: var(--hui-cfnytn-max-width, none);
  min-width: var(--hui-cfnytn-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-cfnytn-margin-top, 0px);
  margin-right: var(--hui-cfnytn-margin-right, 0px);
  margin-bottom: var(--hui-cfnytn-margin-bottom, 0px);
  margin-left: var(--hui-cfnytn-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-cfnytn-padding-top, 0px);
  padding-right: var(--hui-cfnytn-padding-right, 0px);
  padding-bottom: var(--hui-cfnytn-padding-bottom, 0px);
  padding-left: var(--hui-cfnytn-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-cfnytn-overflow-x, visible);
  overflow-y: var(--hui-cfnytn-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-cfnytn-flex-basis, auto);
  flex-direction: var(--hui-cfnytn-flex-direction, row);
  flex-grow: var(--hui-cfnytn-flex-grow, 0);
  flex-shrink: var(--hui-cfnytn-flex-shrink, 1);
  flex-wrap: var(--hui-cfnytn-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-cfnytn-direction, ltr);
  font-family: var(--hui-cfnytn-font-family, system-ui);
  font-size: var(--hui-cfnytn-font-size, 16px);
  font-stretch: var(--hui-cfnytn-font-stretch, 100%);
  font-style: var(--hui-cfnytn-font-style, normal);
  font-weight: var(--hui-cfnytn-font-weight, 400);
  letter-spacing: var(--hui-cfnytn-letter-spacing, normal);
  line-height: var(--hui-cfnytn-line-height, normal);
  text-align: var(--hui-cfnytn-text-align, start);
  text-align-last: var(--hui-cfnytn-text-align-last, auto);
  text-decoration-color: var(--hui-cfnytn-text-decoration-color, #000);
  text-decoration-line: var(--hui-cfnytn-text-decoration-line, none);
  text-decoration-style: var(--hui-cfnytn-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-cfnytn-text-decoration-thickness, auto);
  text-indent: var(--hui-cfnytn-text-indent, 0px);
  text-overflow: var(--hui-cfnytn-text-overflow, clip);
  text-shadow: var(--hui-cfnytn-text-shadow, none);
  text-size-adjust: var(--hui-cfnytn-text-size-adjust, auto);
  text-transform: var(--hui-cfnytn-text-transform, none);
  text-wrap: var(--hui-cfnytn-text-wrap, wrap);
  vertical-align: var(--hui-cfnytn-vertical-align, baseline);
  white-space-collapse: var(--hui-cfnytn-white-space-collapse, collapse);
  word-break: var(--hui-cfnytn-word-break, normal);
  word-spacing: var(--hui-cfnytn-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-cfnytn-visibility, visible);
  color: var(--hui-cfnytn-color, rgb(0, 0, 0));
  background-attachment: var(--hui-cfnytn-background-attachment, scroll);
  background-clip: var(--hui-cfnytn-background-clip, border-box);
  background-color: var(--hui-cfnytn-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-cfnytn-background-image, none);
  background-origin: var(--hui-cfnytn-background-origin, padding-box);
  background-position-x: var(--hui-cfnytn-background-position-x, 0%);
  background-position-y: var(--hui-cfnytn-background-position-y, 0%);
  background-repeat: var(--hui-cfnytn-background-repeat, repeat);
  background-size: var(--hui-cfnytn-background-size, auto);
  border-bottom-color: var(--hui-cfnytn-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-cfnytn-border-bottom-style, none);
  border-bottom-width: var(--hui-cfnytn-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-cfnytn-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-cfnytn-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-cfnytn-border-image-outset, 0);
  border-image-repeat: var(--hui-cfnytn-border-image-repeat, stretch);
  border-image-slice: var(--hui-cfnytn-border-image-slice, 100%);
  border-image-source: var(--hui-cfnytn-border-image-source, none);
  border-image-width: var(--hui-cfnytn-border-image-width, 1);
  border-left-color: var(--hui-cfnytn-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-cfnytn-border-left-style, none);
  border-left-width: var(--hui-cfnytn-border-left-width, 0px);
  border-right-color: var(--hui-cfnytn-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-cfnytn-border-right-style, none);
  border-right-width: var(--hui-cfnytn-border-right-width, 0px);
  border-top-color: var(--hui-cfnytn-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-cfnytn-border-top-style, none);
  border-top-width: var(--hui-cfnytn-border-top-width, 0px);
  border-top-left-radius: var(--hui-cfnytn-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-cfnytn-border-top-right-radius, 0px);
  box-shadow: var(--hui-cfnytn-box-shadow, none);
  cursor: var(--hui-cfnytn-cursor, auto);
  outline-color: var(--hui-cfnytn-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-cfnytn-outline-offset, 0px);
  outline-style: var(--hui-cfnytn-outline-style, none);
  outline-width: var(--hui-cfnytn-outline-width, 0px);
}