[data-hui=Swapper] > button:active {
  /* LAYOUT-POSITION */
  position: var(--hui-upezdl-position, static);
  top: var(--hui-upezdl-top, auto);
  right: var(--hui-upezdl-right, auto);
  bottom: var(--hui-upezdl-bottom, auto);
  left: var(--hui-upezdl-left, auto);
  z-index: var(--hui-upezdl-z-index, auto);
  float: var(--hui-upezdl-float, none);
  clear: var(--hui-upezdl-clear, none);
  align-self: var(--hui-upezdl-align-self, auto);
  order: var(--hui-upezdl-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-upezdl-box-sizing, border-box);
  height: var(--hui-upezdl-height, auto);
  max-height: var(--hui-upezdl-max-height, none);
  min-height: var(--hui-upezdl-min-height, auto);
  width: var(--hui-upezdl-width, auto);
  max-width: var(--hui-upezdl-max-width, none);
  min-width: var(--hui-upezdl-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-upezdl-margin-top, 0px);
  margin-right: var(--hui-upezdl-margin-right, 0px);
  margin-bottom: var(--hui-upezdl-margin-bottom, 0px);
  margin-left: var(--hui-upezdl-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-upezdl-padding-top, 0px);
  padding-right: var(--hui-upezdl-padding-right, 0px);
  padding-bottom: var(--hui-upezdl-padding-bottom, 0px);
  padding-left: var(--hui-upezdl-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-upezdl-overflow-x, visible);
  overflow-y: var(--hui-upezdl-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-upezdl-flex-basis, auto);
  flex-direction: var(--hui-upezdl-flex-direction, row);
  flex-grow: var(--hui-upezdl-flex-grow, 0);
  flex-shrink: var(--hui-upezdl-flex-shrink, 1);
  flex-wrap: var(--hui-upezdl-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-upezdl-direction, ltr);
  font-family: var(--hui-upezdl-font-family, system-ui);
  font-size: var(--hui-upezdl-font-size, 16px);
  font-stretch: var(--hui-upezdl-font-stretch, 100%);
  font-style: var(--hui-upezdl-font-style, normal);
  font-weight: var(--hui-upezdl-font-weight, 400);
  letter-spacing: var(--hui-upezdl-letter-spacing, normal);
  line-height: var(--hui-upezdl-line-height, normal);
  text-align: var(--hui-upezdl-text-align, start);
  text-align-last: var(--hui-upezdl-text-align-last, auto);
  text-decoration-color: var(--hui-upezdl-text-decoration-color, #000);
  text-decoration-line: var(--hui-upezdl-text-decoration-line, none);
  text-decoration-style: var(--hui-upezdl-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-upezdl-text-decoration-thickness, auto);
  text-indent: var(--hui-upezdl-text-indent, 0px);
  text-overflow: var(--hui-upezdl-text-overflow, clip);
  text-shadow: var(--hui-upezdl-text-shadow, none);
  text-size-adjust: var(--hui-upezdl-text-size-adjust, auto);
  text-transform: var(--hui-upezdl-text-transform, none);
  text-wrap: var(--hui-upezdl-text-wrap, wrap);
  vertical-align: var(--hui-upezdl-vertical-align, baseline);
  white-space-collapse: var(--hui-upezdl-white-space-collapse, collapse);
  word-break: var(--hui-upezdl-word-break, normal);
  word-spacing: var(--hui-upezdl-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-upezdl-visibility, visible);
  color: var(--hui-upezdl-color, rgb(0, 0, 0));
  background-attachment: var(--hui-upezdl-background-attachment, scroll);
  background-clip: var(--hui-upezdl-background-clip, border-box);
  background-color: var(--hui-upezdl-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-upezdl-background-image, none);
  background-origin: var(--hui-upezdl-background-origin, padding-box);
  background-position-x: var(--hui-upezdl-background-position-x, 0%);
  background-position-y: var(--hui-upezdl-background-position-y, 0%);
  background-repeat: var(--hui-upezdl-background-repeat, repeat);
  background-size: var(--hui-upezdl-background-size, auto);
  border-bottom-color: var(--hui-upezdl-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-upezdl-border-bottom-style, none);
  border-bottom-width: var(--hui-upezdl-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-upezdl-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-upezdl-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-upezdl-border-image-outset, 0);
  border-image-repeat: var(--hui-upezdl-border-image-repeat, stretch);
  border-image-slice: var(--hui-upezdl-border-image-slice, 100%);
  border-image-source: var(--hui-upezdl-border-image-source, none);
  border-image-width: var(--hui-upezdl-border-image-width, 1);
  border-left-color: var(--hui-upezdl-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-upezdl-border-left-style, none);
  border-left-width: var(--hui-upezdl-border-left-width, 0px);
  border-right-color: var(--hui-upezdl-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-upezdl-border-right-style, none);
  border-right-width: var(--hui-upezdl-border-right-width, 0px);
  border-top-color: var(--hui-upezdl-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-upezdl-border-top-style, none);
  border-top-width: var(--hui-upezdl-border-top-width, 0px);
  border-top-left-radius: var(--hui-upezdl-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-upezdl-border-top-right-radius, 0px);
  box-shadow: var(--hui-upezdl-box-shadow, none);
  cursor: var(--hui-upezdl-cursor, auto);
  outline-color: var(--hui-upezdl-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-upezdl-outline-offset, 0px);
  outline-style: var(--hui-upezdl-outline-style, none);
  outline-width: var(--hui-upezdl-outline-width, 0px);
}
[data-hui=Swapper] > button {
  /* LAYOUT-POSITION */
  position: var(--hui-tysnrg-position, static);
  top: var(--hui-tysnrg-top, auto);
  right: var(--hui-tysnrg-right, auto);
  bottom: var(--hui-tysnrg-bottom, auto);
  left: var(--hui-tysnrg-left, auto);
  z-index: var(--hui-tysnrg-z-index, auto);
  float: var(--hui-tysnrg-float, none);
  clear: var(--hui-tysnrg-clear, none);
  align-self: var(--hui-tysnrg-align-self, auto);
  order: var(--hui-tysnrg-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-tysnrg-box-sizing, border-box);
  height: var(--hui-tysnrg-height, auto);
  max-height: var(--hui-tysnrg-max-height, none);
  min-height: var(--hui-tysnrg-min-height, auto);
  width: var(--hui-tysnrg-width, auto);
  max-width: var(--hui-tysnrg-max-width, none);
  min-width: var(--hui-tysnrg-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-tysnrg-margin-top, 0px);
  margin-right: var(--hui-tysnrg-margin-right, 0px);
  margin-bottom: var(--hui-tysnrg-margin-bottom, 0px);
  margin-left: var(--hui-tysnrg-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-tysnrg-padding-top, 0px);
  padding-right: var(--hui-tysnrg-padding-right, 0px);
  padding-bottom: var(--hui-tysnrg-padding-bottom, 0px);
  padding-left: var(--hui-tysnrg-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-tysnrg-overflow-x, visible);
  overflow-y: var(--hui-tysnrg-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-tysnrg-flex-basis, auto);
  flex-direction: var(--hui-tysnrg-flex-direction, row);
  flex-grow: var(--hui-tysnrg-flex-grow, 0);
  flex-shrink: var(--hui-tysnrg-flex-shrink, 1);
  flex-wrap: var(--hui-tysnrg-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-tysnrg-direction, ltr);
  font-family: var(--hui-tysnrg-font-family, system-ui);
  font-size: var(--hui-tysnrg-font-size, 16px);
  font-stretch: var(--hui-tysnrg-font-stretch, 100%);
  font-style: var(--hui-tysnrg-font-style, normal);
  font-weight: var(--hui-tysnrg-font-weight, 400);
  letter-spacing: var(--hui-tysnrg-letter-spacing, normal);
  line-height: var(--hui-tysnrg-line-height, normal);
  text-align: var(--hui-tysnrg-text-align, start);
  text-align-last: var(--hui-tysnrg-text-align-last, auto);
  text-decoration-color: var(--hui-tysnrg-text-decoration-color, #000);
  text-decoration-line: var(--hui-tysnrg-text-decoration-line, none);
  text-decoration-style: var(--hui-tysnrg-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-tysnrg-text-decoration-thickness, auto);
  text-indent: var(--hui-tysnrg-text-indent, 0px);
  text-overflow: var(--hui-tysnrg-text-overflow, clip);
  text-shadow: var(--hui-tysnrg-text-shadow, none);
  text-size-adjust: var(--hui-tysnrg-text-size-adjust, auto);
  text-transform: var(--hui-tysnrg-text-transform, none);
  text-wrap: var(--hui-tysnrg-text-wrap, wrap);
  vertical-align: var(--hui-tysnrg-vertical-align, baseline);
  white-space-collapse: var(--hui-tysnrg-white-space-collapse, collapse);
  word-break: var(--hui-tysnrg-word-break, normal);
  word-spacing: var(--hui-tysnrg-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-tysnrg-visibility, visible);
  color: var(--hui-tysnrg-color, rgb(0, 0, 0));
  background-attachment: var(--hui-tysnrg-background-attachment, scroll);
  background-clip: var(--hui-tysnrg-background-clip, border-box);
  background-color: var(--hui-tysnrg-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-tysnrg-background-image, none);
  background-origin: var(--hui-tysnrg-background-origin, padding-box);
  background-position-x: var(--hui-tysnrg-background-position-x, 0%);
  background-position-y: var(--hui-tysnrg-background-position-y, 0%);
  background-repeat: var(--hui-tysnrg-background-repeat, repeat);
  background-size: var(--hui-tysnrg-background-size, auto);
  border-bottom-color: var(--hui-tysnrg-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-tysnrg-border-bottom-style, none);
  border-bottom-width: var(--hui-tysnrg-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-tysnrg-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-tysnrg-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-tysnrg-border-image-outset, 0);
  border-image-repeat: var(--hui-tysnrg-border-image-repeat, stretch);
  border-image-slice: var(--hui-tysnrg-border-image-slice, 100%);
  border-image-source: var(--hui-tysnrg-border-image-source, none);
  border-image-width: var(--hui-tysnrg-border-image-width, 1);
  border-left-color: var(--hui-tysnrg-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-tysnrg-border-left-style, none);
  border-left-width: var(--hui-tysnrg-border-left-width, 0px);
  border-right-color: var(--hui-tysnrg-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-tysnrg-border-right-style, none);
  border-right-width: var(--hui-tysnrg-border-right-width, 0px);
  border-top-color: var(--hui-tysnrg-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-tysnrg-border-top-style, none);
  border-top-width: var(--hui-tysnrg-border-top-width, 0px);
  border-top-left-radius: var(--hui-tysnrg-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-tysnrg-border-top-right-radius, 0px);
  box-shadow: var(--hui-tysnrg-box-shadow, none);
  cursor: var(--hui-tysnrg-cursor, auto);
  outline-color: var(--hui-tysnrg-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-tysnrg-outline-offset, 0px);
  outline-style: var(--hui-tysnrg-outline-style, none);
  outline-width: var(--hui-tysnrg-outline-width, 0px);
}
[data-hui=Swapper] > div {
  /* LAYOUT-POSITION */
  position: var(--hui-fmernp-position, static);
  top: var(--hui-fmernp-top, auto);
  right: var(--hui-fmernp-right, auto);
  bottom: var(--hui-fmernp-bottom, auto);
  left: var(--hui-fmernp-left, auto);
  z-index: var(--hui-fmernp-z-index, auto);
  float: var(--hui-fmernp-float, none);
  clear: var(--hui-fmernp-clear, none);
  align-self: var(--hui-fmernp-align-self, auto);
  order: var(--hui-fmernp-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-fmernp-box-sizing, border-box);
  height: var(--hui-fmernp-height, auto);
  max-height: var(--hui-fmernp-max-height, none);
  min-height: var(--hui-fmernp-min-height, auto);
  width: var(--hui-fmernp-width, auto);
  max-width: var(--hui-fmernp-max-width, none);
  min-width: var(--hui-fmernp-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-fmernp-margin-top, 0px);
  margin-right: var(--hui-fmernp-margin-right, 0px);
  margin-bottom: var(--hui-fmernp-margin-bottom, 0px);
  margin-left: var(--hui-fmernp-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-fmernp-padding-top, 0px);
  padding-right: var(--hui-fmernp-padding-right, 0px);
  padding-bottom: var(--hui-fmernp-padding-bottom, 0px);
  padding-left: var(--hui-fmernp-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-fmernp-overflow-x, visible);
  overflow-y: var(--hui-fmernp-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-fmernp-flex-basis, auto);
  flex-direction: var(--hui-fmernp-flex-direction, row);
  flex-grow: var(--hui-fmernp-flex-grow, 0);
  flex-shrink: var(--hui-fmernp-flex-shrink, 1);
  flex-wrap: var(--hui-fmernp-flex-wrap, nowrap);
  /* TEXT */
  direction: var(--hui-fmernp-direction, ltr);
  font-family: var(--hui-fmernp-font-family, system-ui);
  font-size: var(--hui-fmernp-font-size, 16px);
  font-stretch: var(--hui-fmernp-font-stretch, 100%);
  font-style: var(--hui-fmernp-font-style, normal);
  font-weight: var(--hui-fmernp-font-weight, 400);
  letter-spacing: var(--hui-fmernp-letter-spacing, normal);
  line-height: var(--hui-fmernp-line-height, normal);
  text-align: var(--hui-fmernp-text-align, start);
  text-align-last: var(--hui-fmernp-text-align-last, auto);
  text-decoration-color: var(--hui-fmernp-text-decoration-color, #000);
  text-decoration-line: var(--hui-fmernp-text-decoration-line, none);
  text-decoration-style: var(--hui-fmernp-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-fmernp-text-decoration-thickness, auto);
  text-indent: var(--hui-fmernp-text-indent, 0px);
  text-overflow: var(--hui-fmernp-text-overflow, clip);
  text-shadow: var(--hui-fmernp-text-shadow, none);
  text-size-adjust: var(--hui-fmernp-text-size-adjust, auto);
  text-transform: var(--hui-fmernp-text-transform, none);
  text-wrap: var(--hui-fmernp-text-wrap, wrap);
  vertical-align: var(--hui-fmernp-vertical-align, baseline);
  white-space-collapse: var(--hui-fmernp-white-space-collapse, collapse);
  word-break: var(--hui-fmernp-word-break, normal);
  word-spacing: var(--hui-fmernp-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-fmernp-visibility, visible);
  color: var(--hui-fmernp-color, rgb(0, 0, 0));
  background-attachment: var(--hui-fmernp-background-attachment, scroll);
  background-clip: var(--hui-fmernp-background-clip, border-box);
  background-color: var(--hui-fmernp-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-fmernp-background-image, none);
  background-origin: var(--hui-fmernp-background-origin, padding-box);
  background-position-x: var(--hui-fmernp-background-position-x, 0%);
  background-position-y: var(--hui-fmernp-background-position-y, 0%);
  background-repeat: var(--hui-fmernp-background-repeat, repeat);
  background-size: var(--hui-fmernp-background-size, auto);
  border-bottom-color: var(--hui-fmernp-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-fmernp-border-bottom-style, none);
  border-bottom-width: var(--hui-fmernp-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-fmernp-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-fmernp-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-fmernp-border-image-outset, 0);
  border-image-repeat: var(--hui-fmernp-border-image-repeat, stretch);
  border-image-slice: var(--hui-fmernp-border-image-slice, 100%);
  border-image-source: var(--hui-fmernp-border-image-source, none);
  border-image-width: var(--hui-fmernp-border-image-width, 1);
  border-left-color: var(--hui-fmernp-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-fmernp-border-left-style, none);
  border-left-width: var(--hui-fmernp-border-left-width, 0px);
  border-right-color: var(--hui-fmernp-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-fmernp-border-right-style, none);
  border-right-width: var(--hui-fmernp-border-right-width, 0px);
  border-top-color: var(--hui-fmernp-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-fmernp-border-top-style, none);
  border-top-width: var(--hui-fmernp-border-top-width, 0px);
  border-top-left-radius: var(--hui-fmernp-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-fmernp-border-top-right-radius, 0px);
  box-shadow: var(--hui-fmernp-box-shadow, none);
  cursor: var(--hui-fmernp-cursor, auto);
  outline-color: var(--hui-fmernp-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-fmernp-outline-offset, 0px);
  outline-style: var(--hui-fmernp-outline-style, none);
  outline-width: var(--hui-fmernp-outline-width, 0px);
}