[data-hui=TextInput] {
  /* LAYOUT-POSITION */
  position: var(--hui-edmssq-position, static);
  top: var(--hui-edmssq-top, auto);
  right: var(--hui-edmssq-right, auto);
  bottom: var(--hui-edmssq-bottom, auto);
  left: var(--hui-edmssq-left, auto);
  z-index: var(--hui-edmssq-z-index, auto);
  float: var(--hui-edmssq-float, none);
  clear: var(--hui-edmssq-clear, none);
  align-self: var(--hui-edmssq-align-self, auto);
  order: var(--hui-edmssq-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-edmssq-box-sizing, border-box);
  height: var(--hui-edmssq-height, auto);
  max-height: var(--hui-edmssq-max-height, none);
  min-height: var(--hui-edmssq-min-height, auto);
  width: var(--hui-edmssq-width, auto);
  max-width: var(--hui-edmssq-max-width, none);
  min-width: var(--hui-edmssq-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-edmssq-margin-top, 0px);
  margin-right: var(--hui-edmssq-margin-right, 0px);
  margin-bottom: var(--hui-edmssq-margin-bottom, 0px);
  margin-left: var(--hui-edmssq-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-edmssq-padding-top, 0px);
  padding-right: var(--hui-edmssq-padding-right, 0px);
  padding-bottom: var(--hui-edmssq-padding-bottom, 0px);
  padding-left: var(--hui-edmssq-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-edmssq-overflow-x, visible);
  overflow-y: var(--hui-edmssq-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-edmssq-flex-basis, auto);
  flex-direction: var(--hui-edmssq-flex-direction, row);
  flex-grow: var(--hui-edmssq-flex-grow, 0);
  flex-shrink: var(--hui-edmssq-flex-shrink, 1);
  flex-wrap: var(--hui-edmssq-flex-wrap, nowrap);
  gap: var(--hui-edmssq-gap, 0px);
  align-content: var(--hui-edmssq-align-content, stretch);
  justify-content: var(--hui-edmssq-justify-content, flex-start);
  align-items: var(--hui-edmssq-align-items, stretch);
  /* TEXT */
  direction: var(--hui-edmssq-direction, ltr);
  font-family: var(--hui-edmssq-font-family, system-ui);
  font-size: var(--hui-edmssq-font-size, 16px);
  font-stretch: var(--hui-edmssq-font-stretch, 100%);
  font-style: var(--hui-edmssq-font-style, normal);
  font-weight: var(--hui-edmssq-font-weight, 400);
  letter-spacing: var(--hui-edmssq-letter-spacing, normal);
  line-height: var(--hui-edmssq-line-height, normal);
  text-align: var(--hui-edmssq-text-align, start);
  text-align-last: var(--hui-edmssq-text-align-last, auto);
  text-decoration-color: var(--hui-edmssq-text-decoration-color, #000);
  text-decoration-line: var(--hui-edmssq-text-decoration-line, none);
  text-decoration-style: var(--hui-edmssq-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-edmssq-text-decoration-thickness, auto);
  text-indent: var(--hui-edmssq-text-indent, 0px);
  text-overflow: var(--hui-edmssq-text-overflow, clip);
  text-shadow: var(--hui-edmssq-text-shadow, none);
  text-size-adjust: var(--hui-edmssq-text-size-adjust, auto);
  text-transform: var(--hui-edmssq-text-transform, none);
  text-wrap: var(--hui-edmssq-text-wrap, wrap);
  vertical-align: var(--hui-edmssq-vertical-align, baseline);
  white-space-collapse: var(--hui-edmssq-white-space-collapse, collapse);
  word-break: var(--hui-edmssq-word-break, normal);
  word-spacing: var(--hui-edmssq-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-edmssq-visibility, visible);
  color: var(--hui-edmssq-color, rgb(0, 0, 0));
  background-attachment: var(--hui-edmssq-background-attachment, scroll);
  background-clip: var(--hui-edmssq-background-clip, border-box);
  background-color: var(--hui-edmssq-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-edmssq-background-image, none);
  background-origin: var(--hui-edmssq-background-origin, padding-box);
  background-position-x: var(--hui-edmssq-background-position-x, 0%);
  background-position-y: var(--hui-edmssq-background-position-y, 0%);
  background-repeat: var(--hui-edmssq-background-repeat, repeat);
  background-size: var(--hui-edmssq-background-size, auto);
  border-bottom-color: var(--hui-edmssq-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-edmssq-border-bottom-style, none);
  border-bottom-width: var(--hui-edmssq-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-edmssq-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-edmssq-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-edmssq-border-image-outset, 0);
  border-image-repeat: var(--hui-edmssq-border-image-repeat, stretch);
  border-image-slice: var(--hui-edmssq-border-image-slice, 100%);
  border-image-source: var(--hui-edmssq-border-image-source, none);
  border-image-width: var(--hui-edmssq-border-image-width, 1);
  border-left-color: var(--hui-edmssq-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-edmssq-border-left-style, none);
  border-left-width: var(--hui-edmssq-border-left-width, 0px);
  border-right-color: var(--hui-edmssq-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-edmssq-border-right-style, none);
  border-right-width: var(--hui-edmssq-border-right-width, 0px);
  border-top-color: var(--hui-edmssq-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-edmssq-border-top-style, none);
  border-top-width: var(--hui-edmssq-border-top-width, 0px);
  border-top-left-radius: var(--hui-edmssq-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-edmssq-border-top-right-radius, 0px);
  box-shadow: var(--hui-edmssq-box-shadow, none);
  cursor: var(--hui-edmssq-cursor, auto);
  outline-color: var(--hui-edmssq-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-edmssq-outline-offset, 0px);
  outline-style: var(--hui-edmssq-outline-style, none);
  outline-width: var(--hui-edmssq-outline-width, 0px);
  scrollbar-color: var(--hui-edmssq-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-edmssq-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-edmssq-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-edmssq-display, block);
  flex: var(--hui-edmssq-flex, initial);
  gap: var(--hui-edmssq-gap, initial);
}
[data-hui=TextInput] > input {
  /* LAYOUT-POSITION */
  position: var(--hui-msgihx-position, static);
  top: var(--hui-msgihx-top, auto);
  right: var(--hui-msgihx-right, auto);
  bottom: var(--hui-msgihx-bottom, auto);
  left: var(--hui-msgihx-left, auto);
  z-index: var(--hui-msgihx-z-index, auto);
  float: var(--hui-msgihx-float, none);
  clear: var(--hui-msgihx-clear, none);
  align-self: var(--hui-msgihx-align-self, auto);
  order: var(--hui-msgihx-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-msgihx-box-sizing, border-box);
  height: var(--hui-msgihx-height, auto);
  max-height: var(--hui-msgihx-max-height, none);
  min-height: var(--hui-msgihx-min-height, auto);
  width: var(--hui-msgihx-width, auto);
  max-width: var(--hui-msgihx-max-width, none);
  min-width: var(--hui-msgihx-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-msgihx-margin-top, 0px);
  margin-right: var(--hui-msgihx-margin-right, 0px);
  margin-bottom: var(--hui-msgihx-margin-bottom, 0px);
  margin-left: var(--hui-msgihx-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-msgihx-padding-top, 0px);
  padding-right: var(--hui-msgihx-padding-right, 0px);
  padding-bottom: var(--hui-msgihx-padding-bottom, 0px);
  padding-left: var(--hui-msgihx-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-msgihx-overflow-x, visible);
  overflow-y: var(--hui-msgihx-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-msgihx-flex-basis, auto);
  flex-direction: var(--hui-msgihx-flex-direction, row);
  flex-grow: var(--hui-msgihx-flex-grow, 0);
  flex-shrink: var(--hui-msgihx-flex-shrink, 1);
  flex-wrap: var(--hui-msgihx-flex-wrap, nowrap);
  gap: var(--hui-msgihx-gap, 0px);
  align-content: var(--hui-msgihx-align-content, stretch);
  justify-content: var(--hui-msgihx-justify-content, flex-start);
  align-items: var(--hui-msgihx-align-items, stretch);
  /* TEXT */
  direction: var(--hui-msgihx-direction, ltr);
  font-family: var(--hui-msgihx-font-family, system-ui);
  font-size: var(--hui-msgihx-font-size, 16px);
  font-stretch: var(--hui-msgihx-font-stretch, 100%);
  font-style: var(--hui-msgihx-font-style, normal);
  font-weight: var(--hui-msgihx-font-weight, 400);
  letter-spacing: var(--hui-msgihx-letter-spacing, normal);
  line-height: var(--hui-msgihx-line-height, normal);
  text-align: var(--hui-msgihx-text-align, start);
  text-align-last: var(--hui-msgihx-text-align-last, auto);
  text-decoration-color: var(--hui-msgihx-text-decoration-color, #000);
  text-decoration-line: var(--hui-msgihx-text-decoration-line, none);
  text-decoration-style: var(--hui-msgihx-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-msgihx-text-decoration-thickness, auto);
  text-indent: var(--hui-msgihx-text-indent, 0px);
  text-overflow: var(--hui-msgihx-text-overflow, clip);
  text-shadow: var(--hui-msgihx-text-shadow, none);
  text-size-adjust: var(--hui-msgihx-text-size-adjust, auto);
  text-transform: var(--hui-msgihx-text-transform, none);
  text-wrap: var(--hui-msgihx-text-wrap, wrap);
  vertical-align: var(--hui-msgihx-vertical-align, baseline);
  white-space-collapse: var(--hui-msgihx-white-space-collapse, collapse);
  word-break: var(--hui-msgihx-word-break, normal);
  word-spacing: var(--hui-msgihx-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-msgihx-visibility, visible);
  color: var(--hui-msgihx-color, rgb(0, 0, 0));
  background-attachment: var(--hui-msgihx-background-attachment, scroll);
  background-clip: var(--hui-msgihx-background-clip, border-box);
  background-color: var(--hui-msgihx-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-msgihx-background-image, none);
  background-origin: var(--hui-msgihx-background-origin, padding-box);
  background-position-x: var(--hui-msgihx-background-position-x, 0%);
  background-position-y: var(--hui-msgihx-background-position-y, 0%);
  background-repeat: var(--hui-msgihx-background-repeat, repeat);
  background-size: var(--hui-msgihx-background-size, auto);
  border-bottom-color: var(--hui-msgihx-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-msgihx-border-bottom-style, none);
  border-bottom-width: var(--hui-msgihx-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-msgihx-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-msgihx-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-msgihx-border-image-outset, 0);
  border-image-repeat: var(--hui-msgihx-border-image-repeat, stretch);
  border-image-slice: var(--hui-msgihx-border-image-slice, 100%);
  border-image-source: var(--hui-msgihx-border-image-source, none);
  border-image-width: var(--hui-msgihx-border-image-width, 1);
  border-left-color: var(--hui-msgihx-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-msgihx-border-left-style, none);
  border-left-width: var(--hui-msgihx-border-left-width, 0px);
  border-right-color: var(--hui-msgihx-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-msgihx-border-right-style, none);
  border-right-width: var(--hui-msgihx-border-right-width, 0px);
  border-top-color: var(--hui-msgihx-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-msgihx-border-top-style, none);
  border-top-width: var(--hui-msgihx-border-top-width, 0px);
  border-top-left-radius: var(--hui-msgihx-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-msgihx-border-top-right-radius, 0px);
  box-shadow: var(--hui-msgihx-box-shadow, none);
  cursor: var(--hui-msgihx-cursor, auto);
  outline-color: var(--hui-msgihx-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-msgihx-outline-offset, 0px);
  outline-style: var(--hui-msgihx-outline-style, none);
  outline-width: var(--hui-msgihx-outline-width, 0px);
  scrollbar-color: var(--hui-msgihx-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-msgihx-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-msgihx-scrollbar-width, thin);
}