[data-hui=Textarea] {
  /* LAYOUT-POSITION */
  position: var(--hui-yqncrg-position, static);
  top: var(--hui-yqncrg-top, auto);
  right: var(--hui-yqncrg-right, auto);
  bottom: var(--hui-yqncrg-bottom, auto);
  left: var(--hui-yqncrg-left, auto);
  z-index: var(--hui-yqncrg-z-index, auto);
  float: var(--hui-yqncrg-float, none);
  clear: var(--hui-yqncrg-clear, none);
  align-self: var(--hui-yqncrg-align-self, auto);
  order: var(--hui-yqncrg-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-yqncrg-box-sizing, border-box);
  height: var(--hui-yqncrg-height, auto);
  max-height: var(--hui-yqncrg-max-height, none);
  min-height: var(--hui-yqncrg-min-height, auto);
  width: var(--hui-yqncrg-width, auto);
  max-width: var(--hui-yqncrg-max-width, none);
  min-width: var(--hui-yqncrg-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-yqncrg-margin-top, 0px);
  margin-right: var(--hui-yqncrg-margin-right, 0px);
  margin-bottom: var(--hui-yqncrg-margin-bottom, 0px);
  margin-left: var(--hui-yqncrg-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-yqncrg-padding-top, 0px);
  padding-right: var(--hui-yqncrg-padding-right, 0px);
  padding-bottom: var(--hui-yqncrg-padding-bottom, 0px);
  padding-left: var(--hui-yqncrg-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-yqncrg-overflow-x, visible);
  overflow-y: var(--hui-yqncrg-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-yqncrg-flex-basis, auto);
  flex-direction: var(--hui-yqncrg-flex-direction, row);
  flex-grow: var(--hui-yqncrg-flex-grow, 0);
  flex-shrink: var(--hui-yqncrg-flex-shrink, 1);
  flex-wrap: var(--hui-yqncrg-flex-wrap, nowrap);
  gap: var(--hui-yqncrg-gap, 0px);
  align-content: var(--hui-yqncrg-align-content, stretch);
  justify-content: var(--hui-yqncrg-justify-content, flex-start);
  align-items: var(--hui-yqncrg-align-items, stretch);
  /* TEXT */
  direction: var(--hui-yqncrg-direction, ltr);
  font-family: var(--hui-yqncrg-font-family, system-ui);
  font-size: var(--hui-yqncrg-font-size, 16px);
  font-stretch: var(--hui-yqncrg-font-stretch, 100%);
  font-style: var(--hui-yqncrg-font-style, normal);
  font-weight: var(--hui-yqncrg-font-weight, 400);
  letter-spacing: var(--hui-yqncrg-letter-spacing, normal);
  line-height: var(--hui-yqncrg-line-height, normal);
  text-align: var(--hui-yqncrg-text-align, start);
  text-align-last: var(--hui-yqncrg-text-align-last, auto);
  text-decoration-color: var(--hui-yqncrg-text-decoration-color, #000);
  text-decoration-line: var(--hui-yqncrg-text-decoration-line, none);
  text-decoration-style: var(--hui-yqncrg-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-yqncrg-text-decoration-thickness, auto);
  text-indent: var(--hui-yqncrg-text-indent, 0px);
  text-overflow: var(--hui-yqncrg-text-overflow, clip);
  text-shadow: var(--hui-yqncrg-text-shadow, none);
  text-size-adjust: var(--hui-yqncrg-text-size-adjust, auto);
  text-transform: var(--hui-yqncrg-text-transform, none);
  text-wrap: var(--hui-yqncrg-text-wrap, wrap);
  vertical-align: var(--hui-yqncrg-vertical-align, baseline);
  white-space-collapse: var(--hui-yqncrg-white-space-collapse, collapse);
  word-break: var(--hui-yqncrg-word-break, normal);
  word-spacing: var(--hui-yqncrg-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-yqncrg-visibility, visible);
  color: var(--hui-yqncrg-color, rgb(0, 0, 0));
  background-attachment: var(--hui-yqncrg-background-attachment, scroll);
  background-clip: var(--hui-yqncrg-background-clip, border-box);
  background-color: var(--hui-yqncrg-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-yqncrg-background-image, none);
  background-origin: var(--hui-yqncrg-background-origin, padding-box);
  background-position-x: var(--hui-yqncrg-background-position-x, 0%);
  background-position-y: var(--hui-yqncrg-background-position-y, 0%);
  background-repeat: var(--hui-yqncrg-background-repeat, repeat);
  background-size: var(--hui-yqncrg-background-size, auto);
  border-bottom-color: var(--hui-yqncrg-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-yqncrg-border-bottom-style, none);
  border-bottom-width: var(--hui-yqncrg-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-yqncrg-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-yqncrg-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-yqncrg-border-image-outset, 0);
  border-image-repeat: var(--hui-yqncrg-border-image-repeat, stretch);
  border-image-slice: var(--hui-yqncrg-border-image-slice, 100%);
  border-image-source: var(--hui-yqncrg-border-image-source, none);
  border-image-width: var(--hui-yqncrg-border-image-width, 1);
  border-left-color: var(--hui-yqncrg-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-yqncrg-border-left-style, none);
  border-left-width: var(--hui-yqncrg-border-left-width, 0px);
  border-right-color: var(--hui-yqncrg-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-yqncrg-border-right-style, none);
  border-right-width: var(--hui-yqncrg-border-right-width, 0px);
  border-top-color: var(--hui-yqncrg-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-yqncrg-border-top-style, none);
  border-top-width: var(--hui-yqncrg-border-top-width, 0px);
  border-top-left-radius: var(--hui-yqncrg-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-yqncrg-border-top-right-radius, 0px);
  box-shadow: var(--hui-yqncrg-box-shadow, none);
  cursor: var(--hui-yqncrg-cursor, auto);
  outline-color: var(--hui-yqncrg-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-yqncrg-outline-offset, 0px);
  outline-style: var(--hui-yqncrg-outline-style, none);
  outline-width: var(--hui-yqncrg-outline-width, 0px);
  scrollbar-color: var(--hui-yqncrg-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-yqncrg-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-yqncrg-scrollbar-width, thin);
  /* DISPLAY */
  display: var(--hui-yqncrg-display, block);
  flex: var(--hui-yqncrg-flex, initial);
}
[data-hui=Textarea] > textarea {
  /* LAYOUT-POSITION */
  position: var(--hui-ccjrnw-position, static);
  top: var(--hui-ccjrnw-top, auto);
  right: var(--hui-ccjrnw-right, auto);
  bottom: var(--hui-ccjrnw-bottom, auto);
  left: var(--hui-ccjrnw-left, auto);
  z-index: var(--hui-ccjrnw-z-index, auto);
  float: var(--hui-ccjrnw-float, none);
  clear: var(--hui-ccjrnw-clear, none);
  align-self: var(--hui-ccjrnw-align-self, auto);
  order: var(--hui-ccjrnw-order, 0);
  /* LAYOUT-SIZING */
  box-sizing: var(--hui-ccjrnw-box-sizing, border-box);
  height: var(--hui-ccjrnw-height, auto);
  max-height: var(--hui-ccjrnw-max-height, none);
  min-height: var(--hui-ccjrnw-min-height, auto);
  width: var(--hui-ccjrnw-width, auto);
  max-width: var(--hui-ccjrnw-max-width, none);
  min-width: var(--hui-ccjrnw-min-width, auto);
  /* LAYOUT-MARGIN */
  margin-top: var(--hui-ccjrnw-margin-top, 0px);
  margin-right: var(--hui-ccjrnw-margin-right, 0px);
  margin-bottom: var(--hui-ccjrnw-margin-bottom, 0px);
  margin-left: var(--hui-ccjrnw-margin-left, 0px);
  /* LAYOUT-PADDING */
  padding-top: var(--hui-ccjrnw-padding-top, 0px);
  padding-right: var(--hui-ccjrnw-padding-right, 0px);
  padding-bottom: var(--hui-ccjrnw-padding-bottom, 0px);
  padding-left: var(--hui-ccjrnw-padding-left, 0px);
  /* LAYOUT-OVERFLOW */
  overflow-x: var(--hui-ccjrnw-overflow-x, visible);
  overflow-y: var(--hui-ccjrnw-overflow-y, visible);
  /* LAYOUT-FLEX */
  flex-basis: var(--hui-ccjrnw-flex-basis, auto);
  flex-direction: var(--hui-ccjrnw-flex-direction, row);
  flex-grow: var(--hui-ccjrnw-flex-grow, 0);
  flex-shrink: var(--hui-ccjrnw-flex-shrink, 1);
  flex-wrap: var(--hui-ccjrnw-flex-wrap, nowrap);
  gap: var(--hui-ccjrnw-gap, 0px);
  align-content: var(--hui-ccjrnw-align-content, stretch);
  justify-content: var(--hui-ccjrnw-justify-content, flex-start);
  align-items: var(--hui-ccjrnw-align-items, stretch);
  /* TEXT */
  direction: var(--hui-ccjrnw-direction, ltr);
  font-family: var(--hui-ccjrnw-font-family, system-ui);
  font-size: var(--hui-ccjrnw-font-size, 16px);
  font-stretch: var(--hui-ccjrnw-font-stretch, 100%);
  font-style: var(--hui-ccjrnw-font-style, normal);
  font-weight: var(--hui-ccjrnw-font-weight, 400);
  letter-spacing: var(--hui-ccjrnw-letter-spacing, normal);
  line-height: var(--hui-ccjrnw-line-height, normal);
  text-align: var(--hui-ccjrnw-text-align, start);
  text-align-last: var(--hui-ccjrnw-text-align-last, auto);
  text-decoration-color: var(--hui-ccjrnw-text-decoration-color, #000);
  text-decoration-line: var(--hui-ccjrnw-text-decoration-line, none);
  text-decoration-style: var(--hui-ccjrnw-text-decoration-style, solid);
  text-decoration-thickness: var(--hui-ccjrnw-text-decoration-thickness, auto);
  text-indent: var(--hui-ccjrnw-text-indent, 0px);
  text-overflow: var(--hui-ccjrnw-text-overflow, clip);
  text-shadow: var(--hui-ccjrnw-text-shadow, none);
  text-size-adjust: var(--hui-ccjrnw-text-size-adjust, auto);
  text-transform: var(--hui-ccjrnw-text-transform, none);
  text-wrap: var(--hui-ccjrnw-text-wrap, wrap);
  vertical-align: var(--hui-ccjrnw-vertical-align, baseline);
  white-space-collapse: var(--hui-ccjrnw-white-space-collapse, collapse);
  word-break: var(--hui-ccjrnw-word-break, normal);
  word-spacing: var(--hui-ccjrnw-word-spacing, 0px);
  /* APPERANCE */
  visibility: var(--hui-ccjrnw-visibility, visible);
  color: var(--hui-ccjrnw-color, rgb(0, 0, 0));
  background-attachment: var(--hui-ccjrnw-background-attachment, scroll);
  background-clip: var(--hui-ccjrnw-background-clip, border-box);
  background-color: var(--hui-ccjrnw-background-color, rgba(0, 0, 0, 0));
  background-image: var(--hui-ccjrnw-background-image, none);
  background-origin: var(--hui-ccjrnw-background-origin, padding-box);
  background-position-x: var(--hui-ccjrnw-background-position-x, 0%);
  background-position-y: var(--hui-ccjrnw-background-position-y, 0%);
  background-repeat: var(--hui-ccjrnw-background-repeat, repeat);
  background-size: var(--hui-ccjrnw-background-size, auto);
  border-bottom-color: var(--hui-ccjrnw-border-bottom-color, rgb(0, 0, 0));
  border-bottom-style: var(--hui-ccjrnw-border-bottom-style, none);
  border-bottom-width: var(--hui-ccjrnw-border-bottom-width, 0px);
  border-bottom-left-radius: var(--hui-ccjrnw-border-bottom-left-radius, 0px);
  border-bottom-right-radius: var(--hui-ccjrnw-border-bottom-right-radius, 0px);
  border-image-outset: var(--hui-ccjrnw-border-image-outset, 0);
  border-image-repeat: var(--hui-ccjrnw-border-image-repeat, stretch);
  border-image-slice: var(--hui-ccjrnw-border-image-slice, 100%);
  border-image-source: var(--hui-ccjrnw-border-image-source, none);
  border-image-width: var(--hui-ccjrnw-border-image-width, 1);
  border-left-color: var(--hui-ccjrnw-border-left-color, rgb(0, 0, 0));
  border-left-style: var(--hui-ccjrnw-border-left-style, none);
  border-left-width: var(--hui-ccjrnw-border-left-width, 0px);
  border-right-color: var(--hui-ccjrnw-border-right-color, rgb(0, 0, 0));
  border-right-style: var(--hui-ccjrnw-border-right-style, none);
  border-right-width: var(--hui-ccjrnw-border-right-width, 0px);
  border-top-color: var(--hui-ccjrnw-border-top-color, rgb(0, 0, 0));
  border-top-style: var(--hui-ccjrnw-border-top-style, none);
  border-top-width: var(--hui-ccjrnw-border-top-width, 0px);
  border-top-left-radius: var(--hui-ccjrnw-border-top-left-radius, 0px);
  border-top-right-radius: var(--hui-ccjrnw-border-top-right-radius, 0px);
  box-shadow: var(--hui-ccjrnw-box-shadow, none);
  cursor: var(--hui-ccjrnw-cursor, auto);
  outline-color: var(--hui-ccjrnw-outline-color, rgb(0, 0, 0));
  outline-offset: var(--hui-ccjrnw-outline-offset, 0px);
  outline-style: var(--hui-ccjrnw-outline-style, none);
  outline-width: var(--hui-ccjrnw-outline-width, 0px);
  scrollbar-color: var(--hui-ccjrnw-scrollbar-color, #bbb #eee);
  scrollbar-gutter: var(--hui-ccjrnw-scrollbar-gutter, auto);
  scrollbar-width: var(--hui-ccjrnw-scrollbar-width, thin);
}
[data-hui=Textarea] > textarea::placeholder {
  font-size: var(--hui-otvrfb-font-size, initial);
  text-align: var(--hui-otvrfb-text-align, initial);
}