/*[data-hui] {
  color: var(--hui-default-color);
  font-family: var(--hui-default-font-family);
  font-size: var(--hui-default-font-size);
  line-height: var(--hui-default-line-height);
}*/

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  transition: 0.3s linear 0s;
  background: #bbb;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
